<div data-ng-if="vm.item">
    <form role="form">
        <fieldset>
            <div class="row">
                <div class="col-sm-3 col-md-2 col-xl-1 form-group-sm">
                    <label data-ng-bind="'enti_' + vm.item.entiId | translate"></label>
                    <p class="form-control-static" data-ng-bind="vm.item.etiqueta"></p>
                </div>
                <div class="col-sm-3 col-md-2 col-xl-1 form-group-sm">
                    <label data-translate="trmt"></label>
                    <p class="form-control-static" data-ng-bind="'trmt_' + vm.trmt.trmt.id | translate"></p>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <table class="table-condensed table-hover">
                <thead>
                    <tr>
                        <td class="col-sm-4 col-md-3 col-lg-2 col-xl-1"></td>
                        <td class="col-sm-4 col-md-4 col-xl-3"></td>
                        <td class="col-sm-4 col-md-4 col-xl-3"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th><span data-translate="item_estado"></span></th>
                        <td><span
                            data-ng-bind="'cdrf_' + vm.enti.enti.tpdtEstado.id + '_' + vm.trmt.trmt.estadoOrig | translate"></span></td>
                        <td><span
                            data-ng-bind="'cdrf_' + vm.enti.enti.tpdtEstado.id + '_' + vm.trmt.trmt.estadoDest | translate"></span></td>
                    </tr>

                    <tr data-ng-if="vm.enti.enti.temporal">
                        <th><span data-translate="fini"></span></th>
                        <td><span
                            data-ng-bind="vm.model.oitemFini | date: ('format_datetime' | translate)"></span></td>
                        <td class="form-group-sm">
                            <div class="col-sm-8 col-md-6 col-lg-4 form-group">
                                <input type="text" class="form-control" data-ng-model="vm.model.ditemFini"
                                    data-bs-datepicker />
                            </div>
                            <div class="col-sm-4 col-md-3 col-lg-2 form-group">
                                <input type="text" class="form-control" data-ng-model="vm.model.ditemFini"
                                    data-bs-timepicker />
                            </div>
                        </td>
                    </tr>
                    <tr data-ng-if="vm.enti.enti.temporal">
                        <th><span data-translate="ffin"></span></th>
                        <td><span
                            data-ng-bind="vm.model.oitemFfin | date: ('format_datetime' | translate)"></span></td>
                        <td class="form-group-sm">
                            <div class="col-sm-8 col-md-6 col-lg-4 form-group">
                                <input type="text" class="form-control" data-ng-model="vm.model.ditemFfin"
                                    data-bs-datepicker />
                            </div>
                            <div class="col-sm-4 col-md-3 col-lg-2 form-group">
                                <input type="text" class="form-control" data-ng-model="vm.model.ditemFfin"
                                    data-bs-timepicker />
                            </div>
                        </td>
                    </tr>

                    <tr data-ng-repeat="tpdtId in vm.trmt.tpdtList track by $index">
                        <th data-ng-bind="'entd_' + vm.trmt.trtdMap[tpdtId].entd.id | translate">EO
                            {{tpdtId}}</th>
                        <td data-ng-switch data-on="vm.trmt.trtdMap[tpdtId].entd.tpdt.tipoElemento"><i
                            data-ng-switch-when="BO"
                            class="glyphicon glyphicon-{{vm.model.ittdMap[tpdtId].dnentero ? 'ok' : 'remove'}}"></i>
                            <span data-ng-switch-when="ND"
                            data-ng-bind="vm.model.ittdMap[tpdtId].ondecimal | number:2"></span> <span
                            data-ng-switch-when="NE" data-ng-bind="vm.model.ittdMap[tpdtId].onentero"></span>
                            <span data-ng-switch-when="FE"
                            data-ng-bind="vm.model.ittdMap[tpdtId].ofecha | date: ('format_date' | translate)"></span>
                            <span data-ng-switch-when="FH"
                            data-ng-bind="vm.model.ittdMap[tpdtId].ofecha | date: ('format_datetime' | translate)"></span>
                            <span data-ng-switch-when="CR" data-ng-if="vm.model.ittdMap[tpdtId].ocadena"
                            data-ng-bind="'cdrf_' + tpdtId + '_' + vm.model.ittdMap[tpdtId].ocadena | translate"></span>
                            <span data-ng-switch-when="TX" data-ng-bind="vm.model.ittdMap[tpdtId].ocadena"></span>
                            <a data-ng-switch-when="PR"
                            data-ng-href="#/maestro/parametro/detail/{{vm.enti.entdMap[tpdtId].tpdt.enti.id}}/{{vm.model.ittdMap[tpdtId].oprmt.id}}/{{vm.item.fref}}"
                            data-ng-bind="vm.model.ittdMap[tpdtId].oprmt.etiqueta"></a> <a
                            data-ng-switch-when="SR"
                            data-ng-href="#/servicio/srvc/detail/{{vm.enti.entdMap[tpdtId].tpdt.enti.id}}/{{vm.model.ittdMap[tpdtId].osrvc.id}}"
                            data-ng-bind="vm.model.ittdMap[tpdtId].osrvc.etiqueta"></a></td>
                        <td data-ng-switch data-on="vm.trmt.trtdMap[tpdtId].entd.tpdt.tipoElemento"
                            class="form-group-sm"><select data-ng-switch-when="BO"
                            data-ng-model="vm.model.ittdMap[tpdtId].dnentero"
                            data-ng-options="item as ('format_' + item | translate) for item in [1 , 0]"
                            class="form-control">
                                <option />
                        </select> <input data-ng-switch-when="ND" type="text"
                            data-ng-model="vm.model.ittdMap[tpdtId].dndecimal" class="form-control" /> <input
                            data-ng-switch-when="NE" type="text"
                            data-ng-model="vm.model.ittdMap[tpdtId].dnentero" data-ng-pattern="/^\d+$/"
                            class="form-control" /> <input data-ng-switch-when="FE" type="text"
                            class="form-control" data-ng-model="vm.model.ittdMap[tpdtId].dfecha"
                            data-bs-datepicker />
                            <div data-ng-switch-when="FH">
                                <input type="text" class="form-control"
                                    data-ng-model="vm.model.ittdMap[tpdtId].dfecha" data-bs-datepicker /><input
                                    type="text" class="form-control"
                                    data-ng-model="vm.model.ittdMap[tpdtId].dfecha" data-bs-timepicker />
                            </div> <select data-ng-switch-when="CR" data-ng-model="vm.model.ittdMap[tpdtId].dcadena"
                            data-ng-options="cdrf.valor as ('cdrf_' + tpdtId + '_' + cdrf.valor | translate) for cdrf in vm.enti.entdMap[tpdtId].tpdt.cdrfList"
                            class="form-control">
                                <option />
                        </select> <input data-ng-switch-when="TX" data-ng-if="vm.enti.entdMap[tpdtId].tpdt.tpht == 'T'"
                            type="text" data-ng-model="vm.model.ittdMap[tpdtId].dcadena" class="form-control" />
                            <textarea data-ng-switch-when="TX"
                                data-ng-if="vm.trmt.trtdMap[tpdtId].entd.tpdt.tpht == 'TA'" rows="4"
                                data-ng-model="vm.model.ittdMap[tpdtId].dcadena" class="form-control"
                                data-ng-bind="vm.model.ittdMap[tpdtId].dcadena"></textarea> <select
                            data-ng-switch-when="PR"
                            data-ng-if="vm.trmt.trtdMap[tpdtId].entd.tpdt.tpht == 'S'"
                            data-ng-model="vm.model.ittdMap[tpdtId].dprmt.id"
                            data-ng-options="labelValue.value as labelValue.label for labelValue in vm.labelValuesMap[vm.trmt.trtdMap[tpdtId].entd.tpdt.enti.id]"
                            class="form-control">
                                <option />
                        </select> <input data-ng-switch-when="PR"
                            data-ng-if="vm.trmt.trtdMap[tpdtId].entd.tpdt.tpht == 'F'"
                            data-ng-disabled="vm.trmt.trtdMap[tpdtId].entd.tpdt.enti.puerto && vm.prtoId == null"
                            class="form-control" data-ng-controller="ParametroTypeaheadController as ta"
                            type="text" autocomplete="off" data-ng-model="vm.model.ittdMap[tpdtId].dprmt"
                            data-uib-typeahead="prmt as prmt.etiqueta for prmt in ta.getLabelValues(vm.trmt.trtdMap[tpdtId].entd.tpdt.enti.id, $viewValue, vm.prtoId, vm.item.fref)"
                            data-typeahead-editable="false" data-typeahead-wait-ms="250" class="form-control">
                            <input data-ng-switch-when="SR" class="form-control"
                            data-ng-controller="SrvcLupaController" type="text" autocomplete="off"
                            data-ng-model="vm.model.ittdMap[tpdtId].dsrvc"
                            data-uib-typeahead="srvc as srvc.etiqueta for srvc in search(vm.trmt.trtdMap[tpdtId].entd.tpdt.enti.id, $viewValue)"
                            data-typeahead-editable="false" data-typeahead-wait-ms="250" class="form-control"></td>
                    </tr>
                </tbody>
            </table>
        </fieldset>

        <div class="btn-group">
            <button data-ng-click="vm.save()" class="btn btn-primary">
                <i class="glyphicon glyphicon-ok"></i> <span data-translate="btn_guardar"></span>
            </button>
            <button data-ng-click="vm.cancel()" class="btn btn-default">
                <i class="glyphicon glyphicon-remove"></i> <span data-translate="btn_cancelar"></span>
            </button>
        </div>
    </form>
</div>