<fieldset>
    <legend ng-bind="'Datos'"></legend>

    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a class="btn btn-default" ng-href="#/metamodelo/entd/create/{{enti.id}}"><i
                class="glyphicon glyphicon-file"></i> <span translate>btn_crear</span></a>
        </div>
    </div>

    <table ng-if="enti.entdList" class="table-bordered table-condensed table-hover table-nonfluid">
        <thead>
            <tr>
                <th class="buttonLinks" nowrap="nowrap" />
                <th translate>entd_grupo</th>
                <th translate>entd_fila</th>
                <th translate>entd_orden</th>
                <th translate>entd_span</th>
                <th translate>entd_spanLg</th>
                <th translate>entd_etiqueta</th>
                <th translate>entd_obligatorio</th>
                <th translate>entd_gridable</th>
                <th translate>entd_filtrable</th>
                <th translate>entd_tpdt</th>
                <th translate>tpdt_tpel</th>
                <th translate>tpdt_tpht</th>
                <th translate>tpdt_enti</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="entd in enti.entdList track by $index">
                <td><a ng-href="#/metamodelo/entd/detail/{{enti.id}}/{{entd.tpdt.id}}"><i
                        class="glyphicon glyphicon-search"></i></a></td>
                <td ng-bind="entd.grupo"></td>
                <td ng-bind="entd.fila"></td>
                <td ng-bind="entd.orden"></td>
                <td ng-bind="entd.span"></td>
                <td ng-bind="entd.spanLg"></td>
                <td nowrap="nowrap" ng-bind="entd.etiqueta"></td>
                <td><i class="glyphicon glyphicon-{{entd.obligatorio ? 'ok' : 'remove'}}"></i></td>
                <td><i class="glyphicon glyphicon-{{entd.gridable ? 'ok' : 'remove'}}"></i></td>
                <td><i class="glyphicon glyphicon-{{entd.filtrable ? 'ok' : 'remove'}}"></i></td>
                <td nowrap="nowrap" ng-bind="entd.tpdt.nombre"></td>
                <td title="{{'ElementoTipo_' + entd.tpdt.tipoElemento | translate}}" ng-bind="entd.tpdt.tipoElemento"></td>
                <td title="{{'HtmlTipo_' + entd.tpdt.tpht | translate}}" ng-bind="entd.tpdt.tpht"></td>
                <td nowrap="nowrap" ng-bind="entd.tpdt.enti.nombre"></span></td>
            </tr>
        </tbody>
    </table>
</fieldset>
