<div *ngIf="model">
    <ngb-tabset #t="ngbTabset" type="pills" [activeId]="activeTab" (tabChange)="tabChange($event)"> <ngb-tab
        id="mainTab"> <ng-template ngbTabTitle> Entidad </ng-template> <ng-template ngbTabContent>
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" [routerLink]="['/metamodel/parameter-type/edit', 'edit', model.id]"><i
                class="fa fa-edit"></i> Edit</a>
            <button class="btn btn-secondary" (click)="remove()">
                <i class="fa fa-remove"></i> Remove
            </button>
        </div>
    </div>

    <form>
        <fieldset class="form-group">
            <div class="row">
                <div class="col-sm-4 col-lg-3 col-xl-2 form-group-sm">
                    <label [translate]="'enti_codigo'"></label>
                    <p class="form-control-static form-control-sm" [innerHTML]="model.codigo"></p>
                </div>
                <div class="col-sm-3 col-lg-2 col-xl-1 form-group-sm">
                    <label [translate]="'enti_maxGrid'"></label>
                    <p class="form-control-static form-control-sm number" [innerHTML]="model.maxGrid"></p>
                </div>
                <div class="col-sm-4 col-lg-3 col-xl-2 form-group-sm">
                    <label [translate]="'enti_tpdtNombre'"></label>
                    <p class="form-control-static form-control-sm">
                        <a *ngIf="model.tpdtNombre" [routerLink]="['/metamodel/data-type/detail', model.tpdtNombre.id]"
                            [innerHTML]="model.tpdtNombre.nombre"></a>
                    </p>
                </div>
            </div>

            <app-i18n-info-detail [i18nMap]="i18nMap" [availableLanguages]="availableLanguages"></app-i18n-info-detail>

            <div class="row">
                <div class="col-sm-2 col-lg-2 col-xl-1 form-group-sm">
                    <label [translate]="'enti_gis'"></label>
                    <p class="form-control-static form-control-sm">
                        <i class="fa" [ngClass]="{true:'fa-check', false:'fa-remove'}[model.gis]"></i>
                    </p>
                </div>
                <div class="col-sm-2 col-lg-2 col-xl-1 form-group-sm">
                    <label [translate]="'enti_puerto'"></label>
                    <p class="form-control-static form-control-sm">
                        <i class="fa" [ngClass]="{true:'fa-check', false:'fa-remove'}[model.puerto]"></i>
                    </p>
                </div>
                <div class="col-sm-2 col-lg-2 col-xl-1 form-group-sm">
                    <label [translate]="'enti_i18n'"></label>
                    <p class="form-control-static form-control-sm">
                        <i class="fa" [ngClass]="{true:'fa-check', false:'fa-remove'}[model.i18n]"></i>
                    </p>
                </div>
                <div class="col-sm-2 col-lg-2 col-xl-1 form-group-sm">
                    <label [translate]="'enti_tempExp'"></label>
                    <p class="form-control-static form-control-sm">
                        <i class="fa" [ngClass]="{true:'fa-check', false:'fa-remove'}[model.tempExp]"></i>
                    </p>
                </div>
                <div class="col-sm-4 col-lg-3 col-xl-2 form-group-sm">
                    <label [translate]="'enti_classpath'"></label>
                    <p class="form-control-static form-control-sm" [innerHTML]="model.classpath"></p>
                </div>
            </div>
        </fieldset>
    </form>

    <fieldset>
        <legend>Maestros Dependientes</legend>
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                <a class="btn btn-primary" [routerLink]="['/metamodel/entity-datagroup/edit', 'create', model.id]"><i
                    class="fa fa-file-o"></i> <span [translate]="'btn_crear'"></span></a>
            </div>
        </div>

        <app-subparameter-type-grid-fragment [itemList]="subentiList"></app-subparameter-type-grid-fragment>
    </fieldset>
    </ng-template> </ngb-tab> <ngb-tab id="entityDatatypesTab"> <ng-template ngbTabTitle> Datos </ng-template> <ng-template
        ngbTabContent>
    <fieldset>
        <legend>Grupos de datos</legend>
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                <a class="btn btn-primary" [routerLink]="['/metamodel/entity-datagroup/edit', 'create', model.id]"><i
                    class="fa fa-file-o"></i> <span [translate]="'btn_crear'"></span></a>
            </div>
        </div>

        <app-entity-datagroup-grid-fragment [itemList]="endgList"></app-entity-datagroup-grid-fragment>
    </fieldset>
    <fieldset>
        <legend>Datos de Entidad</legend>
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                <a class="btn btn-primary" [routerLink]="['/metamodel/entity-datatype/edit', 'create', model.id]"><i
                    class="fa fa-file-o"></i> <span [translate]="'btn_crear'"></span></a>
            </div>
        </div>

        <app-entity-datatype-grid-fragment [itemList]="endtList"></app-entity-datatype-grid-fragment>
    </fieldset>
    </ng-template> </ngb-tab> <ngb-tab id="entityFunctionalitiesTab"> <ng-template ngbTabTitle> Funcionalidades </ng-template> <ng-template
        ngbTabContent>
    <fieldset>
        <legend>Acciones de Entidad</legend>
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                <a class="btn btn-primary" [routerLink]="['/metamodel/entity-action/edit', 'create', model.id]"><i
                    class="fa fa-file-o"></i> <span [translate]="'btn_crear'"></span></a>
            </div>
        </div>

        <app-entity-action-grid-fragment [itemList]="enacList"></app-entity-action-grid-fragment>
    </fieldset>
    </ng-template> </ngb-tab></ngb-tabset>
</div>
