<div class="table-responsive">
    <table class="table table-sm table-bordered table-hover table-condensed table-nonfluid">
        <thead class="thead-inverse">
            <tr>
                <th nowrap="nowrap"></th>
                <th nowrap="nowrap" [translate]="'cdrf_valor'"></th>
                <th nowrap="nowrap" [translate]="'cdrf_etiqueta'"></th>
                <th nowrap="nowrap" [translate]="'cdrf_orden'"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of itemList">
                <td><a [routerLink]="['/metamodel/reference-code/detail', item.id]"><i class="fa fa-search"></i></a></td>
                <td nowrap="nowrap" [innerHTML]="item.valor"></td>
                <td nowrap="nowrap" [innerHTML]="item.etiqueta"></td>
                <td nowrap="nowrap" [innerHTML]="item.orden"></td>
            </tr>
        </tbody>
    </table>
</div>
