<div *ngIf="model">
    <ngb-tabset #t="ngbTabset" type="pills" [activeId]="activeTab" (tabChange)="tabChange($event)"> <ngb-tab
        id="mainTab"> <ng-template ngbTabTitle> Entidad </ng-template> <ng-template ngbTabContent>
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" [routerLink]="['/metamodel/service-type/edit', 'edit', model.id]"><i
                class="fa fa-edit"></i> Edit</a>
            <button class="btn btn-secondary" (click)="remove()">
                <i class="fa fa-remove"></i> Remove
            </button>
        </div>
    </div>

    <form>
        <fieldset class="form-group">
            <div class="row">
                <div class="col-lg-3 col-xl-2 form-group-sm">
                    <label [translate]="'enti_codigo'"></label>
                    <p class="form-control-static form-control-sm" [innerHTML]="model.codigo"></p>
                </div>
                <div class="col-lg-2 col-xl-1 form-group-sm">
                    <label [translate]="'enti_maxGrid'"></label>
                    <p class="form-control-static form-control-sm number" [innerHTML]="model.maxGrid | number"></p>
                </div>
                <div class="col-lg-3 col-xl-2 form-group-sm" *ngIf="model.tpdtEstado">
                    <label [translate]="'enti_tpdtEstado'"></label>
                    <p class="form-control-static form-control-sm">
                        <a [routerLink]="['/metamodel/data-type/edit', 'edit', model.tpdtEstado.id]"
                            [innerHTML]="model.tpdtEstado.nombre"></a>
                    </p>
                </div>
                <div class="col-lg-2 col-xl-1 form-group-sm" *ngIf="model.tpdtEstado">
                    <label [translate]="'enti_estado_def'"></label>
                    <p class="form-control-static form-control-sm" [innerHTML]="model.estadoDef"></p>
                </div>
                <div class="col-lg-2 col-xl-1 form-group-sm" *ngIf="model.facturable">
                    <label [translate]="'enti_estados_vlrc'"></label>
                    <p class="form-control-static form-control-sm" [innerHTML]="model.estadosVlrc"></p>
                </div>
            </div>

            <app-i18n-info-detail [i18nMap]="i18nMap" [availableLanguages]="availableLanguages"></app-i18n-info-detail>

            <div class="row">
                <div class="col-sm-4 col-lg-3 col-xl-2 form-group-sm">
                    <label [translate]="'enti_classpath'"></label>
                    <p class="form-control-static form-control-sm" [innerHTML]="model.classpath"></p>
                </div>
            </div>
        </fieldset>
    </form>

    <fieldset>
        <legend>Tipos de Subservicio</legend>
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                <a class="btn btn-primary" [routerLink]="['/metamodel/subservice-type/edit', 'create', model.id]"><i
                    class="fa fa-file-o"></i> <span [translate]="'btn_crear'"></span></a>
            </div>
        </div>

        <app-subservice-type-grid-fragment [itemList]="subentiList"></app-subservice-type-grid-fragment>
    </fieldset>

    <fieldset>
        <legend>Entidades Hijas</legend>
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                <a class="btn btn-primary" [routerLink]="['/metamodel/subservice-type/edit', 'create', model.id]"><i
                    class="fa fa-file-o"></i> <span [translate]="'btn_crear'"></span></a>
            </div>
        </div>

        <app-entity-grid-fragment [itemList]="entiHijasList"></app-entity-grid-fragment>
    </fieldset>
    </ng-template> </ngb-tab> <ngb-tab id="entityDatatypesTab"> <ng-template ngbTabTitle> Datos </ng-template> <ng-template
        ngbTabContent>
    <fieldset>
        <legend>Grupos de datos</legend>
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                <a class="btn btn-primary" [routerLink]="['/metamodel/entity-datagroup/edit', 'create', model.id]"><i
                    class="fa fa-file-o"></i> <span [translate]="'btn_crear'"></span></a>
            </div>
        </div>

        <app-entity-datagroup-grid-fragment [itemList]="endgList"></app-entity-datagroup-grid-fragment>
    </fieldset>
    <fieldset>
        <legend>Datos de Entidad</legend>
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                <a class="btn btn-primary" [routerLink]="['/metamodel/entity-datatype/edit', 'create', model.id]"><i
                    class="fa fa-file-o"></i> <span [translate]="'btn_crear'"></span></a>
            </div>
        </div>

        <app-entity-datatype-grid-fragment [itemList]="endtList"></app-entity-datatype-grid-fragment>
    </fieldset>
    </ng-template> </ngb-tab> <ngb-tab id="entityFunctionalitiesTab"> <ng-template ngbTabTitle> Funcionalidades </ng-template> <ng-template
        ngbTabContent>
    <fieldset>
        <legend>Acciones de Entidad</legend>
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                <a class="btn btn-primary" [routerLink]="['/metamodel/entity-action/edit', 'create', model.id]"><i
                    class="fa fa-file-o"></i> <span [translate]="'btn_crear'"></span></a>
            </div>
        </div>

        <app-entity-action-grid-fragment [itemList]="enacList"></app-entity-action-grid-fragment>
    </fieldset>
    <fieldset>
        <legend>Acciones Especiales</legend>
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                <a class="btn btn-primary" [routerLink]="['/metamodel/special-action/edit', 'create', model.id]"><i
                    class="fa fa-file-o"></i> <span [translate]="'btn_crear'"></span></a>
            </div>
        </div>

        <app-special-action-grid-fragment [itemList]="acesList"></app-special-action-grid-fragment>
    </fieldset>
    <fieldset>
        <legend>Trámites</legend>
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                <a class="btn btn-primary" [routerLink]="['/metamodel/status-change/edit', 'create', model.id]"><i
                    class="fa fa-file-o"></i> <span [translate]="'btn_crear'"></span></a>
            </div>
        </div>

        <app-status-change-grid-fragment [itemList]="trmtList"></app-status-change-grid-fragment>
    </fieldset>
    </ng-template> </ngb-tab></ngb-tabset>
</div>
