<div *ngIf="model">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" [routerLink]="['/metamodel/special-action/edit', 'edit', model.id]"><i
                class="fa fa-edit"></i> Edit</a>
            <button class="btn btn-secondary" (click)="remove()">
                <i class="fa fa-remove"></i> Remove
            </button>
        </div>
    </div>

    <form>
        <fieldset class="form-group">
            <div class="row">
                <div class="col-lg-2 col-xl-1 form-group-sm">
                    <label [translate]="'aces_orden'"></label>
                    <p class="form-control-static form-control-sm" [innerHTML]="model.orden"></p>
                </div>
                <div class="col-lg-4 col-xl-3 form-group-sm">
                    <label [translate]="'aces_path'"></label>
                    <p class="form-control-static form-control-sm" [innerHTML]="model.path"></p>
                </div>
                <div class="col-lg-2 col-xl-1 form-group-sm">
                    <label [translate]="'aces_multiple'">Alta?</label>
                    <p class="form-control-static form-control-sm">
                        <i class="fa" [ngClass]="{true:'fa-check', false:'fa-remove'}[model.multiple]"></i>
                    </p>
                </div>
            </div>

            <app-i18n-info-detail [i18nMap]="i18nMap" [availableLanguages]="availableLanguages"></app-i18n-info-detail>
        </fieldset>
    </form>
</div>
