<div *ngIf="model">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" [routerLink]="['/metamodel/status-change/edit', 'edit', model.entiId, model.id]"><i
                class="fa fa-edit"></i> Edit</a>
            <button class="btn btn-secondary" (click)="remove()">
                <i class="fa fa-remove"></i> Remove
            </button>
        </div>
    </div>

    <form>
        <fieldset class="form-group">
            <div class="row">
                <div class="col-lg-3 col-xl-2 form-group-sm">
                    <label [translate]="'enti'"></label>
                    <p class="form-control-static form-control-sm" [innerHTML]="enti.nombre"></p>
                </div>
                <div class="col-lg-3 col-xl-2 form-group-sm">
                    <label [translate]="'trmt_estado_orig'"></label>
                    <p class="form-control-static form-control-sm"
                        [innerHTML]="model.estadoOrig + ' - ' + model.estadoOrigTexto"></p>
                </div>
                <div class="col-lg-3 col-xl-2 form-group-sm">
                    <label [translate]="'trmt_estado_dest'"></label>
                    <p class="form-control-static form-control-sm"
                        [innerHTML]="model.estadoDest + ' - ' + model.estadoDestTexto"></p>
                </div>
            </div>

            <app-i18n-info-detail [i18nMap]="i18nMap" [availableLanguages]="availableLanguages"></app-i18n-info-detail>
        </fieldset>

        <fieldset>
            <legend [translate]="'trtdList'"></legend>
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group">
                    <a class="btn btn-primary"
                        [routerLink]="['/metamodel/status-change-datatype/edit', 'create', model.id]"><i
                        class="fa fa-file-o"></i> <span [translate]="'btn_crear'"></span></a>
                </div>
            </div>

            <app-status-change-datatype-grid-fragment [itemList]="trtdList"></app-status-change-datatype-grid-fragment>
        </fieldset>
    </form>
</div>
