#body-content {
	margin-top: 50px;
}

body {
	font-family: Verdana, sans-serif;
}

p, label, legend, li, .btn, .form-control, .input-group-sm>.form-control,
	.form-control-static, .bootstrap-datetimepicker-widget,
	.table-condensed, .dropdown-menu, .list-group, .nav-tabs,
	.tt-dropdown-menu, .typeahead, .pagination-sm>li>a {
	font-size: 11px;
}

label {
	font-weight: bold;
}

.modal.custom, .modal-dialog {
	width: 90%;
}

.modal-footer {
	text-align: left;
}

.brand {
	font-size: 15px;
	font-weight: normal;
}

.bg-primary {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 0px;
}

.nav-tabs {
	font-size: 12px;
	font-weight: normal;
}

.number {
	text-align: right;
}

.navbar-right {
	padding-right: 30px;
}

.form-control, .input-group-sm>.form-control {
	padding: 5px;
}

.form-control-static {
	padding-top: 7px;
	padding-bottom: 7px;
	min-width: 5px;
	/*min-height: 29px;*/
}

.dropdown-menu {
	padding: 0px;
}

.nav, .pagination, .carousel, .panel-title a, .input-group-addon {
	cursor: pointer;
}

.pagination>li.disabled>a.ng-binding {
	cursor: default;
}

.pagination {
	margin-top: 0px;
	margin-bottom: 0px;
}

table {
	margin-bottom: 15px;
}

table a, .table a {
	color: #DF691A;
	text-decoration: none;
}

.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th,
	.table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td,
	.table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td {
	padding: 4px;
}

.btn-toolbar {
	padding-top: 5px;
	padding-bottom: 5px;
}

form {
	padding-top: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	padding-right: 0px;
}

.glyphicon-search, .glyphicon-search, .glyphicon-ok, .glyphicon-remove,
	.glyphicon-tags {
	padding-right: 5px;
	padding-left: 2px;
	padding-top: 1px;
	padding-bottom: 1px;
}

fieldset {
	padding-top: 10px;
}

legend {
	font-size: 12px;
	font-weight: bold;
	padding-top: 5px;
	margin-bottom: 0px;
}

.form-group {
	padding-right: 0px;
	padding-left: 5px;
	margin-bottom: 10px;
}

.form-control-static {
	/*	padding-top: 4px;*/

}

.input-group-addon {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 1px;
	padding-right: 1px;
}