<!DOCTYPE html>
<html ng-app="integraApp" ng-cloak>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel='stylesheet' type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
<link rel='stylesheet' type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.5/superhero/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="app.css" />
<!--
 -->

<title ng-bind="'ARGO - ' + title"></title>
</head>
<body>
    <header class="navbar navbar-default navbar-fixed-top">
        <nav class="collapse navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li><a ng-href="#/" class="brand" ng-bind="title"></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <div class="dropdown">
                    <li class="btn-group" dropdown is-open="status.isopen"><a
                        class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled"
                        translate="menu"></a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation" class="divider"></li>
                            <li><a ng-href="#/" translate="page_home"></a></li>
                            <li role="presentation" class="divider"></li>
                            <li><a ng-href="#/servicio" translate="srvcList"></a></li>
                            <li><a ng-href="#/estadistica/pepr/grid" translate="estdList"></a></li>
                            <li><a ng-href="#/maestro" translate="prmtList"></a></li>
                            <li><a ng-href="#/facturacion" translate="sec_facturacion"></a></li>
                            <li><a ng-href="#/proceso/prbt/grid" translate="prbtList"></a></li>
                            <li role="presentation" class="divider"></li>
                            <li><a ng-href="#/administracion" translate="sec_administracion"></a></li>
                            <li role="presentation" class="divider"></li>
                            <li><a ng-href="#/seguridad/usro/salir" translate="usro_salir"></a></li>
                        </ul></li>
                </div>
            </ul>
        </nav>
    </header>

    <div id="body-content" ng-cloack>
        <div ng-cloak ng-if="actionErrors">
            <ul class="alert alert-danger" role="alert">
                <span translate="errorList"></span>
                <li ng-repeat="error in actionErrors track by $index" ng-bind="error"></li>
            </ul>
        </div>
        <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner"></span>
        <div ng-view class="container-fluid"></div>
    </div>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
    <script type="text/javascript"
        src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-route.min.js"></script>
    <script type="text/javascript"
        src="http://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.7.2/angular-translate.min.js"></script>
    <script type="text/javascript"
        src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.1/spin.min.js"></script>
    <script type="text/javascript"
        src="http://cdnjs.cloudflare.com/ajax/libs/angular-strap/2.2.4/angular-strap.min.js"></script>
    <script type="text/javascript"
        src="http://cdnjs.cloudflare.com/ajax/libs/angular-strap/2.2.4/angular-strap.tpl.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.3/lodash.min.js"></script>
    <script type="text/javascript"
        src="http://cdnjs.cloudflare.com/ajax/libs/angular-google-maps/2.1.5/angular-google-maps.min.js"></script>

    <script type="text/javascript" src="static/angular-spinner/angular-spinner.min.js"></script>
    <script type="text/javascript" src="static/filesaver/FileSaver.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="modules/i18n/i18n_messages_es.js"></script>
    <script type="text/javascript" src="modules/administracion/administracion.js"></script>
    <script type="text/javascript" src="modules/metamodelo/metamodelo.js"></script>
    <script type="text/javascript" src="modules/entidad/maestro/maestro.js"></script>
    <script type="text/javascript" src="modules/entidad/servicio/servicio.js"></script>
    <script type="text/javascript" src="modules/entidad/estadistica/estadistica.js"></script>
    <script type="text/javascript" src="modules/facturacion/facturacion.js"></script>
    <script type="text/javascript" src="modules/proceso/proceso.js"></script>
    <script type="text/javascript" src="modules/seguridad/seguridad.js"></script>
</body>
</html>

