<!--
<c:if test="${not empty entiHijasList}">
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tabEnti_${enti.id}" data-toggle="tab">${enti.nombre}</a></li>
            <c:if test="${not empty entiHijasList}">
                <c:forEach items="${entiHijasList}" var="enti">
                    <li><a href="#tabEnti_${enti.id}" data-toggle="tab">${enti.nombre}</a></li>
                </c:forEach>
            </c:if>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tabEnti_${enti.id}">
</c:if>

<c:if test="${param.btnOn eq 'true'}">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <c:if test="${enti.cmdEdicion}">
                <a class="btn btn-default"
                    href="${pageContext.request.contextPath}/maestro/prmt-modificar-popup.action?item.id=${item.id}"
                    role="button" data-toggle="modal" data-target="#prmt-modificar-div"><i
                    class="glyphicon glyphicon-edit"></i> <fmt:message key="boton.modificar" /></a>
                <div class="modal" id="prmt-modificar-div" tabindex="-1" role="dialog"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content"></div>
                    </div>
                </div>
            </c:if>
            <c:if test="${enti.cmdDuplicado}">
                <a class="btn btn-default"
                    href="${pageContext.request.contextPath}/maestro/prmt-duplicar-popup.action?item.id=${item.id}"
                    role="button" data-toggle="modal" data-target="#prmt-duplicar-div"><i
                    class="glyphicon glyphicon-tags"></i> <fmt:message key="boton.duplicar" /></a>
                <div class="modal" id="prmt-duplicar-div" tabindex="-1" role="dialog"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content"></div>
                    </div>
                </div>
            </c:if>

            <a class="btn btn-default"
                href="${pageContext.request.contextPath}/maestro/prmt-imprimir.action?item.id=${item.id}"><i
                class="glyphicon glyphicon-print"></i> <fmt:message key="boton.imprimir" /></a>
        </div>
    </div>
</c:if>
-->
<div>
    <tabset> <tab heading="{{enti.nombre}}">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a ng-if="enti.cmdEdicion" class="btn btn-default" href="#/maestro/prmt/editar/{{item.id}}"><i
                class="glyphicon glyphicon-edit"></i> {{'boton_editar' | translate}}</a>

            <!--
            <c:if test="${enti.cmdDuplicado}">
                <a class="btn btn-default"
                    href="${pageContext.request.contextPath}/maestro/prmt-duplicar-popup.action?item.id=${item.id}"
                    role="button" data-toggle="modal" data-target="#prmt-duplicar-div"><i
                    class="glyphicon glyphicon-tags"></i> <fmt:message key="boton.duplicar" /></a>
                <div class="modal" id="prmt-duplicar-div" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content"></div>
                    </div>
                </div>
            </c:if>

            <a class="btn btn-default"
                href="${pageContext.request.contextPath}/maestro/prmt-imprimir.action?item.id=${item.id}"><i
                class="glyphicon glyphicon-print"></i> <fmt:message key="boton.imprimir" /></a>
 -->
        </div>
    </div>

    <fieldset>
        <div class="row">
            <div class="col-md-2 form-group">
                <label>{{'prmt_codigo' | translate}}</label> <input type="text" value="{{item.parametro}}"
                    class="form-control input-sm" disabled="disabled" />
            </div>

            <div ng-if="enti.tempExp" class="col-md-2 form-group">
                <label>{{'prmt_finicio' | translate}}</label> <input type="text"
                    value="{{item.prvr.finicio | date:('fmt_date' | translate)}}" class="form-control input-sm"
                    disabled="disabled" />
            </div>

            <div ng-if="enti.tempExp" class="col-md-2 form-group">
                <label>{{'prmt_ffin' | translate}}</label> <input type="text"
                    value="{{item.prvr.ffin | date:('fmt_date' | translate)}}" class="form-control input-sm"
                    disabled="disabled" />
            </div>
        </div>

        <div ng-if="enti.i18n">
            <div ng-repeat="availableLanguage in availableLanguages" class="row">
                <div class="col-md-10 form-group">
                    <label>Texto {{availableLanguage}}</label> <input type="text"
                        value="{{p18nMap[availableLanguage].texto}}" class="form-control input-sm" disabled="disabled" />
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset ng-repeat="engdId in enti.engdList">
        <legend ng-if="enti.engdList.length > 1">{{enti.engdMap[engdId].etiqueta}}</legend>

        <div class="row">
            <div ng-repeat="tpdtId in enti.engdEntdMap[engdId]"
                class="col-md-{{enti.entdMap[tpdtId].span}} col-lg-{{enti.entdMap[tpdtId].spanLg}} form-group">
                <label>{{enti.entdMap[tpdtId].etiqueta}}</label>
                <div ng-if="!item.itdtMap[tpdtId].filled">
                    <input type="text" value="" class="form-control input-sm" disabled='disabled' />
                </div>

                <div ng-if="item.itdtMap[tpdtId].filled" ng-switch on="enti.entdMap[tpdtId].tpdt.tipoElemento">
                    <input ng-switch-when="BO" type="text"
                        value="{{'fmt_' + item.itdtMap[tpdtId].booleano | translate}}" class="form-control input-sm"
                        disabled='disabled' /> <input ng-switch-when="ND" type="text"
                        value="{{item.itdtMap[tpdtId].cantidadDecimal | number:2}}" class="form-control input-sm number"
                        disabled='disabled' /> <input ng-switch-when="NE" type="text"
                        value="{{item.itdtMap[tpdtId].cantidadEntera | number:0}}" class="form-control input-sm number"
                        disabled='disabled' /> <input ng-switch-when="FE" type="text"
                        value="{{item.itdtMap[tpdtId].fecha | date:('fmt_date' | translate)}}"
                        class="form-control input-sm" disabled='disabled' /> <input ng-switch-when="FH" type="text"
                        value="{{item.itdtMap[tpdtId].fecha | date:('fmt_datetime' | translate)}}"
                        class="form-control input-sm" disabled='disabled' /> <input ng-switch-when="CR" type="text"
                        value="{{item.itdtMap[tpdtId].cadena}}" class="form-control input-sm" disabled='disabled' /> <input
                        ng-switch-when="TX" ng-if="enti.entdMap[tpdtId].tpdt.tpht == 'T'" type="text"
                        value="{{item.itdtMap[tpdtId].cadena}}" class="form-control input-sm" disabled='disabled' />
                    <textarea ng-switch-when="TX" ng-if="enti.entdMap[tpdtId].tpdt.tpht == 'TA'" rows="4"
                        class="form-control input-sm" disabled='disabled'>{{item.itdtMap[tpdtId].cadena}}</textarea>
                    <div ng-switch-when="PR" class='input-group'>
                        <input type='text' class="form-control input-sm" value="{{item.itdtMap[tpdtId].prmt.etiqueta}}"
                            disabled='disabled' /> <span class="input-group-addon"><a
                            href="#/maestro/prmt/{{item.itdtMap[tpdtId].prmt.id}}"><span
                                class="glyphicon glyphicon-share-alt"></span></a></span>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    </tab> <tab ng-repeat="enti in entiHijasList" heading="{{enti.nombre}}" active="tab.active" disabled="tab.disabled">
    <table class="table table-condensed table-hover table-nonfluid">
        <thead>
            <tr>
                <th class="buttonLinks" />
                <th>{{enti.tpprAsociado.nombre}}</th>

                <th ng-if="enti.tempExp" class="date">{{'sprm_finicio' | translate}}</th>
                <th ng-if="enti.tempExp" class="date">{{'sprm_ffin' | translate}}</th>

                <th ng-repeat="tpdtId in enti.entdGridList">{{enti.entdMap[tpdtId].etiqueta}}</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="item in itemHijosMap[enti.id].list">
                <td><a href="sprm-modificar.action?item.id={{item.id}}"><i class="glyphicon glyphicon-edit"></i></a>
                    <a href="sprm-borrar.action?item.id={{item.id}}"><i class="glyphicon glyphicon-remove"></i></a></td>
                <td title="{{item.prmtAsociado.etiqueta}}"><a href="sprm-detalle.action?item.id={{item.id}}"><b>{{item.prmtAsociado.parametro}}</b></a></td>

                <td ng-if="enti.tempExp">{{item.spvr.finicio | date:('fmt_date' | translate)}}</td>
                <td ng-if="enti.tempExp">{{item.spvr.ffin | date:('fmt_date' | translate)}}</td>

                <td ng-repeat="tpdtId in enti.entdGridList" ng-switch on="enti.entdMap[tpdtId].tpdt.tipoElemento"
                    nowrap="nowrap"><span ng-switch-when="BO"><i ng-if="item.itdtMap[tpdtId].cantidadEntera"
                        class="glyphicon glyphicon-ok"></i></span> <span ng-switch-when="ND">{{item.itdtMap[tpdtId].cantidadEntera
                        | number:2}}</i>
                </span> <span ng-switch-when="NE">{{item.itdtMap[tpdtId].cantidadEntera | number:0}}</i>
                </span> <span ng-switch-when="CR">{{item.itdtMap[tpdtId].cadena}}</i></span> <span ng-switch-when="TX">{{item.itdtMap[tpdtId].cadena}}</i></span>
                    <span ng-switch-when="PR" title="{{item.itdtMap[tpdtId].prmt.etiqueta}}">{{item.itdtMap[tpdtId].prmt.parametro}}</i></span>
                    <span ng-switch-when="FE">{{item.itdtMap[tpdtId].fecha | date:('fmt_date' | translate)}}</i></span> <span
                    ng-switch-when="FH">{{item.itdtMap[tpdtId].fecha | date:('fmt_datetime' | translate)}}</i></span></td>
            </tr>
        </tbody>
    </table>
    </tab> </tabset>
</div>

<!--
    <jsp:include page="/WEB-INF/content/include/item/item-detalle.jsp" flush="true">
        <jsp:param value="${param.btnOn}" name="btnOn" />
    </jsp:include>
-->

<!--
<c:if test="${not empty entiHijasList}">
    </div>
    <c:forEach items="${entiHijasList}" var="enti">
        <c:set var="itemList" value="${itemHijosMap[enti.id]}" />
        <div class="tab-pane" id="tabEnti_${enti.id}">
            <c:if test="${param.btnOn eq 'true'}">
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group">
                        <a class="btn btn-default"
                            href="sprm-alta-popup.action?item.entiId=${enti.id}&item.prmtId=${item.id}"
                            role="button" data-toggle="modal"
                            data-target="#sprm-alta-${enti.id}-div"><i
                            class="glyphicon glyphicon-file"></i> <fmt:message key="boton.alta" /></a>
                    </div>
                </div>

                <div class="modal" id="sprm-alta-${enti.id}-div" tabindex="-1" role="dialog"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content"></div>
                    </div>
                </div>
            </c:if>

            <div id="enti-grid-div_${enti.id}">
                <c:if test="${not empty itemList}">
                    <c:url
                        value="sprm-listado-grid.action?itemCriterio.prmt.id=${item.id}&itemCriterio.entiId=${enti.id}"
                        var="urlListado">
                        <c:forEach items="${itemList.criterio.searchLinks}" var="mapEntry">
                            <c:param name="itemCriterio.${mapEntry.key}" value="${mapEntry.value}" />
                        </c:forEach>
                    </c:url>

                    <c:url value="${urlListado}" var="urlListadoPrev">
                        <c:param name="page" value="${itemList.page - 1}" />
                    </c:url>
                    <c:url value="${urlListado}" var="urlListadoNext">
                        <c:param name="page" value="${itemList.page + 1}" />
                    </c:url>

                    <ul class="pagination">
                        <c:if test="${itemList.hasPrevious}">
                            <li><a class="btn" href="${urlListadoPrev}"
                                data-target="#enti-grid-div_${enti.id}"><i
                                    class="glyphicon glyphicon-chevron-left"></i></a></li>
                        </c:if>
                        <c:if test="${!itemList.hasPrevious}">
                            <li><span class="btn"><i
                                    class="glyphicon glyphicon-chevron-left"></i></span></li>
                        </c:if>
                        <c:if test="${itemList.hasNext}">
                            <li><a class="btn" href="${urlListadoNext}"
                                data-target="#enti-grid-div_${enti.id}"><i
                                    class="glyphicon glyphicon-chevron-right"></i></a></li>
                        </c:if>
                        <c:if test="${!itemList.hasNext}">
                            <li><span class="btn"> <i
                                    class="glyphicon glyphicon-chevron-right"></i></span></li>
                        </c:if>
                        <c:if test="${itemList.pageCount > 0}">
                            <li><span class="btn"> <fmt:message key="paginacion.leyenda">
                                        <fmt:param value="${itemList.page}" />
                                        <fmt:param value="${itemList.pageCount}" />
                                        <fmt:param value="${itemList.count}" />
                                    </fmt:message></span></li>
                        </c:if>
                    </ul>
                </c:if>
                <table class="table table-condensed table-hover table-nonfluid">
                </table>
            </div>
        </div>
    </c:forEach>
    </div>
    </div>
</c:if>
 -->