<div ng-controller="prmtsCtrl">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a class="btn btn-default" href="tppr-listado.action"><i class="glyphicon glyphicon-home"></i>
                {{'boton_volver' | translate}}</a>
            <!-- 
        <c:url value="prmt-filtro-popup.action" var="urlFiltro">
            <c:forEach items="${itemCriterio.searchLinks}" var="mapEntry">
                <c:param name="itemCriterio.${mapEntry.key}" value="${mapEntry.value}" />
            </c:forEach>
            <c:param name="limit" value="${limit}" />
        </c:url>
        <a class="btn btn-default" href="${urlFiltro}" role="button" data-toggle="modal" data-target="#prmt-filtro-div"><i
            class="glyphicon glyphicon-filter"></i> <fmt:message key="boton.filtro" /></a>
        <c:url value="prmt-xls-export.action" var="urlExportarFiltro">
            <c:forEach items="${itemCriterio.searchLinks}" var="mapEntry">
                <c:param name="itemCriterio.${mapEntry.key}" value="${mapEntry.value}" />
            </c:forEach>
        </c:url>
        <a class="btn btn-default" href="${urlExportarFiltro}"><i class="glyphicon glyphicon-book"></i>
            {{'boton_exportar' | translate}}</a>

        <div class="modal" id="prmt-filtro-div" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content"></div>
            </div>
        </div>
 -->
        </div>

        <div class="btn-group">
            <a ng-if="enti.cmdAlta" class="btn btn-default" href="prmt-alta-popup.action?item.entiId={{enti.id}}"
                role="button" data-toggle="modal" data-target="#prmt-alta-div"><i class="glyphicon glyphicon-file"></i>
                {{'boton_alta' | translate}}</a>
            <div ng-if="enti.cmdAlta" class="modal" id="prmt-alta-div" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content"></div>
                </div>
            </div>
            <a ng-if="enti.cmdEdicion" class="btn btn-default" href="prmt-modificar-popup.action" role="button"
                data-toggle="modal" data-target="#prmt-modificar-div"><i class="glyphicon glyphicon-edit"></i>
                {{'boton_modificar' | translate}}</a>
            <div ng-if="enti.cmdEdicion" class="modal" id="prmt-modificar-div" tabindex="-1" role="dialog"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content"></div>
                </div>
            </div>
            <a ng-if="enti.cmdDuplicado" class="btn btn-default" href="prmt-duplicar-popup.action" role="button"
                data-toggle="modal" data-target="#prmt-duplicar-div"><i class="glyphicon glyphicon-tags"></i>
                {{'boton_duplicar' | translate}}</a>
            <div ng-if="enti.cmdDuplicado" class="modal" id="prmt-duplicar-div" tabindex="-1" role="dialog"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content"></div>
                </div>
            </div>
            <a ng-if="enti.cmdBaja" class="btn btn-default" href="prmt-borrar-popup.action" role="button"
                data-toggle="modal" data-target="#prmt-borrar-div"><i class="glyphicon glyphicon-remove"></i>
                {{'boton_borrar' | translate}}</a>
            <div ng-if="enti.cmdBaja" class="modal" id="prmt-borrar-div" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content"></div>
                </div>
            </div>
        </div>
    </div>

    <!--
    <c:url value="prmt-listado.action" var="urlListado">
        <c:forEach items="${itemCriterio.searchLinks}" var="mapEntry">
            <c:param name="itemCriterio.${mapEntry.key}" value="${mapEntry.value}" />
        </c:forEach>
        <c:param name="limit" value="${limit}" />
    </c:url>

    <c:url value="${urlListado}" var="urlListadoPrev">
        <c:param name="page" value="${itemList.page - 1}" />
    </c:url>
    <c:url value="${urlListado}" var="urlListadoNext">
        <c:param name="page" value="${itemList.page + 1}" />
    </c:url>

    <ul class="pagination">
        <c:if test="${itemList.hasPrevious}">
            <li><a class="btn" href="${urlListadoPrev}"><i class="glyphicon glyphicon-chevron-left"></i></a></li>
        </c:if>
        <c:if test="${!itemList.hasPrevious}">
            <li><span class="btn"><i class="glyphicon glyphicon-chevron-left"></i></span></li>
        </c:if>
        <c:if test="${itemList.hasNext}">
            <li><a class="btn" href="${urlListadoNext}"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
        </c:if>
        <c:if test="${!itemList.hasNext}">
            <li><span class="btn"> <i class="glyphicon glyphicon-chevron-right"></i></span></li>
        </c:if>
        <c:if test="${itemList.pageCount > 0}">
            <li><span class="btn"> <fmt:message key="paginacion.leyenda">
                        <fmt:param value="${itemList.page}" />
                        <fmt:param value="${itemList.pageCount}" />
                        <fmt:param value="${itemList.count}" />
                    </fmt:message></span></li>
        </c:if>
    </ul>
-->

    <div class="table-responsive">
        <table class="table table-condensed table-hover table-nonfluid">
            <thead>
                <tr>
                    <th class="buttonLinks" nowrap="nowrap" />
                    <th class="codigo" nowrap="nowrap">{{'prmt_codigo' | translate}}</th>
                    <th ng-if="enti.i18n" nowrap="nowrap">{{'prmt_i18n_texto' | translate}}</th>
                    <th ng-if="enti.tempExp" class="date" nowrap="nowrap">{{'prmt_finicio' | translate}}</th>
                    <th ng-if="enti.tempExp" class="date" nowrap="nowrap">{{'prmt_ffin' | translate}}</th>
                    <th ng-repeat="tpdtId in enti.entdList | filter:enti.entdMap[tpdtId].gridable" nowrap="nowrap">
                        {{enti.entdMap[tpdtId].etiqueta}}</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="item in itemList.list">
                    <td><a href="prmt-detalle.action?item.id={{item.id}}"><i class="glyphicon glyphicon-search"></i></a></td>
                    <td>{{item.parametro}}</td>
                    <td ng-if="enti.i18n">{{item.i18n.texto}}</td>
                    <td ng-if="enti.tempExp">{{item.prvr.finicio | date:('fmt_date' | translate)}}</td>
                    <td ng-if="enti.tempExp">{{item.prvr.ffin | date:('fmt_date' | translate)}}</td>
<!--  | filter:enti.entdMap[tpdtId].gridable -->
                    <td ng-repeat="tpdtId in enti.entdList" ng-switch
                        on="enti.entdMap[tpdtId].tpdt.tipoElemento" nowrap="nowrap">
                        <span ng-switch-when="BO"><i
                            class="glyphicon glyphicon-ok"></i></span> <span ng-switch-when="ND" class="pull-right">{{item.itdtMap[tpdtId].cantidadDecimal}}</span>
                        <span ng-switch-when="NE" class="pull-right">{{item.itdtMap[tpdtId].cantidadEntera}}</span> <span
                        ng-switch-when="FE" class="pull-right">{{item.itdtMap[tpdtId].fecha | date:('fmt_date' |
                            translate)}}</span> <span ng-switch-when="FH" class="pull-right">{{item.itdtMap[tpdtId].fecha
                            | date:('fmt_datetime' | translate)}}</span> <span ng-switch-when="CR">{{item.itdtMap[tpdtId].cadena}}</span><span
                        ng-switch-when="TX">{{item.itdtMap[tpdtId].cadena}}</span><span ng-switch-when="PR"
                        title="{{item.itdtMap[tpdtId].prmt.etiqueta}}">{{item.itdtMap[tpdtId].prmt.parametro}}</span>
<!-- 
 -->
                        </td>
 
                    <!-- 
                    {{enti.entdMap[tpdtId]}}
                    <c:forEach items="${enti.entdList}" var="tpdtId">
                        <c:set var="entd" value="${enti.entdMap[tpdtId]}" />

                        <c:if test="${entd.gridable}">
                            <c:set var="itdt" value="${item.itdtMap[entd.tpdt.id]}" />
                            <c:if test="${itdt == null || !itdt.filled}">
                                <td></td>
                            </c:if>

                            <c:if test="${itdt != null && itdt.filled}">
                                <c:choose>
                                    <c:when test="${entd.tpdt.tipoElemento eq 'BO'}">
                                        <td><c:if test="${itdt.booleano}">
                                                <i class="glyphicon glyphicon-ok"></i>
                                            </c:if></td>
                                    </c:when>
                                    <c:when test="${entd.tpdt.tipoElemento eq 'ND'}">
                                        <td><span class="pull-right"><fmt:formatNumber
                                                    pattern="${doublePattern}" value="${itdt.cantidadDecimal}" /></span></td>
                                    </c:when>
                                    <c:when test="${entd.tpdt.tipoElemento eq 'NE'}">
                                        <td><span class="pull-right"><fmt:formatNumber
                                                    pattern="${integerPattern}" value="${itdt.cantidadEntera}" /></span></td>
                                    </c:when>
                                    <c:when test="${entd.tpdt.tipoElemento eq 'FE'}">
                                        <td><span class="pull-right"><fmt:formatDate
                                                    pattern="${datePattern}" value="${itdt.fecha}" /></span></td>
                                    </c:when>
                                    <c:when test="${entd.tpdt.tipoElemento eq 'FH'}">
                                        <td><span class="pull-right"><fmt:formatDate
                                                    pattern="${datetimePattern}" value="${itdt.fecha}" /></span></td>
                                    </c:when>
                                    <c:when test="${entd.tpdt.tipoElemento eq 'CR' || entd.tpdt.tipoElemento eq 'TX'}">
                                        <td>${itdt.cadena}</td>
                                    </c:when>
                                    <c:when test="${entd.tpdt.tipoElemento eq 'PR'}">
                                        <td title="${itdt.prmt.etiqueta}">${itdt.prmt.parametro}</td>
                                    </c:when>
                                    <c:otherwise>
                                        <td>Tipo Desconocido ${entd.tpdt.tipoElemento}</td>
                                    </c:otherwise>
                                </c:choose>
                            </c:if>
                        </c:if>
                    </c:forEach>
 -->
                </tr>
            </tbody>
        </table>
    </div>
</div>