<div>
	<fieldset>
		<input type="hidden" name="item.entiId" value="{{item.entiId}}" /> <input type="hidden" name="item.prvr.id"
			value="{{item.prvr.id}}" /> <input type="hidden" name="item.id" value="{{item.id}}" /> <input type="hidden"
			name="accion" value="{{accion}}" />

		<div class="row">
			<div class="col-md-2 form-group">
				<label>{{'prmt_codigo' | translate}}</label> <input type="text" name="item.parametro" id="item.parametro"
					value="{{item.parametro}}" required="required" maxlength="30" class="form-control input-sm" />
			</div>
		</div>
	</fieldset>
</div>