<table class="table infowindow">
    <tbody>
        <tr>
            <th>{{'enti_' + parameter.item.entiId | translate}}</th>
            <td><a style="color: black" ui-sref="parametro-detail(parameter.item)">{{parameter.item.etiqueta}}</a></td>
        </tr>
        <tr data-ng-if="parameter.enti.enti.puerto">
            <th>{{'prto' | translate}}</th>
            <td>{{parameter.item.prto.etiqueta}}</td>
        </tr>
        <tr data-ng-repeat="tpdtId in parameter.enti.entdList track by $index"
            data-ng-if="parameter.enti.entdMap[tpdtId].gridable" data-ng-switch
            data-on="parameter.enti.entdMap[tpdtId].tpdt.tipoElemento">
            <th>{{'entd_' + parameter.enti.entdMap[tpdtId].id | translate}}</th>
            <td data-ng-switch-when="BO"><i
                class="glyphicon glyphicon-{{parameter.item.itdtMap[tpdtId].cantidadEntera ? 'ok' : 'remove'}}"></i></td>
            <td data-ng-switch-when="ND">{{parameter.item.itdtMap[tpdtId].cantidadDecimal | number:2}}</td>
            <td data-ng-switch-when="NE">{{parameter.item.itdtMap[tpdtId].cantidadEntera}}</td>
            <td data-ng-switch-when="FE">{{parameter.item.itdtMap[tpdtId].fecha | date: ('format_date' |
                translate)}}</td>
            <td data-ng-switch-when="FH">{{parameter.item.itdtMap[tpdtId].fecha | date:
                ('format_datetime' | translate)}}</td>
            <td data-ng-switch-when="PR">{{parameter.item.itdtMap[tpdtId].prmt.etiqueta}}</td>
            <td data-ng-switch-when="SR">{{parameter.item.itdtMap[tpdtId].srvc.etiqueta}}</td>
            <td data-ng-switch-when="CR" data-ng-if="parameter.item.itdtMap[tpdtId].cadena"
                data-ng-bind="'cdrf_' + tpdtId + '_' + parameter.item.itdtMap[tpdtId].cadena | translate"></td>
            <td data-ng-switch-when="TX">{{parameter.item.itdtMap[tpdtId].cadena}}</td>
        </tr>
    </tbody>
</table>
