<div data-ng-if="vm.model">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a class="btn btn-default" data-ng-if="mc.hasAccnPath('enac-edit')"
                data-ng-href="#/metamodelo/entidad-accion/edit/edit/{{vm.model.entiId}}/{{vm.model.id}}"><i
                class="glyphicon glyphicon-edit"></i> <span data-translate="btn_editar"></span></a>
            <button data-ng-if="mc.hasAccnPath('enac-remove')" data-ng-click="vm.remove()"
                class="btn btn-default">
                <i class="glyphicon glyphicon-remove"></i> <span data-translate="btn_borrar"></span>
            </button>
        </div>
    </div>

    <fieldset>
        <div class="row">
            <div class="col-sm-4 col-md-3 col-lg-2 form-group-sm">
                <label data-translate="enac_path"></label>
                <p class="form-control-static" data-ng-bind="vm.model.path"></p>
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1 form-group-sm">
                <label data-translate="enac_orden"></label>
                <p class="form-control-static" data-ng-bind="vm.model.orden"></p>
            </div>
        </div>

        <div class="row" data-ng-include="'modules/common/i18nMap-detail.html'"></div>
    </fieldset>
</div>