<div data-ng-if="vm.model">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a data-ng-if="mc.hasAcbsPath('mdlo-edit')" class="btn btn-default"
                data-ng-href="#!/metamodelo/modulo/edit/edit/{{vm.model.id}}"><i
                class="glyphicon glyphicon-edit"></i> <span data-translate="btn_editar"></span></a>
            <button data-ng-if="mc.hasAcbsPath('mdlo-remove')" data-ng-click="vm.remove()"
                class="btn btn-default">
                <i class="glyphicon glyphicon-remove"></i> <span data-translate="btn_borrar"></span>
            </button>
        </div>
    </div>

    <fieldset>
        <div class="row">
            <div class="col-sm-3 col-md-2 col-lg-2 form-group-sm">
                <label data-translate="acbs_codigo"></label>
                <p class="form-control-static" data-ng-bind="vm.model.codigo"></p>
            </div>
        </div>

        <div class="row" data-ng-include="'modules/common/i18nMap-detail.html'"></div>
    </fieldset>

    <fieldset>
        <legend data-translate="grpoList"></legend>

        <div class="list-group">
            <a data-ng-href="#!/seguridad/grupo/detail/{{grpo.id}}"
                class="list-group-item col-sm-6 col-md-4 col-lg-3"
                data-ng-repeat="grpo in vm.grpoList track by $index" data-ng-bind="grpo.nombre"></a>
        </div>
    </fieldset>
</div>