<div data-ng-if="vm.resultList">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <div data-uib-pagination data-total-items="vm.resultList.count"
                data-items-per-page="vm.resultList.limit" data-ng-model="vm.page"
                data-ng-change="vm.pageChanged()" class="pagination" data-max-size="1"
                data-previous-text="&lsaquo;&lsaquo;" data-next-text="&rsaquo;&rsaquo;"></div>
        </div>

        <div class="btn-group">
            <button data-ng-if="mc.hasAcbsPath('mdlo-list')" class="btn btn-default"
                data-ng-click="vm.filter('lg')"
                data-template-url="modules/metamodelo/fragment/modulo-filter-content.html"
                data-bs-modal="modal">
                <i class="glyphicon glyphicon-search"></i> <span data-translate="btn_filtrar"></span>
            </button>
            <a data-ng-if="mc.hasAcbsPath('mdlo-create')" class="btn btn-default"
                data-ng-href="#/metamodelo/modulo/edit/create"><i class="glyphicon glyphicon-file"></i> <span
                data-translate="btn_crear"></span> </a>
        </div>
    </div>

    <div class="table-responsive">
        <span class="label label-default" data-translate="grid_count"
            data-translate-value-count="{{vm.resultList.count | number:0}}"></span>

        <table class="table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <th nowrap="nowrap" />
                    <th nowrap="nowrap" data-translate="mdlo_codigo"></th>
                </tr>
            </thead>

            <tbody data-ng-init="vm.mdloDetailAllowed = mc.hasAcbsPath('mdlo-detail')">
                <tr data-ng-repeat="mdlo in vm.resultList.list track by $index">
                    <td><a data-ng-if="vm.mdloDetailAllowed"
                        data-ng-href="#/metamodelo/modulo/detail/{{mdlo.id}}"><i
                            class="glyphicon glyphicon-search"></i></a></td>
                    <td data-ng-bind="mdlo.codigo"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>