<div data-ng-if="vm.model">
    <div data-uib-tabset data-type="pills" data-active="vm.tab">
        <div data-uib-tab data-select="vm.tabSelected('enti')" data-index="'enti'">
            <div data-uib-tab-heading data-translate="enti"></div>
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group">
                    <a data-ng-if="mc.hasAcbsPath('tppr-edit')" class="btn btn-default"
                        data-ng-href="#!/metamodelo/tipo-parametro/edit/edit/{{vm.model.id}}"><i
                        class="glyphicon glyphicon-edit"></i> <span data-translate="btn_editar"></span></a>
                    <button data-ng-if="mc.hasAcbsPath('tppr-remove')" data-ng-click="vm.remove()"
                        class="btn btn-default">
                        <i class="glyphicon glyphicon-remove"></i> <span data-translate="btn_borrar"></span>
                    </button>
                </div>
            </div>

            <fieldset>
                <div class="row">
                    <div class="col-sm-4 col-md-3 col-lg-2 form-group-sm">
                        <label data-translate="enti_codigo"></label>
                        <p class="form-control-static" data-ng-bind="vm.model.codigo"></p>
                    </div>
                    <div class="col-sm-3 col-md-2 form-group-sm">
                        <label data-translate="enti_maxGrid"></label>
                        <p class="form-control-static number" data-ng-bind="(vm.model.maxGrid | number:0)"></p>
                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-2 form-group-sm">
                        <label data-translate="enti_tpdtNombre"></label>
                        <p class="form-control-static">
                            <a data-ng-href="#!/metamodelo/tipo-dato/detail/{{vm.model.tpdtNombre.id}}"
                                data-ng-bind="vm.model.tpdtNombre.nombre"></a>
                        </p>
                    </div>
                </div>

                <div class="row" data-ng-include="'modules/common/i18nMap-detail.html'"></div>

                <div class="row">
                    <div class="col-sm-2 col-md-1 col-lg-1 form-group-sm">
                        <label data-translate="enti_cmdAlta"></label>
                        <p class="form-control-static">
                            <i class="glyphicon"
                                data-ng-class="{true:'glyphicon-ok', false:'glyphicon-remove'}[vm.model.cmdAlta]"></i>
                        </p>
                    </div>
                    <div class="col-sm-2 col-md-1 col-lg-1 form-group-sm">
                        <label data-translate="enti_cmdBaja"></label>
                        <p class="form-control-static">
                            <i class="glyphicon"
                                data-ng-class="{true:'glyphicon-ok', false:'glyphicon-remove'}[vm.model.cmdBaja]"></i>
                        </p>
                    </div>
                    <div class="col-sm-2 col-md-1 col-lg-1 form-group-sm">
                        <label data-translate="enti_cmdEdicion"></label>
                        <p class="form-control-static">
                            <i class="glyphicon"
                                data-ng-class="{true:'glyphicon-ok', false:'glyphicon-remove'}[vm.model.cmdEdicion]"></i>
                        </p>
                    </div>
                    <div class="col-sm-2 col-md-1 col-lg-1 form-group-sm">
                        <label data-translate="enti_cmdDuplicado"></label>
                        <p class="form-control-static">
                            <i class="glyphicon"
                                data-ng-class="{true:'glyphicon-ok', false:'glyphicon-remove'}[vm.model.cmdDuplicado]"></i>
                        </p>
                    </div>
                    <div class="col-sm-2 col-md-1 col-lg-1 form-group-sm">
                        <label data-translate="enti_gis"></label>
                        <p class="form-control-static">
                            <i class="glyphicon"
                                data-ng-class="{true:'glyphicon-ok', false:'glyphicon-remove'}[vm.model.gis]"></i>
                        </p>
                    </div>
                    <div class="col-sm-2 col-md-1 col-lg-1 form-group-sm">
                        <label data-translate="enti_puerto"></label>
                        <p class="form-control-static">
                            <i class="glyphicon"
                                data-ng-class="{true:'glyphicon-ok', false:'glyphicon-remove'}[vm.model.puerto]"></i>
                        </p>
                    </div>
                    <div class="col-sm-2 col-md-1 col-lg-1 form-group-sm">
                        <label data-translate="enti_i18n"></label>
                        <p class="form-control-static">
                            <i class="glyphicon"
                                data-ng-class="{true:'glyphicon-ok', false:'glyphicon-remove'}[vm.model.i18n]"></i>
                        </p>
                    </div>
                    <div class="col-sm-2 col-md-1 col-lg-1 form-group-sm">
                        <label data-translate="enti_tempExp"></label>
                        <p class="form-control-static">
                            <i class="glyphicon"
                                data-ng-class="{true:'glyphicon-ok', false:'glyphicon-remove'}[vm.model.tempExp]"></i>
                        </p>
                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-2 form-group-sm">
                        <label data-translate="enti_classpath"></label>
                        <p class="form-control-static" data-ng-bind="vm.model.classpath"></p>
                    </div>
                </div>
            </fieldset>

            <fieldset data-ng-if="mc.hasAcbsPath('tpsp-list')">
                <legend data-translate="tpspList"></legend>

                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group">
                        <a data-ng-if="mc.hasAcbsPath('tpsp-create')" class="btn btn-default"
                            data-ng-href="#!/metamodelo/tipo-subparametro/edit/create/{{vm.model.id}}"><i
                            class="glyphicon glyphicon-file"></i> <span data-translate="btn_crear"></span></a>
                    </div>
                </div>

                <table data-ng-if="vm.subentiList" class="table-bordered table-condensed table-hover">
                    <thead>
                        <tr>
                            <th nowrap="nowrap" />
                            <th data-translate="enti_codigo"></th>
                            <th data-translate="enti_nombre"></th>
                            <th data-translate="enti_cmdAlta"></th>
                            <th data-translate="enti_cmdBaja"></th>
                            <th data-translate="enti_cmdEdicion"></th>
                            <th data-translate="enti_cmdDuplicado"></th>
                            <th data-translate="enti_maxGrid"></th>
                            <th data-translate="tppr"></th>
                            <th data-translate="enti_classpath"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="subenti in vm.subentiList track by $index">
                            <td><a data-ng-if="mc.hasAcbsPath('tpsp-detail')"
                                data-ng-href="#!/metamodelo/tipo-subparametro/detail/{{subenti.id}}"><i
                                    class="glyphicon glyphicon-search"></i></a></td>
                            <td data-ng-bind="subenti.codigo"></td>
                            <td data-ng-bind="subenti.nombre"></td>
                            <td><i class="glyphicon"
                                data-ng-class="{true:'glyphicon-ok', false:'glyphicon-remove'}[subenti.cmdAlta]"> </i></td>
                            <td><i class="glyphicon"
                                data-ng-class="{true:'glyphicon-ok', false:'glyphicon-remove'}[subenti.cmdBaja]"> </i></td>
                            <td><i class="glyphicon"
                                data-ng-class="{true:'glyphicon-ok', false:'glyphicon-remove'}[subenti.cmdEdicion]">
                            </i></td>
                            <td><i class="glyphicon"
                                data-ng-class="{true:'glyphicon-ok', false:'glyphicon-remove'}[subenti.cmdDuplicado]">
                            </i></td>
                            <td class="number" data-ng-bind="(subenti.maxGrid | number:0)"></td>
                            <td data-ng-bind="subenti.tpprAsociado.nombre"></td>
                            <td data-ng-bind="subenti.classpath"></td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
        </div>
        <div data-ng-if="mc.hasAcbsPath('engd-list') || mc.hasAcbsPath('entd-list')" data-uib-tab
            data-select="vm.tabSelected('entdList')" data-index="'entdList'">
            <div data-uib-tab-heading data-translate="entdList"></div>
            <div data-ng-if="mc.hasAcbsPath('engd-list')"
                data-ng-include="'modules/metamodelo/fragment/entidad-grupo-dato-grid-content.html'"></div>
            <div data-ng-if="mc.hasAcbsPath('entd-list')"
                data-ng-include="'modules/metamodelo/fragment/entidad-tipo-dato-grid-content.html'"></div>
        </div>
        <div data-ng-if="mc.hasAcbsPath('acen-list') || mc.hasAcbsPath('aces-list')" data-uib-tab
            data-select="vm.tabSelected('accnList')" data-index="'accnList'">
            <div data-uib-tab-heading data-translate="fncdList"></div>
            <div data-ng-if="mc.hasAcbsPath('acen-list')"
                data-ng-include="'modules/metamodelo/fragment/accion-entidad-grid-content.html'"></div>
            <div data-ng-if="mc.hasAcbsPath('aces-list')"
                data-ng-include="'modules/metamodelo/fragment/accion-especial-grid-content.html'"></div>
        </div>
    </div>
</div>