<div data-ng-if="vm.model">
    <div data-uib-tabset data-type="pills" data-active="vm.tab">
        <div data-uib-tab data-select="vm.tabSelected('enti')" data-index="'enti'">
            <div data-uib-tab-heading data-translate="enti"></div>
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group">
                    <a class="btn btn-default" data-ng-if="mc.hasAcbsPath('tpsp-edit')"
                        data-ng-href="#/metamodelo/tipo-subparametro/edit/edit/{{vm.model.tpprId}}/{{vm.model.id}}"><i
                        class="glyphicon glyphicon-edit"></i> <span data-translate="btn_editar"></span></a>
                    <button data-ng-if="mc.hasAcbsPath('tpsp-remove')" data-ng-click="vm.remove()"
                        class="btn btn-default">
                        <i class="glyphicon glyphicon-remove"></i> <span data-translate="btn_borrar"></span>
                    </button>
                </div>
            </div>

            <fieldset>
                <div class="row">
                    <div class="col-sm-4 col-md-3 col-lg-2 form-group-sm">
                        <label data-translate="enti_codigo"></label>
                        <p class="form-control-static" data-ng-bind="vm.model.codigo"></p>
                    </div>
                    <div class="col-sm-3 col-md-2 col-lg-2 form-group-sm">
                        <label data-translate="enti_tipo"></label>
                        <p class="form-control-static" data-bs-tooltip
                            data-title="{{('EntidadTipo_' + vm.model.tipo | translate)}}" data-ng-bind="vm.model.tipo"></p>
                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-2 form-group-sm">
                        <label data-translate="enti_tpprAsociado"></label>
                        <p class="form-control-static">
                            <a data-ng-href="#/metamodelo/tipo-parametro/detail/{{vm.model.tpprAsociado.id}}"
                                data-ng-bind="vm.model.tpprAsociado.nombre"></a>
                        </p>
                    </div>
                </div>

                <div class="row" data-ng-include="'modules/common/i18nMap-detail.html'"></div>

                <div class="row">
                    <div class="col-sm-2 col-md-1 col-lg-1 form-group-sm">
                        <label data-translate="enti_cmdAlta"></label>
                        <p class="form-control-static">
                            <i class="glyphicon"
                                data-ng-class="{true:'glyphicon-ok', false:'glyphicon-remove'}[vm.model.cmdAlta]"></i>
                        </p>
                    </div>
                    <div class="col-sm-2 col-md-1 col-lg-1 form-group-sm">
                        <label data-translate="enti_cmdBaja"></label>
                        <p class="form-control-static">
                            <i class="glyphicon"
                                data-ng-class="{true:'glyphicon-ok', false:'glyphicon-remove'}[vm.model.cmdBaja]"></i>
                        </p>
                    </div>
                    <div class="col-sm-2 col-md-1 col-lg-1 form-group-sm">
                        <label data-translate="enti_cmdEdicion"></label>
                        <p class="form-control-static">
                            <i class="glyphicon"
                                data-ng-class="{true:'glyphicon-ok', false:'glyphicon-remove'}[vm.model.cmdEdicion]"></i>
                        </p>
                    </div>
                    <div class="col-sm-2 col-md-1 col-lg-1 form-group-sm">
                        <label data-translate="enti_cmdDuplicado"></label>
                        <p class="form-control-static">
                            <i class="glyphicon"
                                data-ng-class="{true:'glyphicon-ok', false:'glyphicon-remove'}[vm.model.cmdDuplicado]"></i>
                        </p>
                    </div>
                    <div class="col-sm-2 col-md-1 col-lg-1 form-group-sm">
                        <label data-translate="enti_i18n"></label>
                        <p class="form-control-static">
                            <i class="glyphicon"
                                data-ng-class="{true:'glyphicon-ok', false:'glyphicon-remove'}[vm.model.i18n]"></i>
                        </p>
                    </div>
                    <div class="col-sm-2 col-md-1 col-lg-1 form-group-sm">
                        <label data-translate="enti_tempExp"></label>
                        <p class="form-control-static">
                            <i class="glyphicon"
                                data-ng-class="{true:'glyphicon-ok', false:'glyphicon-remove'}[vm.model.tempExp]"></i>
                        </p>
                    </div>
                    <div class="col-sm-3 col-md-2 form-group-sm">
                        <label data-translate="enti_maxGrid"></label>
                        <p class="form-control-static number" data-ng-bind="(vm.model.maxGrid | number:0)"></p>
                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-2 form-group-sm">
                        <label data-translate="enti_classpath"></label>
                        <p class="form-control-static" data-ng-bind="vm.model.classpath"></p>
                    </div>
                </div>
            </fieldset>
        </div>
        <div data-uib-tab data-select="vm.tabSelected('entdList')" data-index="'entdList'"
            data-ng-if="mc.hasAcbsPath('engd-list') || mc.hasAcbsPath('entd-list')">
            <div data-uib-tab-heading data-translate="entdList"></div>
            <div data-ng-if="mc.hasAcbsPath('engd-list')"
                data-ng-include="'modules/metamodelo/fragment/entidad-grupo-dato-grid-content.html'"></div>
            <div data-ng-if="mc.hasAcbsPath('entd-list')"
                data-ng-include="'modules/metamodelo/fragment/entidad-tipo-dato-grid-content.html'"></div>
        </div>
        <div data-ng-if="mc.hasAcbsPath('acen-list') || mc.hasAcbsPath('aces-list')" data-uib-tab
            data-select="vm.tabSelected('accnList')" data-index="'accnList'">
            <div data-uib-tab-heading data-translate="fncdList"></div>
            <div data-ng-if="mc.hasAcbsPath('acen-list')"
                data-ng-include="'modules/metamodelo/fragment/accion-entidad-grid-content.html'"></div>
            <div data-ng-if="mc.hasAcbsPath('aces-list')"
                data-ng-include="'modules/metamodelo/fragment/accion-especial-grid-content.html'"></div>
        </div>
    </div>
</div>