<div data-ng-if="vm.model">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a class="btn btn-default" data-ng-if="mc.hasAcbsPath('trmt-edit')"
                data-ng-href="#!/metamodelo/tramite/edit/edit/{{vm.model.entiId}}/{{vm.model.id}}"><i
                class="glyphicon glyphicon-edit"></i> <span data-translate="btn_editar"></span></a>
            <button data-ng-if="mc.hasAcbsPath('trmt-remove')" data-ng-click="vm.remove()" class="btn btn-default">
                <i class="glyphicon glyphicon-remove"></i> <span data-translate="btn_borrar"></span>
            </button>
        </div>
    </div>

    <fieldset>
        <div class="row" data-ng-include="'modules/common/i18nMap-detail.html'"></div>

        <div class="row">
            <div class="col-sm-3 col-md-2 col-lg-2 form-group-sm">
                <label data-translate="enti"></label>
                <p class="form-control-static" data-ng-bind="vm.enti.nombre"></p>
            </div>
            <div class="col-sm-3 col-md-2 col-lg-2 form-group-sm">
                <label data-translate="trmt_estado_orig"></label>
                <p class="form-control-static">{{vm.model.estadoOrig}} - {{vm.model.estadoOrigTexto}}</p>
            </div>
            <div class="col-sm-3 col-md-2 col-lg-2 form-group-sm">
                <label data-translate="trmt_estado_dest"></label>
                <p class="form-control-static">{{vm.model.estadoDest}} - {{vm.model.estadoDestTexto}}</p>
            </div>
        </div>
    </fieldset>

    <fieldset data-ng-if="mc.hasAcbsPath('trtd-list')">
        <legend data-translate="trtdList"></legend>

        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                <a class="btn btn-default" data-ng-if="mc.hasAcbsPath('trtd-create')"
                    data-ng-href="#!/metamodelo/tramite-tipo-dato/edit/create/{{vm.model.id}}"><i
                    class="glyphicon glyphicon-file"></i> <span data-translate="btn_crear"></span></a>
            </div>
        </div>

        <table data-ng-if="vm.trtdList" class="table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <th nowrap="nowrap" nowrap="nowrap" />
                    <th nowrap="nowrap" data-translate="entd_etiqueta"></th>
                    <th nowrap="nowrap" data-translate="trtd_obligatorio"></th>
                    <th nowrap="nowrap" data-translate="tpdt"></th>
                    <th nowrap="nowrap" data-translate="tpdt_tpel"></th>
                    <th nowrap="nowrap" data-translate="tpdt_tpht"></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="trtd in vm.trtdList track by $index">
                    <td><a data-ng-if="mc.hasAcbsPath('trtd-detail')"
                        data-ng-href="#!/metamodelo/tramite-tipo-dato/detail/{{trtd.trmtId}}/{{trtd.entd.tpdt.id}}"><i
                            class="glyphicon glyphicon-search"></i></a></td>
                    <td data-ng-bind="trtd.entd.etiqueta"></td>
                    <td><i class="glyphicon"
                        data-ng-class="{true:'glyphicon-ok', false:'glyphicon-remove'}[trtd.obligatorio]"></i></td>
                    <td data-ng-bind="trtd.entd.tpdt.nombre"></td>
                    <td><span data-ng-bind="trtd.entd.tpdt.tipoElemento"
                        data-uib-tooltip="{{('ElementoTipo_' + trtd.entd.tpdt.tipoElemento | translate)}}"></span></td>
                    <td><span data-ng-bind="trtd.entd.tpdt.tpht"
                        data-uib-tooltip="{{('HtmlTipo_' + trtd.entd.tpdt.tpht | translate)}}"></span></td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</div>