<!--
<c:if test="${not empty entiHijasList}">
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tabEnti_${enti.id}" data-toggle="tab">${enti.nombre}</a></li>

            <c:forEach items="${entiHijasList}" var="enti">
                <li><a href="#tabEnti_${enti.id}" data-toggle="tab">${enti.nombre}</a></li>
            </c:forEach>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tabEnti_${enti.id}">
</c:if>

<c:if test="${param.btnOn eq 'true'}">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a class="btn btn-default" href="srvc-modificar-popup.action?item.id=${item.id}" role="button"
                data-toggle="modal" data-target="#srvc-modificar-div"><i class="glyphicon glyphicon-edit"></i> <fmt:message
                    key="boton.modificar" /></a> <a class="btn btn-default"
                href="srvc-duplicar-popup.action?item.id=${item.id}" role="button" data-toggle="modal"
                data-target="#srvc-duplicar-div"><i class="glyphicon glyphicon-tags"></i> <fmt:message
                    key="boton.duplicar" /></a>
        </div>
        <div class="btn-group">
            <c:forEach items="${enti.enacList}" var="enac">
                <a class="btn btn-default" href="${enac.path}-popup.action?item.id=${item.id}" role="button"
                    data-toggle="modal" data-target="#${enac.path}-div">${enac.etiqueta}</a>
            </c:forEach>
        </div>
    </div>

    <div class="modal" id="srvc-modificar-div" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content"></div>
        </div>
    </div>
    <div class="modal" id="srvc-duplicar-div" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content"></div>
        </div>
    </div>

    <c:forEach items="${enti.enacList}" var="enac">
        <div class="modal" id="${enac.path}-div" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content"></div>
            </div>
        </div>
    </c:forEach>
</c:if>
 -->

<div>
    <tabset> <tab heading="{{enti.nombre}}">
    <fieldset>
        <div class="row">
            <div class="col-md-3 form-group">
                <label>{{'srvc_subp_id' | translate}}</label> <input type="text" value="{{item.subp.etiqueta}}"
                    class="form-control input-sm" disabled="disabled" />
            </div>
            <div class="col-md-1 form-group">
                <label>{{'srvc_anno' | translate}}</label> <input type="text" value="{{item.anno}}"
                    class="form-control input-sm" disabled="disabled" />
            </div>
            <div class="col-md-1 form-group">
                <label>{{'srvc_numero' | translate}}</label> <input type="text" value="{{item.numero}}"
                    class="form-control input-sm" disabled="disabled" />
            </div>

            <div ng-if="enti.tpdtEstado != null" class="col-md-2 form-group">
                <label>{{'srvc_estado' | translate}}</label> <input type="text" value="{{item.estado}}"
                    class="form-control input-sm" disabled="disabled" />
            </div>
            <div ng-if="enti.temporal" class="col-md-2 form-group">
                <label>{{'srvc_finicio' | translate}}</label> <input type="text"
                    value="{{item.finicio | date:('fmt_date' | translate)}}" class="form-control input-sm"
                    disabled="disabled" />
            </div>
            <div ng-if="enti.temporal" class="col-md-2 form-group">
                <label>{{'srvc_ffin' | translate}}</label> <input type="text"
                    value="{{item.ffin | date:('fmt_date' | translate)}}" class="form-control input-sm"
                    disabled="disabled" />
            </div>
            <div ng-if="!enti.temporal" class="col-md-2 form-group">
                <label>{{'srvc_freferencia' | translate}}</label> <input type="text"
                    value="{{item.freferencia | date:('fmt_date' | translate)}}" class="form-control input-sm"
                    disabled="disabled" />
            </div>
        </div>

        <div class="row">
            <div ng-repeat="tpdtId in enti.entdList"
                class="col-md-{{enti.entdMap[tpdtId].span}} col-lg-{{enti.entdMap[tpdtId].spanLg}} form-group">
                <label>{{enti.entdMap[tpdtId].etiqueta}}</label>
                <div ng-if="!item.itdtMap[tpdtId].filled">
                    <input type="text" value="" class="form-control input-sm" disabled='disabled' />
                </div>

                <div ng-if="item.itdtMap[tpdtId].filled" ng-switch on="enti.entdMap[tpdtId].tpdt.tipoElemento">
                    <input ng-switch-when="BO" type="text"
                        value="{{'fmt_' + item.itdtMap[tpdtId].booleano | translate}}" class="form-control input-sm"
                        disabled='disabled' /> <input ng-switch-when="ND" type="text"
                        value="{{item.itdtMap[tpdtId].cantidadDecimal | number:2}}" class="form-control input-sm number"
                        disabled='disabled' /> <input ng-switch-when="NE" type="text"
                        value="{{item.itdtMap[tpdtId].cantidadEntera | number:0}}" class="form-control input-sm number"
                        disabled='disabled' /> <input ng-switch-when="FE" type="text"
                        value="{{item.itdtMap[tpdtId].fecha | date:('fmt_date' | translate)}}"
                        class="form-control input-sm" disabled='disabled' /> <input ng-switch-when="FH" type="text"
                        value="{{item.itdtMap[tpdtId].fecha | date:('fmt_datetime' | translate)}}"
                        class="form-control input-sm" disabled='disabled' /> <input ng-switch-when="CR" type="text"
                        value="{{item.itdtMap[tpdtId].cadena}}" class="form-control input-sm" disabled='disabled' /> <input
                        ng-switch-when="TX" ng-if="enti.entdMap[tpdtId].tpdt.tpht == 'T'" type="text"
                        value="{{item.itdtMap[tpdtId].cadena}}" class="form-control input-sm" disabled='disabled' />
                    <textarea ng-switch-when="TX" ng-if="enti.entdMap[tpdtId].tpdt.tpht == 'TA'" rows="4"
                        class="form-control input-sm" disabled='disabled'>{{item.itdtMap[tpdtId].cadena}}</textarea>
                    <div ng-switch-when="PR" class='input-group'>
                        <input type='text' class="form-control input-sm" value="{{item.itdtMap[tpdtId].prmt.etiqueta}}"
                            disabled='disabled' /> <span class="input-group-addon"><a
                            href="#/maestro/prmt/{{item.itdtMap[tpdtId].prmt.id}}"
                            data-target="#prmt-detalle-div_{{enti.entdMap[tpdtId].tpdt.id}}" role="button"
                            data-toggle="modal"><span class="glyphicon glyphicon-share-alt"></span></a></span>

                        <div class="modal" id="prmt-detalle-div_{{enti.entdMap[tpdtId].tpdt.id}}" tabindex="-1"
                            role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    </tab> <tab ng-repeat="enti in entiHijasList" heading="{{enti.nombre}}" active="tab.active" disabled="tab.disabled">
    <table class="table table-condensed table-hover table-nonfluid">
        <thead>
            <tr>
                <th class="buttonLinks" />
                <th>{{'ssrv_numero' | translate}}</th>

                <th ng-if="enti.temporal" class="date">{{'ssrv_finicio' | translate}}</th>
                <th ng-if="enti.temporal" class="date">{{'ssrv_ffin' | translate}}</th>

                <th ng-if="enti.tpdtEstado != null">{{'ssrv_estado' | translate}}</th>

                <th ng-repeat="tpdtId in enti.entdGridList">{{enti.entdMap[tpdtId].etiqueta}}</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="item in itemHijosMap[enti.id].list">
                <td><a href="sprm-modificar.action?item.id={{item.id}}"><i class="glyphicon glyphicon-edit"></i></a>
                    <a href="sprm-borrar.action?item.id={{item.id}}"><i class="glyphicon glyphicon-remove"></i></a></td>
                <td><a href="#/servicio/ssrv/{{item.id}}"><b>{{item.numero}}</b></a></td>

                <td ng-if="enti.temporal">{{item.finicio | date:('fmt_date' | translate)}}</td>
                <td ng-if="enti.temporal">{{item.ffin | date:('fmt_date' | translate)}}</td>

                <td ng-if="enti.tpdtEstado != null">{{item.estado}}</td>

                <td ng-repeat="tpdtId in enti.entdGridList" ng-switch on="enti.entdMap[tpdtId].tpdt.tipoElemento"
                    nowrap="nowrap"><span ng-switch-when="BO"><i ng-if="item.itdtMap[tpdtId].cantidadEntera"
                        class="glyphicon glyphicon-ok"></i></span> <span ng-switch-when="ND">{{item.itdtMap[tpdtId].cantidadEntera
                        | number:2}}</i>
                </span> <span ng-switch-when="NE">{{item.itdtMap[tpdtId].cantidadEntera | number:0}}</i>
                </span> <span ng-switch-when="CR">{{item.itdtMap[tpdtId].cadena}}</i></span> <span ng-switch-when="TX">{{item.itdtMap[tpdtId].cadena}}</i></span>
                    <span ng-switch-when="PR" title="{{item.itdtMap[tpdtId].prmt.etiqueta}}">{{item.itdtMap[tpdtId].prmt.parametro}}</i></span>
                    <span ng-switch-when="FE">{{item.itdtMap[tpdtId].fecha | date:('fmt_date' | translate)}}</i></span> <span
                    ng-switch-when="FH">{{item.itdtMap[tpdtId].fecha | date:('fmt_datetime' | translate)}}</i></span></td>
            </tr>
        </tbody>
    </table>
    </tab></tabset>
</div>
