<alert ng-if="actionErrors" type="danger"> <span>{{'errors' | translate}}:</span>
<ul>
    <li ng-repeat="error in actionErrors">{{error}}</li>
</ul>
</alert>

<form role="form">
    <input type="hidden" ng-model="accion" /><input type="hidden" ng-model="item.entiId" /><input type="hidden"
        ng-model="item.id" /><input type="hidden" ng-model="item.prvr.id" />

    <fieldset>
        <legend>{{enti.nombre | uppercase}}</legend>

        <div class="row">
            <div class="col-md-2 form-group">
                <label>{{"prmt_parametro" | translate}}</label> <input ng-if="accion != 'edit'" type="text"
                    ng-model="item.parametro" class="form-control input-sm" />
                <p ng-if="accion == 'edit'" class="form-control-static">{{item.parametro}}</p>
            </div>

            <div ng-if="enti.tempExp" class="col-md-1 form-group">
                <label>{{'prmt_fini' | translate}}</label>
                <p class="input-group" ng-controller="datepickerController">
                    <input type="text" class="form-control input-sm" datepicker-popup="{{'fmt_date' | translate}}"
                        datepicker-options="dateOptions" is-open="opened" ng-model="item.prvr.fini" ng-required="true" />
                    <span class="input-group-addon" ng-click="open($event)"><i
                        class="glyphicon glyphicon-calendar"></i></span>
                </p>
            </div>

            <div ng-if="enti.tempExp" class="col-md-1 form-group">
                <label>{{'prmt_ffin' | translate}}</label>
                <p class="input-group" ng-controller="datepickerController">
                    <input type="text" class="form-control input-sm" datepicker-popup="{{'fmt_date' | translate}}"
                        datepicker-options="dateOptions" is-open="opened" ng-model="item.prvr.ffin" ng-required="true" />
                    <span class="input-group-addon" ng-click="open($event)"><i
                        class="glyphicon glyphicon-calendar"></i></span>
                </p>
            </div>
        </div>

        <div ng-if="enti.i18n">
            <div ng-repeat="availableLanguage in availableLanguages" class="row">
                <div class="col-md-10 form-group">
                    <label>Texto {{availableLanguage}}</label> <input type="text"
                        ng-model="p18nMap[availableLanguage].texto" required="required" maxlength="350"
                        class="form-control input-sm" />
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset ng-repeat="engdId in enti.engdList">
        <legend ng-if="enti.engdList.length > 1">{{enti.engdMap[engdId].etiqueta}}</legend>

        <div class="row">
            <div ng-repeat="tpdtId in enti.engdEntdMap[engdId]"
                class="col-md-{{enti.entdMap[tpdtId].span}} col-lg-{{enti.entdMap[tpdtId].spanLg}} form-group">
                <label>{{enti.entdMap[tpdtId].etiqueta}}</label>

                <div ng-switch on="enti.entdMap[tpdtId].tpdt.tipoElemento">
                    <select ng-switch-when="BO" ng-model="item.itdtMap[tpdtId].cantidadEntera"
                        ng-required="item.itdtMap[tpdtId].obligatorio" class="form-control input-sm">
                        <option value="" />
                        <option value="1">{{'fmt_true' | translate}}</option>
                        <option value="0">{{'fmt_false' | translate}}</option>
                    </select> <input ng-switch-when="ND" type="text" ng-model="item.itdtMap[tpdtId].cantidadDecimal"
                        ng-required="item.itdtMap[tpdtId].obligatorio" class="form-control input-sm number" /> <input
                        ng-switch-when="NE" type="text" ng-model="item.itdtMap[tpdtId].cantidadEntera"
                        ng-pattern="/^\d+$/" class="form-control input-sm number" />
                    <div ng-switch-when="FE" class="dropdown">
                        <p class="input-group" ng-controller="datepickerController">
                            <input type="text" class="form-control input-sm"
                                datepicker-popup="{{'fmt_date' | translate}}" datepicker-options="dateOptions"
                                is-open="opened" ng-model="item.itdtMap[tpdtId].fecha" ng-required="true" /> <span
                                class="input-group-addon" ng-click="open($event)"><i
                                class="glyphicon glyphicon-calendar"></i></span>
                        </p>
                    </div>
                    <div ng-switch-when="FH" class="dropdown">
                        <a class="dropdown-toggle" id="datepicker_{{tpdtId}}" role="button" data-toggle="dropdown"
                            data-target="#" href="#">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" name="item.itdtMap[tpdtId].fecha"
                                    value="{{item.itdtMap[tpdtId].fecha | date:('fmt_datetime' | translate)}}"
                                    ng-required="item.itdtMap[tpdtId].obligatorio"><span
                                    class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="item.itdtMap[tpdtId].fecha"
                                data-datetimepicker-config="{ dropdownSelector: '#datepicker_tpdtId', startView:'day' }" />
                        </ul>
                    </div>
                    <select ng-switch-when="CR" ng-model="item.itdtMap[tpdtId].cadena"
                        ng-required="item.itdtMap[tpdtId].obligatorio" class="form-control input-sm">
                        <option value="" />
                        <option ng-repeat="cdrf in enti.entdMap[tpdtId].tpdt.cdrfList" value="{{cdrf.valor}}">{{cdrf.valor}}</option>
                    </select> <input ng-switch-when="TX" ng-if="enti.entdMap[tpdtId].tpdt.tpht == 'T'" type="text"
                        ng-model="item.itdtMap[tpdtId].cadena" ng-required="item.itdtMap[tpdtId].obligatorio"
                        class="form-control input-sm" />
                    <textarea ng-switch-when="TX" ng-if="enti.entdMap[tpdtId].tpdt.tpht == 'TA'" rows="4"
                        ng-model="item.itdtMap[tpdtId].cadena" ng-required="item.itdtMap[tpdtId].obligatorio"
                        class="form-control input-sm">{{item.itdtMap[tpdtId].cadena}}</textarea>
                    <select ng-switch-when="PR" ng-if="enti.entdMap[tpdtId].tpdt.tpht == 'S'"
                        ng-model="item.itdtMap[tpdtId].prmt.id" ng-required="item.itdtMap[tpdtId].obligatorio"
                        class="form-control input-sm">
                        <option value="" />
                        <option ng-repeat="labelValue in labelValuesMap[enti.entdMap[tpdtId].tpdt.enti.id]"
                            value="{{labelValue.value}}">{{labelValue.label}}</option>
                    </select>
                    <div ng-switch-when="PR" ng-if="enti.entdMap[tpdtId].tpdt.tpht == 'F'" class="input-group-sm"
                        ng-controller="prmtsLupaCtrl">
                        <input type="text" ng-model="item.itdtMap[tpdtId].prmt"
                            ng-required="item.itdtMap[tpdtId].obligatorio"
                            typeahead="prmt as prmt.etiqueta for prmt in getLabelValues(enti.entdMap[tpdtId].tpdt.enti.id, $viewValue)"
                            typeahead-loading="loading" typeahead-wait-ms="500"
                            class="form-control input-sm"> <i ng-show="loading"
                            class="glyphicon glyphicon-refresh"></i>
                        <!-- $ {{item.itdtMap[tpdtId].prmt.id}} $
                        {{item.itdtMap[tpdtId].prmt.etiqueta}}-->

                    </div>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <button data-ng-click="save()" class="btn btn-primary">
            <i class="glyphicon glyphicon-ok"></i> {{'boton_guardar' | translate}}
        </button>
        <button data-ng-click="cancel()" class="btn btn-default">
            <i class="glyphicon glyphicon-remove"></i> {{'boton_cancelar' | translate}}
        </button>
    </fieldset>
</form>

