<form>
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a class="btn btn-default" href="#/maestro/tpprs"><i class="glyphicon glyphicon-home"></i>
                {{'boton_volver' | translate}}</a> <a ui-sref="prmts.filtro({entiId:enti.id})" class="btn btn-default"><i
                class="glyphicon glyphicon-filter"></i> {{'boton_filtro' | translate}}</a>
            <button class="btn btn-default" ng-click="filtro()">
                <i class="glyphicon glyphicon-filter"></i> {{'boton_filtro' | translate}}
            </button>
        </div>

        <div class="btn-group">
            <a ng-if="enti.cmdAlta" ui-sref="prmts.alta({entiId:enti.id})" class="btn btn-default"><i
                class="glyphicon glyphicon-file"></i> {{'boton_crear' | translate}}</a> <a ng-if="enti.cmdBaja"
                class="btn btn-default" href="#/maestro/prmt/borrar/"><i class="glyphicon glyphicon-remove"></i>
                {{'boton_borrar' | translate}}</a>
        </div>
    </div>

    <pagination total-items="itemList.count" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm"
        max-size="1" previous-text="&lsaquo;" next-text="&rsaquo;"></pagination>

    <div class="table-responsive">
        <span class="label label-default">{{itemList.count}} resultado(s)</span>

        <table class="table-bordered table-condensed table-hover table-nonfluid">
            <thead>
                <tr>
                    <th class="buttonLinks" nowrap="nowrap" />
                    <th class="codigo" nowrap="nowrap">{{'prmt_codigo' | translate}}</th>
                    <th ng-if="enti.i18n" nowrap="nowrap">{{'prmt_i18n_texto' | translate}}</th>
                    <th ng-if="enti.tempExp" class="date" nowrap="nowrap">{{'prmt_finicio' | translate}}</th>
                    <th ng-if="enti.tempExp" class="date" nowrap="nowrap">{{'prmt_ffin' | translate}}</th>
                    <th ng-repeat="tpdtId in enti.entdGridList" nowrap="nowrap">{{enti.entdMap[tpdtId].etiqueta}}</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="item in itemList.list">
                    <td><a ui-sref="prmts.detalle({itemId:item.id})"><i class="glyphicon glyphicon-search"></i></a></td>
                    <td>{{item.parametro}}</td>
                    <td ng-if="enti.i18n">{{item.i18n.texto}}</td>
                    <td ng-if="enti.tempExp">{{item.prvr.finicio | date:('fmt_date' | translate)}}</td>
                    <td ng-if="enti.tempExp">{{item.prvr.ffin | date:('fmt_date' | translate)}}</td>
                    <td ng-repeat="tpdtId in enti.entdGridList" ng-switch on="enti.entdMap[tpdtId].tpdt.tipoElemento"
                        nowrap="nowrap"><span ng-switch-when="BO"><i
                            ng-if="item.itdtMap[tpdtId].cantidadEntera" class="glyphicon glyphicon-ok"></i></span> <span
                        ng-switch-when="ND" class="pull-right">{{item.itdtMap[tpdtId].cantidadDecimal |
                            number:2}}</span> <span ng-switch-when="NE" class="pull-right">{{item.itdtMap[tpdtId].cantidadEntera
                            | number:0}}</span> <span ng-switch-when="FE" class="pull-right">{{item.itdtMap[tpdtId].fecha
                            | date:('fmt_date' | translate)}}</span> <span ng-switch-when="FH" class="pull-right">{{item.itdtMap[tpdtId].fecha
                            | date:('fmt_datetime' | translate)}}</span> <span ng-switch-when="CR">{{item.itdtMap[tpdtId].cadena}}</span><span
                        ng-switch-when="TX">{{item.itdtMap[tpdtId].cadena}}</span><span ng-switch-when="PR"
                        title="{{item.itdtMap[tpdtId].prmt.etiqueta}}">{{item.itdtMap[tpdtId].prmt.parametro}}</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</form>