<div data-ng-if="vm.model">
    <form role="form">
        <fieldset>
            <div class="row">
                <div class="col-sm-6 col-md-5 col-lg-4 form-group-sm">
                    <label data-translate="grpo_nombre"></label> <input type="text"
                        data-ng-model="vm.model.nombre" class="form-control" />
                </div>
            </div>
        </fieldset>

        <div data-uib-tabset data-type="pills" data-active="vm.tab">
            <div data-uib-tab data-select="vm.tabSelected('mdloList')" data-index="'mdloList'"
                data-ng-if="mc.hasAcbsPath('mdlo-list')">
                <div data-uib-tab-heading data-translate="mdloList"></div>
                <fieldset>
                    <div class="row">
                        <div class="list-group-item col-sm-12">
                            <div class="col-sm-4 col-md-3 col-lg-2" data-ng-repeat="mdlo in vm.mdloList">
                                <div class="checkbox">
                                    <label> <input type="checkbox"
                                        data-ng-click="vm.updateFncdIds($event, mdlo.id)"
                                        data-ng-checked="vm.model.fncdIds.indexOf(mdlo.id) >= 0"> <span
                                        data-ng-bind="mdlo.codigo"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div data-uib-tab data-select="vm.tabSelected('acbsList')" data-index="'acbsList'"
                data-ng-if="mc.hasAcbsPath('acbs-list')">
                <div data-uib-tab-heading data-translate="acbsList"></div>
                <fieldset>
                    <div class="row"
                        data-ng-repeat="prefix in vm.prefixList | orderBy: prefix track by $index">
                        <div class="col-sm-4 col-md-3 col-lg-2">
                            <p class="list-group-item active" data-ng-bind="prefix | translate"></p>
                        </div>
                        <div class="list-group-item col-sm-8 col-md-9 col-lg-10">
                            <div data-ng-repeat="acbs in vm.acbsMap[prefix] track by $index"
                                class="col-sm-4 col-md-3 col-lg-2">
                                <div class="checkbox">
                                    <label> <input type="checkbox"
                                        data-ng-click="vm.updateFncdIds($event, acbs.id)"
                                        data-ng-checked="vm.model.fncdIds.indexOf(acbs.id) >= 0"> <span
                                        data-ng-bind="acbs.codigo"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div data-uib-tab data-select="vm.tabSelected('acenList')" data-index="'acenList'"
                data-ng-if="mc.hasAcbsPath('acen-list')">
                <div data-uib-tab-heading data-translate="acenList"></div>
                <fieldset>
                    <div class="row" data-ng-repeat="entiId in vm.entiList track by $index"
                        data-ng-if="vm.acenMap[entiId]">
                        <div class="col-sm-4 col-md-3 col-lg-2">
                            <p class="list-group-item active" data-ng-bind="'enti_' + entiId | translate"></p>
                        </div>
                        <div class="list-group-item col-sm-8 col-md-9 col-lg-10">
                            <div data-ng-repeat="acen in vm.acenMap[entiId] track by $index"
                                class="col-sm-4 col-md-3 col-lg-2">
                                <div class="checkbox">
                                    <label> <input type="checkbox"
                                        data-ng-click="vm.updateFncdIds($event, acen.id)"
                                        data-ng-checked="vm.model.fncdIds.indexOf(acen.id) >= 0"> <span
                                        data-ng-bind="acen.aebs.codigo"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div data-uib-tab data-select="vm.tabSelected('acesList')" data-index="'acesList'">
                <div data-uib-tab-heading data-translate="acesList"></div>
                <fieldset>
                    <div class="row" data-ng-repeat="entiId in vm.entiList track by $index"
                        data-ng-if="vm.acesMap[entiId]">
                        <div class="col-sm-4 col-md-3 col-lg-2">
                            <p class="list-group-item active" data-ng-bind="'enti_' + entiId | translate"></p>
                        </div>
                        <div class="list-group-item col-sm-8 col-md-9 col-lg-10">
                            <div data-ng-repeat="aces in vm.acesMap[entiId] track by $index"
                                class="col-sm-4 col-md-3 col-lg-2">
                                <div class="checkbox">
                                    <label> <input type="checkbox"
                                        data-ng-click="vm.updateFncdIds($event, aces.id)"
                                        data-ng-checked="vm.model.fncdIds.indexOf(aces.id) >= 0"> <span
                                        data-ng-bind="aces.path"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div data-uib-tab data-select="vm.tabSelected('trmtList')" data-index="'trmtList'">
                <div data-uib-tab-heading data-translate="trmtList"></div>
                <fieldset>
                    <div class="row" data-ng-repeat="entiId in vm.entiList track by $index"
                        data-ng-if="vm.trmtMap[entiId]">
                        <div class="col-sm-4 col-md-3 col-lg-2">
                            <p class="list-group-item active" data-ng-bind="'enti_' + entiId | translate"></p>
                        </div>
                        <div class="list-group-item col-sm-8 col-md-9 col-lg-10">
                            <div data-ng-repeat="trmt in vm.trmtMap[entiId] track by $index"
                                class="col-sm-4 col-md-3 col-lg-2">
                                <div class="checkbox">
                                    <label> <input type="checkbox"
                                        data-ng-click="vm.updateFncdIds($event, trmt.id)"
                                        data-ng-checked="vm.model.fncdIds.indexOf(trmt.id) >= 0"> <span>{{trmt.etiqueta}}
                                            ({{trmt.estadoOrig}} -> {{trmt.estadoDest}}) </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="btn-group">
            <button data-ng-click="vm.save()" class="btn btn-primary">
                <i class="glyphicon glyphicon-ok"></i> <span data-translate="btn_guardar"></span>
            </button>
            <button data-ng-click="vm.cancel()" class="btn btn-default">
                <i class="glyphicon glyphicon-remove"></i> <span data-translate="btn_cancelar"></span>
            </button>
        </div>
    </form>
</div>