<div data-ng-if="vm.model">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a data-ng-if="mc.hasAccnPath('cmag-edit')" class="btn btn-default"
                data-ng-href="#/metamodelo/campo-agregacion/edit/edit/{{vm.model.tpesId}}/{{vm.model.entd.id}}"><i
                class="glyphicon glyphicon-edit"></i> <span data-translate="btn_editar"></span></a>
            <button data-ng-if="mc.hasAccnPath('cmag-remove')" data-ng-click="vm.remove()"
                class="btn btn-default">
                <i class="glyphicon glyphicon-remove"></i> <span data-translate="btn_borrar"></span>
            </button>
        </div>
    </div>

    <fieldset>
        <div class="row">
            <div class="col-md-2 form-group-sm">
                <label data-translate="cmag_nombre"></label>
                <p class="form-control-static" data-ng-bind="vm.model.nombre"></p>
            </div>
            <div class="col-md-1 form-group-sm">
                <label data-translate="cmag_agregar"></label>
                <p class="form-control-static">
                    <i class="glyphicon glyphicon-{{(vm.model.agregar ? 'ok' : 'remove')}}"></i>
                </p>
            </div>
        </div>
    </fieldset>
</div>