<form name="editForm" novalidate role="form">
    <input type="hidden" ng-model="accion" /><input type="hidden" ng-model="cdrf.id" /><input type="hidden"
        ng-model="cdrf.tpdtId" />

    <fieldset>
        <div class="row-fluid">
            <div class="col-md-3 form-group">
                <label translate>cdrf_valor</label> <input ng-if="accion == 'create'" type="text" ng-model="cdrf.valor"
                    class="form-control input-sm" />
                <p ng-if="accion == 'edit'" class="form-control-static" ng-bind="cdrf.valor"></p>
            </div>
            <div class="col-md-1 form-group">
                <label translate>cdrf_orden</label> <input type="text" ng-model="cdrf.orden"
                    class="form-control input-sm" />
            </div>
        </div>
    </fieldset>

    <fieldset>
        <div ng-repeat="availableLanguage in availableLanguages track by $index" class="row-fluid">
            <div class="col-sm-10 col-md-10 col-lg-8 form-group">
                <label>Texto {{availableLanguage}}</label> <input type="text"
                    ng-model="i18nMap[availableLanguage].text" maxlength="350" class="form-control input-sm" />
            </div>
        </div>
    </fieldset>

    <alert ng-if="actionErrors && actionErrors.length > 0" type="danger"> <span translate>errors</span>:
    <ul>
        <li ng-repeat="error in actionErrors track by $index" ng-bind="error"></li>
    </ul>
    </alert>

    <div class="btn-group">
        <button data-ng-click="save()" class="btn btn-primary">
            <i class="glyphicon glyphicon-ok"></i> <span translate>boton_guardar</span>
        </button>
        <button data-ng-click="cancel()" class="btn btn-default">
            <i class="glyphicon glyphicon-remove"></i> <span translate>boton_cancelar</span>
        </button>
    </div>
</form>
