<alert ng-if="actionErrors" type="danger"> <span>{{'errors' | translate}}:</span>
<ul>
    <li ng-repeat="error in actionErrors">{{error}}</li>
</ul>
</alert>

<form name="editForm" novalidate role="form">
    <input type="hidden" ng-model="accion" /><input type="hidden" ng-model="cdrf.tpdtId" />

    <fieldset>
        <div class="row">
            <div class="col-md-3 form-group">
                <label>{{"cdrf_valor" | translate}}</label> <input ng-if="accion == 'create'" type="text"
                    ng-model="cdrf.orden" class="form-control input-sm" />
                <p ng-if="accion == 'edit'" class="form-control-static">{{cdrf.valor}}</p>
            </div>
            <div class="col-md-1 form-group">
                <label>{{"cdrf_orden" | translate}}</label> <input type="text" ng-model="cdrf.orden"
                    class="form-control input-sm" />
            </div>
        </div>

        <button data-ng-click="save()" class="btn btn-primary">
            <i class="glyphicon glyphicon-ok"></i> {{'boton_guardar' | translate}}
        </button>
        <button data-ng-click="cancel()" class="btn btn-default">
            <i class="glyphicon glyphicon-remove"></i> {{'boton_cancelar' | translate}}
        </button>
    </fieldset>
</form>
