<form novalidate role="form">
    <fieldset>
        <div class="row">
            <div class="col-sm-4 col-md-3 col-lg-2 form-group-sm" ng-switch="::vm.accion">
                <label translate>enac_path</label> <input ng-switch_when="create" type="text"
                    ng-model="vm.enac.path" class="form-control" />
                <p ng-switch_when="edit" class="form-control-static" ng-bind="vm.enac.path"></p>
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1 form-group-sm">
                <label translate>enac_orden</label> <input type="text" ng-model="vm.enac.orden"
                    class="form-control number" />
            </div>
        </div>

        <div class="row" ng-include="'modules/common/i18nMap-edit.html'"></div>
    </fieldset>

    <div class="btn-group">
        <button data-ng-click="vm.save()" class="btn btn-primary">
            <i class="glyphicon glyphicon-ok"></i> <span translate>btn_guardar</span>
        </button>
        <button data-ng-click="vm.cancel()" class="btn btn-default">
            <i class="glyphicon glyphicon-remove"></i> <span translate>btn_cancelar</span>
        </button>
    </div>
</form>
