<form name="editForm" novalidate role="form">
    <input type="hidden" ng-model="accion" /><input type="hidden" ng-model="enac.entiId" /> <input type="hidden"
        ng-model="enac.path" />

    <fieldset>
        <div class="row-fluid">
            <div class="col-md-2 form-group">
                <label translate>enac_path</label> <input ng-if="accion == 'create'" type="text"
                    ng-model="enac.etiqueta" class="form-control input-sm" />
                <p ng-if="accion != 'create'" class="form-control-static">{{enac.path}}</p>
            </div>
            <div class="col-md-3 form-group">
                <label translate>enac_etiqueta</label> <input type="text" ng-model="enac.etiqueta"
                    class="form-control input-sm" />
            </div>
            <div class="col-md-1 form-group">
                <label translate>enac_orden</label> <input type="text" ng-model="enac.orden"
                    class="form-control input-sm" />
            </div>
        </div>

        <alert ng-if="actionErrors" type="danger"> <span translate>errors</span>:
        <ul>
            <li ng-repeat="error in actionErrors track by $index">{{error}}</li>
        </ul>
        </alert>
    </fieldset>

    <div class="btn-group">
        <button data-ng-click="save()" class="btn btn-primary">
            <i class="glyphicon glyphicon-ok"></i> <span translate>boton_guardar</span>
        </button>
        <button data-ng-click="cancel()" class="btn btn-default">
            <i class="glyphicon glyphicon-remove"></i> <span translate>boton_cancelar</span>
        </button>
    </div>
</form>

