<form name="editForm" novalidate role="form">
    <input type="hidden" ng-model="accion" /><input type="hidden" ng-model="enen.entiPadreId" /> <input type="hidden"
        ng-model="enti.tipo" />

    <fieldset>
        <div class="row-fluid">
            <div class="col-md-3 form-group">
                <label translate>enen_entih</label> <select ng-model="enen.entiHijaId" class="form-control input-sm">
                    <option value="" />
                    <option ng-repeat="labelValue in entiList" value="{{labelValue.value}}">{{labelValue.label}}</option>
                </select>
            </div>
            <div class="col-md-1 form-group">
                <label translate>enen_orden</label> <input type="text" ng-model="enen.orden"
                    class="form-control input-sm" />
            </div>
        </div>

        <alert ng-if="actionErrors" type="danger"> <span translate>errors</span>:
        <ul>
            <li ng-repeat="error in actionErrors">{{error}}</li>
        </ul>
        </alert>
    </fieldset>

    <div class="btn-group">
        <button data-ng-click="submit(editForm)" class="btn btn-default">
            <i class="glyphicon glyphicon-ok"></i> <span translate>boton_guardar</span>
        </button>
    </div>
</form>

