<div class="table-responsive">
    <fieldset>
        <legend>{{enti.nombre | uppercase}}</legend>

        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                <button data-ng-click="edit()" class="btn btn-default">
                    <i class="glyphicon glyphicon-edit"></i> {{'boton_editar' | translate}}
                </button>
                <button data-ng-click="remove()" class="btn btn-default">
                    <i class="glyphicon glyphicon-remove"></i> {{'boton_borrar' | translate}}
                </button>
            </div>
        </div>

        <div class="row-fluid">
            <div class="col-sm-3 col-md-2 col-lg-2 form-group">
                <label> {{"entd_tpdt_nombre" | translate}} </label>
                <p class="form-control-static">
                    <a href="#/metamodelo/tpdt/detail/{{entd.tpdt.id}}">{{entd.tpdt.nombre}}</a>
                </p>
            </div>
            <div class="col-sm-4 col-md-3 col-lg-2 form-group">
                <label> {{"entd_etiqueta" | translate}} </label>
                <p class="form-control-static">{{entd.etiqueta}}</p>
            </div>
            <div class="col-sm-3 col-md-2 col-lg-1 form-group">
                <label> {{"entd_tpdt_tipoElemento" | translate}} </label>
                <p class="form-control-static">{{entd.tpdt.tipoElemento}}</p>
            </div>
            <div class="col-sm-3 col-md-2 col-lg-1 form-group">
                <label> {{"entd_tpdt_tpht" | translate}} </label>
                <p class="form-control-static">{{entd.tpdt.tpht}}</p>
            </div>
            <div class="col-sm-4 col-md-3 col-lg-2 form-group">
                <label> {{"entd_tpdt_enti" | translate}} </label>
                <p class="form-control-static">
                    <span ng-if="entd.tpdt.enti"> <a ng-if="entd.tpdt.enti.tipo == 'P'"
                        href="#/metamodelo/tppr/detail/{{entd.tpdt.enti.id}}">{{entd.tpdt.enti.etiqueta}}</a><a
                        ng-if="entd.tpdt.enti.tipo == 'T'" href="#/metamodelo/tpsr/detail/{{entd.tpdt.enti.id}}">{{entd.tpdt.enti.etiqueta}}</a></span>
                </p>
            </div>
        </div>
        <div class="row-fluid">
            <div class="col-sm-2 col-md-1 col-lg-1 form-group">
                <label> {{"entd_grupo" | translate}} </label>
                <p class="form-control-static">{{entd.grupo}}</p>
            </div>
            <div class="col-sm-2 col-md-1 col-lg-1 form-group">
                <label> {{"entd_fila" | translate}} </label>
                <p class="form-control-static">{{entd.fila}}</p>
            </div>
            <div class="col-sm-2 col-md-1 col-lg-1 form-group">
                <label> {{"entd_orden" | translate}} </label>
                <p class="form-control-static">{{entd.orden}}</p>
            </div>
            <div class="col-sm-2 col-md-1 col-lg-1 form-group">
                <label> {{"entd_span" | translate}} </label>
                <p class="form-control-static">{{entd.span}}</p>
            </div>
            <div class="col-sm-2 col-md-1 col-lg-1 form-group">
                <label> {{"entd_spanLg" | translate}} </label>
                <p class="form-control-static">{{entd.spanLg}}</p>
            </div>
            <div class="col-sm-2 col-md-1 col-lg-1 form-group">
                <label> {{"entd_obligatorio" | translate}} </label>
                <p class="form-control-static">
                    <i ng-if="entd.obligatorio" class="glyphicon glyphicon-ok"></i><i ng-if="!entd.obligatorio"
                        class="glyphicon glyphicon-remove"></i>
                </p>
            </div>
            <div class="col-sm-2 col-md-1 col-lg-1 form-group">
                <label> {{"entd_gridable" | translate}} </label>
                <p class="form-control-static">
                    <i ng-if="entd.gridable" class="glyphicon glyphicon-ok"></i><i ng-if="!entd.gridable"
                        class="glyphicon glyphicon-remove"></i>
                </p>
            </div>
            <div class="col-sm-2 col-md-1 col-lg-1 form-group">
                <label> {{"entd_filtrable" | translate}} </label>
                <p class="form-control-static">
                    <i ng-if="entd.filtrable" class="glyphicon glyphicon-ok"></i><i ng-if="!entd.filtrable"
                        class="glyphicon glyphicon-remove"></i>
                </p>
            </div>
        </div>
    </fieldset>
</div>