<p class="bg-primary" ng-bind="entd.etiqueta"></p>

<div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
        <a class="btn btn-default" ng-href="#/metamodelo/entd/edit/{{entd.entiId}}/{{entd.tpdt.id}}"><i
            class="glyphicon glyphicon-edit"></i> <span translate>btn_editar</span></a>
        <button data-ng-click="remove()" class="btn btn-default">
            <i class="glyphicon glyphicon-remove"></i> <span translate>btn_borrar</span>
        </button>
    </div>
</div>

<fieldset>
    <div class="row-fluid">
        <div class="col-sm-3 col-md-2 col-lg-2 form-group">
            <label translate>entd_tpdt</label>
            <p class="form-control-static">
                <a ng-href="#/metamodelo/tpdt/detail/{{entd.tpdt.id}}" ng-bind="'tpdt_' + entd.tpdt.id | translate"></a>
            </p>
        </div>
        <div class="col-sm-4 col-md-3 col-lg-2 form-group">
            <label translate>entd_etiqueta</label>
            <p class="form-control-static" ng-bind="entd.etiqueta"></p>
        </div>
        <div class="col-sm-3 col-md-2 col-lg-1 form-group">
            <label translate>tpdt_tpel</label>
            <p class="form-control-static" ng-bind="entd.tpdt.tipoElemento"></p>
        </div>
        <div class="col-sm-3 col-md-2 col-lg-1 form-group">
            <label translate>tpdt_tpht</label>
            <p class="form-control-static" ng-bind="entd.tpdt.tpht"></p>
        </div>
        <div class="col-sm-4 col-md-3 col-lg-2 form-group">
            <label translate>tpdt_enti</label>
            <p class="form-control-static">
                <span ng-if="entd.tpdt.enti"> <a ng-if="entd.tpdt.enti.tipo == 'P'"
                    ng-href="#/metamodelo/tppr/detail/{{entd.tpdt.enti.id}}"
                    ng-bind="'enti_' +  entd.tpdt.enti.id | translate"></a><a ng-if="entd.tpdt.enti.tipo == 'T'"
                    ng-href="#/metamodelo/tpsr/detail/{{entd.tpdt.enti.id}}"
                    ng-bind="'enti_' +  entd.tpdt.enti.id | translate"></a></span>
            </p>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-sm-2 col-md-1 col-lg-1 form-group">
            <label translate>entd_grupo</label>
            <p class="form-control-static" ng-bind="entd.grupo"></p>
        </div>
        <div class="col-sm-2 col-md-1 col-lg-1 form-group">
            <label translate>entd_fila</label>
            <p class="form-control-static" ng-bind="entd.fila"></p>
        </div>
        <div class="col-sm-2 col-md-1 col-lg-1 form-group">
            <label translate>entd_orden</label>
            <p class="form-control-static" ng-bind="entd.orden"></p>
        </div>
        <div class="col-sm-2 col-md-1 col-lg-1 form-group">
            <label translate>entd_span</label>
            <p class="form-control-static" ng-bind="entd.span"></p>
        </div>
        <div class="col-sm-2 col-md-1 col-lg-1 form-group">
            <label translate>entd_spanLg</label>
            <p class="form-control-static" ng-bind="entd.spanLg"></p>
        </div>
        <div class="col-sm-2 col-md-1 col-lg-1 form-group">
            <label translate>entd_obligatorio</label>
            <p class="form-control-static">
                <i class="glyphicon glyphicon-{{entd.obligatorio ? 'ok' : 'remove'}}"></i>
            </p>
        </div>
        <div class="col-sm-2 col-md-1 col-lg-1 form-group">
            <label translate>entd_gridable</label>
            <p class="form-control-static">
                <i class="glyphicon glyphicon-{{entd.gridable ? 'ok' : 'remove'}}"></i>
            </p>
        </div>
        <div class="col-sm-2 col-md-1 col-lg-1 form-group">
            <label translate>entd_filtrable</label>
            <p class="form-control-static">
                <i class="glyphicon glyphicon-{{entd.filtrable ? 'ok' : 'remove'}}"></i>
            </p>
        </div>
    </div>
</fieldset>
