<div data-ng-if="vm.model">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a data-ng-if="mc.hasAccnPath('entd-edit')" class="btn btn-default"
                data-ng-href="#/metamodelo/entidad-tipo-dato/edit/edit/{{vm.model.entiId}}/{{vm.model.id}}"><i
                class="glyphicon glyphicon-edit"></i> <span data-translate="btn_editar"></span></a>
            <button data-ng-if="mc.hasAccnPath('entd-remove')" data-ng-click="vm.remove()"
                class="btn btn-default">
                <i class="glyphicon glyphicon-remove"></i> <span data-translate="btn_borrar"></span>
            </button>
        </div>
    </div>

    <fieldset>
        <div class="row" data-ng-include="'modules/common/i18nMap-detail.html'"></div>

        <div class="row">
            <div class="col-sm-3 col-md-2 col-lg-2 form-group-sm">
                <label data-translate="tpdt"></label>
                <p class="form-control-static">
                    <a data-ng-href="#/metamodelo/tipo-dato/detail/{{vm.model.tpdt.id}}"
                        data-ng-bind="vm.model.tpdt.nombre"></a>
                </p>
            </div>
            <div class="col-sm-3 col-md-2 col-xl-1 form-group-sm">
                <label data-translate="tpdt_tpel"></label>
                <p class="form-control-static" data-ng-bind="vm.model.tpdt.tipoElemento"></p>
            </div>
            <div class="col-sm-3 col-md-2 col-lg-1 form-group-sm">
                <label data-translate="tpdt_tpht"></label>
                <p class="form-control-static" data-ng-bind="vm.model.tpdt.tpht"></p>
            </div>
            <div class="col-sm-4 col-md-3 col-lg-2 form-group-sm">
                <label data-translate="enti"></label>
                <p class="form-control-static">
                    <span data-ng-if="vm.model.tpdt.enti"> <a
                        data-ng-if="vm.model.tpdt.enti.tipo == 'P'"
                        data-ng-href="#/metamodelo/tipo-parametro/detail/{{vm.model.tpdt.enti.id}}"
                        data-ng-bind="vm.model.tpdt.enti.nombre"></a><a
                        data-ng-if="vm.model.tpdt.enti.tipo == 'T'"
                        data-ng-href="#/metamodelo/tipo-servicio/detail/{{vm.model.tpdt.enti.id}}"
                        data-ng-bind="vm.model.tpdt.enti.nombre"></a></span>
                </p>
            </div>
            <div class="col-sm-3 col-md-2 form-group-sm">
                <label data-translate="entd_valorDefecto"></label>
                <p class="form-control-static" data-ng-bind="vm.model.valorDefecto"></p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-8 form-group-sm">
                <label data-translate="entd_validacion"></label>
                <p class="form-control-static" data-ng-bind="vm.model.validacion"></p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2 col-md-1 col-lg-1 form-group-sm">
                <label data-translate="entd_grupo"></label>
                <p class="form-control-static number" data-ng-bind="vm.model.grupo"></p>
            </div>
            <div class="col-sm-2 col-md-1 col-lg-1 form-group-sm">
                <label data-translate="entd_fila"></label>
                <p class="form-control-static number" data-ng-bind="vm.model.fila"></p>
            </div>
            <div class="col-sm-2 col-md-1 col-lg-1 form-group-sm">
                <label data-translate="entd_orden"></label>
                <p class="form-control-static number" data-ng-bind="vm.model.orden"></p>
            </div>
            <div class="col-sm-2 col-md-1 col-lg-1 form-group-sm">
                <label data-translate="entd_span"></label>
                <p class="form-control-static number" data-ng-bind="vm.model.span"></p>
            </div>
            <div class="col-sm-2 col-md-1 col-lg-1 form-group-sm">
                <label data-translate="entd_spanLg"></label>
                <p class="form-control-static number" data-ng-bind="vm.model.spanLg"></p>
            </div>
            <div class="col-sm-2 col-md-1 col-lg-1 form-group-sm">
                <label data-translate="entd_obligatorio"></label>
                <p class="form-control-static">
                    <i class="glyphicon glyphicon-{{(vm.model.obligatorio ? 'ok' : 'remove')}}"></i>
                </p>
            </div>
            <div class="col-sm-2 col-md-1 col-lg-1 form-group-sm">
                <label data-translate="entd_gridable"></label>
                <p class="form-control-static">
                    <i class="glyphicon glyphicon-{{(vm.model.gridable ? 'ok' : 'remove')}}"></i>
                </p>
            </div>
            <div class="col-sm-2 col-md-1 col-lg-1 form-group-sm">
                <label data-translate="entd_filtrable"></label>
                <p class="form-control-static">
                    <i class="glyphicon glyphicon-{{(vm.model.filtrable ? 'ok' : 'remove')}}"></i>
                </p>
            </div>
        </div>
    </fieldset>
</div>