<div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
        <a class="btn btn-default" ui-sref="entidad-tipo-dato-edit(vm.model)"><i
            class="glyphicon glyphicon-edit"></i> <span translate>btn_editar</span></a>
        <button data-ng-click="vm.remove()" class="btn btn-default">
            <i class="glyphicon glyphicon-remove"></i> <span translate>btn_borrar</span>
        </button>
    </div>
</div>

<fieldset>
    <div class="row" ng-include="'modules/common/i18nMap-detail.html'"></div>

    <div class="row">
        <div class="col-sm-3 col-md-2 col-lg-2 form-group-sm">
            <label translate>tpdt</label>
            <p class="form-control-static">
                <a ui-sref="tipo-dato-detail(vm.model.tpdt)" ng-bind="vm.model.tpdt.nombre"></a>
            </p>
        </div>
        <div class="col-sm-3 col-md-2 col-xl-1 form-group-sm">
            <label translate>tpdt_tpel</label>
            <p class="form-control-static" ng-bind="vm.model.tpdt.tipoElemento"></p>
        </div>
        <div class="col-sm-3 col-md-2 col-lg-1 form-group-sm">
            <label translate>tpdt_tpht</label>
            <p class="form-control-static" ng-bind="vm.model.tpdt.tpht"></p>
        </div>
        <div class="col-sm-4 col-md-3 col-lg-2 form-group-sm">
            <label translate>enti</label>
            <p class="form-control-static">
                <span ng-if="vm.model.tpdt.enti"> <a ng-if="vm.model.tpdt.enti.tipo == 'P'"
                    ui-sref="tipo-parametro-detail(vm.model.tpdt.enti)" ng-bind="vm.model.tpdt.enti.nombre"></a><a
                    ng-if="vm.model.tpdt.enti.tipo == 'T'" ui-sref="tiposervicio-detail(vm.model.tpdt.enti)"
                    ng-bind="vm.model.tpdt.enti.nombre"></a></span>
            </p>
        </div>
        <div class="col-sm-3 col-md-2 form-group-sm">
            <label translate>entd_valorDefecto</label>
            <p class="form-control-static" ng-bind="vm.model.valorDefecto"></p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2 col-md-1 col-lg-1 form-group-sm">
            <label translate>entd_grupo</label>
            <p class="form-control-static number" ng-bind="vm.model.grupo"></p>
        </div>
        <div class="col-sm-2 col-md-1 col-lg-1 form-group-sm">
            <label translate>entd_fila</label>
            <p class="form-control-static number" ng-bind="vm.model.fila"></p>
        </div>
        <div class="col-sm-2 col-md-1 col-lg-1 form-group-sm">
            <label translate>entd_orden</label>
            <p class="form-control-static number" ng-bind="vm.model.orden"></p>
        </div>
        <div class="col-sm-2 col-md-1 col-lg-1 form-group-sm">
            <label translate>entd_span</label>
            <p class="form-control-static number" ng-bind="vm.model.span"></p>
        </div>
        <div class="col-sm-2 col-md-1 col-lg-1 form-group-sm">
            <label translate>entd_spanLg</label>
            <p class="form-control-static number" ng-bind="vm.model.spanLg"></p>
        </div>
        <div class="col-sm-2 col-md-1 col-lg-1 form-group-sm">
            <label translate>entd_obligatorio</label>
            <p class="form-control-static">
                <i class="glyphicon glyphicon-{{(vm.model.obligatorio ? 'ok' : 'remove')}}"></i>
            </p>
        </div>
        <div class="col-sm-2 col-md-1 col-lg-1 form-group-sm">
            <label translate>entd_gridable</label>
            <p class="form-control-static">
                <i class="glyphicon glyphicon-{{(vm.model.gridable ? 'ok' : 'remove')}}"></i>
            </p>
        </div>
        <div class="col-sm-2 col-md-1 col-lg-1 form-group-sm">
            <label translate>entd_filtrable</label>
            <p class="form-control-static">
                <i class="glyphicon glyphicon-{{(vm.model.filtrable ? 'ok' : 'remove')}}"></i>
            </p>
        </div>
    </div>
</fieldset>