<form novalidate role="form">
    <fieldset>
        <div class="row" ng-include="'modules/common/i18nMap-edit.html'"></div>

        <div class="row">
            <div class="col-sm-3 col-md-2 col-lg-2 form-group-sm" ng-switch="vm.accion">
                <label translate>tpdt</label> <select ng-switch-when="create" ng-model="vm.model.tpdt.id"
                    ng-options="labelValue.value as labelValue.label for labelValue in vm.tpdtList"
                    class="form-control">
                    <option />
                </select>
                <p ng-switch-when="edit" class="form-control-static" ng-bind="vm.model.tpdt.nombre"></p>
            </div>
            <div class="col-sm-3 col-md-2 form-group-sm">
                <label translate>entd_valorDefecto</label> <input type="text" ng-model="vm.model.valorDefecto"
                    class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2 col-md-1 col-lg-1 form-group-sm">
                <label translate>entd_grupo</label> <input type="text" ng-model="vm.model.grupo"
                    class="form-control number" />
            </div>
            <div class="col-sm-2 col-md-1 col-lg-1 form-group-sm">
                <label translate>entd_fila</label> <input type="text" ng-model="vm.model.fila"
                    class="form-control number" />
            </div>
            <div class="col-sm-2 col-md-1 col-lg-1 form-group-sm">
                <label translate>entd_orden</label> <input type="text" ng-model="vm.model.orden"
                    class="form-control number" />
            </div>
            <div class="col-sm-2 col-md-1 col-lg-1 form-group-sm">
                <label translate>entd_span</label> <input type="text" ng-model="vm.model.span"
                    class="form-control number" />
            </div>
            <div class="col-sm-2 col-md-1 col-lg-1 form-group-sm">
                <label translate>entd_obligatorio</label> <select ng-model="vm.model.obligatorio"
                    ng-options="item as ('format_' + item | translate) for item in [true , false]"
                    class="form-control">
                    <option />
                </select>
            </div>
            <div class="col-sm-2 col-md-1 col-lg-1 form-group-sm">
                <label translate>entd_gridable</label> <select ng-model="vm.model.gridable"
                    ng-options="item as ('format_' + item | translate) for item in [true , false]"
                    class="form-control">
                    <option />
                </select>
            </div>
            <div class="col-sm-2 col-md-1 col-lg-1 form-group-sm">
                <label translate>entd_filtrable</label> <select ng-model="vm.model.filtrable"
                    ng-options="item as ('format_' + item | translate) for item in [true , false]"
                    class="form-control">
                    <option />
                </select>
            </div>
        </div>
    </fieldset>

    <div class="btn-group">
        <button data-ng-click="vm.save()" class="btn btn-primary">
            <i class="glyphicon glyphicon-ok"></i> <span translate>btn_guardar</span>
        </button>
        <button data-ng-click="vm.cancel()" class="btn btn-default">
            <i class="glyphicon glyphicon-remove"></i> <span translate>btn_cancelar</span>
        </button>
    </div>
</form>
