<div data-ng-if="vm.model">
    <form role="form">
        <fieldset>
            <div class="row">
                <div class="col-sm-3 col-md-2 col-lg-2 form-group-sm" data-ng-switch="vm.accion">
                    <label data-translate="tpdt_codigo"></label> <input data-ng-switch-when="create"
                        type="text" data-ng-model="vm.model.codigo" class="form-control" />
                    <p data-ng-switch-when="edit" class="form-control-static" data-ng-bind="vm.model.codigo"></p>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-1 form-group-sm">
                    <label data-translate="tpdt_tpht"></label> <select data-ng-model="vm.model.tpht"
                        data-ng-options="cdrf as ('HtmlTipo_' + cdrf | translate) for cdrf in vm.tphtList"
                        class="form-control">
                        <option />
                    </select>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 form-group-sm">
                    <label data-translate="tpdt_tpel"></label> <select data-ng-model="vm.model.tipoElemento"
                        data-ng-options="cdrf as ('ElementoTipo_' + cdrf | translate) for cdrf in vm.tpelList"
                        class="form-control">
                        <option />
                    </select>
                </div>
                <div class="col-sm-5 col-md-4 col-lg-3 form-group-sm"
                    data-ng-show="vm.model.tipoElemento == 'PR'">
                    <label data-translate="tppr"></label> <select data-ng-model="vm.model.enti.id"
                        data-ng-options="enti.id as enti.nombre for enti in vm.entiTpprList"
                        class="form-control">
                        <option />
                    </select>
                </div>
                <div class="col-sm-5 col-md-4 col-lg-3 form-group-sm"
                    data-ng-show="vm.model.tipoElemento == 'SR'">
                    <label data-translate="tpsr"></label> <select data-ng-model="vm.model.enti.id"
                        data-ng-options="enti.id as enti.nombre for enti in vm.entiTpsrList"
                        class="form-control">
                        <option />
                    </select>
                </div>
            </div>

            <div class="row" data-ng-include="'modules/common/i18nMap-edit.html'"></div>
        </fieldset>

        <div class="btn-group">
            <button data-ng-click="vm.save()" class="btn btn-primary">
                <i class="glyphicon glyphicon-ok"></i> <span data-translate="btn_guardar"></span>
            </button>
            <button data-ng-click="vm.cancel()" class="btn btn-default">
                <i class="glyphicon glyphicon-remove"></i> <span data-translate="btn_cancelar"></span>
            </button>
        </div>
    </form>
</div>