<div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
        <div data-uib-pagination data-total-items="vm.resultList.count" data-items-per-page="vm.resultList.limit"
            data-ng-model="vm.page" data-ng-change="vm.pageChanged()" class="pagination" data-max-size="1"
            data-previous-text="&lsaquo;&lsaquo;" data-next-text="&rsaquo;&rsaquo;"></div>
    </div>

    <div class="btn-group">
        <button data-ng-if="mc.hasAccnPath('tpsr-list')" class="btn btn-default"
            data-ng-click="vm.filter('lg')"
            data-template-url="modules/metamodelo/fragment/tipo-servicio-filter-content.html"
            data-bs-modal="modal">
            <i class="glyphicon glyphicon-search"></i> <span data-translate="btn_filtrar"></span>
        </button>
        <a data-ng-if="mc.hasAccnPath('tpsr-create')" class="btn btn-default"
            data-ng-href="#/metamodelo/tipo-servicio/edit/create"><i class="glyphicon glyphicon-file"></i><span
            data-translate="btn_crear"></span> </a>
    </div>
</div>

<div class="table-responsive">
    <span class="label label-default" data-translate="grid_count"
        data-translate-value-count="{{(vm.resultList.count | number:0)}}"></span>

    <table class="table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th nowrap="nowrap" />
                <th data-translate="enti_codigo"></th>
                <th data-translate="enti_nombre"></th>
                <th data-translate="enti_cmdAlta"></th>
                <th data-translate="enti_cmdBaja"></th>
                <th data-translate="enti_cmdEdicion"></th>
                <th data-translate="enti_cmdDuplicado"></th>
                <th data-translate="enti_temporal"></th>
                <th data-translate="enti_facturable"></th>
                <th data-translate="enti_exencionable"></th>
                <th data-translate="enti_maxGrid"></th>
                <th data-translate="enti_tpdtEstado"></th>
                <th data-translate="enti_classpath"></th>
            </tr>
        </thead>

        <tbody>
            <tr data-ng-repeat="enti in vm.resultList.list track by $index">
                <td><a data-ng-href="#/metamodelo/tipo-servicio/detail/{{enti.id}}"><i
                        class="glyphicon glyphicon-search"></i></a></td>
                <td data-ng-bind="enti.codigo"></td>
                <td data-ng-bind="enti.nombre"></td>
                <td><i class="glyphicon glyphicon-{{(enti.cmdAlta ? 'ok' : 'remove')}}"></i></td>
                <td><i class="glyphicon glyphicon-{{(enti.cmdBaja ? 'ok' : 'remove')}}"></i></td>
                <td><i class="glyphicon glyphicon-{{(enti.cmdEdicion ? 'ok' : 'remove')}}"></i></td>
                <td><i class="glyphicon glyphicon-{{(enti.cmdDuplicado ? 'ok' : 'remove')}}"></i></td>
                <td><i class="glyphicon glyphicon-{{(enti.temporal ? 'ok' : 'remove')}}"></i></td>
                <td><i class="glyphicon glyphicon-{{(enti.facturable ? 'ok' : 'remove')}}"></i></td>
                <td><i class="glyphicon glyphicon-{{(enti.exencionable ? 'ok' : 'remove')}}"></i></td>
                <td class="number" data-ng-bind="(enti.maxGrid | number:0)"></td>
                <td data-ng-bind="enti.tpdtEstado.nombre"></td>
                <td data-ng-bind="enti.classpath"></td>
            </tr>
        </tbody>
    </table>
</div>
