<div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
        <a class="btn btn-default" ui-sref="tipo-dato-edit(vm.model)"><i class="glyphicon glyphicon-edit"></i>
            <span translate>btn_editar</span></a>
        <button data-ng-click="vm.remove()" class="btn btn-default">
            <i class="glyphicon glyphicon-remove"></i> <span translate>btn_borrar</span>
        </button>
    </div>
</div>

<fieldset>
    <div class="row">
        <div class="col-sm-3 col-md-2 col-lg-2 form-group-sm">
            <label translate>tpdt_codigo</label>
            <p class="form-control-static" ng-bind="vm.model.codigo"></p>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-1 form-group-sm">
            <label translate>tpdt_tpht</label>
            <p class="form-control-static" ng-bind="('HtmlTipo_' + vm.model.tpht | translate)"></p>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2 form-group-sm">
            <label translate>tpdt_tpel</label>
            <p class="form-control-static" ng-bind="('ElementoTipo_' + vm.model.tipoElemento | translate)"></p>
        </div>
        <div ng-if="vm.model.enti.id" class="col-sm-4 col-md-3 col-lg-2 form-group-sm">
            <label translate>enti</label>
            <p class="form-control-static">
                <a ng-if="vm.model.enti.tipo == 'T'" ui-sref="tiposervicio-detail(vm.model.enti)"
                    ng-bind="vm.model.enti.nombre"></a><a ng-if="vm.model.enti.tipo == 'S'"
                    ui-sref="tiposubservicio-detail(vm.model.enti)" ng-bind="vm.model.enti.nombre"></a><a
                    ng-if="vm.model.enti.tipo == 'P'" ui-sref="tipoparametro-detail(vm.model.enti)"
                    ng-bind="vm.model.enti.nombre"></a><a ng-if="vm.model.enti.tipo == 'B'"
                    ui-sref="tiposubparametro-detail(vm.model.enti)" ng-bind="vm.model.enti.nombre"></a> <a
                    ng-if="vm.model.enti.tipo == 'E'" ui-sref="tipoestadistica-detail(vm.model.enti)"
                    ng-bind="vm.model.enti.nombre"></a>
            </p>
        </div>
    </div>

    <div class="row" ng-include="'modules/common/i18nMap-detail.html'"></div>
</fieldset>

<div ng-if="vm.model.tipoElemento == 'CR'">
    <legend ng-bind="'Valores de Codigo de Referencia'"></legend>

    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a class="btn btn-default" ui-sref="codigo-referencia-create({tpdtId: vm.model.id})"><i
                class="glyphicon glyphicon-file"></i> <span translate>btn_crear</span></a>
        </div>
    </div>

    <table class="table-bordered table-condensed table-hover table-nonfluid">
        <thead>
            <tr>
                <th class="buttonLinks" nowrap="nowrap" />
                <th translate>cdrf_valor</th>
                <th translate>cdrf_texto</th>
                <th translate>cdrf_orden</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="cdrf in vm.model.cdrfList track by $index">
                <td><a ui-sref="codigo-referencia-detail(cdrf)"><i class="glyphicon glyphicon-search"></i></a></td>
                <td ng-bind="cdrf.valor"></td>
                <td ng-bind="cdrf.texto"></td>
                <td class="number" ng-bind="cdrf.orden"></td>
            </tr>
        </tbody>
    </table>
</div>