<form name="searchForm" novalidate role="form">
    <input type="hidden" ng-model="page" />

    <fieldset>
        <div class="row">
            <div class="col-md-1 form-group">
                <label>{{"tpdt_codigo" | translate}}</label> <input type="text" ng-model="tpdtCriterio.codigo"
                    class="form-control input-sm" maxlength="4" />
            </div>
            <div class="col-md-5 form-group">
                <label>{{"tpdt_nombre" | translate}}</label> <input type="text" ng-model="tpdtCriterio.nombre"
                    class="form-control input-sm" maxlength="50" />
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <button data-ng-click="search()" class="btn btn-primary">
                    <i class="glyphicon glyphicon-search"></i> {{'boton_buscar' | translate}}
                </button>
                <button data-ng-click="cancel()" class="btn btn-default">
                    <i class="glyphicon glyphicon-remove"></i> {{'boton_cancelar' | translate}}
                </button>
            </div>
        </div>
    </fieldset>
</form>
