<div ng-if="vm.tpdt">
    <form role="form">
        <input type="hidden" ng-model="vm.accion" /><input type="hidden" ng-model="vm.tpdt.id" />

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 col-lg-2 form-group">
                    <label translate>tpdt_codigo</label> <input ng-if="vm.accion == 'create'" type="text"
                        ng-model="vm.tpdt.codigo" class="form-control input-sm" />
                    <p ng-if="vm.accion == 'edit'" class="form-control-static" ng-bind="vm.tpdt.codigo"></p>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-1 form-group">
                    <label translate>tpdt_tpht</label> <select ng-model="vm.tpdt.tpht"
                        ng-options="cdrf as ('HtmlTipo_' + cdrf | translate) for cdrf in vm.tphts"
                        class="form-control input-sm">
                        <option />
                    </select>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-1 form-group">
                    <label translate>tpdt_tpel</label> <select
                        ng-options="cdrf as ('ElementoTipo_' + cdrf | translate) for cdrf in vm.tiposElemento"
                        ng-model="vm.tpdt.tipoElemento" class="form-control input-sm">
                        <option />
                    </select>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-2 form-group" ng-show="vm.tpdt.tipoElemento == 'PR'">
                    <label translate>tpdt_enti</label> <select ng-model="vm.tpdt.enti.id"
                        ng-options="labelValue.value as labelValue.label for labelValue in vm.entiTpprList"
                        class="form-control input-sm">
                        <option />
                    </select>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-2 form-group" ng-show="vm.tpdt.tipoElemento == 'SR'">
                    <label translate>tpdt_enti</label> <select ng-model="vm.entd.tpdt.id"
                        ng-options="labelValue.value as labelValue.label for labelValue in vm.entiTpsrList"
                        class="form-control input-sm">
                        <option />
                    </select>
                </div>
            </div>

            <div class="row" ng-include="'modules/common/i18nMap-edit.html'"></div>
        </div>

        <div class="btn-group">
            <button data-ng-click="vm.save()" class="btn btn-primary">
                <i class="glyphicon glyphicon-ok"></i> <span translate>btn_guardar</span>
            </button>
            <button data-ng-click="vm.cancel()" class="btn btn-default">
                <i class="glyphicon glyphicon-remove"></i> <span translate>btn_cancelar</span>
            </button>
        </div>
    </form>
</div>
