<fieldset ng-if="showFilter">
    <div class="row">
        <div class="col-md-1 form-group">
            <label>{{"tpdt_codigo" | translate}}</label> <input type="text" ng-model="tpdtCriterio.codigo"
                class="form-control input-sm" maxlength="4" />
        </div>
        <div class="col-md-5 form-group">
            <label>{{"tpdt_nombre" | translate}}</label> <input type="text" ng-model="tpdtCriterio.nombre"
                class="form-control input-sm" maxlength="50" />
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <button data-ng-click="search()" class="btn btn-primary">
                <i class="glyphicon glyphicon-search"></i> {{'boton_buscar' | translate}}
            </button>
            <button data-ng-click="cancelSearch()" class="btn btn-default">
                <i class="glyphicon glyphicon-remove"></i> {{'boton_cancelar' | translate}}
            </button>
        </div>
    </div>
</fieldset>

<fieldset>
    <div ng-if="!showFilter" class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a class="btn btn-default" href="#/metamodelo/tpdt/create"><i class="glyphicon glyphicon-file"></i>
                {{'boton_alta' | translate}}</a>
            <button data-ng-click="filter()" class="btn btn-default">
                <i class="glyphicon glyphicon-search"></i> {{'boton_filtro' | translate}}
            </button>
        </div>
    </div>

    <pagination total-items="tpdtList.count" ng-model="currentPage" ng-change="pageChanged()"
        class="pagination-sm" max-size="1" previous-text="&lsaquo;" next-text="&rsaquo;"></pagination>

    <div class="table-responsive">
        <span class="label label-default">{{tpdtList.count}} resultado(s)</span>

        <table class="table-bordered table-condensed table-hover table-nonfluid">
            <thead>
                <tr>
                    <th class="buttonLinks" nowrap="nowrap" />
                    <th class="codigo" nowrap="nowrap">{{"tpdt_codigo" | translate}}</th>
                    <th nowrap="nowrap">{{"tpdt_nombre" | translate}}</th>
                    <th nowrap="nowrap">{{"tpdt_tpht" | translate}}</th>
                    <th nowrap="nowrap">{{"tpdt_tipoElemento" | translate}}</th>
                    <th nowrap="nowrap">{{"tpdt_enti" | translate}}</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="tpdt in tpdtList.list">
                    <td><a href="#/metamodelo/tpdt/detail/{{tpdt.id}}"><i class="glyphicon glyphicon-search"></i></a></td>
                    <td>{{tpdt.codigo}}</td>
                    <td>{{tpdt.nombre}}</td>
                    <td>{{tpdt.tpht}}</td>
                    <td>{{tpdt.tipoElemento}}</td>
                    <td><a ng-if="tpdt.enti.tipo == 'T'" href="#/metamodelo/tpsr/detail/{{tpdt.enti.id}}">{{tpdt.enti.nombre}}</a><a
                        ng-if="tpdt.enti.tipo == 'S'" href="#/metamodelo/tpss/detail/{{tpdt.enti.id}}">{{tpdt.enti.nombre}}</a><a
                        ng-if="tpdt.enti.tipo == 'P'" href="#/metamodelo/tppr/detail/{{tpdt.enti.id}}">{{tpdt.enti.nombre}}</a><a
                        ng-if="tpdt.enti.tipo == 'B'" href="#/metamodelo/tpsp/detail/{{tpdt.enti.id}}">{{tpdt.enti.nombre}}</a>
                        <a ng-if="tpdt.enti.tipo == 'E'" href="#/metamodelo/tpes/detail/{{tpdt.enti.id}}">{{tpdt.enti.nombre}}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</fieldset>