<form role="form">
    <input type="hidden" ng-model="accion" /><input type="hidden" ng-model="tpdt.id" />

    <fieldset>
        <div class="row">
            <div class="col-md-2 form-group">
                <label>{{"tpdt_codigo" | translate}}</label> <input ng-if="accion == 'create'" type="text"
                    ng-model="tpdt.codigo" class="form-control input-sm" />
                <p ng-if="accion == 'edit'" class="form-control-static">{{tpdt.codigo}}</p>
            </div>
            <div class="col-md-3 form-group">
                <label>{{"tpdt_nombre" | translate}}</label> <input ng-if="accion == 'create'" type="text"
                    ng-model="tpdt.nombre" class="form-control input-sm" />
                <p ng-if="accion == 'edit'" class="form-control-static">{{tpdt.nombre}}</p>
            </div>
            <div class="col-md-2 form-group">
                <label>{{"tpdt_tpht" | translate}}</label> <select ng-model="tpdt.tpht" class="form-control input-sm">
                    <option />
                    <option ng-repeat="cdrf in tphts" value="{{cdrf}}">{{cdrf}} - {{"TipoHtml_" + cdrf |
                        translate}}</option>
                </select>
            </div>
            <div class="col-md-2 form-group">
                <label>{{"tpdt_tipoElemento" | translate}}</label> <select ng-model="tpdt.tipoElemento"
                    class="form-control input-sm">
                    <option />
                    <option ng-repeat="cdrf in tiposElemento" value="{{cdrf}}">{{cdrf}} - {{"TipoElemento_" +
                        cdrf | translate}}</option>
                </select>
            </div>
            <div class="col-md-3 form-group" ng-if="tpdt.tipoElemento == 'PR'">
                <label>{{"tpdt_enti" | translate}}</label> <select ng-model="tpdt.enti.id" class="form-control input-sm">
                    <option value="" />
                    <option ng-repeat="labelValue in entiTpprList" value="{{labelValue.value}}">{{labelValue.label}}</option>
                </select>
            </div>
            <div class="col-md-3 form-group" ng-if="tpdt.tipoElemento == 'SR'">
                <label>{{"tpdt_enti" | translate}}</label> <select ng-model="entd.tpdt.id" class="form-control input-sm">
                    <option value="" />
                    <option ng-repeat="labelValue in entiTpsrList" value="{{labelValue.value}}">{{labelValue.label}}</option>
                </select>
            </div>
        </div>

        <alert ng-if="actionErrors" type="danger"> <span>{{'errors' | translate}}:</span>
        <ul>
            <li ng-repeat="error in actionErrors">{{error}}</li>
        </ul>
        </alert>

        <button data-ng-click="save()" class="btn btn-primary">
            <i class="glyphicon glyphicon-ok"></i> {{'boton_guardar' | translate}}
        </button>
        <button data-ng-click="cancel()" class="btn btn-default">
            <i class="glyphicon glyphicon-remove"></i> {{'boton_cancelar' | translate}}
        </button>
    </fieldset>
</form>

