<div ng-if="vm.enti">
	<div class="btn-toolbar" role="toolbar">
		<div class="btn-group">
			<a class="btn btn-default" ng-href="#/metamodelo/tpes/edit/{{vm.enti.id}}"><i
				class="glyphicon glyphicon-edit"></i> <span translate>btn_editar</span></a>
			<button data-ng-click="vm.remove()" class="btn btn-default">
				<i class="glyphicon glyphicon-remove"></i> <span translate>btn_borrar</span>
			</button>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 col-lg-2 form-group">
				<label translate>enti_codigo</label>
				<p class="form-control-static" ng-bind="vm.enti.codigo"></p>
			</div>
			<div class="col-sm-4 col-md-3 col-lg-2 form-group">
				<label translate>enti_nombre</label>
				<p class="form-control-static" ng-bind="vm.enti.nombre"></p>
			</div>
			<div class="col-sm-3 col-md-2 col-lg-2 form-group">
				<label translate>enti_tipo</label>
				<p class="form-control-static" bs-tooltip data-title="{{'TipoEntidad_' + vm.enti.tipo | translate}}"
					ng-bind="vm.enti.tipo"></p>
			</div>
			<div class="col-sm-3 col-md-2 form-group">
				<label translate>enti_maxGrid</label>
				<p class="form-control-static number" ng-bind="vm.enti.maxGrid | number:0"></p>
			</div>
		</div>

		<div class="row" ng-include="'modules/common/i18nMap-detail.html'"></div>
	</div>

	<div ng-include="'modules/metamodelo/fragment/engd-grid-content.html'"></div>
	<div ng-include="'modules/metamodelo/fragment/entd-grid-content.html'"></div>

	<fieldset>
		<legend translate="cmagList"></legend>

		<div class="btn-toolbar" role="toolbar">
			<div class="btn-group">
				<a class="btn btn-default" ng-href="#/metamodelo/cmag/create/{{vm.enti.id}}"><i
					class="glyphicon glyphicon-file"></i> <span translate>btn_crear</span></a>
			</div>
		</div>

		<table ng-if="vm.enti.cmagList" class="table-bordered table-condensed table-hover table-nonfluid">
			<thead>
				<tr>
					<th class="buttonLinks" nowrap="nowrap" />
					<th translate>cmag_nombre</th>
					<th translate>cmag_agregar</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="cmag in vm.enti.cmagList track by $index">
					<td><a ng-href="#/metamodelo/cmag/detail/{{cmag.tpesId}}/{{cmag.entd.id}}"><i
							class="glyphicon glyphicon-search"></i></a></td>
					<td ng-bind="cmag.nombre"></td>
					<td><i class="glyphicon glyphicon-{{cmag.agregar ? 'ok' : 'remove'}}"></i></td>
				</tr>
			</tbody>
		</table>
	</fieldset>

	<div ng-include="'modules/metamodelo/fragment/enac-grid-content.html'"></div>
</div>