<form name="editForm" novalidate role="form">
    <input type="hidden" ng-model="accion" /><input type="hidden" ng-model="enti.id" /> <input type="hidden"
        ng-model="enti.tipo" />

    <fieldset>
        <div class="row">
            <div class="col-md-2 form-group">
                <label>{{"enti_codigo" | translate}}</label> <input ng-if="accion == 'create'" type="text"
                    ng-model="enti.codigo" class="form-control input-sm" />
                <p ng-if="accion == 'edit'" class="form-control-static">{{enti.codigo}}</p>
            </div>
            <div class="col-md-3 form-group">
                <label>{{"enti_nombre" | translate}}</label> <input ng-if="accion == 'create'" type="text"
                    ng-model="enti.nombre" class="form-control input-sm" />
                <p ng-if="accion == 'edit'" class="form-control-static">{{enti.nombre}}</p>
            </div>
        </div>

        <div class="row">
            <!--
            <div class="col-md-2 form-group">
                <label>{{"enti_i18n" | translate}}</label> <select ng-model="enti.i18n" class="form-control input-sm">
                    <option />
                    <option value="true">{{"fmt_true" | translate}}</option>
                    <option value="false">{{"fmt_false" | translate}}</option>
                </select>
            </div>
            <div class="col-md-2 form-group">
                <label>{{"enti_tempExp" | translate}}</label> <select ng-model="enti.tempExp"
                    class="form-control input-sm">
                    <option />
                    <option value="true">{{"fmt_true" | translate}}</option>
                    <option value="false">{{"fmt_false" | translate}}</option>
                </select>
            </div>
 -->
        </div>

        <alert ng-if="actionErrors" type="danger"> <span>{{'errors' | translate}}:</span>
        <ul>
            <li ng-repeat="error in actionErrors">{{error}}</li>
        </ul>
        </alert>

        <button data-ng-click="save()" class="btn btn-primary">
            <i class="glyphicon glyphicon-ok"></i> {{'boton_guardar' | translate}}
        </button>
        <button data-ng-click="cancel()" class="btn btn-default">
            <i class="glyphicon glyphicon-remove"></i> {{'boton_cancelar' | translate}}
        </button>
    </fieldset>
</form>

