
<fieldset>
    <legend>{{enti.nombre | uppercase}}</legend>

    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <button data-ng-click="edit()" class="btn btn-default">
                <i class="glyphicon glyphicon-edit"></i> {{'boton_editar' | translate}}
            </button>
            <button data-ng-click="remove()" class="btn btn-default">
                <i class="glyphicon glyphicon-remove"></i> {{'boton_borrar' | translate}}
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 form-group">
            <label> {{"enti_codigo" | translate}} </label>
            <p class="form-control-static">{{enti.codigo}}</p>
        </div>
        <div class="col-md-3 form-group">
            <label> {{"enti_nombre" | translate}} </label>
            <p class="form-control-static">{{enti.nombre}}</p>
        </div>
        <div class="col-md-2 form-group">
            <label> {{"enti_tipo" | translate}} </label>
            <p class="form-control-static" title="{{'TipoEntidad_' + enti.tipo | translate}}">{{enti.tipo}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 form-group">
            <label> {{"enti_cmd_alta" | translate}} </label>
            <p class="form-control-static">
                <i ng-if="enti.cmdAlta" class="glyphicon glyphicon-ok"></i>
            </p>
        </div>
        <div class="col-md-1 form-group">
            <label> {{"enti_cmd_baja" | translate}} </label>
            <p class="form-control-static">
                <i ng-if="enti.cmdBaja" class="glyphicon glyphicon-ok"></i>
            </p>
        </div>
        <div class="col-md-1 form-group">
            <label> {{"enti_cmd_edicion" | translate}} </label>
            <p class="form-control-static">
                <i ng-if="enti.cmdEdicion" class="glyphicon glyphicon-ok"></i>
            </p>
        </div>
        <div class="col-md-1 form-group">
            <label> {{"enti_cmd_duplicado" | translate}} </label>
            <p class="form-control-static">
                <i ng-if="enti.cmdDuplicado" class="glyphicon glyphicon-ok"></i>
            </p>
        </div>
        <div class="col-md-1 form-group">
            <label> {{"enti_i18n" | translate}} </label>
            <p class="form-control-static">
                <i ng-if="enti.i18n" class="glyphicon glyphicon-ok"></i>
            </p>
        </div>
        <div class="col-md-1 form-group">
            <label> {{"enti_tempExp" | translate}} </label>
            <p class="form-control-static">
                <i ng-if="enti.tempExp" class="glyphicon glyphicon-ok"></i>
            </p>
        </div>
        <div class="col-md-3 form-group">
            <label> {{"enti_tpdt_nombre" | translate}} </label>
            <p class="form-control-static">
                <a href="#/metamodelo/tpdt/detail/{{enti.tpdtNombre.id}}">{{enti.tpdtNombre.nombre}}</a>
            </p>
        </div>
    </div>
</fieldset>

<fieldset>
    <legend>{{"Datos" | uppercase}}</legend>

    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a class="btn btn-default" href="#/metamodelo/entd/create/{{enti.id}}"><i
                class="glyphicon glyphicon-file"></i> {{'boton_alta' | translate}}</a>
        </div>
    </div>

    <table ng-if="enti.entdList" class="table-bordered table-condensed table-hover table-nonfluid">
        <thead>
            <tr>
                <th class="buttonLinks" nowrap="nowrap" />
                <th>{{"entd_grupo" | translate}}</th>
                <th>{{"entd_fila" | translate}}</th>
                <th>{{"entd_orden" | translate}}</th>
                <th>{{"entd_span" | translate}}</th>
                <th>{{"entd_spanLg" | translate}}</th>
                <th>{{"entd_etiqueta" | translate}}</th>
                <th>{{"entd_obligatorio" | translate}}</th>
                <th>{{"entd_gridable" | translate}}</th>
                <th>{{"entd_filtrable" | translate}}</th>
                <th>{{"entd_tpdt_nombre" | translate}}</th>
                <th>{{"entd_tpdt_tipoElemento" | translate}}</th>
                <th>{{"entd_tpdt_tpht" | translate}}</th>
                <th>{{"entd_tpdt_enti" | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="entd in enti.entdList">
                <td><a href="#/metamodelo/entd/detail/{{enti.id}}/{{entd}}"><i
                        class="glyphicon glyphicon-search"></i></a></td>
                <td>{{enti.entdMap[entd].grupo}}</td>
                <td>{{enti.entdMap[entd].fila}}</td>
                <td>{{enti.entdMap[entd].orden}}</td>
                <td>{{enti.entdMap[entd].span}}</td>
                <td>{{enti.entdMap[entd].spanLg}}</td>
                <td>{{enti.entdMap[entd].etiqueta}}</td>
                <td><i ng-if="enti.entdMap[entd].obligatorio" class="glyphicon glyphicon-ok"></i></td>
                <td><i ng-if="enti.entdMap[entd].gridable" class="glyphicon glyphicon-ok"></i></td>
                <td><i ng-if="enti.entdMap[entd].filtrable" class="glyphicon glyphicon-ok"></i></td>
                <td><a href="#/metamodelo/tpdt/detail/{{enti.entdMap[entd].tpdt.id}}">{{enti.entdMap[entd].tpdt.nombre}}</a></td>
                <td title="{{'TipoElemento_' + enti.entdMap[entd].tpdt.tipoElemento | translate}}">{{enti.entdMap[entd].tpdt.tipoElemento}}</td>
                <td title="{{'TipoHtml_' + enti.entdMap[entd].tpdt.tpht | translate}}">{{enti.entdMap[entd].tpdt.tpht}}</td>
                <td><span ng-if="enti.entdMap[entd].tpdt.enti"> <a
                        ng-if="enti.entdMap[entd].tpdt.enti.tipo == 'P'"
                        href="#/metamodelo/tppr/detail/{{enti.entdMap[entd].tpdt.enti.id}}">{{enti.entdMap[entd].tpdt.enti.etiqueta}}</a><a
                        ng-if="enti.entdMap[entd].tpdt.enti.tipo == 'T'"
                        href="#/metamodelo/tpsr/detail/{{enti.entdMap[entd].tpdt.enti.id}}">{{enti.entdMap[entd].tpdt.enti.etiqueta}}</a></span>
                </td>
            </tr>
        </tbody>
    </table>
</fieldset>

<fieldset>
    <legend>{{"Subentidades" | uppercase}}</legend>

    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a class="btn btn-default" href="#/metamodelo/tpsp/create/{{enti.id}}"><i
                class="glyphicon glyphicon-file"></i> {{'boton_alta' | translate}}</a>
        </div>
    </div>

    <table ng-if="subentiList" class="table-bordered table-condensed table-hover table-nonfluid">
        <thead>
            <tr>
                <th class="buttonLinks" nowrap="nowrap" />
                <th>{{"enti_codigo" | translate}}</th>
                <th>{{"enti_nombre" | translate}}</th>
                <th>{{"enti_cmd_alta" | translate}}</th>
                <th>{{"enti_cmd_baja" | translate}}</th>
                <th>{{"enti_cmd_edicion" | translate}}</th>
                <th>{{"enti_cmd_duplicado" | translate}}</th>
                <th>{{"enti_tpprAsociado" | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="subenti in subentiList">
                <td><a href="#/metamodelo/tpsp/detail/{{subenti.id}}"><i class="glyphicon glyphicon-search"></i></a></td>
                <td>{{subenti.codigo}}</td>
                <td>{{subenti.nombre}}</td>
                <td><i ng-if="subenti.cmdAlta" class="glyphicon glyphicon-ok"></i></td>
                <td><i ng-if="subenti.cmdBaja" class="glyphicon glyphicon-ok"></i></td>
                <td><i ng-if="subenti.cmdEdicion" class="glyphicon glyphicon-ok"></i></td>
                <td><i ng-if="subenti.cmdDuplicado" class="glyphicon glyphicon-ok"></i></td>
                <td><a ng-if="subenti.tpprAsociado" href="#/metamodelo/tppr/detail/{{subenti.tpprAsociado.id}}">{{subenti.tpprAsociado.etiqueta}}</a></td>
            </tr>
        </tbody>
    </table>
</fieldset>
