<fieldset ng-if="showFilter">
    <div class="row-fluid">
        <div class="col-md-1 form-group">
            <label>{{"tppr_codigo" | translate}}</label> <input type="text" ng-model="entiCriterio.codigo"
                class="form-control input-sm" maxlength="4" />
        </div>
        <div class="col-md-5 form-group">
            <label>{{"tppr_nombre" | translate}}</label> <input type="text" ng-model="entiCriterio.nombre"
                class="form-control input-sm" maxlength="50" />
        </div>
    </div>

    <div class="btn-group">
        <button data-ng-click="search()" class="btn btn-primary">
            <i class="glyphicon glyphicon-search"></i> {{'boton_buscar' | translate}}
        </button>
        <button data-ng-click="cancelSearch()" class="btn btn-default">
            <i class="glyphicon glyphicon-remove"></i> {{'boton_cancelar' | translate}}
        </button>
    </div>
</fieldset>

<fieldset>
    <div ng-if="!showFilter" class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a class="btn btn-default" href="#/metamodelo/tppr/create"><i class="glyphicon glyphicon-file"></i>
                {{'boton_alta' | translate}}</a>
            <button data-ng-click="filter()" class="btn btn-default">
                <i class="glyphicon glyphicon-search"></i> {{'boton_filtro' | translate}}
            </button>
        </div>
    </div>

    <pagination total-items="entiList.count" items-per-page="entiList.limit" ng-model="page" ng-change="pageChanged()"
        class="pagination-sm" max-size="1" previous-text="&lsaquo;" next-text="&rsaquo;"></pagination>

    <div class="table-responsive">
        <span class="label label-default">{{entiList.count}} resultado(s)</span>

        <table class="table-bordered table-condensed table-hover table-nonfluid">
            <thead>
                <tr>
                    <th class="buttonLinks" nowrap="nowrap" />
                    <th class="codigo" nowrap="nowrap">{{"enti_codigo" | translate}}</th>
                    <th nowrap="nowrap">{{"enti_nombre" | translate}}</th>
                    <th nowrap="nowrap">{{"enti_cmd_alta" | translate}}</th>
                    <th nowrap="nowrap">{{"enti_cmd_baja" | translate}}</th>
                    <th nowrap="nowrap">{{"enti_cmd_edicion" | translate}}</th>
                    <th nowrap="nowrap">{{"enti_cmd_duplicado" | translate}}</th>
                    <th nowrap="nowrap">{{"enti_i18n" | translate}}</th>
                    <th nowrap="nowrap">{{"enti_tempExp" | translate}}</th>
                    <th nowrap="nowrap">{{"enti_tpdt_nombre" | translate}}</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="enti in entiList.list">
                    <td><a href="#/metamodelo/tppr/detail/{{enti.id}}"><i class="glyphicon glyphicon-search"></i></a></td>
                    <td>{{enti.codigo}}</td>
                    <td>{{enti.nombre}}</td>
                    <td><i ng-if="enti.cmdAlta" class="glyphicon glyphicon-ok"></i><i ng-if="!enti.cmdAlta"
                        class="glyphicon glyphicon-remove"></i></td>
                    <td><i ng-if="enti.cmdBaja" class="glyphicon glyphicon-ok"></i><i ng-if="!enti.cmdBaja"
                        class="glyphicon glyphicon-remove"></i></td>
                    <td><i ng-if="enti.cmdEdicion" class="glyphicon glyphicon-ok"></i><i ng-if="!enti.cmdEdicion"
                        class="glyphicon glyphicon-remove"></i></td>
                    <td><i ng-if="enti.cmdDuplicado" class="glyphicon glyphicon-ok"></i><i
                        ng-if="!enti.cmdDuplicado" class="glyphicon glyphicon-remove"></i></td>
                    <td><i ng-if="enti.i18n" class="glyphicon glyphicon-ok"></i><i ng-if="!enti.i18n"
                        class="glyphicon glyphicon-remove"></i></td>
                    <td><i ng-if="enti.tempExp" class="glyphicon glyphicon-ok"></i><i ng-if="!enti.tempExp"
                        class="glyphicon glyphicon-remove"></i></td>
                    <td><a href="#/metamodelo/tpdt/detail/{{enti.tpdtNombre.id}}">{{enti.tpdtNombre.nombre}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</fieldset>