<alert ng-if="actionErrors" type="danger"> <span>{{'errors' | translate}}:</span>
<ul>
    <li ng-repeat="error in actionErrors">{{error}}</li>
</ul>
</alert>

<form name="editForm" novalidate role="form">
    <input type="hidden" ng-model="accion" /><input type="hidden" ng-model="enti.id" /> <input type="hidden"
        ng-model="enti.tipo" />

    <fieldset>
        <div class="row">
            <div class="col-md-2 form-group">
                <label>{{"enti_codigo" | translate}}</label> <input ng-if="accion == 'create'" type="text"
                    ng-model="enti.codigo" class="form-control input-sm" />
                <p ng-if="accion == 'edit'" class="form-control-static">{{enti.codigo}}</p>
            </div>
            <div class="col-md-3 form-group">
                <label>{{"enti_nombre" | translate}}</label> <input ng-if="accion == 'create'" type="text"
                    ng-model="enti.nombre" class="form-control input-sm" />
                <p ng-if="accion == 'edit'" class="form-control-static">{{enti.nombre}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1 form-group">
                <label>{{"enti_cmd_alta" | translate}}</label> <select ng-model="enti.cmdAlta"
                    class="form-control input-sm">
                    <option />
                    <option value="true" ng-selected="enti.cmdAlta == true">{{"fmt_true" | translate}}</option>
                    <option value="false" ng-selected="enti.cmdAlta == false">{{"fmt_false" | translate}}</option>
                </select>
            </div>
            <div class="col-md-1 form-group">
                <label>{{"enti_cmd_baja" | translate}}</label> <select ng-model="enti.cmdBaja"
                    class="form-control input-sm">
                    <option />
                    <option value="true" ng-selected="enti.cmdBaja == true">{{"fmt_true" | translate}}</option>
                    <option value="false" ng-selected="enti.cmdBaja == false">{{"fmt_false" | translate}}</option>
                </select>
            </div>
            <div class="col-md-1 form-group">
                <label>{{"enti_cmd_edicion" | translate}}</label> <select ng-model="enti.cmdEdicion"
                    class="form-control input-sm">
                    <option />
                    <option value="true" ng-selected="enti.cmdEdicion == true">{{"fmt_true" | translate}}</option>
                    <option value="false" ng-selected="enti.cmdEdicion == false">{{"fmt_false" | translate}}</option>
                </select>
            </div>
            <div class="col-md-1 form-group">
                <label>{{"enti_cmd_duplicado" | translate}}</label> <select ng-model="enti.cmdDuplicado"
                    class="form-control input-sm">
                    <option />
                    <option value="true" ng-selected="enti.cmdDuplicado == true">{{"fmt_true" | translate}}</option>
                    <option value="false" ng-selected="enti.cmdDuplicado == false">{{"fmt_false" | translate}}</option>
                </select>
            </div>
            <div class="col-md-1 form-group">
                <label>{{"enti_i18n" | translate}}</label> <select ng-model="enti.i18n" class="form-control input-sm">
                    <option />
                    <option value="true" ng-selected="enti.i18n == true">{{"fmt_true" | translate}}</option>
                    <option value="false" ng-selected="enti.i18n == false">{{"fmt_false" | translate}}</option>
                </select>
            </div>
            <div class="col-md-1 form-group">
                <label>{{"enti_tempExp" | translate}}</label> <select ng-model="enti.tempExp"
                    class="form-control input-sm">
                    <option />
                    <option value="true" ng-selected="enti.tempExp == true">{{"fmt_true" | translate}}</option>
                    <option value="false" ng-selected="enti.tempExp == false">{{"fmt_false" | translate}}</option>
                </select>
            </div>
            <div ng-if="!(enti.i18n == 'true')" class="col-md-3 form-group">
                <label>{{"enti_tpdt_nombre" | translate}}</label> <select ng-model="enti.tpdtNombre.id"
                    class="form-control input-sm">
                    <option value="" />
                    <option ng-repeat="labelValue in tpdtNombreList" value="{{labelValue.value}}"
                        ng-selected="enti.tpdtNombre.id == labelValue.value">{{labelValue.label}}</option>
                </select>
            </div>
        </div>

        <button data-ng-click="submit(editForm)" class="btn btn-default">
            <i class="glyphicon glyphicon-ok"></i> {{'boton_guardar' | translate}}
        </button>
    </fieldset>
</form>

