<form name="editForm" novalidate role="form">
    <input type="hidden" ng-model="accion" /><input type="hidden" ng-model="enti.id" /> <input type="hidden"
        ng-model="enti.tipo" />

    <fieldset>
        <div class="row-fluid">
            <div class="col-sm-3 col-md-2 col-lg-2 form-group">
                <label translate>enti_codigo</label> <input ng-if="accion == 'create'" type="text"
                    ng-model="enti.codigo" class="form-control input-sm" />
                <p ng-if="accion == 'edit'" class="form-control-static" ng-bind="enti.codigo"></p>
            </div>
            <div class="col-sm-4 col-md-3 col-lg-2 form-group">
                <label translate>enti_nombre</label> <input ng-if="accion == 'create'" type="text"
                    ng-model="enti.nombre" class="form-control input-sm" />
                <p ng-if="accion == 'edit'" class="form-control-static" ng-bind="enti.nombre"></p>
            </div>
        </div>

        <div class="row-fluid">
            <div class="col-sm-2 col-md-1 col-lg-1 form-group">
                <label translate>enti_cmdAlta</label> <select ng-model="enti.cmdAlta"
                    ng-options="item as ('format_' + item | translate) for item in [true , false]"
                    class="form-control input-sm">
                    <option />
                </select>
            </div>
            <div class="col-sm-2 col-md-1 col-lg-1 form-group">
                <label translate>enti_cmdBaja</label> <select ng-model="enti.cmdBaja"
                    ng-options="item as ('format_' + item | translate) for item in [true , false]"
                    class="form-control input-sm">
                    <option />
                </select>
            </div>
            <div class="col-sm-2 col-md-1 col-lg-1 form-group">
                <label translate>enti_cmdEdicion</label> <select ng-model="enti.cmdEdicion"
                    ng-options="item as ('format_' + item | translate) for item in [true , false]"
                    class="form-control input-sm">
                    <option />
                </select>
            </div>
            <div class="col-sm-2 col-md-1 col-lg-1 form-group">
                <label translate>enti_cmdDuplicado</label> <select ng-model="enti.cmdDuplicado"
                    ng-options="item as ('format_' + item | translate) for item in [true , false]"
                    class="form-control input-sm">
                    <option />
                </select>
            </div>
            <div class="col-sm-2 col-md-1 col-lg-1 form-group">
                <label translate>enti_i18n</label> <select ng-model="enti.i18n"
                    ng-options="item as ('format_' + item | translate) for item in [true , false]"
                    class="form-control input-sm">
                    <option />
                </select>
            </div>
            <div class="col-sm-2 col-md-1 col-lg-1 form-group">
                <label translate>enti_tempExp</label> <select ng-model="enti.tempExp"
                    ng-options="item as ('format_' + item | translate) for item in [true , false]"
                    class="form-control input-sm">
                    <option />
                </select>
            </div>
            <div class="col-sm-3 col-md-2 col-lg-1 form-group">
                <label translate>enti_maxGrid</label> <input type="text" ng-model="enti.maxGrid"
                    class="form-control input-sm" />
            </div>
            <div class="col-sm-4 col-md-3 col-lg-2 form-group">
                <label translate>enti_tpdt_nombre</label> <select ng-model="enti.tpdtNombre.id"
                    ng-options="labelValue.value as labelValue.label for labelValue in tpdtNombreList"
                    class="form-control input-sm">
                    <option />
                </select>
            </div>
        </div>
    </fieldset>

    <alert ng-if="actionErrors && actionErrors.length > 0" type="danger"> <span translate>errors</span>:
    <ul>
        <li ng-repeat="error in actionErrors track by $index" ng-bind="error"></li>
    </ul>
    </alert>

    <div class="btn-group">
        <button data-ng-click="save()" class="btn btn-primary">
            <i class="glyphicon glyphicon-ok"></i> <span translate>btn_guardar</span>
        </button>
        <button data-ng-click="cancel()" class="btn btn-default">
            <i class="glyphicon glyphicon-remove"></i> <span translate>btn_cancelar</span>
        </button>
    </div>
</form>

