
<fieldset>
    <legend>{{enti.nombre | uppercase}}</legend>

    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <button data-ng-click="edit()" class="btn btn-default">
                <i class="glyphicon glyphicon-edit"></i> {{'boton_editar' | translate}}
            </button>
            <button data-ng-click="remove()" class="btn btn-default">
                <i class="glyphicon glyphicon-remove"></i> {{'boton_borrar' | translate}}
            </button>
        </div>
    </div>

    <div class="row-fluid">
        <div class="col-md-2 form-group">
            <label> {{"enti_codigo" | translate}} </label>
            <p class="form-control-static">{{enti.codigo}}</p>
        </div>
        <div class="col-md-3 form-group">
            <label> {{"enti_nombre" | translate}} </label>
            <p class="form-control-static">{{enti.nombre}}</p>
        </div>
        <div class="col-md-2 form-group">
            <label> {{"enti_tipo" | translate}} </label>
            <p class="form-control-static" title="{{'TipoEntidad_' + enti.tipo | translate}}">{{enti.tipo}}</p>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-md-1 form-group">
            <label> {{"enti_cmd_alta" | translate}} </label>
            <p class="form-control-static">
                <i ng-if="enti.cmdAlta" class="glyphicon glyphicon-ok"></i><i ng-if="!enti.cmdAlta"
                    class="glyphicon glyphicon-remove"></i>
            </p>
        </div>
        <div class="col-md-1 form-group">
            <label> {{"enti_cmd_baja" | translate}} </label>
            <p class="form-control-static">
                <i ng-if="enti.cmdBaja" class="glyphicon glyphicon-ok"></i><i ng-if="!enti.cmdBaja"
                    class="glyphicon glyphicon-remove"></i>
            </p>
        </div>
        <div class="col-md-1 form-group">
            <label> {{"enti_cmd_edicion" | translate}} </label>
            <p class="form-control-static">
                <i ng-if="enti.cmdEdicion" class="glyphicon glyphicon-ok"></i><i ng-if="!enti.cmdEdicion"
                    class="glyphicon glyphicon-remove"></i>
            </p>
        </div>
        <div class="col-md-1 form-group">
            <label> {{"enti_cmd_duplicado" | translate}} </label>
            <p class="form-control-static">
                <i ng-if="enti.cmdDuplicado" class="glyphicon glyphicon-ok"></i><i ng-if="!enti.cmdDuplicado"
                    class="glyphicon glyphicon-remove"></i>
            </p>
        </div>
        <div class="col-md-1 form-group">
            <label> {{"enti_temporal" | translate}} </label>
            <p class="form-control-static">
                <i ng-if="enti.temporal" class="glyphicon glyphicon-ok"></i><i ng-if="!enti.temporal"
                    class="glyphicon glyphicon-remove"></i>
            </p>
        </div>
        <div class="col-md-1 form-group">
            <label> {{"enti_facturable" | translate}} </label>
            <p class="form-control-static">
                <i ng-if="enti.facturable" class="glyphicon glyphicon-ok"></i><i ng-if="!enti.facturable"
                    class="glyphicon glyphicon-remove"></i>
            </p>
        </div>
        <div class="col-md-3 form-group">
            <label> {{"enti_tpdt_estado" | translate}} </label>
            <p class="form-control-static">
                <a ng-if="enti.tpdtEstado" href="#/metamodelo/tpdt/detail/{{enti.tpdtEstado.id}}">{{enti.tpdtEstado.nombre}}</a>
            </p>
        </div>
    </div>
</fieldset>

<div ng-include="'modules/metamodelo/common/entd-grid.html'"></div>
<div ng-include="'modules/metamodelo/common/enac-grid.html'"></div>

<fieldset>
    <legend>{{"Subentidades" | uppercase}}</legend>

    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a class="btn btn-default" href="#/metamodelo/tpss/create/{{enti.id}}"><i
                class="glyphicon glyphicon-file"></i> {{'boton_alta' | translate}}</a>
        </div>
    </div>

    <table ng-if="subentiList" class="table-bordered table-condensed table-hover table-nonfluid">
        <thead>
            <tr>
                <th nowrap="nowrap" class="buttonLinks" nowrap="nowrap" />
                <th nowrap="nowrap">{{"enti_codigo" | translate}}</th>
                <th nowrap="nowrap">{{"enti_nombre" | translate}}</th>
                <th nowrap="nowrap">{{"enti_cmd_alta" | translate}}</th>
                <th nowrap="nowrap">{{"enti_cmd_baja" | translate}}</th>
                <th nowrap="nowrap">{{"enti_cmd_edicion" | translate}}</th>
                <th nowrap="nowrap">{{"enti_cmd_duplicado" | translate}}</th>
                <th nowrap="nowrap">{{"enti_temporal" | translate}}</th>
                <th nowrap="nowrap">{{"enti_facturable" | translate}}</th>
                <th nowrap="nowrap">{{"enti_tpdt_estado" | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="subenti in subentiList">
                <td><a href="#/metamodelo/tpss/detail/{{subenti.id}}"><i class="glyphicon glyphicon-search"></i></a></td>
                <td>{{subenti.codigo}}</td>
                <td>{{subenti.nombre}}</td>
                <td><i ng-if="subenti.cmdAlta" class="glyphicon glyphicon-ok"></i><i ng-if="!subenti.cmdAlta"
                    class="glyphicon glyphicon-remove"></i></td>
                <td><i ng-if="subenti.cmdBaja" class="glyphicon glyphicon-ok"></i><i ng-if="!subenti.cmdBaja"
                    class="glyphicon glyphicon-remove"></i></td>
                <td><i ng-if="subenti.cmdEdicion" class="glyphicon glyphicon-ok"></i><i ng-if="!subenti.cmdEdicion"
                    class="glyphicon glyphicon-remove"></i></td>
                <td><i ng-if="subenti.cmdDuplicado" class="glyphicon glyphicon-ok"></i><i
                    ng-if="!subenti.cmdDuplicado" class="glyphicon glyphicon-remove"></i></td>
                <td><i ng-if="subenti.temporal" class="glyphicon glyphicon-ok"></i><i ng-if="!subenti.temporal"
                    class="glyphicon glyphicon-remove"></i></td>
                <td><i ng-if="subenti.facturable" class="glyphicon glyphicon-ok"></i><i ng-if="!subenti.facturable"
                    class="glyphicon glyphicon-remove"></i></td>
                <td><a ng-if="subenti.tpdtEstado" href="#/metamodelo/tpdt/detail/{{subenti.tpdtEstado.id}}">{{subenti.tpdtEstado.nombre}}</a></td>
            </tr>
        </tbody>
    </table>
</fieldset>

<fieldset>
    <legend>{{"Entidades Hijas" | uppercase}}</legend>

    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a class="btn btn-default" href="#/metamodelo/enen/create/{{enti.id}}"><i
                class="glyphicon glyphicon-file"></i> {{'boton_alta' | translate}}</a>
        </div>
    </div>

    <table ng-if="entiHijasList" class="table-bordered table-condensed table-hover table-nonfluid">
        <thead>
            <tr>
                <th class="buttonLinks" nowrap="nowrap" />
                <th>{{"enti_codigo" | translate}}</th>
                <th>{{"enti_nombre" | translate}}</th>
                <th>{{"enti_cmd_alta" | translate}}</th>
                <th>{{"enti_cmd_baja" | translate}}</th>
                <th>{{"enti_cmd_edicion" | translate}}</th>
                <th>{{"enti_cmd_duplicado" | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="entiHija in entiHijasList">
                <td><a href="#/metamodelo/tpss/detail/{{entiHija.id}}"><i class="glyphicon glyphicon-search"></i></a></td>
                <td>{{entiHija.codigo}}</td>
                <td>{{entiHija.nombre}}</td>
                <td><i ng-if="entiHija.cmdAlta" class="glyphicon glyphicon-ok"></i><i ng-if="!entiHija.cmdAlta"
                    class="glyphicon glyphicon-remove"></i></td>
                <td><i ng-if="entiHija.cmdBaja" class="glyphicon glyphicon-ok"></i><i ng-if="!entiHija.cmdBaja"
                    class="glyphicon glyphicon-remove"></i></td>
                <td><i ng-if="entiHija.cmdEdicion" class="glyphicon glyphicon-ok"></i><i
                    ng-if="!entiHija.cmdEdicion" class="glyphicon glyphicon-remove"></i></td>
                <td><i ng-if="entiHija.cmdDuplicado" class="glyphicon glyphicon-ok"></i><i
                    ng-if="!entiHija.cmdDuplicado" class="glyphicon glyphicon-remove"></i></td>
            </tr>
        </tbody>
    </table>
</fieldset>
