<div ng-if="showFilter">
    <form>
        <fieldset>
            <div class="row-fluid">
                <div class="col-md-1 form-group">
                    <label>{{"tpsr_codigo" | translate}}</label> <input type="text" ng-model="entiCriterio.codigo"
                        class="form-control input-sm" />
                </div>
                <div class="col-md-5 form-group">
                    <label>{{"tpsr_nombre" | translate}}</label> <input type="text" ng-model="entiCriterio.nombre"
                        class="form-control input-sm" maxlength="50" />
                </div>
            </div>
        </fieldset>

        <div class="btn-group">
            <button data-ng-click="search()" class="btn btn-primary">
                <i class="glyphicon glyphicon-search"></i> {{'boton_buscar' | translate}}
            </button>
            <button data-ng-click="cancelSearch()" class="btn btn-default">
                <i class="glyphicon glyphicon-remove"></i> {{'boton_cancelar' | translate}}
            </button>
        </div>
    </form>
</div>

<div ng-hide="showFilter">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <pagination total-items="entiList.count" items-per-page="entiList.limit" ng-model="page"
                ng-change="pageChanged()" class="pagination" max-size="1" previous-text="&lsaquo;&lsaquo;"
                next-text="&rsaquo;&rsaquo;"></pagination>

            <a class="btn btn-default" href="#/metamodelo/tpsr/create"><i class="glyphicon glyphicon-file"></i>
                {{'boton_alta' | translate}}</a>
            <button data-ng-click="filter()" class="btn btn-default">
                <i class="glyphicon glyphicon-search"></i> {{'boton_filtro' | translate}}
            </button>
        </div>
    </div>

    <div class="table-responsive">
        <span class="label label-default">{{entiList.count}} resultado(s)</span>

        <table class="table-bordered table-condensed table-hover table-nonfluid">
            <thead>
                <tr>
                    <th class="buttonLinks" nowrap="nowrap" />
                    <th class="codigo" nowrap="nowrap">{{"enti_codigo" | translate}}</th>
                    <th nowrap="nowrap">{{"enti_nombre" | translate}}</th>
                    <th nowrap="nowrap">{{"enti_cmd_alta" | translate}}</th>
                    <th nowrap="nowrap">{{"enti_cmd_baja" | translate}}</th>
                    <th nowrap="nowrap">{{"enti_cmd_edicion" | translate}}</th>
                    <th nowrap="nowrap">{{"enti_cmd_duplicado" | translate}}</th>
                    <th nowrap="nowrap">{{"enti_temporal" | translate}}</th>
                    <th nowrap="nowrap">{{"enti_facturable" | translate}}</th>
                    <th nowrap="nowrap">{{"enti_tpdt_estado" | translate}}</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="enti in entiList.list">
                    <td><a href="#/metamodelo/tpsr/detail/{{enti.id}}"><i class="glyphicon glyphicon-search"></i></a></td>
                    <td>{{enti.codigo}}</td>
                    <td>{{enti.nombre}}</td>
                    <td><i ng-if="enti.cmdAlta" class="glyphicon glyphicon-ok"></i><i ng-if="!enti.cmdAlta"
                        class="glyphicon glyphicon-remove"></i></td>
                    <td><i ng-if="enti.cmdBaja" class="glyphicon glyphicon-ok"></i><i ng-if="!enti.cmdBaja"
                        class="glyphicon glyphicon-remove"></i></td>
                    <td><i ng-if="enti.cmdEdicion" class="glyphicon glyphicon-ok"></i><i ng-if="!enti.cmdEdicion"
                        class="glyphicon glyphicon-remove"></i></td>
                    <td><i ng-if="enti.cmdDuplicado" class="glyphicon glyphicon-ok"></i><i
                        ng-if="!enti.cmdDuplicado" class="glyphicon glyphicon-remove"></i></td>
                    <td><i ng-if="enti.temporal" class="glyphicon glyphicon-ok"></i><i ng-if="!enti.temporal"
                        class="glyphicon glyphicon-remove"></i></td>
                    <td><i ng-if="enti.facturable" class="glyphicon glyphicon-ok"></i><i ng-if="!enti.facturable"
                        class="glyphicon glyphicon-remove"></i></td>
                    <td><a ng-if="enti.tpdtEstado" href="#/metamodelo/tpdt/detail/{{enti.tpdtEstado.id}}">{{enti.tpdtEstado.nombre}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>