<div ng-if="vm.enti">
	<div class="btn-toolbar" role="toolbar">
		<div class="btn-group">
			<a class="btn btn-default" ng-href="#/metamodelo/tpss/edit/{{vm.enti.id}}"><i
				class="glyphicon glyphicon-edit"></i> <span translate>btn_editar</span></a>
			<button data-ng-click="vm.remove()" class="btn btn-default">
				<i class="glyphicon glyphicon-remove"></i> <span translate>btn_borrar</span>
			</button>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 col-lg-1 form-group">
				<label translate>enti_codigo</label>
				<p class="form-control-static" ng-bind="vm.enti.codigo"></p>
			</div>
			<div class="col-sm-3 col-md-2 col-lg-2 form-group">
				<label translate>enti_tipo</label>
				<p class="form-control-static" bs-tooltip data-title="{{'EntidadTipo_' + vm.enti.tipo | translate}}"
					ng-bind="vm.enti.tipo"></p>
			</div>
			<div class="col-sm-4 col-md-3 col-lg-2 form-group">
				<label translate>enti_tpsr</label>
				<p class="form-control-static">
					<a ng-href="#/metamodelo/tpsr/detail/{{vm.enti.tpsrId}}"
						ng-bind="{{'enti_' + vm.enti.tpsrId | translate}}"></a>
				</p>
			</div>
			<div class="col-sm-3 col-md-2 form-group">
				<label translate>enti_maxGrid</label>
				<p class="form-control-static number" ng-bind="vm.enti.maxGrid | number:0"></p>
			</div>
			<div class="col-sm-4 col-md-3 col-lg-2 form-group">
				<label translate>enti_tpdtEstado</label>
				<p class="form-control-static">
					<a ng-if="vm.enti.tpdtEstado" ng-href="#/metamodelo/tpdt/detail/{{vm.enti.tpdtEstado.id}}"
						ng-bind="vm.enti.tpdtEstado.nombre"></a>
				</p>
			</div>
		</div>

		<div class="row" ng-include="'modules/common/i18nMap-detail.html'"></div>

		<div class="row">
			<div class="col-sm-2 col-md-1 col-lg-1 form-group">
				<label translate>enti_cmdAlta</label>
				<p class="form-control-static">
					<i class="glyphicon glyphicon-{{vm.enti.cmdAlta ? 'ok' : 'remove'}}"></i>
				</p>
			</div>
			<div class="col-sm-2 col-md-1 col-lg-1 form-group">
				<label translate>enti_cmdBaja</label>
				<p class="form-control-static">
					<i class="glyphicon glyphicon-{{vm.enti.cmdBaja ? 'ok' : 'remove'}}"></i>
				</p>
			</div>
			<div class="col-sm-2 col-md-1 col-lg-1 form-group">
				<label translate>enti_cmdEdicion</label>
				<p class="form-control-static">
					<i class="glyphicon glyphicon-{{vm.enti.cmdEdicion ? 'ok' : 'remove'}}"></i>
				</p>
			</div>
			<div class="col-sm-2 col-md-1 col-lg-1 form-group">
				<label translate>enti_cmdDuplicado</label>
				<p class="form-control-static">
					<i class="glyphicon glyphicon-{{vm.enti.cmdDuplicado ? 'ok' : 'remove'}}"></i>
				</p>
			</div>
			<div class="col-sm-2 col-md-1 col-lg-1 form-group">
				<label translate>enti_temporal</label>
				<p class="form-control-static">
					<i class="glyphicon glyphicon-{{vm.enti.temporal ? 'ok' : 'remove'}}"></i>
				</p>
			</div>
			<div class="col-sm-2 col-md-1 col-lg-1 form-group">
				<label translate>enti_facturable</label>
				<p class="form-control-static">
					<i class="glyphicon glyphicon-{{vm.enti.facturable ? 'ok' : 'remove'}}"></i>
				</p>
			</div>
			<div class="col-sm-2 col-md-1 col-lg-1 form-group">
				<label translate>enti_exencionable</label>
				<p class="form-control-static">
					<i class="glyphicon glyphicon-{{vm.enti.exencionable ? 'ok' : 'remove'}}"></i>
				</p>
			</div>
			<div class="col-sm-4 col-md-3 col-lg-2 form-group">
				<label translate>enti_classpath</label>
				<p class="form-control-static" ng-bind="vm.enti.classpath"></p>
			</div>
		</div>
	</div>

	<div ng-include="'modules/metamodelo/fragment/engd-grid-content.html'"></div>
	<div ng-include="'modules/metamodelo/fragment/entd-grid-content.html'"></div>
	<div ng-include="'modules/metamodelo/fragment/enac-grid-content.html'"></div>

	<fieldset>
		<legend ng-bind="'Entidades Hijas'"></legend>

		<div class="btn-toolbar" role="toolbar">
			<div class="btn-group">
				<a class="btn btn-default" ng-href="#/metamodelo/enen/create/{{enti.id}}"><i
					class="glyphicon glyphicon-file"></i> <span translate>btn_crear</span></a>
			</div>
		</div>

		<table ng-if="vm.entiHijasList" class="table-bordered table-condensed table-hover table-nonfluid">
			<thead>
				<tr>
					<th class="buttonLinks" nowrap="nowrap" />
					<th translate>enti_codigo</th>
					<th translate>enti_nombre</th>
					<th translate>enti_cmdAlta</th>
					<th translate>enti_cmdBaja</th>
					<th translate>enti_cmdEdicion</th>
					<th translate>enti_cmdDuplicado</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="entiHija in vm.entiHijasList track by $index">
					<td><a ng-href="#/metamodelo/tpss/detail/{{entiHija.id}}"><i class="glyphicon glyphicon-search"></i></a></td>
					<td ng-bind="entiHija.codigo"></td>
					<td ng-bind="entiHija.nombre"></td>
					<td><i class="glyphicon glyphicon-{{entiHija.cmdAlta ? 'ok' : 'remove'}}"></i></td>
					<td><i class="glyphicon glyphicon-{{entiHija.cmdBaja ? 'ok' : 'remove'}}"></i></td>
					<td><i class="glyphicon glyphicon-{{entiHija.cmdEdicion ? 'ok' : 'remove'}}"></i></td>
					<td><i class="glyphicon glyphicon-{{entiHija.cmdDuplicado ? 'ok' : 'remove'}}"></i></td>
				</tr>
			</tbody>
		</table>
	</fieldset>

	<fieldset>
		<legend ng-bind="'Entidades Padres'"></legend>
		<table ng-if="vm.entiPadresList" class="table-bordered table-condensed table-hover table-nonfluid">
			<thead>
				<tr>
					<th class="buttonLinks" nowrap="nowrap" />
					<th translate>enti_codigo</th>
					<th translate>enti_nombre</th>
					<th translate>enti_cmdAlta</th>
					<th translate>enti_cmdBaja</th>
					<th translate>enti_cmdEdicion</th>
					<th translate>enti_cmdDuplicado</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="entiPadre in vm.entiPadresList track by $index">
					<td><a ng-if="entiPadre.tipo == 'T'" ng-href="#/metamodelo/tpsr/detail/{{entiPadre.id}}"><i
							class="glyphicon glyphicon-search"></i></a><a ng-if="entiPadre.tipo == 'S'"
						ng-href="#/metamodelo/tpss/detail/{{entiPadre.id}}"><i class="glyphicon glyphicon-search"></i></a></td>
					<td ng-bind="entiPadre.codigo"></td>
					<td ng-bind="entiPadre.nombre"></td>
					<td><i class="glyphicon glyphicon-{{entiPadre.cmdAlta ? 'ok' : 'remove'}}"></i></td>
					<td><i class="glyphicon glyphicon-{{entiPadre.cmdBaja ? 'ok' : 'remove'}}"></i></td>
					<td><i class="glyphicon glyphicon-{{entiPadre.cmdEdicion ? 'ok' : 'remove'}}"></i></td>
					<td><i class="glyphicon glyphicon-{{entiPadre.cmdDuplicado ? 'ok' : 'remove'}}"></i></td>
				</tr>
			</tbody>
		</table>
	</fieldset>
</div>