<div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3">
        <span class="list-group-item active" data-ng-bind="'sec_metamodelo' | translate | uppercase"></span>
    </div>
    <div class="list-group col-sm-6 col-md-8 col-lg-9">
        <a data-ng-if="mc.hasAccnPath('tpsr-list')" class="col-md-6 col-lg-4 list-group-item"
            data-ng-href="#/metamodelo/tipo-servicio/grid" data-ng-bind="'tpsrList' | translate | uppercase"></a>
        <a data-ng-if="mc.hasAccnPath('tppr-list')" class="col-md-6 col-lg-4 list-group-item"
            data-ng-href="#/metamodelo/tipo-parametro/grid" data-translate="tpprList"></a> <a
            data-ng-if="mc.hasAccnPath('tpes-list')" class="col-md-6 col-lg-4 list-group-item"
            data-ng-href="#/metamodelo/tipo-estadistica/grid" data-translate="tpesList"></a> <a
            data-ng-if="mc.hasAccnPath('tpdt-list')" class="col-md-6 col-lg-4 list-group-item"
            data-ng-href="#/metamodelo/tipo-dato/grid" data-translate="tpdtList"></a><a
            data-ng-if="mc.hasAccnPath('srsc-list')" class="col-md-6 col-lg-4 list-group-item"
            data-ng-href="#/servicio/servicio-secuencia/grid" data-translate="srscList"></a>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3">
        <span class="list-group-item active" data-translate="sec_configuracion"></span>
    </div>
    <div class="list-group col-sm-6 col-md-8 col-lg-9">
        <a data-ng-if="mc.hasAccnPath('conf-list')" class="col-md-6 col-lg-4 list-group-item"
            data-ng-href="#/administracion/configuration/configuration/grid" data-translate="confList"></a> <a
            data-ng-if="mc.hasAccnPath('m18n-list')" class="col-md-6 col-lg-4 list-group-item"
            data-ng-href="#/administracion/messagei18n/messagei18n/grid" data-translate="m18nList"></a><a
            data-ng-if="mc.hasAccnPath('sprt-list')" class="col-md-6 col-lg-4 list-group-item"
            data-ng-href="#/administracion/puerto/superpuerto/grid" data-translate="sprtList"></a><a
            data-ng-if="mc.hasAccnPath('prto-list')" class="col-md-6 col-lg-4 list-group-item"
            data-ng-href="#/administracion/puerto/puerto/grid" data-translate="prtoList"></a>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3">
        <span class="list-group-item active" data-translate="sec_usro"></span>
    </div>
    <div class="list-group col-sm-6 col-md-8 col-lg-9">
        <a data-ng-if="mc.hasAccnPath('accn-list')" class="col-md-6 col-lg-4 list-group-item"
            data-ng-href="#/seguridad/accion/grid" data-translate="accnList"></a> <a
            data-ng-if="mc.hasAccnPath('grpo-list')" class="col-md-6 col-lg-4 list-group-item"
            data-ng-href="#/seguridad/grupo/grid" data-translate="grpoList"></a><a
            data-ng-if="mc.hasAccnPath('usro-list')" class="col-md-6 col-lg-4 list-group-item"
            data-ng-href="#/seguridad/usuario/grid" data-translate="usroList"></a>
    </div>
</div>
