<form role="form">
    <fieldset>
        <div class="row" ng-repeat="language in ::vm.availableLanguages">
            <div class="col-sm-10 col-md-9 col-lg-8 form-group-sm">
                <label ng-bind="::language"></label> <input type="text" ng-model="::vm.m18nMap[language].value"
                    class="form-control">
            </div>
        </div>
    </fieldset>

    <div class="btn-group">
        <button data-ng-click="vm.save()" class="btn btn-primary">
            <i class="glyphicon glyphicon-ok"></i> <span translate="btn_guardar"></span>
        </button>
        <button data-ng-click="vm.cancel()" class="btn btn-default">
            <i class="glyphicon glyphicon-remove"></i> <span translate="btn_cancelar"></span>
        </button>
    </div>
</form>
