<div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
        <div data-uib-pagination data-total-items="vm.prtoList.count" data-items-per-page="vm.prtoList.limit"
            data-ng-model="vm.page" data-ng-change="vm.pageChanged()" class="pagination" data-max-size="1"
            data-previous-text="&lsaquo;&lsaquo;" data-next-text="&rsaquo;&rsaquo;"></div>
    </div>

    <div class="btn-group">
        <button class="btn btn-default" data-ng-click="vm.filter('lg')"
            data-template-url="modules/administracion/fragment/puerto-filter-content.html"
            data-bs-modal="modal">
            <i class="glyphicon glyphicon-search"></i> <span data-translate="btn_filtrar"></span>
        </button>
        <a class="btn btn-default" data-ng-href="#/administracion/puerto/puerto/edit/create"><i
            class="glyphicon glyphicon-file"></i> <span data-translate="btn_crear"></span></a>
    </div>
</div>

<div class="table-responsive">
    <span class="label label-default" data-translate="grid_count"
        data-translate-value-count="{{vm.prtoList.count | number:0}}"></span>

    <table class="table-bordered table-condensed table-hover table-nonfluid">
        <thead>
            <tr>
                <th class="buttonLinks" nowrap="nowrap" />
                <th nowrap="nowrap" data-translate="prto_codigo"></th>
                <th nowrap="nowrap" data-translate="prto_nombre"></th>
                <th nowrap="nowrap" data-translate="prto_codigoCorto"></th>
                <th nowrap="nowrap" data-translate="prto_codigoEdi"></th>
                <th nowrap="nowrap" data-translate="prto_recAduanero"></th>
                <th nowrap="nowrap" data-translate="prto_unlocode"></th>
                <th nowrap="nowrap" data-translate="sprt"></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="item in vm.prtoList.list track by $index">
                <td><a data-ng-href="#/administracion/puerto/puerto/detail/{{item.id}}"><i
                        class="glyphicon glyphicon-search"></i></a></td>
                <td data-ng-bind="item.codigo"></td>
                <td data-ng-bind="item.nombre"></td>
                <td data-ng-bind="item.codigoCorto"></td>
                <td data-ng-bind="item.codigoEdi"></td>
                <td data-ng-bind="item.recAduanero"></td>
                <td data-ng-bind="item.unlocode"></td>
                <td data-ng-bind="item.sprt.etiqueta"></td>
            </tr>
        </tbody>
    </table>
</div>