<form role="form">
    <fieldset>
        <div class="row">
            <div class="col-md-8">
                <div ng-include="'modules/entidad/servicio/escala/fragment/atraque-srvcInfo-content.html'"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div ng-include="'modules/entidad/servicio/escala/fragment/atraque-solicitud-content.html'"
                    ng-if="vm.item.estado == 'S'"></div>
                <div ng-include="'modules/entidad/servicio/escala/fragment/atraque-autorizacion-content.html'"
                    ng-if="vm.item.estado == 'C'"></div>
            </div>
            <div class="col-md-6">
                <div class="form-horizontal">
                    <fieldset>
                        <legend> {{vm.enti.engdMap[3].etiqueta}} </legend>
                        <div class="form-group">
                            <label class="col-md-3 control-label">{{vm.enti.entdMap[41100].etiqueta}}</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" ng-model="vm.item.fini"
                                    data-max-date="{{vm.item.itdtMap[41100].fecha}}" bs-datepicker />
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </fieldset>

    <div class="btn-group">
        <button data-ng-click="vm.save()" class="btn btn-primary">
            <i class="glyphicon glyphicon-ok"></i> <span translate>btn_guardar</span>
        </button>
        <button data-ng-click="vm.cancel()" class="btn btn-default">
            <i class="glyphicon glyphicon-remove"></i> <span translate>btn_cancelar</span>
        </button>
    </div>
</form>
