<form role="form">
    <fieldset>
        <div class="row">
            <div class="col-sm-8">
                <div ng-include="'modules/entidad/servicio/escala/fragment/atraque-srvcInfo-content.html'"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div ng-include="'modules/entidad/servicio/escala/fragment/atraque-solicitud-content.html'"
                    ng-if="vm.item.estado == 'S'"></div>
                <div ng-include="'modules/entidad/servicio/escala/fragment/atraque-autorizacion-content.html'"
                    ng-if="vm.item.estado == 'D'"></div>
            </div>
            <div class="col-sm-6">
                <div class="form-horizontal">
                    <fieldset>
                        <legend ng-bind="'engd_' + vm.enti.engdList[2].id | translate"></legend>
                        <!--
                        <div class="form-group-sm">
                            <label class="col-sm-4 col-lg-3 control-label"
                                ng-bind="'entd_' + vm.enti.entdMap[41100].id | translate"></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="vm.item.fini"
                                    data-max-date="{{vm.item.itdtMap[41100].fecha}}" bs-datepicker />
                            </div>
                        </div>
 -->
                    </fieldset>
                </div>
            </div>
        </div>
    </fieldset>

    <div class="btn-group">
        <button data-ng-click="vm.save()" class="btn btn-primary">
            <i class="glyphicon glyphicon-ok"></i> <span translate="btn_guardar"></span>
        </button>
        <button data-ng-click="vm.cancel()" class="btn btn-default">
            <i class="glyphicon glyphicon-remove"></i> <span translate="btn_cancelar"></span>
        </button>
    </div>
</form>
