<div *ngIf="enti">
    <h3 [translate]="'enti_' + enti.enti.id"></h3>
</div>

<div *ngIf="resultList">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group mr-2" role="group">
            <ngb-pagination [collectionSize]="resultList.count" [(page)]="page" [pageSize]="pageSize" [maxSize]="1"
                [size]="sm" [boundaryLinks]="false" [ellipses]="false" (pageChange)="pageChange()"></ngb-pagination>
        </div>
        <div class="btn-group mr-2" role="group">
            <button class="btn btn-secondary" (click)="editFilter(filter)">
                <i class="fa fa-filter"></i> Filter
            </button>
            <a class="btn btn-secondary" [routerLink]="['/service/service/edit', 'create', model.entiId]"><i
                class="fa fa-file-o"></i> New</a>
        </div>
    </div>

    <span [translate]="'grid_count'" [translateParams]="{count: resultList.count}"></span>

    <div class="table-responsive">
        <table class="table table-sm table-bordered table-hover table-condensed table-nonfluid">
            <thead class="thead-inverse">
                <tr>
                    <th></th>
                    <th [translate]="'srvc'"></th>
                    <th [translate]="'srvc_falta'"></th>
                    <th [translate]="'fref'" *ngIf="!enti.enti.temporal"></th>
                    <th [translate]="'fini'" *ngIf="enti.enti.temporal"></th>
                    <th [translate]="'ffin'" *ngIf="enti.enti.temporal"></th>
                    <th *ngFor="let entdId of enti.entdGridList; trackBy:trackByFnEntd"
                        [translate]="'entd_' + enti.entdMap[entdId].id"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of resultList.list; trackBy:trackByFnList">
                    <td><a [routerLink]="['/service/service/detail', item.entiId, item.id]"><i
                            class="fa fa-search"></i></a></td>
                    <td nowrap="nowrap" [innerHTML]="item.etiqueta"></td>
                    <td nowrap="nowrap" [innerHTML]="item.falta | date: 'dd/MM/yyyy HH:mm'"></td>
                    <td *ngIf="!enti.enti.temporal" nowrap="nowrap" [innerHTML]="item.fref | date: 'dd/MM/yyyy HH:mm'"></td>
                    <td *ngIf="enti.enti.temporal" nowrap="nowrap" [innerHTML]="item.fini | date: 'dd/MM/yyyy HH:mm'"></td>
                    <td *ngIf="enti.enti.temporal" nowrap="nowrap" [innerHTML]="item.ffin | date: 'dd/MM/yyyy HH:mm'"></td>
                    <td nowrap="nowrap" *ngFor="let entdId of enti.entdGridList; trackBy:trackByFnEntd"
                        [ngSwitch]="enti.entdMap[entdId].tpdt.tipoElemento"><i *ngSwitchCase="'BO'" class="fa"
                        [ngClass]="item.itdtMap[entdId].cantidadEntera == 1 ? 'fa-check' : 'fa-remove'"></i> <span
                        *ngSwitchCase="'NE'" [innerHTML]="item.itdtMap[entdId].cantidadEntera | number"
                        class="pull-right"></span> <span *ngSwitchCase="'ND'"
                        [innerHTML]="item.itdtMap[entdId].cantidadDecimal | number : '1.6-6'" class="pull-right"></span>
                        <span *ngSwitchCase="'CR'" [innerHTML]="item.itdtMap[entdId].cadena"></span> <span
                        *ngSwitchCase="'PR'" [innerHTML]="item.itdtMap[entdId].prmt?.parametro"
                        [ngbTooltip]="item.itdtMap[entdId].prmt?.etiqueta" container="body"></span> <span
                        *ngSwitchCase="'SR'" [innerHTML]="item.itdtMap[entdId].srvc?.etiqueta"></span> <span
                        *ngSwitchCase="'TX'" [innerHTML]="item.itdtMap[entdId].cadena"></span> <span
                        *ngSwitchCase="'FE'" [innerHTML]="item.itdtMap[entdId].fecha | date : 'dd/MM/yyyy'"></span> <span
                        *ngSwitchCase="'FH'" [innerHTML]="item.itdtMap[entdId].fecha | date : 'dd/MM/yyyy HH:mm'"></span>
                        <span *ngSwitchDefault>Unknown Datatype!: {{enti.entdMap[entdId].tpdt.tipoElemento}}</span></td>
                </tr>
            </tbody>
        </table>
    </div>

    <ng-template #filter let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Search Filter</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <fieldset class="form-group">
            <div class="container-fluid">
                <div class="row"></div>

                <app-item-filter-fragment [enti]="enti" [itdtMap]="model.itdtMap" [labelValuesMap]="labelValuesMap"
                    [portId]="model.prto?.id"></app-item-filter-fragment>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <div class="btn-group">
            <button type="button" class="btn btn-primary" (click)="saveFilter();c()">Search</button>
            <button type="button" class="btn btn-secondary" (click)="resetFilter()">Reset</button>
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
        </div>
    </div>
    </ng-template>
</div>
