<div *ngIf="enti">
    <ngb-tabset #t="ngbTabset" type="pills" [activeId]="activeTab" (tabChange)="tabChange($event)"> <ngb-tab
        id="mainTab"> <ng-template ngbTabTitle> <span [translate]="'enti_' + enti.enti.id"></span>
    </ng-template> <ng-template ngbTabContent>
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group mr-2" role="group">
            <a class="btn btn-primary" [routerLink]="['/service/service/edit', 'edit', model.entiId, model.id]"><i
                class="fa fa-edit"></i> <span [translate]="'btn_editar'"></span></a> <a class="btn btn-secondary"
                [routerLink]="['/service/service/edit', 'duplicate', model.entiId, model.id]"><i class="fa fa-copy"></i>
                <span [translate]="'btn_duplicar'"></span> </a>
            <button class="btn btn-secondary" (click)="remove()">
                <i class="fa fa-remove"></i> <span [translate]="'btn_borrar'"></span>
            </button>
        </div>
        <div class="btn-group mr-2" role="group" *ngIf="enti.enti.facturable">
            <a class="btn btn-secondary" [routerLink]="['/billing/valuator/edit', 'create', model.entiId, model.id]">
                <i class="fa fa-eur"></i> <span [translate]="'btn_valorar'"></span>
            </a>
            <button class="btn btn-secondary" (click)="assessmentList()">
                <span [translate]="'btn_valoraciones'"></span>
            </button>
        </div>
        <div class="btn-group mr-2" role="group" *ngIf="enti.trmtList">
            <span *ngFor="let trmt of enti.trmtList"> <a class="btn btn-secondary"
                *ngIf="trmt.estadoOrig == model.estado"
                [routerLink]="['/service/service-status-change/edit', 'create', model.entiId, trmt.id, model.id]"
                [translate]="'trmt_' + trmt.id"> </a></span>
        </div>
        <div class="btn-group mr-2" role="group" *ngIf="enti.acesList">
            <span *ngFor="let aces of enti.acesList"> <a class="btn btn-secondary" *ngIf="!aces.multiple"
                [routerLink]="[aces.path, model.entiId, model.id]" [translate]="'fncd_' + aces.id"> </a></span>
        </div>
    </div>
    <form>
        <fieldset class="form-group">
            <div class="row">
                <div class="col-lg-3 col-xl-2 form-group-sm">
                    <label [translate]="'prto'"></label>
                    <p class="form-control-static form-control-sm" [innerHTML]="model.prto.etiqueta"></p>
                </div>
                <div class="col-lg-2 col-xl-1 form-group-sm">
                    <label [translate]="'srvc_anno'"></label>
                    <p class="form-control-static form-control-sm number" [innerHTML]="model.anno | number"></p>
                </div>
                <div class="col-lg-2 col-xl-1 form-group-sm">
                    <label [translate]="'srvc_numero'"></label>
                    <p class="form-control-static form-control-sm number" [innerHTML]="model.numero | number"></p>
                </div>
                <div class="col-lg-3 col-xl-2 form-group-sm" *ngIf="enti.enti.tpdtEstado">
                    <label [translate]="'srvc_estado'"></label>
                    <p class="form-control-static form-control-sm"
                        [translate]="'cdrf_' + enti.enti.tpdtEstado.id + '_' + model.estado"></p>
                </div>
                <div class="col-lg-3 col-xl-2 form-group-sm" *ngIf="enti.enti.temporal">
                    <label [translate]="'fini'"></label>
                    <p class="form-control-static form-control-sm" [innerHTML]="model.fini | date: 'dd/MM/yyyy HH:mm'"></p>
                </div>
                <div class="col-lg-3 col-xl-2 form-group-sm" *ngIf="enti.enti.temporal">
                    <label [translate]="'ffin'"></label>
                    <p class="form-control-static form-control-sm" [innerHTML]="model.ffin | date: 'dd/MM/yyyy HH:mm'"></p>
                </div>
                <div class="col-lg-3 col-xl-2 form-group-sm" *ngIf="!enti.enti.temporal">
                    <label [translate]="'srvc_fref'"></label>
                    <p class="form-control-static form-control-sm" [innerHTML]="model.fref | date: 'dd/MM/yyyy HH:mm'"></p>
                </div>
            </div>
            <argo-item-detail-fragment [enti]="enti" [itemMap]="model.itdtMap" [date]="model.fref"></argo-item-detail-fragment>
        </fieldset>

        <fieldset *ngIf="srvcDepsList.length > 0">
            <legend>Servicios Dependientes</legend>

            <div class="table-responsive">
                <table class="table table-sm table-bordered table-hover table-condensed table-nonfluid">
                    <thead class="thead-inverse">
                        <tr>
                            <th></th>
                            <th [translate]="'tpsr'"></th>
                            <th [translate]="'srvc'"></th>
                            <th [translate]="'srvc_estado'"></th>
                            <th [translate]="'srvc_falta'"></th>
                            <th [translate]="'srvc_fref'"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of srvcDepsList">
                            <td><a [routerLink]="['/service/service/detail', item.entiId, item.id]"><i
                                    class="fa fa-search"></i></a></td>
                            <td nowrap="nowrap" [translate]="'enti_' + item.entiId"></td>
                            <td nowrap="nowrap" [innerHTML]="item.etiqueta"></td>
                            <td nowrap="nowrap" [innerHTML]="item.estado"></td>
                            <td nowrap="nowrap" [innerHTML]="item.falta | date: 'dd/MM/yyyy HH:mm'"></td>
                            <td nowrap="nowrap" [innerHTML]="item.fref | date: 'dd/MM/yyyy HH:mm'"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </form>
    </ng-template> </ngb-tab> <ngb-tab *ngFor="let entiHijaId of enti.entiHijasList" id="{{'enti_' + entiHijaId}}"> <ng-template
        ngbTabTitle> <span [translate]="'enti_' + entiHijaId"></span> </ng-template> <ng-template ngbTabContent>

    <div *ngIf="entiHijasMap[entiHijaId]">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group mr-2" role="group">
                <ngb-pagination [collectionSize]="itemHijosMap[entiHijaId].count" [(page)]="pageMap[entiHijaId]"
                    [pageSize]="pageSize" [maxSize]="1" [size]="sm" [boundaryLinks]="false" [ellipses]="false"
                    (pageChange)="pageChange(entiHijaId)"></ngb-pagination>
            </div>
            <div class="btn-group mr-2" role="group">
                <a class="btn btn-primary" [routerLink]="['/service/subservice/edit', 'create', entiHijaId, model.id]"><i
                    class="fa fa-file-o"></i> New</a>
            </div>
        </div>

        <span>Nº Resultados: {{itemHijosMap[entiHijaId].count}}</span>

        <app-subservice-grid-fragment [enti]="entiHijasMap[entiHijaId]" [itemList]="itemHijosMap[entiHijaId].list"></app-subservice-grid-fragment>
    </div>
    </ng-template> </ngb-tab> </ngb-tabset>
</div>
