<div *ngIf="enti">
    <h3 [translate]="'enti_' + enti.enti.id"></h3>
</div>

<div *ngIf="resultList">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group mr-2" role="group">
            <ngb-pagination [collectionSize]="resultList.count" [(page)]="page" [pageSize]="pageSize" [maxSize]="1"
                [size]="sm" [boundaryLinks]="false" [ellipses]="false" (pageChange)="pageChange()"></ngb-pagination>
        </div>
        <div class="btn-group mr-2" role="group">
            <button class="btn btn-secondary" (click)="editFilter(filter)">
                <i class="fa fa-filter"></i> Filter
            </button>
            <a class="btn btn-secondary" [routerLink]="['/service/subservice/edit', 'create', model.entiId]"><i
                class="fa fa-file-o"></i> New</a>
        </div>
    </div>

    <span [translate]="'grid_count'" [translateParams]="{count: resultList.count}"></span>

    <app-subservice-grid-fragment [enti]="enti" [itemList]="resultList.list"></app-subservice-grid-fragment>

    <ng-template #filter let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Search Filter</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <fieldset class="form-group">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-xl-2 form-group-sm">
                        <label [translate]="'prto'"></label> <select name="model.srvc.prto.id"
                            [ngModel]="model.srvc?.prto?.id" (ngModelChange)="model.srvc = {prto: {id: $event}}"
                            class="form-control form-control-sm">
                            <option></option>
                            <option *ngFor="let item of portList" [value]="item.id" [innerHTML]="item.etiqueta"></option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-xl-1 form-group-sm">
                        <label [translate]="'srvc'"></label>
                        <app-service-typeahead name="model.srvc" [(ngModel)]="model.srvc" [entityId]="enti.enti.tpsrId"></app-service-typeahead>
                    </div>
                    <div class="col-lg-2 col-xl-1 form-group-sm">
                        <label [translate]="'ssrv_numero'"></label> <input name="model.numero"
                            [(ngModel)]="model.numero" class="form-control form-control-sm number" />
                    </div>
                    <div class="col-lg-2 col-xl-1 form-group-sm" *ngIf="enti.enti.tpdtEstado">
                        <label [translate]="'ssrv_estado'"></label> <select name="model.estado"
                            [(ngModel)]="model.estado" class="form-control form-control-sm">
                            <option></option>
                            <option *ngFor="let cdrf of enti.enti.tpdtEstado.cdrfList" [value]="cdrf.valor"
                                [translate]="'cdrf_' + enti.enti.tpdtEstado.id + '_' + cdrf.valor"></option>
                        </select>
                    </div>
                </div>

                <app-item-filter-fragment #filterFragment [enti]="enti" [itdtMap]="model.itdtMap"
                    [labelValuesMap]="labelValuesMap" [portId]="model.srvc?.prto?.id"></app-item-filter-fragment>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <div class="btn-group">
            <button type="button" class="btn btn-primary" (click)="saveFilter();c()">Search</button>
            <button type="button" class="btn btn-secondary" (click)="resetFilter()">Reset</button>
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
        </div>
    </div>
    </ng-template>
</div>
