<div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
        <a class="btn btn-primary" [routerLink]="['/settings/i18n-message/edit', 'edit', key]"><i class="fa fa-edit"></i>
            Edit</a>
    </div>
</div>

<form>
    <fieldset class="form-group">
        <div class="row">
            <div class="col-sm-9 col-md-8 col-lg-7 form-group-sm">
                <label>Clave</label>
                <p class="form-control-static">{{key}}</p>
            </div>
            <div *ngFor="let availableLanguage of availableLanguages" class="col-sm-9 col-md-8 col-lg-7 form-group-sm">
                <label>{{availableLanguage}}</label>
                <p class="form-control-static">
                    <span *ngIf="i18nMap[availableLanguage]">{{i18nMap[availableLanguage].value}}</span>
                </p>
            </div>
        </div>
    </fieldset>
</form>
