<ngb-pagination [collectionSize]="count" [(page)]="page" [pageSize]="pageSize" [maxSize]="1" [size]="sm"
    [boundaryLinks]="false" [ellipses]="false" (pageChange)="pageChange()"></ngb-pagination>

<span>Nº Resultados: {{count}}</span>

<div class="table-responsive">
    <table class="table table-sm table-bordered table-hover table-condensed table-nonfluid">
        <thead class="thead-inverse">
            <tr>
                <th nowrap="nowrap"></th>
                <th nowrap="nowrap">Codigo</th>
                <th nowrap="nowrap">Nombre</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of resultList.list">
                <td><a [routerLink]="['/settings/superport/detail', item.id]"><i class="fa fa-search"></i></a></td>
                <td nowrap="nowrap">{{item.codigo}}</td>
                <td nowrap="nowrap">{{item.nombre}}</td>
            </tr>
        </tbody>
    </table>
</div>