<div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
        <a class="btn btn-primary" [routerLink]="['/settings/superport/edit', 'edit', model.id]"><i
            class="fa fa-edit"></i> Edit</a>
        <button class="btn btn-secondary" (click)="remove()">
            <i class="fa fa-remove"></i> Remove
        </button>
    </div>
</div>

<form>
    <fieldset class="form-group">
        <div class="row">
            <div class="col-sm-3 col-md-2 col-lg-1 form-group-sm">
                <label>Código</label>
                <p class="form-control-static form-control-sm">{{model.codigo}}</p>
            </div>
        </div>

        <app-i18n-info-detail [i18nMap]="i18nMap" [availableLanguages]="availableLanguages"></app-i18n-info-detail>
    </fieldset>
</form>
