<div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
        <a class="btn btn-default" ui-sref="accion-edit(vm.model)"><i class="glyphicon glyphicon-edit"></i>
            <span translate="btn_editar"></span></a>
        <button data-ng-click="vm.remove()" class="btn btn-default">
            <i class="glyphicon glyphicon-remove"></i> <span translate="btn_borrar"></span>
        </button>
    </div>
</div>

<fieldset>
    <div class="row">
        <div class="col-sm-4 col-md-3 col-lg-2 form-group-sm">
            <label translate="accn_prefix"></label>
            <p class="form-control-static" ng-bind="vm.model.prefix"></p>
        </div>
        <div class="col-sm-4 col-md-3 col-lg-2 form-group-sm">
            <label translate="accn_codigo"></label>
            <p class="form-control-static" ng-bind="vm.model.codigo"></p>
        </div>
    </div>
</fieldset>

<fieldset>
    <legend translate="grpoList"></legend>

    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a class="btn btn-default" ui-sref="grupo-accion-create({accnId: vm.model.id})"><i
                class="glyphicon glyphicon-file"></i> <span translate="btn_crear"></span> </a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table-bordered table-condensed table-hover table-nonfluid">
            <thead>
                <tr>
                    <th class="buttonLinks" nowrap="nowrap" />
                    <th class="codigo" nowrap="nowrap" translate="grpo_nombre"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="grpo in vm.grpoList track by grpo.id">
                    <td><a ui-sref="grupo-accion-detail({grpoId:grpo.id, accnId: vm.model.id})"><i
                            class="glyphicon glyphicon-search"></i></a></td>
                    <td nowrap="nowrap" ng-bind="grpo.nombre"></td>
                </tr>
            </tbody>
        </table>
    </div>
</fieldset>
