<div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
        <uib-pagination total-items="vm.resultList.count" items-per-page="vm.resultList.limit"
            ng-model="vm.page" ng-change="vm.pageChanged()" class="pagination" max-size="1"
            previous-text="&lsaquo;&lsaquo;" next-text="&rsaquo;&rsaquo;" />
    </div>

    <div class="btn-group">
        <button ng-if="mc.hasAccnPath('accn-list')" class="btn btn-default" data-ng-click="vm.filter('lg')"
            data-template-url="modules/seguridad/fragment/accion-filter-content.html" bs-modal="modal">
            <i class="glyphicon glyphicon-search"></i> <span translate="btn_filtrar"></span>
        </button>
        <a ng-if="mc.hasAccnPath('accn-create')" class="btn btn-default" ui-sref="accion-create"><i
            class="glyphicon glyphicon-file"></i> <span translate="btn_crear"></span> </a>
    </div>
</div>

<div ng-if="mc.hasAccnPath('accn-list')" class="table-responsive">
    <span class="label label-default" translate="grid_count"
        translate-value-count="{{vm.resultList.count | number:0}}"></span>

    <table class="table-bordered table-condensed table-hover table-nonfluid">
        <thead>
            <tr>
                <th class="buttonLinks" nowrap="nowrap" />
                <th nowrap="nowrap" translate="accn_prefix"></th>
                <th nowrap="nowrap" translate="accn_codigo"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="accn in vm.resultList.list track by accn.id">
                <td><a ui-sref="accion-detail(accn)"><i class="glyphicon glyphicon-search"></i></a></td>
                <td nowrap="nowrap" ng-bind="accn.prefix | translate"></td>
                <td nowrap="nowrap" ng-bind="accn.codigo"></td>
            </tr>
        </tbody>
    </table>
</div>
