<form role="form">
    <fieldset>
        <div class="row">
            <div class="col-sm-4 col-md-3 col-lg-2 form-group-sm">
                <label translate="accn_codigo"></label> <input type="text" ng-model="vm.accn.codigo"
                    class="form-control" />
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 form-group-sm">
                <label translate="accn_nombre"></label> <input type="text" ng-model="vm.accn.nombre"
                    class="form-control" />
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend translate="grpoList"></legend>

        <div class="row">
            <div class="checkbox" ng-repeat="grpo in vm.grpoList track by $index">
                <label> <input type="checkbox" ng-click="vm.updateGrupos($event, grpo.id)"
                    ng-checked="vm.accn.grpoIds.indexOf(grpo.id) >= 0"> <span ng-bind="grpo.nombre"></span>
                </label>
            </div>
        </div>
    </fieldset>

    <div class="btn-group">
        <button data-ng-click="vm.save()" class="btn btn-primary">
            <i class="glyphicon glyphicon-ok"></i> <span translate="btn_guardar"></span>
        </button>
        <button data-ng-click="vm.cancel()" class="btn btn-default">
            <i class="glyphicon glyphicon-remove"></i> <span translate="btn_cancelar"></span>
        </button>
    </div>
</form>
