<div ng-if="vm.model">
    <form role="form">
        <fieldset>
            <div class="row">
                <div class="col-sm-6 col-md-5 col-lg-4 form-group-sm">
                    <label translate="grpo_nombre"></label> <input type="text" ng-model="vm.model.nombre"
                        class="form-control" />
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend translate="accnList"></legend>

            <div class="row" ng-repeat="prefix in vm.prefixList | orderBy: prefix track by $index">
                <div class="col-sm-4 col-md-3 col-lg-2">
                    <p class="list-group-item active" ng-bind="prefix | translate"></p>
                </div>
                <div class="list-group-item col-sm-8 col-md-9 col-lg-10">
                    <div ng-repeat="accn in vm.accnMap[prefix] track by $index"
                        class="col-sm-4 col-md-3 col-lg-2">
                        <div class="checkbox">
                            <label> <input type="checkbox"
                                ng-click="vm.updateAcciones($event, accn.id)"
                                ng-checked="vm.model.accnIds.indexOf(accn.id) >= 0"> <span
                                ng-bind="accn.codigo"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend translate="acenList"></legend>

            <div class="row" ng-repeat="entiId in vm.entiList track by $index">
                <div class="col-sm-4 col-md-3 col-lg-2">
                    <p class="list-group-item active" ng-bind="'enti_' + entiId | translate"></p>
                </div>
                <div class="list-group-item col-sm-8 col-md-9 col-lg-10">
                    <div ng-repeat="acen in vm.acenMap[entiId] track by $index"
                        class="col-sm-4 col-md-3 col-lg-2">
                        <div class="checkbox">
                            <label> <input type="checkbox"
                                ng-click="vm.updateAccionesEntidad($event, acen.id)"
                                ng-checked="vm.model.acenIds.indexOf(acen.id) >= 0"> <span
                                ng-bind="acen.accn.codigo"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <div class="btn-group">
            <button data-ng-click="vm.save()" class="btn btn-primary">
                <i class="glyphicon glyphicon-ok"></i> <span translate="btn_guardar"></span>
            </button>
            <button data-ng-click="vm.cancel()" class="btn btn-default">
                <i class="glyphicon glyphicon-remove"></i> <span translate="btn_cancelar"></span>
            </button>
        </div>
    </form>
</div>