
<form role="form" ng-submit="vm.save()">
    <fieldset>
        <div class="row">
            <div class="col-sm-4 col-md-3 col-lg-2 form-group-sm">
                <label translate="usro_login"></label> <input type="text" ng-model="vm.usro.login"
                    class="form-control" />
            </div>
            <div class="col-sm-4 col-md-3 col-lg-2 form-group-sm">
                <label translate="usro_contrasenia"></label> <input type="password"
                    ng-model="vm.usro.contrasenia" class="form-control" />
            </div>
            <div class="col-sm-5 col-md-4 col-lg-3 form-group-sm">
                <label translate="usro_nombre"></label> <input type="text" ng-model="vm.usro.nombre"
                    class="form-control" />
            </div>
            <div class="col-sm-5 col-md-4 col-lg-3 form-group-sm">
                <label translate="sprt"></label> <select ng-model="vm.usro.sprt.id"
                    ng-options="sprt.id as sprt.etiqueta for sprt in ::vm.sprtList" class="form-control">
                    <option />
                </select>
            </div>
            <div class="col-sm-5 col-md-4 col-lg-3 form-group-sm">
                <label translate="prto"></label> <select ng-model="vm.usro.prto.id"
                    ng-options="prto.id as prto.etiqueta for prto in ::vm.prtoList" class="form-control">
                    <option />
                </select>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend translate="grpoList"></legend>

        <div class="row">
            <div class="checkbox" ng-repeat="grpo in ::vm.grpoList track by grpo.id">
                <label> <input type="checkbox" ng-click="vm.updateGrupos($event, grpo.id)"
                    ng-checked="vm.usro.grpoIds.indexOf(grpo.id) >= 0"> <span ng-bind="::grpo.nombre"></span>
                </label>
            </div>
        </div>
    </fieldset>

    <div class="btn-group">
        <button type="submit" class="btn btn-primary">
            <i class="glyphicon glyphicon-ok"></i> <span translate="btn_guardar"></span>
        </button>
        <button type="button" data-ng-click="vm.cancel()" class="btn btn-default">
            <i class="glyphicon glyphicon-remove"></i> <span translate="btn_cancelar"></span>
        </button>
    </div>
</form>
