<div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
        <uib-pagination total-items="vm.resultList.count" items-per-page="vm.resultList.limit"
            ng-model="vm.page" ng-change="vm.pageChanged()" class="pagination" max-size="1"
            previous-text="&lsaquo;&lsaquo;" next-text="&rsaquo;&rsaquo;" />
    </div>

    <div class="btn-group">
        <button ng-if="mc.hasAccnPath('usro-list')" class="btn btn-default" data-ng-click="vm.filter('lg')"
            data-template-url="modules/seguridad/fragment/usuario-filter-content.html" bs-modal="modal">
            <i class="glyphicon glyphicon-search"></i> <span translate="btn_filtrar"></span>
        </button>
        <a ng-if="mc.hasAccnPath('usro-create')" class="btn btn-default" ui-sref="usuario-create"><i
            class="glyphicon glyphicon-file"></i> <span translate="btn_crear"></span> </a>
    </div>
</div>

<div ng-if="mc.hasAccnPath('usro-list')" class="table-responsive">
    <span class="label label-default" translate="grid_count"
        translate-value-count="{{vm.resultList.count | number:0}}"></span>

    <table class="table-bordered table-condensed table-hover table-nonfluid">
        <thead>
            <tr>
                <th class="buttonLinks" nowrap="nowrap" />
                <th class="codigo" nowrap="nowrap" translate="usro_login"></th>
                <th translate="usro_nombre"></th>
                <th translate="sprt"></th>
                <th translate="prto"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="usro in vm.resultList.list track by usro.id">
                <td><a ui-sref="usuario-detail(usro)"><i class="glyphicon glyphicon-search"></i></a></td>
                <td nowrap="nowrap" ng-bind="usro.login"></td>
                <td nowrap="nowrap" ng-bind="usro.nombre"></td>
                <td nowrap="nowrap" ng-bind="usro.sprt.etiqueta"></td>
                <td nowrap="nowrap" ng-bind="usro.prto.etiqueta"></td>
            </tr>
        </tbody>
    </table>
</div>
