<div data-ng-if="vm.model">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a data-ng-if="mc.hasAcbsPath('crgo-edit')" class="btn btn-default"
                data-ng-href="#!/facturacion/cargo/edit/edit/{{vm.model.id}}/{{vm.model.fref}}"><i
                class="glyphicon glyphicon-edit"></i> <span data-translate="btn_editar"></span></a>
            <button data-ng-if="mc.hasAcbsPath('crgo-remove')" data-ng-click="vm.remove()" class="btn btn-default">
                <i class="glyphicon glyphicon-remove"></i> <span data-translate="btn_borrar"></span>
            </button>
        </div>
    </div>

    <fieldset>
        <div class="row">
            <div class="col-sm-3 col-md-2 form-group-sm">
                <label data-translate="tpsr"></label>
                <p class="form-control-static">
                    <a data-ng-href="#!/metamodelo/tipo-servicio/detail/{{vm.model.tpsr.id}}"
                        data-ng-bind="'enti_' + vm.model.tpsr.id | translate"></a>
                </p>
            </div>
            <div class="col-sm-2 col-md-1 form-group-sm">
                <label data-translate="crgo_codigo"></label>
                <p class="form-control-static" data-ng-bind="vm.model.codigo"></p>
            </div>
            <div class="col-sm-2 col-md-2 form-group-sm">
                <label data-translate="crgo_codigoNormalizado"></label>
                <p class="form-control-static" data-ng-bind="vm.model.version.codigoNormalizado"></p>
            </div>
            <div class="col-sm-2 col-md-1 form-group-sm">
                <label data-translate="crgo_tipo"></label>
                <p class="form-control-static" data-ng-bind="'CargoTipo_' + vm.model.version.tipo | translate"></p>
            </div>
            <div class="col-sm-1 col-md-1 form-group-sm">
                <label data-translate="crgo_principal"></label>
                <p class="form-control-static">
                    <i class="glyphicon"
                        data-ng-class="{true:'glyphicon-ok', false:'glyphicon-remove'}[vm.model.version.principal]"></i>
                </p>
            </div>
            <div class="col-sm-1 col-md-1 form-group-sm">
                <label data-translate="crgo_temporal"></label>
                <p class="form-control-static">
                    <i class="glyphicon"
                        data-ng-class="{true:'glyphicon-ok', false:'glyphicon-remove'}[vm.model.version.temporal]"></i>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2 col-md-1 form-group-sm">
                <label data-translate="fini"></label>
                <p class="form-control-static" data-ng-bind="(vm.model.version.fini | date: dateFormat)"></p>
            </div>
            <div class="col-sm-2 col-md-1 form-group-sm">
                <label data-translate="ffin"></label>
                <p class="form-control-static" data-ng-bind="(vm.model.version.ffin | date: dateFormat)"></p>
            </div>
        </div>

        <div class="row" data-ng-include="'modules/common/i18nMap-detail.html'"></div>
    </fieldset>

    <fieldset data-ng-if="mc.hasAcbsPath('rgla-list')">
        <legend data-ng-bind="'Reglas'"></legend>

        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                <a data-ng-if="mc.hasAcbsPath('rgla-create')" class="btn btn-default"
                    data-ng-href="#!/facturacion/regla/edit/create/{{vm.model.id}}/{{vm.model.fref}}"><i
                    class="glyphicon glyphicon-file"></i> <span data-translate="btn_crear"></span></a>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table-bordered table-condensed table-hover">
                <thead>
                    <tr>
                        <th />
                        <th data-translate="rgla_codigo"></th>
                        <th data-translate="rgla_nombre"></th>
                        <th data-translate="rgla_tipo"></th>
                        <th data-translate="enti"></th>
                        <th data-translate="fini"></th>
                        <th data-translate="ffin"></th>
                        <th data-translate="rgla_orden"></th>
                        <th data-translate="rgla_valorBase"></th>
                        <th data-translate="rgla_formula"></th>
                        <th data-translate="rgla_condicion"></th>
                    </tr>
                </thead>

                <tbody>
                    <tr data-ng-repeat="rgla in vm.rglaList track by $index">
                        <td><a data-ng-if="mc.hasAcbsPath('rgla-detail')"
                            data-ng-href="#!/facturacion/regla/detail/{{rgla.id}}/{{rgla.fref}}"><i
                                class="glyphicon glyphicon-search"></i></a></td>
                        <td data-ng-bind="rgla.codigo"></td>
                        <td nowrap="nowrap" data-ng-bind="rgla.texto"></td>
                        <td><span data-ng-bind="rgla.tipo"
                            data-uib-tooltip="{{'ReglaTipo_' + rgla.tipo | translate}}"></span></td>
                        <td data-ng-bind="('enti_' + rgla.enti.id | translate)"></td>
                        <td data-ng-bind="(rgla.version.fini | date: dateFormat)"></td>
                        <td data-ng-bind="(rgla.version.ffin | date: dateFormat)"></td>
                        <td class="number" data-ng-bind="rgla.version.orden"></td>
                        <td class="number" data-ng-bind="(rgla.version.valorBase | number:4)"></td>
                        <td><span data-ng-bind="rgla.version.formula"></span></td>
                        <td><span data-ng-bind="rgla.version.condicion"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
</div>