<div data-ng-if="vm.model">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a class="btn btn-default" data-ng-if="mc.hasAcbsPath('fcsr-edit')"
                data-ng-href="#/facturacion/factura-serie/edit/edit/{{vm.model.id}}"><i
                class="glyphicon glyphicon-edit"></i> <span data-translate="btn_editar"></span></a>
            <button data-ng-if="mc.hasAcbsPath('fcsr-remove')" data-ng-click="vm.remove()"
                class="btn btn-default">
                <i class="glyphicon glyphicon-remove"></i> <span data-translate="btn_borrar"></span>
            </button>
        </div>
    </div>

    <fieldset>
        <div class="row">
            <div class="col-sm-1 form-group-sm">
                <label data-translate="fcsr_serie"></label>
                <p class="form-control-static" data-ng-bind="vm.model.serie"></p>
            </div>
            <div class="col-sm-1 form-group-sm">
                <label data-translate="fcsr_anio"></label>
                <p class="form-control-static" data-ng-bind="vm.model.anio"></p>
            </div>
            <div class="col-sm-3 col-md-2 col-xl-1 form-group-sm">
                <label data-translate="fcsr_numeroUltimo"></label>
                <p class="form-control-static number" data-ng-bind="vm.model.numeroUltimo"></p>
            </div>
        </div>
    </fieldset>
</div>