<div data-ng-if="vm.model">
    <div data-uib-tabset data-type="pills">
        <div data-uib-tab data-select="vm.tabSelected(null)" data-heading="{{'fctd' | translate}}">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group"></div>
            </div>

            <fieldset>
                <div class="row">
                    <div class="col-md-3 form-group-sm">
                        <label data-translate="rgla"></label>
                        <p class="form-control-static">
                            <a data-ng-href="#!/facturacion/regla/detail/{{vm.model.rgla.id}}/{{vm.model.fref}}"
                                data-ng-bind="vm.model.rgla.etiqueta"></a>
                        </p>
                    </div>
                    <div class="col-md-1 form-group-sm">
                        <label data-translate="rgla_tipo"></label>
                        <p class="form-control-static" data-ng-bind="vm.model.rgla.tipo"></p>
                    </div>
                    <div class="col-md-1 form-group-sm">
                        <label data-translate="vlrd_valorBase"></label>
                        <p class="form-control-static number" data-ng-bind="vm.model.valorBase | number:4"></p>
                    </div>
                    <div class="col-md-1 form-group-sm" data-ng-if="vm.vlrl.rgla.tipo != 'T'">
                        <label data-translate="vlrd_importeBase"></label>
                        <p class="form-control-static number">{{vm.model.importeBase | number:2}} &euro;</p>
                    </div>
                    <div class="col-md-1 form-group-sm">
                        <label data-translate="vlrd_importe"></label>
                        <p class="form-control-static number">{{vm.model.importe | number:2}} &euro;</p>
                    </div>
                    <div class="col-md-2 form-group-sm">
                        <label data-translate="vlrd_impuesto"></label>
                        <p class="form-control-static">
                            <a
                                data-ng-href="#!/maestro/parametro/detail/{{vm.vlrlPadre.impuesto.entiId}}/{{vm.vlrlPadre.impuesto.id}}/{{vm.model.fref}}"
                                data-ng-bind="vm.vlrlPadre.impuesto.etiqueta"></a>
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 form-group-sm">
                        <label data-ng-bind="'enti_' + vm.vlrl.rgla.enti.id | translate"></label>
                        <p class="form-control-static">
                            <a data-ng-if="vm.model.ssrv.id"
                                data-ng-href="#!/servicio/subservicio/detail/{{vm.model.ssrv.entiId}}/{{vm.model.ssrv.id}}"
                                data-ng-bind="vm.model.ssrv.numero"></a>
                        </p>
                    </div>
                    <div class="col-md-2 form-group-sm" data-ng-if="vlrl.rgla.crgo.version.temporal">
                        <label data-translate="vlrd_fini"></label>
                        <p class="form-control-static" data-ng-bind="model.fini | date: ('format_datetime' | translate)"></p>
                    </div>
                    <div class="col-md-2 form-group-sm" data-ng-if="vlrl.rgla.crgo.version.temporal">
                        <label data-translate="vlrd_ffin"></label>
                        <p class="form-control-static" data-ng-bind="model.ffin | date: ('format_datetime' | translate)"></p>
                    </div>
                </div>

                <div class="row">
                    <div data-ng-if="vm.vlrlPadre.rgla.version.etiqInfo1" class="col-md-4 form-group-sm">
                        <label data-ng-bind="vm.vlrlPadre.rgla.version.etiqInfo1"></label>
                        <p class="form-control-static">{{vm.aspc.version.lgrpInfo1 ? vm.vlrlPadre.info1 :
                            vm.model.info1}}</p>
                    </div>
                    <div data-ng-if="vm.vlrlPadre.rgla.version.etiqInfo2" class="col-md-4 form-group-sm">
                        <label data-ng-bind="vm.vlrlPadre.rgla.version.etiqInfo2"></label>
                        <p class="form-control-static">{{vm.aspc.version.lgrpInfo2 ? vm.vlrlPadre.info2 :
                            vm.model.info2}}</p>
                    </div>
                    <div data-ng-if="vm.vlrlPadre.rgla.version.etiqInfo3" class="col-md-4 form-group-sm">
                        <label data-ng-bind="vm.vlrlPadre.rgla.version.etiqInfo3"></label>
                        <p class="form-control-static">{{vm.aspc.version.lgrpInfo3 ? vm.vlrlPadre.info3 :
                            vm.model.info3}}</p>
                    </div>
                    <div data-ng-if="vm.vlrlPadre.rgla.version.etiqInfo4" class="col-md-4 form-group-sm">
                        <label data-ng-bind="vm.vlrlPadre.rgla.version.etiqInfo4"></label>
                        <p class="form-control-static">{{vm.aspc.version.lgrpInfo4 ? vm.vlrlPadre.info4 :
                            vm.model.info4}}</p>
                    </div>
                    <div data-ng-if="vm.vlrlPadre.rgla.version.etiqInfo5" class="col-md-4 form-group-sm">
                        <label data-ng-bind="vm.vlrlPadre.rgla.version.etiqInfo5"></label>
                        <p class="form-control-static">{{vm.aspc.version.lgrpInfo5 ? vm.vlrlPadre.info5 :
                            vm.model.info5}}</p>
                    </div>
                    <div data-ng-if="vm.vlrlPadre.rgla.version.etiqInfo6" class="col-md-4 form-group-sm">
                        <label data-ng-bind="vm.vlrlPadre.rgla.version.etiqInfo6"></label>
                        <p class="form-control-static">{{vm.aspc.version.lgrpInfo6 ? vm.vlrlPadre.info6 :
                            vm.model.info6}}</p>
                    </div>
                </div>

                <div class="row">
                    <div data-ng-if="vm.vlrlPadre.rgla.version.etiqCuant1" class="col-md-2 form-group-sm">
                        <label data-ng-bind="vm.vlrlPadre.rgla.version.etiqCuant1"></label>
                        <p class="form-control-static number" data-ng-bind="vm.model.cuant1 | number:2"></p>
                    </div>
                    <div data-ng-if="vm.vlrlPadre.rgla.version.etiqCuant2" class="col-md-2 form-group-sm">
                        <label data-ng-bind="vm.vlrlPadre.rgla.version.etiqCuant2"></label>
                        <p class="form-control-static number" data-ng-bind="vm.model.cuant2 | number:2"></p>
                    </div>
                    <div data-ng-if="vm.vlrlPadre.rgla.version.etiqCuant3" class="col-md-2 form-group-sm">
                        <label data-ng-bind="vm.vlrlPadre.rgla.version.etiqCuant3"></label>
                        <p class="form-control-static number" data-ng-bind="vm.model.cuant3 | number:2"></p>
                    </div>
                    <div data-ng-if="vm.vlrlPadre.rgla.version.etiqCuant4" class="col-md-2 form-group-sm">
                        <label data-ng-bind="vm.vlrlPadre.rgla.version.etiqCuant4"></label>
                        <p class="form-control-static number" data-ng-bind="vm.model.cuant4 | number:2"></p>
                    </div>
                    <div data-ng-if="vm.vlrlPadre.rgla.version.etiqCuant5" class="col-md-2 form-group-sm">
                        <label data-ng-bind="vm.vlrlPadre.rgla.version.etiqCuant5"></label>
                        <p class="form-control-static number" data-ng-bind="vm.model.cuant5 | number:2"></p>
                    </div>
                    <div data-ng-if="vm.vlrlPadre.rgla.version.etiqCuant6" class="col-md-2 form-group-sm">
                        <label data-ng-bind="vm.vlrlPadre.rgla.version.etiqCuant6"></label>
                        <p class="form-control-static number" data-ng-bind="vm.model.cuant6 | number:2"></p>
                    </div>
                </div>
            </fieldset>

            <fieldset data-ng-if="vm.model.rgla.tipo == 'T'">
                <legend>Modificadores</legend>

                <div class="table-responsive">
                    <table class="table-bordered table-condensed table-hover">
                        <thead>
                            <tr>
                                <th />
                                <th data-translate="rgla"></th>
                                <th data-translate="rgla_tipo"></th>
                                <th data-translate="vlrd_valorBase"></th>
                                <th data-translate="vlrd_importeBase"></th>
                                <th data-translate="vlrd_importe"></th>

                                <th data-ng-if="vm.vlrlPadre.rgla.version.etiqCuant1"><span
                                    data-ng-bind="vm.vlrlPadre.rgla.version.etiqCuant1"></span></th>
                                <th data-ng-if="vm.vlrlPadre.rgla.version.etiqCuant2"><span
                                    data-ng-bind="vm.vlrlPadre.rgla.version.etiqCuant2"></span></th>
                                <th data-ng-if="vm.vlrlPadre.rgla.version.etiqCuant3"><span
                                    data-ng-bind="vm.vlrlPadre.rgla.version.etiqCuant3"></span></th>
                                <th data-ng-if="vm.vlrlPadre.rgla.version.etiqCuant4"><span
                                    data-ng-bind="vm.vlrlPadre.rgla.version.etiqCuant4"></span></th>
                                <th data-ng-if="vm.vlrlPadre.rgla.version.etiqCuant5"><span
                                    data-ng-bind="vm.vlrlPadre.rgla.version.etiqCuant5"></span></th>
                                <th data-ng-if="vm.vlrlPadre.rgla.version.etiqCuant6"><span
                                    data-ng-bind="vm.vlrlPadre.rgla.version.etiqCuant6"></span></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr data-ng-repeat="vlrd in vm.vlrdHijosList track by $index">
                                <td><a data-ng-href="#!/facturacion/factura-detalle/detail/{{vlrd.id}}"><i
                                        class="glyphicon glyphicon-search"></i></a></td>
                                <td nowrap="nowrap"><span data-ng-bind="vlrd.rgla.texto"
                                    data-uib-tooltip="{{vlrd.rgla.codigo}}"></span></td>
                                <td nowrap="nowrap"><span data-ng-bind="vlrd.rgla.tipo"
                                    data-uib-tooltip="{{'ReglaTipo_' + vlrd.rgla.tipo | translate}}"></span></td>
                                <td class="number" data-ng-bind="vlrd.valorBase | number:4"></td>
                                <td nowrap="nowrap" class="number">{{vlrd.importeBase | number:2}} &euro;</td>
                                <td nowrap="nowrap" class="number">{{vlrd.importe | number:2}} &euro;</td>

                                <td data-ng-if="vm.vlrlPadre.rgla.version.etiqCuant1" class="number"
                                    data-ng-bind="vlrd.cuant1 | number:2"></td>
                                <td data-ng-if="vm.vlrlPadre.rgla.version.etiqCuant2" class="number"
                                    data-ng-bind="vlrd.cuant2 | number:2"></td>
                                <td data-ng-if="vm.vlrlPadre.rgla.version.etiqCuant3" class="number"
                                    data-ng-bind="vlrd.cuant3 | number:2"></td>
                                <td data-ng-if="vm.vlrlPadre.rgla.version.etiqCuant4" class="number"
                                    data-ng-bind="vlrd.cuant4 | number:2"></td>
                                <td data-ng-if="vm.vlrlPadre.rgla.version.etiqCuant5" class="number"
                                    data-ng-bind="vlrd.cuant5 | number:2"></td>
                                <td data-ng-if="vm.vlrlPadre.rgla.version.etiqCuant6" class="number"
                                    data-ng-bind="vlrd.cuant6 | number:2"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
    </div>
</div>