<div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
        <div data-uib-pagination data-total-items="vm.resultList.count"
            data-items-per-page="vm.resultList.limit" data-ng-model="vm.page"
            data-ng-change="vm.pageChanged()" class="pagination" data-max-size="1"
            data-previous-text="&lsaquo;&lsaquo;" data-next-text="&rsaquo;&rsaquo;"></div>
    </div>
    <div class="btn-group">
        <button class="btn btn-default" data-ng-click="vm.filter('lg')"
            data-template-url="modules/facturacion/fragment/factura-filter-content.html" data-bs-modal="modal">
            <i class="glyphicon glyphicon-search"></i><span data-translate="btn_filtrar"></span>
        </button>
    </div>
</div>

<div class="table-responsive">
    <span class="label label-default" data-translate="grid_count"
        data-translate-value-count="{{vm.resultList.count | number:0}}"></span>

    <table class="table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th class="buttonLinks" nowrap="nowrap" />
                <th data-translate="fctr"></th>
                <th data-translate="fctr_falta"></th>
                <th data-translate="fctr_estado"></th>
                <th data-translate="fctr_anulada"></th>
                <th data-translate="fref"></th>
                <th data-translate="fini"></th>
                <th data-translate="ffin"></th>
                <th data-translate="fctr_pagador"></th>
                <th data-translate="fctr_sujPasivo"></th>
                <th data-translate="aspc"></th>
                <th data-translate="tpsr"></th>
                <th data-translate="fctr_importe"></th>
                <th data-translate="fctr_impuesto"></th>
                <th data-translate="fctr_info1"></th>
                <th data-translate="fctr_info2"></th>
                <th data-translate="fctr_info3"></th>
                <th data-translate="fctr_info4"></th>
                <th data-translate="fctr_info5"></th>
                <th data-translate="fctr_info6"></th>
            </tr>
        </thead>

        <tbody>
            <tr data-ng-repeat="item in vm.resultList.list track by $index">
                <td><a data-ng-href="#/facturacion/factura/detail/{{item.id}}"><i
                        class="glyphicon glyphicon-search"></i></a></td>
                <td data-ng-bind="item.etiqueta"></td>
                <td nowrap="nowrap" data-ng-bind="item.falta | date: ('format_datetime' | translate)"></td>
                <td data-ng-bind="item.estado" data-bs-tooltip
                    data-title="{{'FacturaEstado_' + item.estado | translate}}"></td>
                <td data-ng-bind="item.fctrAnulada.etiqueta"></td>
                <td nowrap="nowrap" data-ng-bind="item.fref | date: ('format_date' | translate)"></td>
                <td nowrap="nowrap" data-ng-bind="item.fini | date: ('format_datetime' | translate)"></td>
                <td nowrap="nowrap" data-ng-bind="item.ffin | date: ('format_datetime' | translate)"></td>
                <td nowrap="nowrap" data-ng-bind="item.pagador.etiqueta"></td>
                <td><i class="glyphicon glyphicon-{{item.sujPasivo ? 'ok' : 'remove'}}"></i></td>
                <td nowrap="nowrap" data-ng-bind="item.aspc.etiqueta"></td>
                <td nowrap="nowrap" data-ng-bind="'enti_' + item.aspc.tpsr.id | translate"></td>
                <td nowrap="nowrap" class="number" data-ng-bind="item.importe | number:2"></td>
                <td nowrap="nowrap" class="number" data-ng-bind="item.impuesto | number:2"></td>
                <td nowrap="nowrap"><span data-ng-bind="item.info1"></span></td>
                <td nowrap="nowrap"><span data-ng-bind="item.info2"></span></td>
                <td nowrap="nowrap"><span data-ng-bind="item.info3"></span></td>
                <td nowrap="nowrap"><span data-ng-bind="item.info4"></span></td>
                <td nowrap="nowrap"><span data-ng-bind="item.info5"></span></td>
                <td nowrap="nowrap"><span data-ng-bind="item.info6"></span></td>
            </tr>
        </tbody>
    </table>
</div>