
<div class="list-group col-sm-4 col-md-3">
    <a data-ng-if="mc.hasAcbsPath('vlrc-list')" data-ng-href="#!/facturacion/valoracion/grid"
        class="list-group-item" data-ng-bind="'vlrcList' | translate | uppercase"></a> <a
        data-ng-if="mc.hasAcbsPath('fctr-list')" data-ng-href="#!/facturacion/factura/grid"
        class="list-group-item" data-ng-bind="'fctrList' | translate | uppercase"></a>
</div>

<div class="list-group col-sm-4 col-md-3">
    <a data-ng-if="mc.hasAcbsPath('crgo-list')" data-ng-href="#!/facturacion/cargo/grid"
        class="list-group-item" data-ng-bind="'crgoList' | translate | uppercase"></a> <a
        data-ng-if="mc.hasAcbsPath('aspc-list')" data-ng-href="#!/facturacion/aspecto/grid"
        class="list-group-item" data-ng-bind="'aspcList' | translate | uppercase"></a><a
        data-ng-if="mc.hasAcbsPath('fcsr-list')" data-ng-href="#!/facturacion/factura-serie/grid"
        class="list-group-item" data-ng-bind="'fcsrList' | translate | uppercase"></a>
</div>
