<div data-ng-if="vm.model">
    <form role="form">
        <fieldset>
            <div class="row">
                <div class="col-md-2 form-group-sm">
                    <label data-translate="crgo"></label>
                    <p class="form-control-static" data-ng-bind="vm.model.crgo.etiqueta"></p>
                </div>
                <div class="col-md-1 form-group-sm" data-ng-switch="vm.accion">
                    <label data-translate="rgla_codigo"></label> <input data-ng-switch-when="create"
                        type="text" data-ng-model="vm.model.codigo" class="form-control" />
                    <p data-ng-switch-when="edit" class="form-control-static" data-ng-bind="vm.model.codigo"></p>
                </div>
                <div class="col-md-2 form-group-sm" data-ng-switch="vm.accion">
                    <label data-translate="rgla_tipo"></label> <select data-ng-switch-when="create"
                        data-ng-model="vm.model.tipo"
                        data-ng-options="cdrf as ('ReglaTipo_' + cdrf | translate) for cdrf in vm.tipos"
                        class="form-control">
                        <option />
                    </select>
                    <p data-ng-switch-when="edit" class="form-control-static"
                        data-ng-bind="'ReglaTipo_' + vm.model.tipo | translate"></p>
                </div>
                <div class="col-md-2 form-group-sm" data-ng-switch="vm.accion">
                    <label data-translate="enti"></label> <select data-ng-switch-when="create"
                        data-ng-model="vm.model.enti.id"
                        data-ng-options="item.value as item.label for item in vm.entiFacturableList"
                        class="form-control">
                        <option />
                    </select>
                    <p data-ng-switch-when="edit" class="form-control-static">
                        <a data-ng-if="vm.model.enti.tipo == 'T'"
                            data-ng-href="#!/metamodelo/tipo-servicio/detail/{{vm.model.enti.id}}"
                            data-ng-bind="'enti_' + vm.model.enti.id | translate"></a> <a
                            data-ng-if="vm.model.enti.tipo == 'S'"
                            data-ng-href="#!/metamodelo/tipo-subservicio/detail/{{vm.model.enti.id}}"
                            data-ng-bind="'enti_' + vm.model.enti.id | translate"></a>
                    </p>
                </div>
                <div class="col-md-1 form-group-sm">
                    <label data-translate="fini"></label><input type="text" class="form-control"
                        data-ng-model="vm.model.version.fini" data-max-date="{{vm.model.version.ffin}}"
                        data-bs-datepicker />
                </div>
                <div class="col-md-1 form-group-sm">
                    <label data-translate="ffin"></label><input type="text" class="form-control"
                        data-ng-model="vm.model.version.ffin" data-min-date="{{vm.model.version.fini}}"
                        data-bs-datepicker />
                </div>
                <div class="col-md-1 form-group-sm">
                    <label data-translate="rgla_orden"></label> <input type="text"
                        data-ng-model="vm.model.version.orden" class="form-control number" />
                </div>
                <div class="col-md-1 form-group-sm">
                    <label data-translate="rgla_valorBase"></label> <input type="text"
                        data-ng-model="vm.model.version.valorBase" class="form-control number" />
                </div>
            </div>

            <div class="row" data-ng-include="'modules/common/i18nMap-edit.html'"></div>

            <div class="row">
                <div class="col-md-6 form-group-sm">
                    <label data-translate="rgla_condicion"></label>
                    <textarea class="form-control" rows="12" spellcheck="false"
                        data-ng-model="vm.model.version.condicion" data-ng-bind="vm.model.version.condicion"></textarea>
                </div>
                <div class="col-md-6 form-group-sm">
                    <label data-translate="rgla_formula"></label>
                    <textarea class="form-control" rows="12" spellcheck="false"
                        data-ng-model="vm.model.version.formula" data-ng-bind="vm.model.version.formula"></textarea>
                </div>
            </div>

            <div data-ng-if="vm.model.tipo == 'T'" class="row">
                <div class="col-md-6 form-group-sm">
                    <label data-translate="rgla_pathImpuesto"></label> <input type="text"
                        data-ng-model="vm.model.version.pathImpuesto" class="form-control" spellcheck="false" />
                </div>
                <div class="col-md-6 form-group-sm">
                    <label data-translate="rgla_pathPagador"></label> <input type="text"
                        data-ng-model="vm.model.version.pathPagador" class="form-control" spellcheck="false" />
                </div>
            </div>

            <div data-ng-if="vm.model.tipo == 'T'" class="row">
                <div class="col-md-6 form-group-sm">
                    <label data-translate="rgla_pathEsSujPasivo"></label> <input type="text"
                        data-ng-model="vm.model.version.pathEsSujPasivo" class="form-control"
                        spellcheck="false" />
                </div>
                <div class="col-md-6 form-group-sm">
                    <label data-translate="rgla_pathCodExen"></label> <input type="text"
                        data-ng-model="vm.model.version.pathCodExen" class="form-control" spellcheck="false" />
                </div>
            </div>
        </fieldset>

        <fieldset data-ng-if="vm.model.tipo == 'T'">
            <legend data-ng-bind="'Elementos Informativos'"></legend>

            <div class="col-sm-12 form-group-sm">
                <table class="table-condensed">
                    <thead>
                        <tr>
                            <th class="col-md-1"></th>
                            <th class="col-md-3" data-translate="rgla_etiqInfo"></th>
                            <th class="col-md-8" data-translate="rgla_pathInfo"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>info1</td>
                            <td><input type="text" data-ng-model="vm.model.version.etiqInfo1"
                                class="form-control" /></td>
                            <td><input type="text" data-ng-model="vm.model.version.pathInfo1"
                                class="form-control" spellcheck="false" /></td>
                        </tr>
                        <tr>
                            <td>info2</td>
                            <td><input type="text" data-ng-model="vm.model.version.etiqInfo2"
                                class="form-control" /></td>
                            <td><input type="text" data-ng-model="vm.model.version.pathInfo2"
                                class="form-control" spellcheck="false" /></td>
                        </tr>
                        <tr>
                            <td>info3</td>
                            <td><input type="text" data-ng-model="vm.model.version.etiqInfo3"
                                class="form-control" /></td>
                            <td><input type="text" data-ng-model="vm.model.version.pathInfo3"
                                class="form-control" spellcheck="false" /></td>
                        </tr>
                        <tr>
                            <td>info4</td>
                            <td><input type="text" data-ng-model="vm.model.version.etiqInfo4"
                                class="form-control" /></td>
                            <td><input type="text" data-ng-model="vm.model.version.pathInfo4"
                                class="form-control" spellcheck="false" /></td>
                        </tr>
                        <tr>
                            <td>info5</td>
                            <td><input type="text" data-ng-model="vm.model.version.etiqInfo5"
                                class="form-control" /></td>
                            <td><input type="text" data-ng-model="vm.model.version.pathInfo5"
                                class="form-control" spellcheck="false" /></td>
                        </tr>
                        <tr>
                            <td>info6</td>
                            <td><input type="text" data-ng-model="vm.model.version.etiqInfo6"
                                class="form-control" /></td>
                            <td><input type="text" data-ng-model="vm.model.version.pathInfo6"
                                class="form-control" spellcheck="false" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>

        <fieldset data-ng-if="vm.model.tipo == 'T'">
            <legend data-ng-bind="'Elementos Cuantitativos'"></legend>

            <div class="col-sm-12 form-group-sm">
                <table class="table-condensed">
                    <thead>
                        <tr>
                            <th class="col-md-1" />
                            <th class="col-md-3" data-translate="rgla_etiqCuant"></th>
                            <th class="col-md-8" data-translate="rgla_pathCuant"></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>cuant1</td>
                            <td><input type="text" data-ng-model="vm.model.version.etiqCuant1"
                                class="form-control" /></td>
                            <td><input type="text" data-ng-model="vm.model.version.pathCuant1"
                                class="form-control" spellcheck="false" /></td>
                        </tr>
                        <tr>
                            <td>cuant2</td>
                            <td><input type="text" data-ng-model="vm.model.version.etiqCuant2"
                                class="form-control" /></td>
                            <td><input type="text" data-ng-model="vm.model.version.pathCuant2"
                                class="form-control" spellcheck="false" /></td>
                        </tr>
                        <tr>
                            <td>cuant3</td>
                            <td><input type="text" data-ng-model="vm.model.version.etiqCuant3"
                                class="form-control" /></td>
                            <td><input type="text" data-ng-model="vm.model.version.pathCuant3"
                                class="form-control" spellcheck="false" /></td>
                        </tr>
                        <tr>
                            <td>cuant4</td>
                            <td><input type="text" data-ng-model="vm.model.version.etiqCuant4"
                                class="form-control" /></td>
                            <td><input type="text" data-ng-model="vm.model.version.pathCuant4"
                                class="form-control" spellcheck="false" /></td>
                        </tr>
                        <tr>
                            <td>cuant5</td>
                            <td><input type="text" data-ng-model="vm.model.version.etiqCuant5"
                                class="form-control" /></td>
                            <td><input type="text" data-ng-model="vm.model.version.pathCuant5"
                                class="form-control" spellcheck="false" /></td>
                        </tr>
                        <tr>
                            <td>cuant6</td>
                            <td><input type="text" data-ng-model="vm.model.version.etiqCuant6"
                                class="form-control" /></td>
                            <td><input type="text" data-ng-model="vm.model.version.pathCuant6"
                                class="form-control" spellcheck="false" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>

        <div class="btn-group">
            <button data-ng-click="vm.save()" class="btn btn-primary">
                <i class="glyphicon glyphicon-ok"></i> <span data-translate="btn_guardar"></span>
            </button>
            <button data-ng-click="vm.cancel()" class="btn btn-default">
                <i class="glyphicon glyphicon-remove"></i> <span data-translate="btn_cancelar"></span>
            </button>
        </div>
    </form>
</div>