
<div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
        <button class="btn btn-default" data-ng-click="vm.reload()">
            <i class="glyphicon glyphicon-refresh"></i> <span data-translate="btn_reload"></span>
        </button>
    </div>
</div>

<fieldset>
    <div class="col-sm-6 col-md-4 col-lg-3 form-group-sm">
        <input type="text" data-ng-model="confSearch" maxlength="50" class="form-control" />
    </div>
</fieldset>

<div class="table-responsive">
    <table class="table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th nowrap="nowrap" />
                <th nowrap="nowrap" data-translate="conf_key"></th>
                <th nowrap="nowrap" data-translate="conf_valueType"></th>
                <th nowrap="nowrap" data-translate="conf_defaultValue"></th>
                <th nowrap="nowrap" data-translate="conf_value"></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="item in (vm.confList | filter:confSearch) track by $index">
                <td><a data-ng-href="#/administracion/configuration/configuration/detail/{{item.key}}"><i
                        class="glyphicon glyphicon-search"></i></a></td>
                <td nowrap="nowrap" data-ng-bind="item.key"></td>
                <td nowrap="nowrap" data-ng-bind="'ConfigurationValueType_' + item.valueType | translate"></td>
                <td nowrap="nowrap" data-ng-bind="item.defaultValue"></td>
                <td nowrap="nowrap" data-ng-bind="item.value"></td>
            </tr>
        </tbody>
    </table>
</div>
