<div data-ng-if="vm.key">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a class="btn btn-default" data-ng-href="#!/administracion/messagei18n/messagei18n/edit/edit/{{vm.key}}"><i
                class="glyphicon glyphicon-edit"></i> <span data-translate="btn_editar"></span></a>
        </div>
    </div>

    <fieldset>
        <div class="row" data-ng-repeat="language in vm.availableLanguages">
            <div class="col-sm-9 col-md-8 col-lg-7 form-group-sm">
                <label data-ng-bind="language"></label>
                <p class="form-control-static" data-ng-bind="vm.i18nMap[language].value"></p>
            </div>
        </div>
    </fieldset>
</div>