<div *ngIf="model">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" [routerLink]="['/billing/aspect-charge/edit', 'edit', model.aspcId, model.fref, model.id]"><i
                class="fa fa-edit"></i> <span [translate]="'btn_editar'"></span></a>
            <button class="btn btn-secondary" (click)="remove()">
                <i class="fa fa-remove"></i> <span [translate]="'btn_borrar'"></span>
            </button>
        </div>
    </div>

    <form>
        <fieldset class="form-group">
            <div class="row">
                <div class="col-sm-4 col-lg-3 col-xl-2 form-group-sm">
                    <label [translate]="'crgo'"></label>
                    <p class="form-control-static form-control-sm">
                        <a *ngIf="model.crgo" [routerLink]="['/billing/charge/detail', model.crgo.id, model.fref]"
                            [innerHTML]="model.crgo.etiqueta"></a>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2 col-xl-1 form-group-sm">
                    <label [translate]="'fini'"></label>
                    <p class="form-control-static form-control-sm" [innerHTML]="model.version.fini | date: 'dd/MM/yyyy'"></p>
                </div>
                <div class="col-lg-2 col-xl-1 form-group-sm">
                    <label [translate]="'ffin'"></label>
                    <p class="form-control-static form-control-sm" [innerHTML]="model.version.ffin | date: 'dd/MM/yyyy'"></p>
                </div>
            </div>
        </fieldset>
    </form>
</div>
