<div *ngIf="model">
    <ngb-tabset #t="ngbTabset" type="pills" [activeId]="activeTab" (tabChange)="tabChange($event)"> <ngb-tab
        id="mainTab"> <ng-template ngbTabTitle> Linea de Valoración </ng-template> <ng-template ngbTabContent>
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" [routerLink]="['/billing/assessment-line/edit', 'edit', model.vlrcId, model.id]"><i
                class="fa fa-edit"></i> Edit</a>
            <button class="btn btn-secondary" (click)="remove()">
                <i class="fa fa-remove"></i> Remove
            </button>
        </div>
    </div>

    <form>
        <fieldset class="form-group">
            <div class="row">
                <div class="col-lg-3 col-xl-2 form-group-sm">
                    <label>Entidad</label>
                    <p class="form-control-static form-control-sm">
                        <a
                            [routerLink]="[{'T':'/metamodel/service-type/detail', 'S':'/metamodel/subservice-type/detail'}[model.rgla.enti.tipo], model.rgla.enti.id]"
                            [translate]="'enti_' + model.rgla.enti.id"></a>
                    </p>
                </div>
                <div class="col-lg-4 col-xl-3 form-group-sm">
                    <label>Cargo</label>
                    <p class="form-control-static form-control-sm">
                        <a [routerLink]="['/billing/charge/detail', model.rgla.crgo.id, model.fref]"
                            [innerHTML]="model.rgla.crgo.etiqueta"></a>
                    </p>
                </div>
                <div class="col-lg-4 col-xl-3 form-group-sm">
                    <label>Regla</label>
                    <p class="form-control-static form-control-sm">
                        <a [routerLink]="['/billing/rule/detail', model.rgla.id, model.fref]"
                            [innerHTML]="model.rgla.etiqueta"></a>
                    </p>
                </div>
                <div class="col-lg-1 col-xl-1 form-group-sm">
                    <label>Tipo</label>
                    <p class="form-control-static form-control-sm" [innerHTML]="model.rgla.tipo"></p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2 col-xl-1 form-group-sm">
                    <label>Valor Base</label>
                    <p class="form-control-static form-control-sm number" [innerHTML]="model.valorBase | number:'1.6-6'"></p>
                </div>
                <div *ngIf="model.rgla.tipo != 'T'" class="col-lg-2 col-xl-1 form-group-sm">
                    <label>Importe Base</label>
                    <p class="form-control-static form-control-sm number"
                        [innerHTML]="model.importeBase | number:'1.2-2'"></p>
                </div>
                <div class="col-lg-2 col-xl-1 form-group-sm">
                    <label>Importe</label>
                    <p class="form-control-static form-control-sm number" [innerHTML]="model.importe | number:'1.2-2'"></p>
                </div>
                <div class="col-lg-4 col-xl-3 form-group-sm">
                    <label>Impuesto</label>
                    <p class="form-control-static form-control-sm">
                        <a
                            [routerLink]="['/metamodel/parameter-type/detail', aslnParent.impuesto.entiId, aslnParent.impuesto.id, model.fref]"
                            [innerHTML]="aslnParent.impuesto.etiqueta"></a>
                    </p>
                </div>
            </div>

            <div *ngIf="model.ssrv" class="row">
                <div class="col-lg-4 col-xl-3 form-group-sm">
                    <label [innerHTML]="model.rgla.enti.id"></label>
                    <p class="form-control-static form-control-sm">
                        <a [routerLink]="['/service/subservice/detail', model.rgla.enti.id, model.ssrv.id]"
                            [innerHTML]="model.ssrv.numero"></a>
                    </p>
                </div>
                <div *ngIf="model.rgla.crgo.version.temporal" class="col-lg-3 col-xl-2 form-group-sm">
                    <label>Fec. Inicio</label>
                    <p class="form-control-static form-control-sm" [innerHTML]="model.fini | date: 'dd/MM/yyyy HH:mm'"></p>
                </div>
                <div *ngIf="model.rgla.crgo.version.temporal" class="col-lg-3 col-xl-2 form-group-sm">
                    <label>Fec. Fin</label>
                    <p class="form-control-static form-control-sm" [innerHTML]="model.ffin | date: 'dd/MM/yyyy HH:mm'"></p>
                </div>
            </div>

            <div class="row">
                <div *ngIf="aslnParent.rgla.version.etiqInfo1 && aspect.version.lgrpInfo1"
                    class="col-lg-4 col-xl-3 form-group-sm">
                    <label [innerHTML]="aslnParent.rgla.version.etiqInfo1"></label>
                    <p class="form-control-static" [innerHTML]="model.info1"></p>
                </div>
                <div *ngIf="aslnParent.rgla.version.etiqInfo2 && aspect.version.lgrpInfo2"
                    class="col-lg-4 col-xl-3 form-group-sm">
                    <label [innerHTML]="aslnParent.rgla.version.etiqInfo2"></label>
                    <p class="form-control-static" [innerHTML]="model.info2"></p>
                </div>
                <div *ngIf="aslnParent.rgla.version.etiqInfo3 && aspect.version.lgrpInfo3"
                    class="col-lg-4 col-xl-3 form-group-sm">
                    <label [innerHTML]="aslnParent.rgla.version.etiqInfo3"></label>
                    <p class="form-control-static" [innerHTML]="model.info3"></p>
                </div>
                <div *ngIf="aslnParent.rgla.version.etiqInfo4 && aspect.version.lgrpInfo4"
                    class="col-lg-4 col-xl-3 form-group-sm">
                    <label [innerHTML]="aslnParent.rgla.version.etiqInfo4"></label>
                    <p class="form-control-static" [innerHTML]="model.info4"></p>
                </div>
                <div *ngIf="aslnParent.rgla.version.etiqInfo5 && aspect.version.lgrpInfo5"
                    class="col-lg-4 col-xl-3 form-group-sm">
                    <label [innerHTML]="aslnParent.rgla.version.etiqInfo5"></label>
                    <p class="form-control-static" [innerHTML]="model.info5"></p>
                </div>
                <div *ngIf="aslnParent.rgla.version.etiqInfo6 && aspect.version.lgrpInfo6"
                    class="col-lg-4 col-xl-3 form-group-sm">
                    <label [innerHTML]="aslnParent.rgla.version.etiqInfo6"></label>
                    <p class="form-control-static" [innerHTML]="model.info6"></p>
                </div>
            </div>

            <div class="row">
                <div *ngIf="aslnParent.rgla.version.etiqCuant1" class="col-lg-3 col-xl-2 form-group-sm">
                    <label [innerHTML]="aslnParent.rgla.version.etiqCuant1"></label>
                    <p class="form-control-static number" [innerHTML]="model.cuant1 | number"></p>
                </div>
                <div *ngIf="aslnParent.rgla.version.etiqCuant2" class="col-lg-3 col-xl-2 form-group-sm">
                    <label [innerHTML]="aslnParent.rgla.version.etiqCuant2"></label>
                    <p class="form-control-static number" [innerHTML]="model.cuant2 | number"></p>
                </div>
                <div *ngIf="aslnParent.rgla.version.etiqCuant3" class="col-lg-3 col-xl-2 form-group-sm">
                    <label [innerHTML]="aslnParent.rgla.version.etiqCuant3"></label>
                    <p class="form-control-static number" [innerHTML]="model.cuant3 | number"></p>
                </div>
                <div *ngIf="aslnParent.rgla.version.etiqCuant4" class="col-lg-3 col-xl-2 form-group-sm">
                    <label [innerHTML]="aslnParent.rgla.version.etiqCuant4"></label>
                    <p class="form-control-static number" [innerHTML]="model.cuant4 | number"></p>
                </div>
                <div *ngIf="aslnParent.rgla.version.etiqCuant5" class="col-lg-3 col-xl-2 form-group-sm">
                    <label [innerHTML]="aslnParent.rgla.version.etiqCuant5"></label>
                    <p class="form-control-static number" [innerHTML]="model.cuant5 | number"></p>
                </div>
                <div *ngIf="aslnParent.rgla.version.etiqCuant6" class="col-lg-3 col-xl-2 form-group-sm">
                    <label [innerHTML]="aslnParent.rgla.version.etiqCuant6"></label>
                    <p class="form-control-static number" [innerHTML]="model.cuant6 | number"></p>
                </div>
            </div>
        </fieldset>

        <fieldset *ngIf="aslnChildList">
            <legend>Modificadores</legend>
            <app-assessment-line-grid-fragment [itemList]="aslnChildList" [aspect]="aspect"></app-assessment-line-grid-fragment>
        </fieldset>
    </form>
    </ng-template> </ngb-tab> <ngb-tab id="assessmentDetailsTab"> <ng-template ngbTabTitle> Detalles de Valoración </ng-template> <ng-template
        ngbTabContent>
    <div *ngIf="asdtList">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group mr-2" role="group">
                <ngb-pagination [collectionSize]="asdtList.count" [(page)]="pageMap['asdtList']" [pageSize]="pageSize"
                    [maxSize]="1" [size]="sm" [boundaryLinks]="false" [ellipses]="false"
                    (pageChange)="pageChange('asdtList')"></ngb-pagination>
            </div>
            <div class="btn-group mr-2" role="group">
                <a class="btn btn-primary" [routerLink]="['/billing/assessment-detail/edit', 'create', model.id]"><i
                    class="fa fa-file-o"></i> New</a>
            </div>
        </div>

        <span>Nº Resultados: {{asdtList.count}}</span>

        <app-assessment-detail-grid-fragment [itemList]="asdtList.list" [aspect]="aspect" [assessmentLine]="model"
            [assessmentLineParent]="aslnParent"></app-assessment-detail-grid-fragment>
    </div>
    </ng-template> </ngb-tab> </ngb-tabset>
</div>
