<div *ngIf="resultList">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group mr-2" role="group">
            <ngb-pagination [collectionSize]="count" [(page)]="page" [pageSize]="pageSize" [maxSize]="1" [size]="sm"
                [boundaryLinks]="false" [ellipses]="false" (pageChange)="pageChange()"></ngb-pagination>
        </div>
        <div class="btn-group mr-2" role="group">
            <button class="btn btn-secondary" (click)="editFilter(filter)">
                <i class="fa fa-filter"></i> Filter
            </button>
            <a class="btn btn-secondary" [routerLink]="['/billing/charge/edit', 'create']"><i class="fa fa-file-o"></i>
                New</a>
        </div>
    </div>

    <span>Nº Resultados: {{count}}</span>

    <div class="table-responsive">
        <table class="table table-sm table-bordered table-hover table-condensed table-nonfluid">
            <thead class="thead-inverse">
                <tr>
                    <th></th>
                    <th>Código</th>
                    <th>Descripción</th>
                    <th>Cód. Normalizado</th>
                    <th>Tipo</th>
                    <th>Tipo de Servicio</th>
                    <th>Principal?</th>
                    <th>Temporal?</th>
                    <th>Fec. Inicio</th>
                    <th>Fec. Fin</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of resultList.list">
                    <td><a [routerLink]="['/billing/charge/detail', item.id, item.fref]"><i class="fa fa-search"></i></a></td>
                    <td nowrap="nowrap" [innerHTML]="item.codigo"></td>
                    <td nowrap="nowrap" [innerHTML]="item.etiqueta"></td>
                    <td nowrap="nowrap" [innerHTML]="item.version.codigoNormalizado"></td>
                    <td nowrap="nowrap" [innerHTML]="item.version.tipo"></td>
                    <td nowrap="nowrap" [translate]="'enti_' + item.tpsr.id"></td>
                    <td nowrap="nowrap"><i class="fa"
                        [ngClass]="{true:'fa-check', false:'fa-remove'}[item.version.principal]"></i></td>
                    <td nowrap="nowrap"><i class="fa"
                        [ngClass]="{true:'fa-check', false:'fa-remove'}[item.version.temporal]"></i></td>
                    <td nowrap="nowrap" [innerHTML]="item.version.fini | date: 'dd/MM/yyyy'"></td>
                    <td nowrap="nowrap" [innerHTML]="item.version.ffin | date: 'dd/MM/yyyy'"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <ng-template #filter data-let-c="close" data-let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Search Filter</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <fieldset class="form-group">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-2 col-xl-1 form-group-sm">
                        <label>Codigo</label> <input type="text" [(ngModel)]="model.codigo" name="model.codigo"
                            class="form-control form-control-sm" />
                    </div>
                    <div class="col-lg-2 col-xl-1 form-group-sm">
                        <label>Cod. Normalizado</label> <input type="text" [(ngModel)]="model.codigoNormalizado"
                            name="model.codigoNormalizado" class="form-control form-control-sm" />
                    </div>
                    <div class="col-lg-3 col-xl-2 form-group-sm">
                        <label>Tipo de Servicio</label> <select [(ngModel)]="model.tpsrId" name="model.tpsrId"
                            class="form-control form-control-sm">
                            <option></option>
                            <option *ngFor="let item of tpsrList" [value]="item.value" [translate]="'enti_' + item.value"></option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-xl-1 form-group-sm">
                        <label>Fec. Vigencia</label> <input class="form-control form-control-sm"
                            name="model.fechaVigencia" [(ngModel)]="model.fechaVigencia" ngbDatepicker
                            #d="ngbDatepicker" (click)="d.toggle()">
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <div class="btn-group">
            <button type="button" class="btn btn-primary" (click)="saveFilter();c()">Search</button>
            <button type="button" class="btn btn-secondary" (click)="resetFilter()">Reset</button>
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
        </div>
    </div>
    </ng-template>
</div>
