<div class="modal-header">
	<p class="modal-title" translate="filtro"></p>
</div>
<div class="modal-body">
	<form>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-4 col-md-3 col-lg-2 form-group">
					<label translate="prbt_modulo"></label> <select ng-model="vm.prbtCriterio.modulo"
						ng-options="valor as ('ProcesoModulo_' + valor | translate) for valor in vm.procesoModulos"
						class="form-control input-sm">
						<option />
					</select>
				</div>
				<div class="col-sm-4 col-md-3 col-lg-2 form-group">
					<label translate="prbt_tipo"></label> <select ng-model="vm.prbtCriterio.tipo"
						ng-options="valor for valor in vm.procesoTipos" class="form-control input-sm">
						<option />
					</select>
				</div>
				<div class="col-sm-4 col-md-3 col-lg-2 form-group">
					<label translate="prbt_estado"></label> <select ng-model="vm.prbtCriterio.estado"
						ng-options="valor as ('ProcesoEstado_' + valor | translate) for valor in vm.procesoEstados"
						class="form-control input-sm">
						<option />
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4 col-md-3 col-lg-2 form-group">
					<label translate="prbt_falta"></label> <input type="text" class="form-control input-sm"
						ng-model="vm.prbtCriterio.faltaMin" bs-datepicker /><input type="text" class="form-control input-sm"
						ng-model="vm.prbtCriterio.faltaMin" bs-timepicker />
				</div>
				<div class="col-sm-4 col-md-3 col-lg-2 form-group">
					<label /> <input type="text" class="form-control input-sm"
						ng-model="vm.prbtCriterio.faltaMax" bs-datepicker /><input type="text" class="form-control input-sm"
						ng-model="vm.prbtCriterio.faltaMax" bs-timepicker />
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" data-ng-click="vm.ok()">
		<i class="glyphicon glyphicon-search"></i><span translate>btn_buscar</span>
	</button>
	<button class="btn btn-default" data-ng-click="vm.cancel()">
		<i class="glyphicon glyphicon-remove"></i><span translate>btn_cancelar</span>
	</button>
</div>
