<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <p class="modal-title" translate="filtro"></p>
            </div>
            <div class="modal-body">
                <form>
                    <fieldset>
                        <div class="row">
                            <div class="col-sm-4 col-md-3 col-lg-2 form-group-sm">
                                <label translate="prbt_modulo"></label> <select
                                    ng-model="vm.prbtCriterio.modulo"
                                    ng-options="valor as ('ProcesoModulo_' + valor | translate) for valor in vm.procesoModulos"
                                    class="form-control">
                                    <option />
                                </select>
                            </div>
                            <div class="col-sm-4 col-md-3 col-lg-2 form-group-sm">
                                <label translate="prbt_tipo"></label> <select ng-model="vm.prbtCriterio.tipo"
                                    ng-options="valor as ('ProcesoTipo_' + valor | translate) for valor in vm.procesoTipos"
                                    class="form-control">
                                    <option />
                                </select>
                            </div>
                            <div class="col-sm-4 col-md-3 col-lg-2 form-group-sm">
                                <label translate="prbt_estado"></label> <select
                                    ng-model="vm.prbtCriterio.estado"
                                    ng-options="valor as ('ProcesoEstado_' + valor | translate) for valor in vm.procesoEstados"
                                    class="form-control">
                                    <option />
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-2 col-lg-1 form-group-sm">
                                <label translate="prbt_falta"></label> <input type="text" class="form-control"
                                    ng-model="vm.prbtCriterio.faltaMin" data-container=".modal-body"
                                    bs-datepicker />
                            </div>
                            <div class="col-sm-2 col-md-1 col-lg-1 form-group-sm">
                                <label>Hora</label> <input type="text" class="form-control"
                                    ng-model="vm.prbtCriterio.faltaMin" bs-timepicker />
                            </div>
                            <div class="col-sm-3 col-md-2 col-lg-1 form-group-sm">
                                <label translate="prbt_falta"></label> <input type="text" class="form-control"
                                    ng-model="vm.prbtCriterio.faltaMax" data-container=".modal-body"
                                    bs-datepicker />
                            </div>
                            <div class="col-sm-2 col-md-1 col-lg-1 form-group-sm">
                                <label>Hora</label> <input type="text" class="form-control"
                                    ng-model="vm.prbtCriterio.faltaMax" bs-timepicker />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-ng-click="vm.search(1);$hide()">
                    <i class="glyphicon glyphicon-search"></i><span translate>btn_buscar</span>
                </button>
                <button class="btn btn-default" data-ng-click="$hide()">
                    <i class="glyphicon glyphicon-remove"></i><span translate>btn_cancelar</span>
                </button>
            </div>
        </div>
    </div>
</div>