<div>
    <tabset> <tab heading="Proceso">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a href="#/proceso/prbt/{{prbt.id}}/cancelar" class="btn btn-default"><i
                class="glyphicon glyphicon-remove"></i> {{'boton_cancelar' | translate}}</a>
        </div>
    </div>

    <fieldset>
        <div class="row">
            <div class="col-md-2 form-group">
                <label>{{'prbt_modulo' | translate}}</label> <input type="text" value="{{prbt.modulo}}"
                    class="form-control input-sm" disabled="disabled" />
            </div>
            <div class="col-md-2 form-group">
                <label>{{'prbt_tipo' | translate}}</label> <input type="text" value="{{prbt.tipo}}"
                    class="form-control input-sm" disabled="disabled" />
            </div>
            <div class="col-md-2 form-group">
                <label>{{'prbt_estado' | translate}}</label> <input type="text" value="{{prbt.estado}}"
                    class="form-control input-sm" disabled="disabled" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 form-group">
                <label>{{'prbt_falta' | translate}}</label> <input type="text" value="{{prbt.falta}}"
                    class="form-control input-sm" disabled="disabled" />
            </div>
            <div class="col-md-2 form-group">
                <label>{{'prbt_finicio' | translate}}</label> <input type="text" value="{{prbt.finicio}}"
                    class="form-control input-sm" disabled="disabled" />
            </div>
            <div class="col-md-2 form-group">
                <label>{{'prbt_ffin' | translate}}</label> <input type="text" value="{{prbt.ffin}}"
                    class="form-control input-sm" disabled="disabled" />
            </div>
            <div class="col-md-2 form-group">
                <label>{{'prbt_duracion' | translate}}</label> <input type="text" value="{{prbt.duracion}}"
                    class="form-control input-sm" disabled="disabled" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 form-group">
                <label>{{'prbt_erroresCnt' | translate}}</label> <input type="text" value="{{prbt.erroresCnt}}"
                    class="form-control input-sm" disabled="disabled" />
            </div>
            <div class="col-md-2 form-group">
                <label>{{'prbt_alertasCnt' | translate}}</label> <input type="text" value="{{prbt.alertasCnt}}"
                    class="form-control input-sm" disabled="disabled" />
            </div>
            <div class="col-md-2 form-group">
                <label>{{'prbt_mensajesCnt' | translate}}</label> <input type="text" value="{{prbt.mensajesCnt}}"
                    class="form-control input-sm" disabled="disabled" />
            </div>
        </div>
    </fieldset>
    </tab> <tab heading="Parametros">
    <table class="table table-condensed table-hover table-nonfluid">
        <thead>
            <tr>
                <th>{{'prpm_nombre' | translate}}</th>
                <th>{{'prpm_valor' | translate}}</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="(key, value) in prbt.prpmMap">
                <td>{{key}}</td>
                <td>{{value}}</td>
            </tr>
        </tbody>
    </table>
    </tab> <tab heading="Archivos Entrada" ng-if="prbt.prarEntradaList.length">
    <table class="table table-condensed table-hover table-nonfluid">
        <thead>
            <tr>
                <th>{{'prar_nombre' | translate}}</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="prar in prbt.prarEntradaList">
                <td>{{prar.nombre}}</td>
            </tr>
        </tbody>
    </table>
    </tab> <tab heading="Archivos Salida" ng-if="prbt.prarSalidaList.length">
    <table class="table table-condensed table-hover table-nonfluid">
        <thead>
            <tr>
                <th>{{'prar_nombre' | translate}}</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="prar in prbt.prarSalidaList">
                <td>{{prar.nombre}}</td>
            </tr>
        </tbody>
    </table>
    </tab> <tab heading="Items Entrada" ng-if="prbt.pritEntradaList.length">
    <table class="table table-condensed table-hover table-nonfluid">
        <thead>
            <tr>
                <th>{{'prit_item' | translate}}</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="prit in prbt.pritEntradaList">
                <td>{{prit.itemId}}</td>
            </tr>
        </tbody>
    </table>
    </tab> <tab heading="Items Salida" ng-if="prbt.pritSalidaList.length">
    <table class="table table-condensed table-hover table-nonfluid">
        <thead>
            <tr>
                <th>{{'prit_item' | translate}}</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="prit in prbt.pritSalidaList">
                <td>{{prit.itemId}}</td>
            </tr>
        </tbody>
    </table>
    </tab> <tab heading="Mensajes" ng-if="prbt.prmnList.length">
    <table class="table table-condensed table-hover table-nonfluid">
        <thead>
            <tr>
                <th>{{'prmn_nivel' | translate}}</th>
                <th>{{'prmn_codigo' | translate}}</th>
                <th>{{'prmn_mensaje' | translate}}</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="prmn in prbt.prmnList">
                <td>{{prmn.nivel}}</td>
                <td>{{prmn.codigo}}</td>
                <td>{{prmn.mensaje}}</td>
            </tr>
        </tbody>
    </table>
    </tab> </tabset>
</div>
