
<fieldset>
    <legend translate="enti_engdList"></legend>

    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a class="btn btn-default" ng-href="#/metamodelo/engd/edit/create/{{vm.enti.id}}"><i
                class="glyphicon glyphicon-file"></i> <span translate>btn_crear</span></a>
        </div>
    </div>

    <table class="table-bordered table-condensed table-hover table-nonfluid">
        <thead>
            <tr>
                <th class="buttonLinks" nowrap="nowrap" />
                <th translate>engd_etiqueta</th>
                <th translate>engd_numero</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="engd in vm.engdList track by $index">
                <td><a ng-href="#/metamodelo/engd/detail/{{engd.id}}"><i
                        class="glyphicon glyphicon-search"></i></a></td>
                <td ng-bind="engd.etiqueta"></td>
                <td ng-bind="engd.numero" class="number"></td>
            </tr>
        </tbody>
    </table>
</fieldset>