<fieldset>
    <legend translate="entdList"></legend>

    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a class="btn btn-default" ui-sref="entidadtipodato-edit({accion: 'create', entiId: vm.enti.id})"><i
                class="glyphicon glyphicon-file"></i> <span translate="btn_crear"></span></a>
        </div>
    </div>

    <table class="table-bordered table-condensed table-hover table-nonfluid">
        <thead>
            <tr>
                <th class="buttonLinks" nowrap="nowrap" />
                <th translate="entd_grupo"></th>
                <th translate="entd_fila"></th>
                <th translate="entd_orden"></th>
                <th translate="entd_span"></th>
                <th translate="entd_spanLg"></th>
                <th translate="entd_etiqueta"></th>
                <th translate="entd_obligatorio"></th>
                <th translate="entd_gridable"></th>
                <th translate="entd_filtrable"></th>
                <th translate="tpdt"></th>
                <th translate="tpdt_tpel"></th>
                <th translate="tpdt_tpht"></th>
                <th translate="enti"></th>
                <th translate="entd_valorDefecto"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="entd in vm.entdList track by entd.id">
                <td><a ui-sref="entidadtipodato-detail({id:entd.id})"><i
                        class="glyphicon glyphicon-search"></i></a></td>
                <td ng-bind="entd.grupo" class="number"></td>
                <td ng-bind="entd.fila" class="number"></td>
                <td ng-bind="entd.orden" class="number"></td>
                <td ng-bind="entd.span" class="number"></td>
                <td ng-bind="entd.spanLg" class="number"></td>
                <td nowrap="nowrap" ng-bind="entd.etiqueta"></td>
                <td><i class="glyphicon glyphicon-{{(entd.obligatorio ? 'ok' : 'remove')}}"></i></td>
                <td><i class="glyphicon glyphicon-{{(entd.gridable ? 'ok' : 'remove')}}"></i></td>
                <td><i class="glyphicon glyphicon-{{(entd.filtrable ? 'ok' : 'remove')}}"></i></td>
                <td nowrap="nowrap" ng-bind="entd.tpdt.nombre"></td>
                <td bs-tooltip data-title="{{('ElementoTipo_' + entd.tpdt.tipoElemento | translate)}}"
                    ng-bind="entd.tpdt.tipoElemento"></td>
                <td bs-tooltip data-title="{{('HtmlTipo_' + entd.tpdt.tpht | translate)}}"
                    ng-bind="entd.tpdt.tpht"></td>
                <td nowrap="nowrap" ng-bind="entd.tpdt.enti.nombre"></span></td>
                <td nowrap="nowrap" ng-bind="entd.valorDefecto"></span></td>
            </tr>
        </tbody>
    </table>
</fieldset>