<fieldset>
    <legend data-translate="enacList"></legend>

    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a class="btn btn-default" data-ng-href="#/metamodelo/entidad-accion/edit/create/{{vm.model.id}}"><i
                class="glyphicon glyphicon-file"></i> <span data-translate="btn_crear"></span></a>
        </div>
    </div>

    <table class="table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th nowrap="nowrap" />
                <th data-translate="enac_path"></th>
                <th data-translate="enac_etiqueta"></th>
                <th data-translate="enac_orden"></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="enac in vm.enacList track by $index">
                <td><a data-ng-href="#/metamodelo/entidad-accion/detail/{{enac.entiId}}/{{enac.id}}"><i
                        class="glyphicon glyphicon-search"></i></a></td>
                <td data-ng-bind="enac.path"></td>
                <td data-ng-bind="enac.etiqueta"></td>
                <td data-ng-bind="enac.orden" class="number"></td>
            </tr>
        </tbody>
    </table>
</fieldset>