
<fieldset>
    <legend data-translate="enagList"></legend>

    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a class="btn btn-default" data-ng-href="#/metamodelo/entidad-accion-grid/edit/create/{{vm.model.id}}"><i
                class="glyphicon glyphicon-file"></i> <span data-translate="btn_crear"></span></a>
        </div>
    </div>

    <table class="table-bordered table-condensed table-hover table-nonfluid">
        <thead>
            <tr>
                <th class="buttonLinks" nowrap="nowrap" />
                <th data-translate="enag_path"></th>
                <th data-translate="enag_etiqueta"></th>
                <th data-translate="enag_orden"></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="enag in vm.enagList track by enag.id">
                <td><a data-ng-href="#/metamodelo/entidad-accion-grid/detail/{{enag.entiId}}/{{enag.id}}"><i
                        class="glyphicon glyphicon-search"></i></a></td>
                <td data-ng-bind="enag.path"></td>
                <td data-ng-bind="enag.etiqueta"></td>
                <td data-ng-bind="enag.orden" class="number"></td>
            </tr>
        </tbody>
    </table>
</fieldset>