
<fieldset>
    <legend translate="engdList"></legend>

    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a class="btn btn-default" ui-sref="entidad-grupo-dato-create({entiId: vm.model.id})"><i
                class="glyphicon glyphicon-file"></i> <span translate="btn_crear"></span></a>
        </div>
    </div>

    <table class="table-bordered table-condensed table-hover table-nonfluid">
        <thead>
            <tr>
                <th class="buttonLinks" nowrap="nowrap" />
                <th translate="engd_etiqueta"></th>
                <th translate="engd_numero"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="engd in vm.engdList track by engd.id">
                <td><a ui-sref="entidad-grupo-dato-detail(engd)"><i
                        class="glyphicon glyphicon-search"></i></a></td>
                <td ng-bind="engd.etiqueta"></td>
                <td ng-bind="engd.numero" class="number"></td>
            </tr>
        </tbody>
    </table>
</fieldset>