<fieldset ng-if="mc.hasAccnPath('trmt-list')">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a ng-if="mc.hasAccnPath('trmt-create')" class="btn btn-default"
                ui-sref="tramite-create({entiId: vm.model.id})"><i class="glyphicon glyphicon-file"></i> <span
                translate="btn_crear"></span></a>
        </div>
    </div>

    <table class="table-bordered table-condensed table-hover table-nonfluid">
        <thead>
            <tr>
                <th class="buttonLinks" nowrap="nowrap" />
                <th translate="trmt"></th>
                <th translate="trmt_estado_orig"></th>
                <th translate="trmt_estado_dest"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="trmt in vm.trmtList track by trmt.id">
                <td><a ui-sref="tramite-detail(trmt)"><i class="glyphicon glyphicon-search"></i></a></td>
                <td nowrap="nowrap" ng-bind="trmt.etiqueta"></td>
                <td>{{trmt.estadoOrig}} - {{trmt.estadoOrigTexto}}</td>
                <td>{{trmt.estadoDest}} - {{trmt.estadoDestTexto}}</td>
            </tr>
        </tbody>
    </table>
</fieldset>