<tr ng-repeat="tpdtId in vm.trmt.tpdtList">
    <th ng-bind="'entd_' + vm.trmt.trtdMap[tpdtId].entd.id | translate">EO {{tpdtId}}</th>
    <td ng-switch on="vm.trmt.trtdMap[tpdtId].entd.tpdt.tipoElemento"><i ng-switch-when="BO"
        class="glyphicon glyphicon-{{vm.ittr.itdtMap[tpdtId].dnentero ? 'ok' : 'remove'}}"></i> <span
        ng-switch-when="ND" ng-bind="vm.ittr.itdtMap[tpdtId].ondecimal | number:2"></span> <span
        ng-switch-when="NE" ng-bind="vm.ittr.itdtMap[tpdtId].onentero"></span> <span ng-switch-when="FE"
        ng-bind="vm.ittr.itdtMap[tpdtId].ofecha | date: ('format_date' | translate)"></span> <span
        ng-switch-when="FH" ng-bind="vm.ittr.itdtMap[tpdtId].ofecha | date: ('format_datetime' | translate)"></span>
        <span ng-switch-when="CR" ng-if="vm.ittr.itdtMap[tpdtId].ocadena"
        ng-bind="'cdrf_' + tpdtId + '_' + vm.ittr.itdtMap[tpdtId].ocadena | translate"></span> <span
        ng-switch-when="TX" ng-bind="vm.ittr.itdtMap[tpdtId].ocadena"></span> <a ng-switch-when="PR"
        ng-href="#/maestro/prmt/detail/{{vm.enti.entdMap[tpdtId].tpdt.enti.id}}/{{vm.ittr.itdtMap[tpdtId].oprmt.id}}/{{vm.fechaVigencia}}"
        ng-bind="vm.ittr.itdtMap[tpdtId].oprmt.etiqueta"></a> <a ng-switch-when="SR"
        ng-href="#/servicio/srvc/detail/{{vm.enti.entdMap[tpdtId].tpdt.enti.id}}/{{vm.ittr.itdtMap[tpdtId].osrvc.id}}"
        ng-bind="vm.ittr.itdtMap[tpdtId].osrvc.etiqueta"></a></td>
    <td ng-switch on="vm.trmt.trtdMap[tpdtId].entd.tpdt.tipoElemento" class="form-group-sm"><select
        ng-switch-when="BO" ng-model="vm.ittr.itdtMap[tpdtId].dnentero"
        ng-options="item as ('format_' + item | translate) for item in [1 , 0]" class="form-control">
            <option />
    </select> <input ng-switch-when="ND" type="text" ng-model="vm.ittr.itdtMap[tpdtId].dndecimal" class="form-control" />
        <input ng-switch-when="NE" type="text" ng-model="vm.ittr.itdtMap[tpdtId].dnentero"
        ng-pattern="/^\d+$/" class="form-control" /> <input ng-switch-when="FE" type="text"
        class="form-control" ng-model="vm.ittr.itdtMap[tpdtId].dfecha" bs-datepicker />
        <div ng-switch-when="FH">
            <input type="text" class="form-control" ng-model="vm.ittr.itdtMap[tpdtId].dfecha" bs-datepicker /><input
                type="text" class="form-control" ng-model="vm.ittr.itdtMap[tpdtId].dfecha" bs-timepicker />
        </div> <select ng-switch-when="CR" ng-model="vm.ittr.itdtMap[tpdtId].dcadena"
        ng-options="cdrf.valor as ('cdrf_' + tpdtId + '_' + cdrf.valor | translate) for cdrf in vm.enti.entdMap[tpdtId].tpdt.cdrfList"
        class="form-control">
            <option />
    </select> <input ng-switch-when="TX" ng-if="vm.enti.entdMap[tpdtId].tpdt.tpht == 'T'" type="text"
        ng-model="vm.ittr.itdtMap[tpdtId].dcadena" class="form-control" /> <textarea ng-switch-when="TX"
            ng-if="vm.trmt.trtdMap[tpdtId].entd.tpdt.tpht == 'TA'" rows="4"
            ng-model="vm.ittr.itdtMap[tpdtId].dcadena" class="form-control"
            ng-bind="vm.ittr.itdtMap[tpdtId].dcadena"></textarea> <select ng-switch-when="PR"
        ng-if="vm.trmt.trtdMap[tpdtId].entd.tpdt.tpht == 'S'" ng-model="vm.ittr.itdtMap[tpdtId].dprmt.id"
        ng-options="labelValue.value as labelValue.label for labelValue in vm.labelValuesMap[vm.trmt.trtdMap[tpdtId].entd.tpdt.enti.id]"
        class="form-control">
            <option />
    </select> <input ng-switch-when="PR" ng-if="vm.trmt.trtdMap[tpdtId].entd.tpdt.tpht == 'F'"
        ng-disabled="vm.trmt.trtdMap[tpdtId].entd.tpdt.enti.puerto && vm.prtoId == null" class="form-control"
        ng-controller="PrmtLupaController" type="text" autocomplete="off"
        ng-model="vm.ittr.itdtMap[tpdtId].dprmt"
        typeahead="prmt as prmt.etiqueta for prmt in getLabelValues(vm.trmt.trtdMap[tpdtId].entd.tpdt.enti.id, $viewValue, vm.prtoId, vm.fechaVigencia)"
        typeahead-editable="false" typeahead-wait-ms="250" class="form-control"> <input
        ng-switch-when="SR" class="form-control" ng-controller="SrvcLupaController" type="text"
        autocomplete="off" ng-model="vm.ittr.itdtMap[tpdtId].dsrvc"
        typeahead="srvc as srvc.etiqueta for srvc in search(vm.trmt.trtdMap[tpdtId].entd.tpdt.enti.id, $viewValue)"
        typeahead-editable="false" typeahead-wait-ms="250" class="form-control"></td>
</tr>