<div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
        <pagination total-items="vm.aspcList.count" items-per-page="vm.aspcList.limit" ng-model="vm.page"
            ng-change="vm.pageChanged()" class="pagination" max-size="1" previous-text="&lsaquo;&lsaquo;"
            next-text="&rsaquo;&rsaquo;"></pagination>
    </div>
    <div class="btn-group">
        <a class="btn btn-default" ng-href="#/facturacion/aspc/edit/create"><i
            class="glyphicon glyphicon-file"></i><span translate>btn_crear</span> </a>
        <button class="btn btn-default" data-ng-click="vm.filter('lg')"
            data-template="modules/facturacion/aspc-filter-content.html" bs-modal="modal">
            <i class="glyphicon glyphicon-search"></i> <span translate>btn_filtrar</span>
        </button>
    </div>
</div>

<div class="table-responsive">
    <span class="label label-default" translate="grid_count"
        translate-value-count="{{vm.aspcList.count | number:0}}"></span>

    <table class="table-bordered table-condensed table-hover table-nonfluid">
        <thead>
            <tr>
                <th class="buttonLinks" nowrap="nowrap" />
                <th class="codigo" nowrap="nowrap" translate>aspc_codigo</th>
                <th translate>aspc_descripcion</th>
                <th translate>tpsr</th>
                <th translate>fini</th>
                <th translate>ffin</th>
                <th translate>aspc_prioridad</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="aspc in vm.aspcList.list track by aspc.id">
                <td><a
                    ng-href="#/facturacion/aspc/detail/{{::aspc.id}}/{{::vm.aspcCriterio.fechaVigencia}}"><i
                        class="glyphicon glyphicon-search"></i></a></td>
                <td ng-bind="::aspc.codigo"></td>
                <td ng-bind="::aspc.version.descripcion"></td>
                <td ng-bind="::('enti_' + aspc.tpsr.id | translate)"></td>
                <td ng-bind="::(aspc.version.fini | date: dateFormat)"></td>
                <td ng-bind="::(aspc.version.ffin | date: dateFormat)"></td>
                <td class="number" ng-bind="::aspc.version.prioridad"></td>
            </tr>
        </tbody>
    </table>
</div>