<div class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="$hide()">&times;</button>
				<p class="modal-title" translate="filtro"></p>
			</div>
			<div class="modal-body">
				<form>
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-2 col-md-1 col-lg-1 form-group">
								<label translate>aspc_codigo</label> <input type="text" ng-model="vm.aspcCriterio.codigo"
									class="form-control input-sm" />
							</div>
							<div class="col-sm-4 col-md-3 col-lg-2 form-group">
								<label translate>aspc_tpsr</label> <select ng-model="vm.aspcCriterio.tpsrId"
									ng-options="labelValue.value as labelValue.label for labelValue in vm.entiList"
									class="form-control input-sm">
									<option />
								</select>
							</div>
							<div class="col-sm-2 col-md-1 col-lg-1 form-group">
								<label translate>crgo_fechaVigencia</label> <input type="text" class="form-control input-sm"
									data-container=".modal-body" ng-model="vm.aspcCriterio.fechaVigencia" bs-datepicker />
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" data-ng-click="vm.search(1);$hide()">
					<i class="glyphicon glyphicon-search"></i><span translate>btn_buscar</span>
				</button>
				<button class="btn btn-default" data-ng-click="$hide()">
					<i class="glyphicon glyphicon-remove"></i><span translate>btn_cancelar</span>
				</button>
			</div>
		</div>
	</div>
</div>