<div ng-if="showFilter">
    <form>
        <fieldset>
            <div class="row-fluid">
                <div class="col-md-1 form-group">
                    <label>{{"aspc_codigo" | translate}}</label> <input type="text" ng-model="aspcCriterio.codigo"
                        class="form-control input-sm" />
                </div>
                <div class="col-md-3 form-group">
                    <label>{{"aspc_tpsr" | translate}}</label> <select ng-model="aspcCriterio.tpsrId"
                        ng-options="labelValue.value as labelValue.label for labelValue in entiList"
                        class="form-control input-sm">
                        <option value="" />
                    </select>
                </div>
                <div class="col-md-1 form-group">
                    <label>{{'crgo_fechaVigencia' | translate}}</label>
                    <div class="input-group" ng-controller="datepickerController">
                        <input type="text" class="form-control input-sm" datepicker-popup="{{'fmt_date' | translate}}"
                            datepicker-options="dateOptions" is-open="opened" ng-model="aspcCriterio.fechaVigencia" />
                        <span class="input-group-addon" ng-click="open($event)"><i
                            class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </div>
            </div>
        </fieldset>

        <div class="btn-group">
            <button data-ng-click="search()" class="btn btn-primary">
                <i class="glyphicon glyphicon-search"></i> {{'boton_buscar' | translate}}
            </button>
            <button data-ng-click="cancelSearch()" class="btn btn-default">
                <i class="glyphicon glyphicon-remove"></i> {{'boton_cancelar' | translate}}
            </button>
        </div>
    </form>
</div>

<div ng-hide="showFilter">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <pagination total-items="aspcList.count" items-per-page="aspcList.limit" ng-model="page"
                ng-change="pageChanged()" class="pagination" max-size="1" previous-text="&lsaquo;&lsaquo;"
                next-text="&rsaquo;&rsaquo;"></pagination>
        </div>
        <div class="btn-group">
            <a class="btn btn-default" href="#/facturacion/aspc/create"><i class="glyphicon glyphicon-file"></i>
                {{'boton_alta' | translate}}</a>
            <button data-ng-click="filter()" class="btn btn-default">
                <i class="glyphicon glyphicon-search"></i> {{'boton_filtro' | translate}}
            </button>
        </div>
    </div>

    <div class="table-responsive">
        <span class="label label-default">{{aspcList.count}} resultado(s)</span>

        <table class="table-bordered table-condensed table-hover table-nonfluid">
            <thead>
                <tr>
                    <th class="buttonLinks" nowrap="nowrap" />
                    <th class="codigo" nowrap="nowrap">{{'aspc_codigo' | translate}}</th>
                    <th>{{'aspc_descripcion' | translate}}</th>
                    <th>{{'aspc_tpsr' | translate}}</th>
                    <th>{{'aspc_fini' | translate}}</th>
                    <th>{{'aspc_ffin' | translate}}</th>
                    <th>{{'aspc_prioridad' | translate}}</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="aspc in aspcList.list">
                    <td><a href="#/facturacion/aspc/detail/{{aspc.aspv.id}}"><i
                            class="glyphicon glyphicon-search"></i></a></td>
                    <td>{{aspc.codigo}}</td>
                    <td>{{aspc.aspv.descripcion}}</td>
                    <td>{{aspc.tpsr.nombre}}</td>
                    <td>{{aspc.aspv.fini | date:('fmt_date' | translate)}}</td>
                    <td>{{aspc.aspv.ffin | date:('fmt_date' | translate)}}</td>
                    <td class="number">{{aspc.aspv.prioridad}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>