<div ng-if="vm.model">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a ng-if="mc.hasAccnPath('aspc-edit')" class="btn btn-default"
                ng-href="#/facturacion/aspecto/edit/edit/{{vm.model.id}}/{{vm.model.fref}}"><i
                class="glyphicon glyphicon-edit"></i> <span translate="btn_editar"></span></a> <a
                ng-if="mc.hasAccnPath('aspc-duplicate')" class="btn btn-default"
                ng-href="#/facturacion/aspecto/edit/duplicate/{{vm.model.id}}/{{vm.model.fref}}"><i
                class="glyphicon glyphicon-tags"></i> <span translate="btn_duplicar"></span></a>
            <button ng-if="mc.hasAccnPath('aspc-remove')" data-ng-click="vm.remove()" class="btn btn-default">
                <i class="glyphicon glyphicon-remove"></i> <span translate="btn_borrar"></span>
            </button>
        </div>
    </div>

    <fieldset>
        <div class="row">
            <div class="col-sm-4 col-md-3 col-lg-2 form-group-sm">
                <label translate="tpsr"></label>
                <p class="form-control-static">
                    <a ng-href="#/metamodelo/tipo-servicio/detail/{{vm.model.tpsr.id}}"
                        ng-bind="('enti_' + vm.model.tpsr.id | translate)"></a>
                </p>
            </div>
            <div class="col-sm-2 col-md-1 col-lg-1 form-group-sm">
                <label translate="aspc_codigo"></label>
                <p class="form-control-static" ng-bind="vm.model.codigo"></p>
            </div>
            <div class="col-sm-2 col-md-1 col-lg-1 form-group-sm">
                <label translate="fini"></label>
                <p class="form-control-static" ng-bind="(vm.model.version.fini | date: dateFormat)"></p>
            </div>
            <div class="col-sm-2 col-md-1 col-lg-1 form-group-sm">
                <label translate="ffin"></label>
                <p class="form-control-static" ng-bind="(vm.model.version.ffin | date: dateFormat)"></p>
            </div>
            <div class="col-sm-2 col-md-1 col-lg-1 form-group-sm">
                <label translate="aspc_prioridad"></label>
                <p class="form-control-static number" ng-bind="vm.model.version.prioridad"></p>
            </div>
        </div>

        <div class="row" ng-include="'modules/common/i18nMap-detail.html'"></div>
    </fieldset>

    <fieldset>
        <legend translate="aspc_cList"></legend>

        <div class="table-responsive">
            <table class="table-bordered table-condensed table-hover table-nonfluid">
                <thead>
                    <tr>
                        <th />
                        <th translate="aspc_cetiqInfo"></th>
                        <th translate="aspc_cpathInfo"></th>
                        <th translate="aspc_cgrpInfo"></th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-if="vm.model.version.cetiqInfo1">
                        <td>info1</td>
                        <td ng-bind="vm.model.version.cetiqInfo1"></td>
                        <td ng-bind="vm.model.version.cpathInfo1"></td>
                        <td><i
                            class="glyphicon glyphicon-{{(vm.model.version.cgrpInfo1 ? 'ok' : 'remove')}}"></i></td>
                    </tr>
                    <tr ng-if="vm.model.version.cetiqInfo2">
                        <td>info2</td>
                        <td ng-bind="vm.model.version.cetiqInfo2"></td>
                        <td ng-bind="vm.model.version.cpathInfo2"></td>
                        <td><i
                            class="glyphicon glyphicon-{{(vm.model.version.cgrpInfo2 ? 'ok' : 'remove')}}"></i></td>
                    </tr>
                    <tr ng-if="vm.model.version.cetiqInfo3">
                        <td>info3</td>
                        <td ng-bind="vm.model.version.cetiqInfo3"></td>
                        <td ng-bind="vm.model.version.cpathInfo3"></td>
                        <td><i
                            class="glyphicon glyphicon-{{(vm.model.version.cgrpInfo3 ? 'ok' : 'remove')}}"></i></td>
                    </tr>
                    <tr ng-if="vm.model.version.cetiqInfo4">
                        <td>info4</td>
                        <td ng-bind="vm.model.version.cetiqInfo4"></td>
                        <td ng-bind="vm.model.version.cpathInfo4"></td>
                        <td><i
                            class="glyphicon glyphicon-{{(vm.model.version.cgrpInfo4 ? 'ok' : 'remove')}}"></i></td>
                    </tr>
                    <tr ng-if="vm.model.version.cetiqInfo5">
                        <td>info5</td>
                        <td ng-bind="vm.model.version.cetiqInfo5"></td>
                        <td ng-bind="vm.model.version.cpathInfo5"></td>
                        <td><i
                            class="glyphicon glyphicon-{{(vm.model.version.cgrpInfo5 ? 'ok' : 'remove')}}"></i></td>
                    </tr>
                    <tr ng-if="vm.model.version.cetiqInfo6">
                        <td>info6</td>
                        <td ng-bind="vm.model.version.cetiqInfo6"></td>
                        <td ng-bind="vm.model.version.cpathInfo6"></td>
                        <td><i
                            class="glyphicon glyphicon-{{(vm.model.version.cgrpInfo6 ? 'ok' : 'remove')}}"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>

    <fieldset>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <legend translate="aspc_lcList"></legend>

            <div class="table-responsive">
                <table class="table-bordered table-condensed table-hover table-nonfluid">
                    <thead>
                        <tr>
                            <th />
                            <th translate="aspc_lsumCuant"></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>cuant1</td>
                            <td><i
                                class="glyphicon glyphicon-{{(vm.model.version.lsumCuant1 ? 'ok' : 'remove')}}"></i></td>
                        </tr>
                        <tr>
                            <td>cuant2</td>
                            <td><i
                                class="glyphicon glyphicon-{{(vm.model.version.lsumCuant2 ? 'ok' : 'remove')}}"></i></td>
                        </tr>
                        <tr>
                            <td>cuant3</td>
                            <td><i
                                class="glyphicon glyphicon-{{(vm.model.version.lsumCuant3 ? 'ok' : 'remove')}}"></i></td>
                        </tr>
                        <tr>
                            <td>cuant4</td>
                            <td><i
                                class="glyphicon glyphicon-{{(vm.model.version.lsumCuant4 ? 'ok' : 'remove')}}"></i></td>
                        </tr>
                        <tr>
                            <td>cuant5</td>
                            <td><i
                                class="glyphicon glyphicon-{{(vm.model.version.lsumCuant5 ? 'ok' : 'remove')}}"></i></td>
                        </tr>
                        <tr>
                            <td>cuant6</td>
                            <td><i
                                class="glyphicon glyphicon-{{(vm.model.version.lsumCuant6 ? 'ok' : 'remove')}}"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
            <legend translate="aspc_liList"></legend>

            <div class="table-responsive">
                <table class="table-bordered table-condensed table-hover table-nonfluid">
                    <thead>
                        <tr>
                            <th />
                            <th translate="aspc_lgrpInfo"></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>info1</td>
                            <td><i
                                class="glyphicon glyphicon-{{(vm.model.version.lgrpInfo1 ? 'ok' : 'remove')}}"></i></td>
                        </tr>
                        <tr>
                            <td>info2</td>
                            <td><i
                                class="glyphicon glyphicon-{{(vm.model.version.lgrpInfo2 ? 'ok' : 'remove')}}"></i></td>
                        </tr>
                        <tr>
                            <td>info3</td>
                            <td><i
                                class="glyphicon glyphicon-{{(vm.model.version.lgrpInfo3 ? 'ok' : 'remove')}}"></i></td>
                        </tr>
                        <tr>
                            <td>info4</td>
                            <td><i
                                class="glyphicon glyphicon-{{(vm.model.version.lgrpInfo4 ? 'ok' : 'remove')}}"></i></td>
                        </tr>
                        <tr>
                            <td>info5</td>
                            <td><i
                                class="glyphicon glyphicon-{{(vm.model.version.lgrpInfo5 ? 'ok' : 'remove')}}"></i></td>
                        </tr>
                        <tr>
                            <td>info6</td>
                            <td><i
                                class="glyphicon glyphicon-{{(vm.model.version.lgrpInfo6 ? 'ok' : 'remove')}}"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </fieldset>

    <fieldset ng-if="mc.hasAccnPath('ascr-list')">
        <legend translate="ascrList"></legend>

        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                <a ng-if="mc.hasAccnPath('ascr-create')" class="btn btn-default"
                    ng-href="#/facturacion/aspecto-cargo/edit/create/{{vm.model.id}}/{{vm.model.fref}}"><i
                    class="glyphicon glyphicon-file"></i> <span translate="btn_crear"></span></a>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table-bordered table-condensed table-hover table-nonfluid">
                <thead>
                    <tr>
                        <th />
                        <th translate="crgo"></th>
                        <th translate="fini"></th>
                        <th translate="ffin"></th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="ascr in vm.ascrList track by ascr.id">
                        <td><a ng-href="#/facturacion/aspecto-cargo/detail/{{ascr.id}}/{{ascr.fref}}"><i
                                class="glyphicon glyphicon-search"></i></a></td>
                        <td ng-bind="ascr.crgo.etiqueta"></td>
                        <td ng-bind="ascr.version.fini | date: dateFormat"></td>
                        <td ng-bind="ascr.version.ffin | date: dateFormat"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
</div>