<div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
        <div data-uib-pagination data-total-items="vm.resultList.count"
            data-items-per-page="vm.resultList.limit" data-ng-model="vm.page"
            data-ng-change="vm.pageChanged()" class="pagination" data-max-size="1"
            data-previous-text="&lsaquo;&lsaquo;" data-next-text="&rsaquo;&rsaquo;"></div>
    </div>
    <div class="btn-group">
        <button data-ng-if="mc.hasAccnPath('crgo-list')" class="btn btn-default"
            data-ng-click="vm.filter('lg')"
            data-template-url="modules/facturacion/fragment/cargo-filter-content.html" data-bs-modal="modal">
            <i class="glyphicon glyphicon-search"></i> <span data-translate="btn_filtrar"></span>
        </button>
        <a data-ng-if="mc.hasAccnPath('crgo-create')" class="btn btn-default"
            data-ng-href="#/facturacion/cargo/edit/create"><i class="glyphicon glyphicon-file"></i> <span
            data-translate="btn_crear"></span> </a>
    </div>
</div>

<div data-ng-if="mc.hasAccnPath('crgo-list')" class="table-responsive">
    <span class="label label-default" data-translate="grid_count"
        data-translate-value-count="{{vm.resultList.count | number:0}}"></span>

    <table class="table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th nowrap="nowrap" />
                <th nowrap="nowrap" data-translate="crgo_codigo"></th>
                <th data-translate="crgo_descripcion"></th>
                <th nowrap="nowrap" data-translate="crgo_codigoNormalizado"></th>
                <th data-translate="crgo_tipo"></th>
                <th data-translate="tpsr"></th>
                <th data-translate="crgo_principal"></th>
                <th data-translate="crgo_temporal"></th>
                <th data-translate="fini"></th>
                <th data-translate="ffin"></th>
            </tr>
        </thead>

        <tbody>
            <tr data-ng-repeat="crgo in vm.resultList.list track by $index">
                <td><a data-ng-href="#/facturacion/cargo/detail/{{crgo.id}}/{{crgo.fref}}"><i
                        class="glyphicon glyphicon-search"></i></a></td>
                <td data-ng-bind="crgo.codigo"></td>
                <td data-ng-bind="crgo.version.descripcion"></td>
                <td data-ng-bind="crgo.version.codigoNormalizado"></td>
                <td data-ng-bind="crgo.version.tipo"></td>
                <td data-ng-bind="('enti_' + crgo.tpsr.id | translate)"></td>
                <td><i class="glyphicon glyphicon-{{(crgo.version.principal ? 'ok' : 'remove')}}"></i></td>
                <td><i class="glyphicon glyphicon-{{(crgo.version.temporal ? 'ok' : 'remove')}}"></i></td>
                <td data-ng-bind="(crgo.version.fini | date: dateFormat)"></td>
                <td data-ng-bind="(crgo.version.ffin | date: dateFormat)"></td>
            </tr>
        </tbody>
    </table>
</div>
