<fieldset>
    <div class="row">
        <div class="col-md-1 form-group">
            <label>{{'crgo_codigo' | translate}}</label> <input type="text" value="{{crgo.codigo}}"
                class="form-control input-sm" disabled="disabled" />
        </div>
        <div class="col-md-3 form-group">
            <label>{{'crgo_descripcion' | translate}}</label> <input type="text" value="{{crgo.descripcion}}"
                class="form-control input-sm" disabled="disabled" />
        </div>
        <div class="col-md-2 form-group">
            <label>{{'crgo_codigoNormalizado' | translate}}</label> <input type="text"
                value="{{crgo.codigoNormalizado}}" class="form-control input-sm" disabled="disabled" />
        </div>
        <div class="col-md-1 form-group">
            <label>{{'crgo_tipo' | translate}}</label> <input type="text" value="{{crgo.tipo}}"
                class="form-control input-sm" disabled="disabled" />
        </div>
        <div class="col-md-2 form-group">
            <label>{{'crgo_tpsr' | translate}}</label> <input type="text" value="{{crgo.tpsr.nombre}}"
                class="form-control input-sm" disabled="disabled" />
        </div>
        <div class="col-md-1 form-group">
            <label>{{'crgo_principal' | translate}}</label> <input type="text"
                value="{{'fmt_' + crgo.principal | translate}}" class="form-control input-sm" disabled="disabled" />
        </div>
        <div class="col-md-1 form-group">
            <label>{{'crgo_temporal' | translate}}</label> <input type="text"
                value="{{'fmt_' + crgo.temporal | translate}}" class="form-control input-sm" disabled="disabled" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-1 form-group">
            <label>{{'crgo_crgv_fini' | translate}}</label> <input type="text"
                value="{{crgo.crgv.fini | date:('fmt_date' | translate)}}" class="form-control input-sm"
                disabled="disabled" />
        </div>
        <div class="col-md-1 form-group">
            <label>{{'crgo_crgv_ffin' | translate}}</label> <input type="text"
                value="{{aspc.crgv.ffin | date:('fmt_date' | translate)}}" class="form-control input-sm"
                disabled="disabled" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 form-group">
            <label>Reglas</label>
            <pagination total-items="rglaList.count" ng-model="currentPage" ng-change="pageChanged()"
                class="pagination-sm" max-size="1" previous-text="&lsaquo;" next-text="&rsaquo;"></pagination>
            <span>{{rglaList.count}} resultado(s)</span>

            <table class="table table-condensed table-hover table-nonfluid">
                <thead>
                    <tr>
                        <th />
                        <th>{{'rgla_codigo' | translate}}</th>
                        <th>{{'rgla_tipo' | translate}}</th>
                        <th>{{'rgla_enti' | translate}}</th>
                        <th>{{'rgla_rglv_fini' | translate}}</th>
                        <th>{{'rgla_rglv_ffin' | translate}}</th>
                        <th>{{'rgla_rglv_orden' | translate}}</th>
                        <th>{{'rgla_rglv_importeBase' | translate}}</th>
                        <th>{{'rgla_rglv_formula' | translate}}</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="rgla in rglaList.list">
                        <td><a ui-sref="rglas.detalle({rglvId:rgla.rglv.id})"><i
                                class="glyphicon glyphicon-search"></i></a></td>
                        <td>{{rgla.codigo}}</td>
                        <td>{{rgla.tipo}}</td>
                        <td>{{rgla.enti.nombre}}</td>
                        <td>{{rgla.rglv.fini | date:('fmt_date' | translate)}}</td>
                        <td>{{rgla.rglv.ffin | date:('fmt_date' | translate)}}</td>
                        <td class="number">{{rgla.rglv.orden}}</td>
                        <td class="number">{{rgla.rglv.importeBase | number:4}}</td>
                        <td>{{rgla.rglv.formula}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</fieldset>
