<fieldset>
    <legend>{{'Cargo' | uppercase}}</legend>

    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a class="btn btn-default" href="#/facturacion/crgv/edit/{{crgo.crgv.id}}"><i
                class="glyphicon glyphicon-edit"></i> {{'boton_editar' | translate}}</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1 form-group">
            <label>{{'crgo_codigo' | translate}}</label>
            <p class="form-control-static">{{crgo.codigo}}</p>
        </div>
        <div class="col-md-2 form-group">
            <label>{{'crgo_tpsr' | translate}}</label>
            <p class="form-control-static">{{crgo.tpsr.nombre}}</p>
        </div>
        <div class="col-md-3 form-group">
            <label>{{'crgo_descripcion' | translate}}</label>
            <p class="form-control-static">{{crgo.descripcion}}</p>
        </div>
        <div class="col-md-2 form-group">
            <label>{{'crgo_codigoNormalizado' | translate}}</label>
            <p class="form-control-static">{{crgo.codigoNormalizado}}</p>
        </div>
        <div class="col-md-1 form-group">
            <label>{{'crgo_tipo' | translate}}</label>
            <p class="form-control-static">{{crgo.tipo}}</p>
        </div>
        <div class="col-md-1 form-group">
            <label>{{'crgo_principal' | translate}}</label>
            <p class="form-control-static">{{'fmt_' + crgo.principal | translate}}</p>
        </div>
        <div class="col-md-1 form-group">
            <label>{{'crgo_temporal' | translate}}</label>
            <p class="form-control-static">{{'fmt_' + crgo.temporal | translate}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1 form-group">
            <label>{{'crgo_crgv_fini' | translate}}</label>
            <p class="form-control-static">{{crgo.crgv.fini | date:('fmt_date' | translate)}}</p>
        </div>
        <div class="col-md-1 form-group">
            <label>{{'crgo_crgv_ffin' | translate}}</label>
            <p class="form-control-static">{{aspc.crgv.ffin | date:('fmt_date' | translate)}}</p>
        </div>
    </div>
</fieldset>

<fieldset>
    <legend>{{'Reglas' | uppercase}}</legend>

    <pagination total-items="rglaList.count" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm"
        max-size="1" previous-text="&lsaquo;" next-text="&rsaquo;"></pagination>

    <div class="table-responsive">
        <span class="label label-default">{{rglaList.count}} resultado(s)</span>

        <table class="table-bordered table-condensed table-hover table-nonfluid">
            <thead>
                <tr>
                    <th />
                    <th>{{'rgla_codigo' | translate}}</th>
                    <th>{{'rgla_tipo' | translate}}</th>
                    <th>{{'rgla_enti' | translate}}</th>
                    <th>{{'rgla_rglv_fini' | translate}}</th>
                    <th>{{'rgla_rglv_ffin' | translate}}</th>
                    <th>{{'rgla_rglv_orden' | translate}}</th>
                    <th>{{'rgla_rglv_importeBase' | translate}}</th>
                    <th>{{'rgla_rglv_formula' | translate}}</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="rgla in rglaList.list">
                    <td><a ng-if="fechaVigencia" href="#/facturacion/rgla/detail/{{rgla.id}}/{{fechaVigencia}}"><i
                            class="glyphicon glyphicon-search"></i></a><a ng-if="!fechaVigencia"
                        href="#/facturacion/rglv/detail/{{rgla.rglv.id}}"><i class="glyphicon glyphicon-search"></i></a></td>
                    <td>{{rgla.codigo}}</td>
                    <td>{{rgla.tipo}}</td>
                    <td>{{rgla.enti.nombre}}</td>
                    <td>{{rgla.rglv.fini | date:('fmt_date' | translate)}}</td>
                    <td>{{rgla.rglv.ffin | date:('fmt_date' | translate)}}</td>
                    <td class="number">{{rgla.rglv.orden}}</td>
                    <td class="number">{{rgla.rglv.importeBase | number:4}}</td>
                    <td>{{rgla.rglv.formula}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</fieldset>
