<p class="bg-primary" ng-bind="'Cargo' | uppercase"></p>

<alert ng-if="actionErrors && actionErrors.length > 0" type="danger"> <span translate>errors</span>:
<ul>
    <li ng-repeat="error in actionErrors track by $index" ng-bind="error"></li>
</ul>
</alert>

<form role="form">
    <input type="hidden" ng-model="accion" /><input type="hidden" ng-model="crgo.id" /><input type="hidden"
        ng-model="crgo.crgv.id" />

    <fieldset>
        <div class="row-fluid">
            <div class="col-md-3 form-group">
                <label translate>crgo_tpsr</label> <select ng-if="accion == 'create'" ng-model="crgo.tpsr.id"
                    ng-options="labelValue.value as labelValue.label for labelValue in entiList"
                    class="form-control input-sm">
                    <option />
                </select>
                <p ng-if="accion != 'create'" class="form-control-static" ng-bind="crgo.tpsr.nombre"></p>
            </div>
            <div class="col-md-1 form-group">
                <label translate>crgo_codigo</label> <input ng-if="accion == 'create'" type="text"
                    ng-model="crgo.codigo" class="form-control input-sm" />
                <p ng-if="accion != 'create'" class="form-control-static" ng-bind="crgo.codigo"></p>
            </div>
            <div class="col-md-2 form-group">
                <label translate>crgo_codigoNormalizado</label> <input type="text"
                    ng-model="crgo.crgv.codigoNormalizado" class="form-control input-sm" />
            </div>
            <div class="col-md-1 form-group">
                <label translate>crgo_tipo</label> <select ng-model="crgo.crgv.tipo"
                    ng-options="cdrf as (cdrf + ' - ' + ('CargoTipo_' + cdrf | translate)) for cdrf in tipos"
                    class="form-control input-sm">
                    <option />
                </select>
            </div>
            <div class="col-md-1 form-group">
                <label translate>crgo_principal</label> <select ng-model="crgo.crgv.principal"
                    ng-options="item as ('fmt_' + item | translate) for item in [true , false]"
                    class="form-control input-sm">
                    <option />
                </select>
            </div>
            <div class="col-md-1 form-group">
                <label translate>crgo_temporal</label> <select ng-model="crgo.crgv.temporal"
                    ng-options="item as ('fmt_' + item | translate) for item in [true , false]"
                    class="form-control input-sm">
                    <option />
                </select>
            </div>
        </div>

        <div class="row-fluid">
            <div class="col-md-1 form-group">
                <label translate>crgo_fini</label>
                <div class="input-group" ng-controller="datepickerController">
                    <input type="text" class="form-control input-sm" datepicker-popup="{{format}}"
                        datepicker-options="dateOptions" is-open="opened" ng-model="crgo.crgv.fini" ng-required="true" />
                    <span class="input-group-addon" ng-click="open($event)"><i
                        class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </div>
            <div class="col-md-1 form-group">
                <label translate>crgo_ffin</label>
                <div class="input-group" ng-controller="datepickerController">
                    <input type="text" class="form-control input-sm" datepicker-popup="{{format}}"
                        datepicker-options="dateOptions" is-open="opened" ng-model="crgo.crgv.ffin" ng-required="true" />
                    <span class="input-group-addon" ng-click="open($event)"><i
                        class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </div>
            <div class="col-md-3 form-group">
                <label translate>crgo_descripcion</label> <input type="text" ng-model="crgo.crgv.descripcion"
                    class="form-control input-sm" />
            </div>
        </div>
    </fieldset>

    <div class="btn-group">
        <button data-ng-click="save()" class="btn btn-primary">
            <i class="glyphicon glyphicon-ok"></i> <span translate>boton_guardar</span>
        </button>
        <button data-ng-click="cancel()" class="btn btn-default">
            <i class="glyphicon glyphicon-remove"></i> <span translate>boton_cancelar</span>
        </button>
    </div>
</form>

