<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <p class="modal-title" translate="filtro"></p>
            </div>
            <div class="modal-body">
                <form>
                    <fieldset>
                        <div class="row">
                            <div class="col-sm-2 col-md-1 form-group-sm">
                                <label translate>crgo_codigo</label> <input type="text"
                                    ng-model="vm.crgoCriterio.codigo" class="form-control" />
                            </div>
                            <div class="col-sm-2 col-md-2 form-group-sm">
                                <label translate>crgo_codigoNormalizado</label> <input type="text"
                                    ng-model="vm.crgoCriterio.codigoNormalizado" class="form-control" />
                            </div>
                            <div class="col-sm-3 col-md-2 form-group-sm">
                                <label translate>crgo_tpsr</label> <select ng-model="vm.crgoCriterio.tpsrId"
                                    ng-options="labelValue.value as ('enti_' + labelValue.value | translate) for labelValue in vm.tpsrList"
                                    class="form-control">
                                    <option />
                                </select>
                            </div>
                            <div class="col-sm-2 col-md-2 form-group-sm">
                                <label translate>crgo_fechaVigencia</label><input type="text"
                                    class="form-control" data-container=".modal-body"
                                    ng-model="vm.crgoCriterio.fechaVigencia" bs-datepicker />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-ng-click="vm.search(1);$hide()">
                    <i class="glyphicon glyphicon-search"></i><span translate>btn_buscar</span>
                </button>
                <button class="btn btn-default" data-ng-click="$hide()">
                    <i class="glyphicon glyphicon-remove"></i><span translate>btn_cancelar</span>
                </button>
            </div>
        </div>
    </div>
</div>