<div data-ng-if="vm.model">
    <form role="form">
        <fieldset>
            <div class="row">
                <div class="col-sm-2 col-lg-1 form-group-sm">
                    <label data-translate="vlrc_fliq"></label><input type="text" class="form-control input-sm"
                        data-ng-model="vm.model.fecha" data-bs-datepicker />
                </div>
                <div class="col-sm-2 col-xl-1 form-group-sm">
                    <label data-translate="fcsr"></label> <select data-ng-model="vm.model.fcsrId"
                        data-ng-options="fcsr.id as fcsr.serie for fcsr in vm.fcsrList" class="form-control">
                        <option />
                    </select>
                </div>
                <div class="col-sm-3 col-lg-2 col-xl-1 form-group-sm" ng-if="vm.model.vlrcId == null">
                    <label data-translate="tpsr"></label> <select data-ng-model="vm.model.tpsrId"
                        data-ng-options="tpsr.value as ('enti_' + tpsr.value | translate) for tpsr in vm.tpsrList"
                        class="form-control">
                        <option />
                    </select>
                </div>
                <div class="col-sm-3 col-lg-2 col-xl-1 form-group-sm" ng-if="vm.model.vlrcId == null">
                    <label data-translate="prto"></label> <select data-ng-model="vm.model.prtoId"
                        data-ng-options="prto.id as prto.etiqueta for prto in vm.prtoList"
                        class="form-control">
                        <option />
                    </select>
                </div>
                <div class="col-sm-3 col-lg-2 col-xl-1 form-group-sm" ng-if="vm.model.vlrcId == null">
                    <label data-translate="grupoTipo"></label> <select data-ng-model="vm.model.grupoTipo"
                        data-ng-options="grupoTipo as ('ValoracionGrupoTipo_' + grupoTipo | translate) for grupoTipo in vm.grupoTipoList"
                        class="form-control">
                        <option />
                    </select>
                </div>
            </div>
        </fieldset>

        <div class="btn-group">
            <button data-ng-click="vm.save()" class="btn btn-primary">
                <i class="glyphicon glyphicon-ok"></i> <span data-translate="btn_guardar"></span>
            </button>
            <button data-ng-click="vm.cancel()" class="btn btn-default">
                <i class="glyphicon glyphicon-remove"></i> <span data-translate="btn_cancelar"></span>
            </button>
        </div>
    </form>
</div>