
<tabset type="pills"> <tab heading="{{'fctl' | translate}}" select="vm.tabSelected(null)">

<fieldset>
    <div class="row">
        <div class="col-sm-2 col-lg-1 form-group">
            <label translate="srvc"></label>
            <p class="form-control-static">
                <a ng-href="#/servicio/srvc/detail/{{vm.fctl.fcts.srvc.entiId}}/{{vm.fctl.fcts.srvc.id}}"
                    ng-bind="vm.fctl.fcts.srvc.etiqueta"></a>
            </p>
        </div>
        <div class="col-md-2 form-group">
            <label translate="rgla_enti"></label>
            <p class="form-control-static" ng-bind="'enti_' + vm.fctl.rgla.enti.id | translate"></p>
        </div>
        <div class="col-md-2 col-lg-1 form-group" ng-if="vm.fctl.ssrv">
            <label translate="ssrv_numero"></label>
            <p class="form-control-static">
                <a ng-href="#/servicio/ssrv/detail/{{vm.fctl.rgla.enti.id}}/{{vm.fctl.ssrv.id}}"
                    ng-bind="vm.fctl.ssrv.numero"></a>
            </p>
        </div>
        <div class="col-md-2 col-xl-1 form-group" ng-if="vm.fctl.fini">
            <label translate="fctl_fini"></label>
            <p class="form-control-static" ng-bind="vm.fctl.fini | date: ('format_datetime' | translate)"></p>
        </div>
        <div class="col-md-2 col-xl-1 form-group" ng-if="vm.fctl.ffin">
            <label translate="fctl_ffin"></label>
            <p class="form-control-static" ng-bind="vm.fctl.ffin | date: ('format_datetime' | translate)"></p>
        </div>
        <div class="col-md-2 form-group">
            <label translate="rgla"></label>
            <p class="form-control-static">
                <a ng-href="#/facturacion/rgla/detail/{{vm.fctl.rgla.id}}/{{vm.fctl.fcts.fref}}"
                    ng-bind="vm.fctl.rgla.codigo"></a>
            </p>
        </div>
        <div class="col-sm-2 col-lg-1 form-group">
            <label translate="rgla_tipo"></label>
            <p class="form-control-static" ng-bind="vm.fctl.rgla.tipo"></p>
        </div>
        <div class="col-sm-2 col-lg-1 form-group" ng-if="vm.fctl.rgla.tipo != 'T'">
            <label translate="fctl_importeBase"></label>
            <p class="form-control-static number" ng-bind="vm.fctl.importeBase | number:2"></p>
        </div>
        <div class="col-sm-2 col-lg-1 form-group">
            <label translate="fctl_importe"></label>
            <p class="form-control-static number" ng-bind="vm.fctl.importe | number:2"></p>
        </div>
        <div class="col-sm-2 col-lg-1 form-group">
            <label translate="fctl_impuesto"></label>
            <p class="form-control-static">
                <a
                    ng-href="#/maestro/prmt/detail/{{vm.fctl.impuesto.entiId}}/{{vm.fctl.impuesto.id}}/{{vm.fctl.fcts.fref}}"
                    ng-bind="vm.fctl.impuesto.etiqueta"></a>
            </p>
        </div>
    </div>

    <div class="row">
        <div ng-if="vm.fctl.rgla.rglv.etiqInfo1" class="col-md-4 form-group">
            <label ng-bind="vm.fctl.rgla.rglv.etiqInfo1"></label>
            <p class="form-control-static" ng-bind="vm.fctl.info1"></p>
        </div>
        <div ng-if="vm.fctl.rgla.rglv.etiqInfo2" class="col-md-4 form-group">
            <label ng-bind="vm.fctl.rgla.rglv.etiqInfo2"></label>
            <p class="form-control-static" ng-bind="vm.fctl.info2"></p>
        </div>
        <div ng-if="vm.fctl.rgla.rglv.etiqInfo3" class="col-md-4 form-group">
            <label ng-bind="vm.fctl.rgla.rglv.etiqInfo3"></label>
            <p class="form-control-static" ng-bind="vm.fctl.info3"></p>
        </div>
        <div ng-if="vm.fctl.rgla.rglv.etiqInfo4" class="col-md-4 form-group">
            <label ng-bind="vm.fctl.rgla.rglv.etiqInfo4"></label>
            <p class="form-control-static" ng-bind="vm.fctl.info4"></p>
        </div>
        <div ng-if="vm.fctl.rgla.rglv.etiqInfo5" class="col-md-4 form-group">
            <label ng-bind="vm.fctl.rgla.rglv.etiqInfo5"></label>
            <p class="form-control-static" ng-bind="vm.fctl.info5"></p>
        </div>
        <div ng-if="vm.fctl.rgla.rglv.etiqInfo6" class="col-md-4 form-group">
            <label ng-bind="vm.fctl.rgla.rglv.etiqInfo6"></label>
            <p class="form-control-static" ng-bind="vm.fctl.info6"></p>
        </div>
    </div>

    <div class="row">
        <div ng-if="vm.fctl.rgla.rglv.etiqCuant1" class="col-md-4 form-group">
            <label ng-bind="vm.fctl.rgla.rglv.etiqCuant1"></label>
            <p class="form-control-static" ng-bind="vm.fctl.cuant1 | number:2"></p>
        </div>
        <div ng-if="vm.fctl.rgla.rglv.etiqCuant2" class="col-md-4 form-group">
            <label ng-bind="vm.fctl.rgla.rglv.etiqCuant2"></label>
            <p class="form-control-static" ng-bind="vm.fctl.cuant2 | number:2"></p>
        </div>
        <div ng-if="vm.fctl.rgla.rglv.etiqCuant3" class="col-md-4 form-group">
            <label ng-bind="vm.fctl.rgla.rglv.etiqCuant3"></label>
            <p class="form-control-static" ng-bind="vm.fctl.cuant3 | number:2"></p>
        </div>
        <div ng-if="vm.fctl.rgla.rglv.etiqCuant4" class="col-md-4 form-group">
            <label ng-bind="vm.fctl.rgla.rglv.etiqCuant4"></label>
            <p class="form-control-static" ng-bind="vm.fctl.cuant4 | number:2"></p>
        </div>
        <div ng-if="vm.fctl.rgla.rglv.etiqCuant5" class="col-md-4 form-group">
            <label ng-bind="vm.fctl.rgla.rglv.etiqCuant5"></label>
            <p class="form-control-static" ng-bind="vm.fctl.cuant5 | number:2"></p>
        </div>
        <div ng-if="vm.fctl.rgla.rglv.etiqCuant6" class="col-md-4 form-group">
            <label ng-bind="vm.fctl.rgla.rglv.etiqCuant6"></label>
            <p class="form-control-static" ng-bind="vm.fctl.cuant6 | number:2"></p>
        </div>
    </div>
</fieldset>
</tab> <tab heading="{{'fctdList' | translate}}" select="vm.tabSelected('fctdList')">
<div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
        <pagination total-items="vm.fctlList.count" items-per-page="vm.fctlList.limit" ng-model="vm.page"
            ng-change="vm.pageChanged()" class="pagination" max-size="1" previous-text="&lsaquo;&lsaquo;"
            next-text="&rsaquo;&rsaquo;"></pagination>
    </div>
</div>

<div class="table-responsive">
    <span class="label label-default" translate="grid_count"
        translate-value-count="{{vm.fctdList.count | number:0}}"></span>

    <table class="table-bordered table-condensed table-hover table-nonfluid">
        <thead>
            <tr>
                <th />
                <th translate="ssrv"></th>
                <th translate="fctd_importeBase" ng-if="vm.fctl.rgla.tipo != 'T'"></th>
                <th translate="fctd_importe"></th>
                <th translate="fctd_fini"></th>
                <th translate="fctd_ffin"></th>

                <th ng-if="vm.fctl.rgla.rglv.etiqInfo1" ng-bind="vm.fctl.rgla.rglv.etiqInfo1"></th>
                <th ng-if="vm.fctl.rgla.rglv.etiqInfo2" ng-bind="vm.fctl.rgla.rglv.etiqInfo2"></th>
                <th ng-if="vm.fctl.rgla.rglv.etiqInfo3" ng-bind="vm.fctl.rgla.rglv.etiqInfo3"></th>
                <th ng-if="vm.fctl.rgla.rglv.etiqInfo4" ng-bind="vm.fctl.rgla.rglv.etiqInfo4"></th>
                <th ng-if="vm.fctl.rgla.rglv.etiqInfo5" ng-bind="vm.fctl.rgla.rglv.etiqInfo5"></th>
                <th ng-if="vm.fctl.rgla.rglv.etiqInfo6" ng-bind="vm.fctl.rgla.rglv.etiqInfo6"></th>

                <th ng-if="vm.fctl.rgla.rglv.etiqCuant1" ng-bind="vm.fctl.rgla.rglv.etiqCuant1"></th>
                <th ng-if="vm.fctl.rgla.rglv.etiqCuant2" ng-bind="vm.fctl.rgla.rglv.etiqCuant2"></th>
                <th ng-if="vm.fctl.rgla.rglv.etiqCuant3" ng-bind="vm.fctl.rgla.rglv.etiqCuant3"></th>
                <th ng-if="vm.fctl.rgla.rglv.etiqCuant4" ng-bind="vm.fctl.rgla.rglv.etiqCuant4"></th>
                <th ng-if="vm.fctl.rgla.rglv.etiqCuant5" ng-bind="vm.fctl.rgla.rglv.etiqCuant5"></th>
                <th ng-if="vm.fctl.rgla.rglv.etiqCuant6" ng-bind="vm.fctl.rgla.rglv.etiqCuant6"></th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="fctd in vm.fctdList.list track by $index">
                <td><a ng-href="#/facturacion/fctd/detail/{{fctd.id}}"><i
                        class="glyphicon glyphicon-search"></i></a></td>
                <td nowrap="nowrap" translate="{{'enti_' + fctd.ssrv.entiId}}"></td>
                <td class="number" ng-if="vm.fctl.rgla.tipo != 'T'" ng-bind="fctd.importeBase | number:2"></td>
                <td class="number" ng-bind="fctd.importe | number:2"></td>
                <td ng-bind="fctd.fini | date:'short'"></td>
                <td ng-bind="fctd.ffin | date:'short'"></td>

                <td nowrap="nowrap" ng-if="vm.fctl.rgla.rglv.etiqInfo1" ng-bind="fctd.info1"></td>
                <td nowrap="nowrap" ng-if="vm.fctl.rgla.rglv.etiqInfo2" ng-bind="fctd.info2"></td>
                <td nowrap="nowrap" ng-if="vm.fctl.rgla.rglv.etiqInfo3" ng-bind="fctd.info3"></td>
                <td nowrap="nowrap" ng-if="vm.fctl.rgla.rglv.etiqInfo4" ng-bind="fctd.info4"></td>
                <td nowrap="nowrap" ng-if="vm.fctl.rgla.rglv.etiqInfo5" ng-bind="fctd.info5"></td>
                <td nowrap="nowrap" ng-if="vm.fctl.rgla.rglv.etiqInfo6" ng-bind="fctd.info6"></td>

                <td nowrap="nowrap" ng-if="vm.fctl.rgla.rglv.etiqCuant1" ng-bind="fctd.cuant1"></td>
                <td nowrap="nowrap" ng-if="vm.fctl.rgla.rglv.etiqCuant2" ng-bind="fctd.cuant2"></td>
                <td nowrap="nowrap" ng-if="vm.fctl.rgla.rglv.etiqCuant3" ng-bind="fctd.cuant3"></td>
                <td nowrap="nowrap" ng-if="vm.fctl.rgla.rglv.etiqCuant4" ng-bind="fctd.cuant4"></td>
                <td nowrap="nowrap" ng-if="vm.fctl.rgla.rglv.etiqCuant5" ng-bind="fctd.cuant5"></td>
                <td nowrap="nowrap" ng-if="vm.fctl.rgla.rglv.etiqCuant6" ng-bind="fctd.cuant6"></td>
            </tr>
        </tbody>
    </table>
</div>
</tab> </tabset>
