<div data-ng-if="vm.model">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a data-ng-if="mc.hasAccnPath('rgla-edit')" class="btn btn-default"
                data-ng-href="#/facturacion/regla/edit/edit/{{vm.model.crgo.id}}/{{vm.model.fref}}/{{vm.model.id}}"><i
                class="glyphicon glyphicon-edit"></i> <span data-translate="btn_editar"></span></a>
            <button data-ng-if="mc.hasAccnPath('rgla-remove')" data-ng-click="vm.remove()"
                class="btn btn-default">
                <i class="glyphicon glyphicon-remove"></i> <span data-translate="btn_borrar"></span>
            </button>
        </div>
    </div>

    <fieldset>
        <div class="row">
            <div class="col-md-2 form-group-sm">
                <label data-translate="crgo"></label>
                <p class="form-control-static">
                    <a data-ng-href="#/facturacion/cargo/detail/{{vm.model.crgo.id}}/{{vm.model.fref}}"
                        data-ng-bind="vm.model.crgo.etiqueta"></a>
                </p>
            </div>
            <div class="col-md-1 form-group-sm">
                <label data-translate="rgla_codigo"></label>
                <p class="form-control-static" data-ng-bind="vm.model.codigo"></p>
            </div>
            <div class="col-md-1 form-group-sm">
                <label data-translate="rgla_tipo"></label>
                <p class="form-control-static" data-ng-bind="'ReglaTipo_' + vm.model.tipo | translate"></p>
            </div>
            <div class="col-md-2 form-group-sm">
                <label data-translate="enti"></label>
                <p class="form-control-static" data-ng-switch="vm.model.enti.tipo">
                    <a data-ng-switch-when="T"
                        data-ng-href="#/metamodelo/tipo-servicio/detail/{{vm.model.enti.id}}"
                        data-ng-bind="('enti_' + vm.model.enti.id | translate)"></a> <a
                        data-ng-switch-when="S"
                        data-ng-href="#/metamodelo/tipo-subservicio/detail/{{vm.model.enti.id}}"
                        data-ng-bind="('enti_' + vm.model.enti.id | translate)"></a>
                </p>
            </div>
            <div class="col-md-1 form-group-sm">
                <label data-translate="fini"></label>
                <p class="form-control-static" data-ng-bind="(vm.model.version.fini | date: dateFormat)"></p>
            </div>
            <div class="col-md-1 form-group-sm">
                <label data-translate="ffin"></label>
                <p class="form-control-static" data-ng-bind="(vm.model.version.ffin | date: dateFormat)"></p>
            </div>
            <div class="col-md-1 form-group-sm">
                <label data-translate="rgla_orden"></label>
                <p class="form-control-static number" data-ng-bind="vm.model.version.orden"></p>
            </div>
            <div class="col-md-1 form-group-sm">
                <label data-translate="rgla_valorBase"></label>
                <p class="form-control-static number" data-ng-bind="(vm.model.version.valorBase | number:4)"></p>
            </div>
        </div>

        <div class="row" data-ng-include="'modules/common/i18nMap-detail.html'"></div>

        <div class="row">
            <div class="col-md-6 form-group-sm">
                <label data-translate="rgla_condicion"></label>
                <textarea class="form-control" rows="12" data-ng-bind="vm.model.version.condicion"
                    readonly="readonly" spellcheck="false"></textarea>
            </div>
            <div class="col-md-6 form-group-sm">
                <label data-translate="rgla_formula"></label>
                <textarea class="form-control" rows="12" data-ng-bind="vm.model.version.formula"
                    readonly="readonly" spellcheck="false"></textarea>
            </div>
        </div>

        <div data-ng-if="vm.model.tipo == 'T'" class="row">
            <div class="col-md-6 form-group-sm">
                <label data-translate="rgla_pathImpuesto"></label>
                <p class="form-control-static" data-ng-bind="vm.model.version.pathImpuesto"></p>
            </div>
            <div class="col-md-6 form-group-sm">
                <label data-translate="rgla_pathPagador"></label>
                <p class="form-control-static" data-ng-bind="vm.model.version.pathPagador"></p>
            </div>
        </div>

        <div data-ng-if="vm.model.tipo == 'T'" class="row">
            <div class="col-md-6 form-group-sm">
                <label data-translate="rgla_pathEsSujPasivo"></label>
                <p class="form-control-static" data-ng-bind="vm.model.version.pathEsSujPasivo"></p>
            </div>
            <div class="col-md-6 form-group-sm">
                <label data-translate="rgla_pathCodExen"></label>
                <p class="form-control-static" data-ng-bind="vm.model.version.pathCodExen"></p>
            </div>
        </div>
    </fieldset>

    <fieldset data-ng-if="vm.model.tipo == 'T'">
        <legend>{{'Datos Variables'}}</legend>

        <div class="table-responsive">
            <table class="table-bordered table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Campo</th>
                        <th>Etiqueta</th>
                        <th>Ruta</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-if="vm.model.version.pathInfo1 != null">
                        <td>Info 1</td>
                        <td data-ng-bind="vm.model.version.etiqInfo1"></td>
                        <td data-ng-bind="vm.model.version.pathInfo1"></td>
                    </tr>
                    <tr data-ng-if="vm.model.version.pathInfo2 != null">
                        <td>Info 2</td>
                        <td data-ng-bind="vm.model.version.etiqInfo2"></td>
                        <td data-ng-bind="vm.model.version.pathInfo2"></td>
                    </tr>
                    <tr data-ng-if="vm.model.version.pathInfo3 != null">
                        <td>Info 3</td>
                        <td data-ng-bind="vm.model.version.etiqInfo3"></td>
                        <td data-ng-bind="vm.model.version.pathInfo3"></td>
                    </tr>
                    <tr data-ng-if="vm.model.version.pathInfo4 != null">
                        <td>Info 4</td>
                        <td data-ng-bind="vm.model.version.etiqInfo4"></td>
                        <td data-ng-bind="vm.model.version.pathInfo4"></td>
                    </tr>
                    <tr data-ng-if="vm.model.version.pathInfo5 != null">
                        <td>Info 5</td>
                        <td data-ng-bind="vm.model.version.etiqInfo5"></td>
                        <td data-ng-bind="vm.model.version.pathInfo5"></td>
                    </tr>
                    <tr data-ng-if="vm.model.version.pathInfo6 != null">
                        <td>Info 6</td>
                        <td data-ng-bind="vm.model.version.etiqInfo6"></td>
                        <td data-ng-bind="vm.model.version.pathInfo6"></td>
                    </tr>

                    <tr data-ng-if="vm.model.version.pathCuant1 != null">
                        <td>Cuant 1</td>
                        <td data-ng-bind="vm.model.version.etiqCuant1"></td>
                        <td data-ng-bind="vm.model.version.pathCuant1"></td>
                    </tr>
                    <tr data-ng-if="vm.model.version.pathCuant2 != null">
                        <td>Cuant 2</td>
                        <td data-ng-bind="vm.model.version.etiqCuant2"></td>
                        <td data-ng-bind="vm.model.version.pathCuant2"></td>
                    </tr>
                    <tr data-ng-if="vm.model.version.pathCuant3 != null">
                        <td>Cuant 3</td>
                        <td data-ng-bind="vm.model.version.etiqCuant3"></td>
                        <td data-ng-bind="vm.model.version.pathCuant3"></td>
                    </tr>
                    <tr data-ng-if="vm.model.version.pathCuant4 != null">
                        <td>Cuant 4</td>
                        <td data-ng-bind="vm.model.version.etiqCuant4"></td>
                        <td data-ng-bind="vm.model.version.pathCuant4"></td>
                    </tr>
                    <tr data-ng-if="vm.model.version.pathCuant5 != null">
                        <td>Cuant 5</td>
                        <td data-ng-bind="vm.model.version.etiqCuant5"></td>
                        <td data-ng-bind="vm.model.version.pathCuant5"></td>
                    </tr>
                    <tr data-ng-if="vm.model.version.pathCuant6 != null">
                        <td>Cuant 6</td>
                        <td data-ng-bind="vm.model.version.etiqCuant6"></td>
                        <td data-ng-bind="vm.model.version.pathCuant6"></td>
                    </tr>
                </tbody>

            </table>
        </div>
    </fieldset>

    <fieldset data-ng-if="mc.hasAccnPath('rgin-list')">
        <legend data-ng-bind="'Reglas Incompatibles'"></legend>

        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                <a data-ng-if="mc.hasAccnPath('rgin-create')" class="btn btn-default"
                    data-ng-href="#/facturacion/regla-incompatible/edit/create/{{vm.model.id}}/{{vm.model.fref}}"><i
                    class="glyphicon glyphicon-file"></i> <span data-translate="btn_crear"></span></a>
            </div>
        </div>

        <div class="table-responsive">
            <table data-ng-if="vm.rginList" class="table-bordered table-condensed table-hover">
                <thead>
                    <tr>
                        <th />
                        <th data-translate="rgla_codigo"></th>
                        <th data-translate="rgla_tipo"></th>
                        <th data-translate="enti"></th>
                        <th data-translate="fini"></th>
                        <th data-translate="ffin"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="rgin in vm.rginList track by $index">
                        <td><a
                            data-ng-href="#/facturacion/regla-incompatible/detail/{{rgin.id}}/{{rgin.fref}}"><i
                                class="glyphicon glyphicon-search"></i></a></td>
                        <td data-ng-bind="rgin.rgla2.codigo"></td>
                        <td data-ng-bind="rgin.rgla2.tipo"></td>
                        <td data-ng-bind="('enti_' + rgin.rgla2.enti.id | translate)"></td>
                        <td data-ng-bind="(rgin.version.fini | date: dateFormat)"></td>
                        <td data-ng-bind="(rgin.version.ffin | date: dateFormat)"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
</div>