<div data-ng-if="vm.model">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a data-ng-if="mc.hasAccnPath('rgin-edit')" class="btn btn-default"
                data-ng-href="#/facturacion/regla-incompatible/edit/edit/{{vm.model.rgla1Id}}/{{vm.model.fref}}/{{vm.model.id}}"><i
                class="glyphicon glyphicon-edit"></i> <span data-translate="btn_editar"></span></a>
            <button data-ng-if="mc.hasAccnPath('rgin-remove')" data-ng-click="vm.remove()"
                class="btn btn-default">
                <i class="glyphicon glyphicon-remove"></i> <span data-translate="btn_borrar"></span>
            </button>
        </div>
    </div>

    <fieldset>
        <div class="row">
            <div class="col-md-2 form-group-sm">
                <label data-translate="rgin_rgla2"></label>
                <p class="form-control-static">
                    <a data-ng-href="#/facturacion/regla/detail/{{vm.model.rgla2.id}}/{{vm.model.fref}}"
                        data-ng-bind="vm.model.rgla2.codigo"></a>
                </p>
            </div>
            <div class="col-md-1 form-group-sm">
                <label data-translate="fini"></label>
                <p class="form-control-static"
                    data-ng-bind="vm.model.version.fini | date: ('format_date' | translate)"></p>
            </div>
            <div class="col-md-1 form-group-sm">
                <label data-translate="ffin"></label>
                <p class="form-control-static"
                    data-ng-bind="vm.model.version.ffin | date: ('format_date' | translate)"></p>
            </div>
        </div>
    </fieldset>
</div>