<alert ng-if="actionErrors" type="danger"> <span>{{'errors' | translate}}:</span>
<ul>
    <li ng-repeat="error in actionErrors">{{error}}</li>
</ul>
</alert>

<form role="form">
    <input type="hidden" ng-model="accion" /><input type="hidden" ng-model="rgin.id" /><input type="hidden"
        ng-model="rgin.rgiv.id" />

    <fieldset>
        <legend>{{'Incompatibilidad' | uppercase}}</legend>

        <div class="row">
            <div class="col-md-2 form-group">
                <label>{{"rgin_rgla2" | translate}}</label> <select ng-if="accion == 'create'" ng-model="rgin.rgla2.id"
                    class="form-control input-sm">
                    <option value="" />
                    <option ng-repeat="rgla in rgla2List" value="{{rgla.id}}">{{rgla.codigo}}</option>
                </select>
                <p ng-if="accion != 'create'" class="form-control-static">{{rgin.rgla2.codigo}}</p>
            </div>
            <div class="col-md-1 form-group">
                <label>{{'rgin_fini' | translate}}</label>
                <p class="input-group" ng-controller="datepickerController">
                    <input type="text" class="form-control input-sm" datepicker-popup="{{'fmt_date' | translate}}"
                        datepicker-options="dateOptions" is-open="opened" ng-model="rgin.rgiv.fini"
                        ng-required="true" /> <span class="input-group-addon" ng-click="open($event)"><i
                        class="glyphicon glyphicon-calendar"></i></span>
                </p>
            </div>
            <div class="col-md-1 form-group">
                <label>{{'rgin_ffin' | translate}}</label>
                <p class="input-group" ng-controller="datepickerController">
                    <input type="text" class="form-control input-sm" datepicker-popup="{{'fmt_date' | translate}}"
                        datepicker-options="dateOptions" is-open="opened" ng-model="rgin.rgiv.ffin"
                        ng-required="true" /> <span class="input-group-addon" ng-click="open($event)"><i
                        class="glyphicon glyphicon-calendar"></i></span>
                </p>
            </div>
        </div>

        <button data-ng-click="save()" class="btn btn-primary">
            <i class="glyphicon glyphicon-ok"></i> {{'boton_guardar' | translate}}
        </button>
        <button data-ng-click="cancel()" class="btn btn-default">
            <i class="glyphicon glyphicon-remove"></i> {{'boton_cancelar' | translate}}
        </button>
    </fieldset>
</form>

