<p class="bg-primary">{{'Regla' | uppercase}}</p>

<fieldset>
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <button data-ng-click="edit()" class="btn btn-default">
                <i class="glyphicon glyphicon-edit"></i> <span translate>boton_editar</span>
            </button>
            <button data-ng-click="remove()" class="btn btn-default">
                <i class="glyphicon glyphicon-remove"></i> <span translate>boton_borrar</span>
            </button>
        </div>
    </div>

    <div class="row-fluid">
        <div class="col-md-2 form-group">
            <label translate>rgla_crgo</label>
            <p class="form-control-static">
                <a ng-href="#/facturacion/crgo/detail/{{rgla.crgo.id}}/{{fechaVigencia}}">{{rgla.crgo.etiqueta}}</a>
            </p>
        </div>
        <div class="col-md-1 form-group">
            <label translate>rgla_codigo</label>
            <p class="form-control-static">{{rgla.codigo}}</p>
        </div>
        <div class="col-md-1 form-group">
            <label translate>rgla_tipo</label>
            <p class="form-control-static">{{rgla.rglv.tipo}}</p>
        </div>
        <div class="col-md-2 form-group">
            <label translate>rgla_enti</label>
            <p class="form-control-static">
                <a ng-if="rgla.rglv.enti.tipo == 'T'" ng-href="#/metamodelo/tpsr/detail/{{rgla.rglv.enti.id}}">{{rgla.rglv.enti.nombre}}</a>
                <a ng-if="rgla.rglv.enti.tipo == 'S'" ng-href="#/metamodelo/tpss/detail/{{rgla.rglv.enti.id}}">{{rgla.rglv.enti.nombre}}</a>
            </p>
        </div>
        <div class="col-md-1 form-group">
            <label translate>rgla_fini</label>
            <p class="form-control-static">{{rgla.rglv.fini | date}}</p>
        </div>
        <div class="col-md-1 form-group">
            <label translate>rgla_ffin</label>
            <p class="form-control-static">{{rgla.rglv.ffin | date}}</p>
        </div>
        <div class="col-md-1 form-group">
            <label translate>rgla_orden</label>
            <p class="form-control-static">{{rgla.rglv.orden}}</p>
        </div>
        <div ng-if="rgla.tipo == 'T'" class="col-md-1 form-group">
            <label translate>rgla_importeBase</label>
            <p class="form-control-static">{{rgla.rglv.importeBase | number:4}}</p>
        </div>
    </div>

    <div class="row-fluid">
        <div class="col-md-6 form-group">
            <label translate>rgla_condicion</label>
            <p class="form-control-static">{{rgla.rglv.condicion}}</p>
        </div>
        <div class="col-md-6 form-group">
            <label translate>rgla_formula</label>
            <p class="form-control-static">{{rgla.rglv.formula}}</p>
        </div>
    </div>

    <div ng-if="rgla.rglv.tipo == 'T'" class="row-fluid">
        <div class="col-md-6 form-group">
            <label translate>rgla_pathImpuesto</label>
            <p class="form-control-static">{{rgla.rglv.pathImpuesto}}</p>
        </div>
        <div class="col-md-6 form-group">
            <label translate>rgla_pathPagador</label>
            <p class="form-control-static">{{rgla.rglv.pathPagador}}</p>
        </div>
    </div>

    <div ng-if="rgla.rglv.tipo == 'T'" class="row-fluid">
        <div class="col-md-6 form-group">
            <label translate>rgla_pathEsSujPasivo</label>
            <p class="form-control-static">{{rgla.rglv.pathEsSujPasivo}}</p>
        </div>
        <div class="col-md-6 form-group">
            <label translate>rgla_pathCodExen</label>
            <p class="form-control-static">{{rgla.rglv.pathCodExen}}</p>
        </div>
    </div>
</fieldset>

<fieldset ng-if="rgla.rglv.tipo == 'T'">
    <legend>{{'Datos Variables' | uppercase}}</legend>
    <div class="row-fluid">
        <div class="col-md-9 form-group">
            <table class="table-bordered table-condensed table-hover table-nonfluid">
                <thead>
                    <tr>
                        <th>Campo</th>
                        <th>Etiqueta</th>
                        <th>Ruta</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="rgla.rglv.pathInfo1 != null">
                        <td>Info 1</td>
                        <td>{{rgla.rglv.etiqInfo1}}</td>
                        <td>{{rgla.rglv.pathInfo1}}</td>
                    </tr>
                    <tr ng-if="rgla.rglv.pathInfo2 != null">
                        <td>Info 2</td>
                        <td>{{rgla.rglv.etiqInfo2}}</td>
                        <td>{{rgla.rglv.pathInfo2}}</td>
                    </tr>
                    <tr ng-if="rgla.rglv.pathInfo3 != null">
                        <td>Info 3</td>
                        <td>{{rgla.rglv.etiqInfo3}}</td>
                        <td>{{rgla.rglv.pathInfo3}}</td>
                    </tr>
                    <tr ng-if="rgla.rglv.pathInfo4 != null">
                        <td>Info 4</td>
                        <td>{{rgla.rglv.etiqInfo4}}</td>
                        <td>{{rgla.rglv.pathInfo4}}</td>
                    </tr>
                    <tr ng-if="rgla.rglv.pathInfo5 != null">
                        <td>Info 5</td>
                        <td>{{rgla.rglv.etiqInfo5}}</td>
                        <td>{{rgla.rglv.pathInfo5}}</td>
                    </tr>
                    <tr ng-if="rgla.rglv.pathInfo6 != null">
                        <td>Info 6</td>
                        <td>{{rgla.rglv.etiqInfo6}}</td>
                        <td>{{rgla.rglv.pathInfo6}}</td>
                    </tr>

                    <tr ng-if="rgla.rglv.pathCuant1 != null">
                        <td>Cuant 1</td>
                        <td>{{rgla.rglv.etiqCuant1}}</td>
                        <td>{{rgla.rglv.pathCuant1}}</td>
                    </tr>
                    <tr ng-if="rgla.rglv.pathCuant2 != null">
                        <td>Cuant 2</td>
                        <td>{{rgla.rglv.etiqCuant2}}</td>
                        <td>{{rgla.rglv.pathCuant2}}</td>
                    </tr>
                    <tr ng-if="rgla.rglv.pathCuant3 != null">
                        <td>Cuant 3</td>
                        <td>{{rgla.rglv.etiqCuant3}}</td>
                        <td>{{rgla.rglv.pathCuant3}}</td>
                    </tr>
                    <tr ng-if="rgla.rglv.pathCuant4 != null">
                        <td>Cuant 4</td>
                        <td>{{rgla.rglv.etiqCuant4}}</td>
                        <td>{{rgla.rglv.pathCuant4}}</td>
                    </tr>
                    <tr ng-if="rgla.rglv.pathCuant5 != null">
                        <td>Cuant 5</td>
                        <td>{{rgla.rglv.etiqCuant5}}</td>
                        <td>{{rgla.rglv.pathCuant5}}</td>
                    </tr>
                    <tr ng-if="rgla.rglv.pathCuant6 != null">
                        <td>Cuant 6</td>
                        <td>{{rgla.rglv.etiqCuant6}}</td>
                        <td>{{rgla.rglv.pathCuant6}}</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</fieldset>

<fieldset>
    <legend>{{'Reglas Incompatibles' | uppercase}}</legend>

    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a class="btn btn-default" ng-href="#/facturacion/rgin/create/{{rgla.crgo.id}}/{{rgla.id}}"><i
                class="glyphicon glyphicon-file"></i> <span translate>boton_alta</span></a>
        </div>
    </div>

    <div class="row-fluid">
        <div class="col-md-9 form-group">
            <table ng-if="rginList" class="table-bordered table-condensed table-hover table-nonfluid">
                <thead>
                    <tr>
                        <th />
                        <th translate>rgla_codigo</th>
                        <th translate>rgla_tipo</th>
                        <th translate>rgla_enti</th>
                        <th translate>rgin_fini</th>
                        <th translate>rgin_ffin</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="rgin in rginList track by $index">
                        <td><a ng-href="#/facturacion/rgin/detail/{{rgin.id}}/{{fechaVigencia}}"><i
                                class="glyphicon glyphicon-search"></i></a></td>
                        <td>{{rgin.rgla2.codigo}}</td>
                        <td>{{rgin.rgla2.tipo}}</td>
                        <td>{{rgin.rgla2.enti.nombre}}</td>
                        <td>{{rgin.rgiv.fini | date}}</td>
                        <td>{{rgin.rgiv.ffin | date}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</fieldset>
