<uib-tabset type="pills"> <uib-tab select="vm.tabSelected(null)"> <tab-heading
    ng-bind="'vlrl' | translate"></tab-heading>
<div class="btn-group">
    <a class="btn btn-default" ng-href="#/facturacion/vlrl/edit/edit/{{vm.model.vlrcId}}/{{vm.model.id}}"><i
        class="glyphicon glyphicon-edit"></i> <span translate="btn_editar"></span></a>
    <button data-ng-click="vm.remove()" class="btn btn-default">
        <i class="glyphicon glyphicon-remove"></i> <span translate="btn_borrar"></span>
    </button>
</div>

<fieldset>
    <div class="row">
        <div class="col-md-2 form-group-sm">
            <label translate="enti"></label>
            <p class="form-control-static">
                <a ng-if="vm.model.rgla.enti.tipo == 'T'" ui-sref="tipo-servicio-detail(vm.model.rgla.enti)"
                    translate="{{'enti_' + vm.model.rgla.enti.id}}"></a> <a
                    ng-if="vm.model.rgla.enti.tipo == 'S'"
                    ui-sref="tipo-subservicio-detail(vm.model.rgla.enti)"
                    translate="{{'enti_' + vm.model.rgla.enti.id}}"></a>
            </p>
        </div>
        <div class="col-md-1 form-group-sm">
            <label translate="crgo"></label>
            <p class="form-control-static">
                <a ui-sref="cargo-detail({id: vm.model.rgla.crgo.id, fref: vm.model.fref})"
                    ng-bind="vm.model.rgla.crgo.codigo"></a>
            </p>
        </div>
        <div class="col-md-1 form-group-sm">
            <label translate="rgla"></label>
            <p class="form-control-static">
                <a ui-sref="regla-detail({id: vm.model.rgla.id, fref: vm.model.fref})"
                    ng-bind="vm.model.rgla.codigo"></a>
            </p>
        </div>
        <div class="col-md-1 form-group-sm">
            <label translate="rgla_tipo"></label>
            <p class="form-control-static" ng-bind="vm.model.rgla.tipo"></p>
        </div>
        <div class="col-md-1 form-group-sm">
            <label translate="rgla_valorBase"></label>
            <p class="form-control-static number" ng-bind="vm.model.rgla.version.valorBase | number:4"></p>
        </div>
        <div class="col-md-1 form-group-sm" ng-if="vm.model.rgla.tipo != 'T'">
            <label translate="vlrl_importeBase"></label>
            <p class="form-control-static number">{{vm.model.importeBase | number:2}} &euro;</p>
        </div>
        <div class="col-md-1 form-group-sm">
            <label translate="vlrl_importe"></label>
            <p class="form-control-static number">{{vm.model.importe | number:2}} &euro;</p>
        </div>
        <div class="col-md-2 form-group-sm">
            <label translate="vlrl_impuesto"></label>
            <p class="form-control-static">
                <a
                    ui-sref="parametro-detail({id: vm.vlrlPadre.impuesto.id, entiId: vm.vlrlPadre.impuesto.entiId, fref: vm.model.fref})"
                    ng-bind="vm.vlrlPadre.impuesto.etiqueta"></a>
            </p>
        </div>
        <div ng-if="vm.model.ssrv.id" class="col-md-1 form-group-sm">
            <label translate="vlrl_ssrv"></label>
            <p class="form-control-static">
                <a ng-href="#/servicio/ssrv/detail/{{vm.model.rgla.enti.id}}/{{vm.model.ssrv.id}}"
                    ng-bind="vm.model.ssrv.numero"></a>
            </p>
        </div>
        <div ng-if="vm.model.ssrv.id && vm.model.rgla.crgo.version.temporal" class="col-md-1 form-group-sm">
            <label translate="fini"></label>
            <p class="form-control-static" ng-bind="vm.model.fini | date: ('format_datetime' | translate)"></p>
        </div>
        <div ng-if="vm.model.ssrv.id && vm.model.rgla.crgo.version.temporal" class="col-md-1 form-group-sm">
            <label translate="ffin"></label>
            <p class="form-control-static" ng-bind="vm.model.ffin | date: ('format_datetime' | translate)"></p>
        </div>
    </div>

    <div class="row">
        <div ng-if="vm.vlrlPadre.rgla.version.etiqInfo1 && vm.aspc.version.lgrpInfo1"
            class="col-md-4 form-group-sm">
            <label ng-bind="vm.vlrlPadre.rgla.version.etiqInfo1"></label>
            <p class="form-control-static" ng-bind="vm.model.info1"></p>
        </div>
        <div ng-if="vm.vlrlPadre.rgla.version.etiqInfo2 && vm.aspc.version.lgrpInfo2"
            class="col-md-4 form-group-sm">
            <label ng-bind="vm.vlrlPadre.rgla.version.etiqInfo2"></label>
            <p class="form-control-static" ng-bind="vm.model.info2"></p>
        </div>
        <div ng-if="vm.vlrlPadre.rgla.version.etiqInfo3 && vm.aspc.version.lgrpInfo3"
            class="col-md-4 form-group-sm">
            <label ng-bind="vm.vlrlPadre.rgla.version.etiqInfo3"></label>
            <p class="form-control-static" ng-bind="vm.model.info3"></p>
        </div>
        <div ng-if="vm.vlrlPadre.rgla.version.etiqInfo4 && vm.aspc.version.lgrpInfo4"
            class="col-md-4 form-group-sm">
            <label ng-bind="vm.vlrlPadre.rgla.version.etiqInfo4"></label>
            <p class="form-control-static" ng-bind="vm.model.info4"></p>
        </div>
        <div ng-if="vm.vlrlPadre.rgla.version.etiqInfo5 && vm.aspc.version.lgrpInfo5"
            class="col-md-4 form-group-sm">
            <label ng-bind="vm.vlrlPadre.rgla.version.etiqInfo5"></label>
            <p class="form-control-static" ng-bind="vm.model.info5"></p>
        </div>
        <div ng-if="vm.vlrlPadre.rgla.version.etiqInfo6 && vm.aspc.version.lgrpInfo6"
            class="col-md-4 form-group-sm">
            <label ng-bind="vm.vlrlPadre.rgla.version.etiqInfo6"></label>
            <p class="form-control-static" ng-bind="vm.model.info6"></p>
        </div>
    </div>

    <div class="row">
        <div ng-if="vm.vlrlPadre.rgla.version.etiqCuant1" class="col-md-2 form-group-sm">
            <label ng-bind="vm.vlrlPadre.rgla.version.etiqCuant1"></label>
            <p class="form-control-static number" ng-bind="vm.model.cuant1 | number:2"></p>
        </div>
        <div ng-if="vm.vlrlPadre.rgla.version.etiqCuant2" class="col-md-2 form-group-sm">
            <label ng-bind="vm.vlrlPadre.rgla.version.etiqCuant2"></label>
            <p class="form-control-static number" ng-bind="vm.model.cuant2 | number:2"></p>
        </div>
        <div ng-if="vm.vlrlPadre.rgla.version.etiqCuant3" class="col-md-2 form-group-sm">
            <label ng-bind="vm.vlrlPadre.rgla.version.etiqCuant3"></label>
            <p class="form-control-static number" ng-bind="vm.model.cuant3 | number:2"></p>
        </div>
        <div ng-if="vm.vlrlPadre.rgla.version.etiqCuant4" class="col-md-2 form-group-sm">
            <label ng-bind="vm.vlrlPadre.rgla.version.etiqCuant4"></label>
            <p class="form-control-static number" ng-bind="vm.model.cuant4 | number:2"></p>
        </div>
        <div ng-if="vm.vlrlPadre.rgla.version.etiqCuant5" class="col-md-2 form-group-sm">
            <label ng-bind="vm.vlrlPadre.rgla.version.etiqCuant5"></label>
            <p class="form-control-static number" ng-bind="vm.model.cuant5 | number:2"></p>
        </div>
        <div ng-if="vm.vlrlPadre.rgla.version.etiqCuant6" class="col-md-2 form-group-sm">
            <label ng-bind="vm.vlrlPadre.rgla.version.etiqCuant6"></label>
            <p class="form-control-static number" ng-bind="vm.model.cuant6 | number:2"></p>
        </div>
    </div>
</fieldset>


<fieldset ng-if="vm.model.rgla.tipo == 'T'">
    <legend>Modificadores</legend>

    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a class="btn btn-default"
                ng-href="#/facturacion/vlrldep/edit/create/{{vm.model.vlrcId}}/{{vm.model.id}}"><i
                class="glyphicon glyphicon-file"></i> <span translate="btn_crear"></span> </a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table-bordered table-condensed table-hover table-nonfluid">
            <thead>
                <tr>
                    <th />
                    <th translate="rgla"></th>
                    <th translate="rgla_tipo"></th>
                    <th translate="rgla_valorBase"></th>
                    <th translate="vlrl_importeBase"></th>
                    <th translate="vlrl_importe"></th>

                    <th ng-if="vm.vlrlPadre.rgla.version.etiqCuant1"><span
                        ng-bind="vm.vlrlPadre.rgla.version.etiqCuant1"></span></th>
                    <th ng-if="vm.vlrlPadre.rgla.version.etiqCuant2"><span
                        ng-bind="vm.vlrlPadre.rgla.version.etiqCuant2"></span></th>
                    <th ng-if="vm.vlrlPadre.rgla.version.etiqCuant3"><span
                        ng-bind="vm.vlrlPadre.rgla.version.etiqCuant3"></span></th>
                    <th ng-if="vm.vlrlPadre.rgla.version.etiqCuant4"><span
                        ng-bind="vm.vlrlPadre.rgla.version.etiqCuant4"></span></th>
                    <th ng-if="vm.vlrlPadre.rgla.version.etiqCuant5"><span
                        ng-bind="vm.vlrlPadre.rgla.version.etiqCuant5"></span></th>
                    <th ng-if="vm.vlrlPadre.rgla.version.etiqCuant6"><span
                        ng-bind="vm.vlrlPadre.rgla.version.etiqCuant6"></span></th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="vlrl in vm.vlrlHijosList track by $index">
                    <td><a ng-href="#/facturacion/vlrl/detail/{{vlrl.vlrcId}}/{{vlrl.id}}"><i
                            class="glyphicon glyphicon-search"></i></a></td>
                    <td nowrap="nowrap" ng-bind="vlrl.rgla.codigo"></td>
                    <td nowrap="nowrap" ng-bind="vlrl.rgla.tipo"></td>
                    <td nowrap="nowrap" ng-bind="vlrl.rgla.version.valorBase | number:4" class="number"></td>
                    <td nowrap="nowrap" class="number">{{vlrl.importeBase | number:2}} &euro;</td>
                    <td nowrap="nowrap" class="number">{{vlrl.importe | number:2}} &euro;</td>

                    <td ng-if="vm.vlrlPadre.rgla.version.etiqCuant1" class="number"
                        ng-bind="vlrl.cuant1 | number:2"></td>
                    <td ng-if="vm.vlrlPadre.rgla.version.etiqCuant2" class="number"
                        ng-bind="vlrl.cuant2 | number:2"></td>
                    <td ng-if="vm.vlrlPadre.rgla.version.etiqCuant3" class="number"
                        ng-bind="vlrl.cuant3 | number:2"></td>
                    <td ng-if="vm.vlrlPadre.rgla.version.etiqCuant4" class="number"
                        ng-bind="vlrl.cuant4 | number:2"></td>
                    <td ng-if="vm.vlrlPadre.rgla.version.etiqCuant5" class="number"
                        ng-bind="vlrl.cuant5 | number:2"></td>
                    <td ng-if="vm.vlrlPadre.rgla.version.etiqCuant6" class="number"
                        ng-bind="vlrl.cuant6 | number:2"></td>
                </tr>
            </tbody>
        </table>
    </div>
</fieldset>
</uib-tab> <uib-tab active="vm.tabActive['vlrdList']" select="vm.tabSelected('vlrdList')"> <tab-heading
    ng-bind="'vlrdList' | translate"></tab-heading>
<div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
        <uib-pagination total-items="vm.vlrdList.count" items-per-page="vm.vlrdList.limit" ng-model="vm.page"
            ng-change="vm.pageChanged()" class="pagination" max-size="1" previous-text="&lsaquo;&lsaquo;"
            next-text="&rsaquo;&rsaquo;"></uib-pagination>
    </div>

    <div class="btn-group">
        <a class="btn btn-default" ng-href="#/facturacion/vlrd/edit/create/{{vm.vlrl.vlrcId}}/{{vm.vlrl.id}}"><i
            class="glyphicon glyphicon-file"></i> <span translate="btn_crear"></span> </a>
    </div>
</div>

<div class="table-responsive">
    <span class="label label-default" translate="grid_count"
        translate-value-count="{{vm.vlrdList.count | number:0}}"></span>

    <table class="table-bordered table-condensed table-hover table-nonfluid">
        <thead>
            <tr>
                <th />
                <th translate="rgla"></th>
                <th translate="vlrd_valorBase"></th>
                <th translate="vlrd_importeBase" ng-if="vm.model.rgla.tipo != 'T'"></th>
                <th translate="vlrd_importe"></th>
                <th ng-bind="'enti_' + vm.vlrlPadre.rgla.enti.id | translate"></th>
                <th translate="vlrd_fini" ng-if="model.rgla.crgo.version.temporal"></th>
                <th translate="vlrd_ffin" ng-if="model.rgla.crgo.version.temporal"></th>
                <th ng-if="vm.vlrlPadre.rgla.version.etiqInfo1 && !vm.aspc.version.lgrpInfo1"><span
                    ng-bind="vm.vlrlPadre.rgla.version.etiqInfo1"></span></th>
                <th ng-if="vm.vlrlPadre.rgla.version.etiqInfo2 && !vm.aspc.version.lgrpInfo2"><span
                    ng-bind="vm.vlrlPadre.rgla.version.etiqInfo2"></span></th>
                <th ng-if="vm.vlrlPadre.rgla.version.etiqInfo3 && !vm.aspc.version.lgrpInfo3"><span
                    ng-bind="vm.vlrlPadre.rgla.version.etiqInfo3"></span></th>
                <th ng-if="vm.vlrlPadre.rgla.version.etiqInfo4 && !vm.aspc.version.lgrpInfo4"><span
                    ng-bind="vm.vlrlPadre.rgla.version.etiqInfo4"></span></th>
                <th ng-if="vm.vlrlPadre.rgla.version.etiqInfo5 && !vm.aspc.version.lgrpInfo5"><span
                    ng-bind="vm.vlrlPadre.rgla.version.etiqInfo5"></span></th>
                <th ng-if="vm.vlrlPadre.rgla.version.etiqInfo6 && !vm.aspc.version.lgrpInfo6"><span
                    ng-bind="vm.vlrlPadre.rgla.version.etiqInfo6"></span></th>

                <th ng-if="vm.vlrlPadre.rgla.version.etiqCuant1"><span
                    ng-bind="vm.vlrlPadre.rgla.version.etiqCuant1"></span></th>
                <th ng-if="vm.vlrlPadre.rgla.version.etiqCuant2"><span
                    ng-bind="vm.vlrlPadre.rgla.version.etiqCuant2"></span></th>
                <th ng-if="vm.vlrlPadre.rgla.version.etiqCuant3"><span
                    ng-bind="vm.vlrlPadre.rgla.version.etiqCuant3"></span></th>
                <th ng-if="vm.vlrlPadre.rgla.version.etiqCuant4"><span
                    ng-bind="vm.vlrlPadre.rgla.version.etiqCuant4"></span></th>
                <th ng-if="vm.vlrlPadre.rgla.version.etiqCuant5"><span
                    ng-bind="vm.vlrlPadre.rgla.version.etiqCuant5"></span></th>
                <th ng-if="vm.vlrlPadre.rgla.version.etiqCuant6"><span
                    ng-bind="vm.vlrlPadre.rgla.version.etiqCuant6"></span></th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="vlrd in vm.vlrdList.list track by $index">
                <td><a ui-sref="valoracion-detalle-detail(vlrd)"><i
                        class="glyphicon glyphicon-search"></i></a></td>
                <td nowrap="nowrap" ng-bind="vlrd.rgla.codigo"></td>
                <td class="number" ng-bind="vlrd.valorBase | number:4"></td>
                <td nowrap="nowrap" class="number" ng-if="vlrd.rgla.tipo != 'T'">{{vlrd.importeBase |
                    number:2}} &euro;</td>
                <td nowrap="nowrap" class="number">{{vlrd.importe | number:2}} &euro;</td>
                <td ng-bind="vlrd.ssrv.numero"></td>
                <td ng-bind="vlrd.fini | date:'short'" ng-if="model.rgla.crgo.version.temporal"></td>
                <td ng-bind="vlrd.ffin | date:'short'" ng-if="model.rgla.crgo.version.temporal"></td>
                <td ng-if="vm.vlrlPadre.rgla.version.etiqInfo1 && !vm.aspc.version.lgrpInfo1"
                    ng-bind="vlrd.info1"></td>
                <td ng-if="vm.vlrlPadre.rgla.version.etiqInfo2 && !vm.aspc.version.lgrpInfo2"
                    ng-bind="vlrd.info2"></td>
                <td ng-if="vm.vlrlPadre.rgla.version.etiqInfo3 && !vm.aspc.version.lgrpInfo3"
                    ng-bind="vlrd.info3"></td>
                <td ng-if="vm.vlrlPadre.rgla.version.etiqInfo4 && !vm.aspc.version.lgrpInfo4"
                    ng-bind="vlrd.info4"></td>
                <td ng-if="vm.vlrlPadre.rgla.version.etiqInfo5 && !vm.aspc.version.lgrpInfo5"
                    ng-bind="vlrd.info5"></td>
                <td ng-if="vm.vlrlPadre.rgla.version.etiqInfo6 && !vm.aspc.version.lgrpInfo6"
                    ng-bind="vlrd.info6"></td>
                <td ng-if="vm.vlrlPadre.rgla.version.etiqCuant1" class="number"
                    ng-bind="vlrd.cuant1 | number:2"></td>
                <td ng-if="vm.vlrlPadre.rgla.version.etiqCuant2" class="number"
                    ng-bind="vlrd.cuant2 | number:2"></td>
                <td ng-if="vm.vlrlPadre.rgla.version.etiqCuant3" class="number"
                    ng-bind="vlrd.cuant3 | number:2"></td>
                <td ng-if="vm.vlrlPadre.rgla.version.etiqCuant4" class="number"
                    ng-bind="vlrd.cuant4 | number:2"></td>
                <td ng-if="vm.vlrlPadre.rgla.version.etiqCuant5" class="number"
                    ng-bind="vlrd.cuant5 | number:2"></td>
                <td ng-if="vm.vlrlPadre.rgla.version.etiqCuant6" class="number"
                    ng-bind="vlrd.cuant6 | number:2"></td>
            </tr>
        </tbody>
    </table>
</div>
</uib-tab></uib-tabset>