
<div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
        <uib-pagination total-items="vm.resultList.count" items-per-page="vm.resultList.limit"
            ng-model="vm.page" ng-change="vm.pageChanged()" class="pagination" max-size="1"
            previous-text="&lsaquo;&lsaquo;" next-text="&rsaquo;&rsaquo;" />
    </div>
    <div class="btn-group">
        <button class="btn btn-default" data-ng-click="vm.filter('lg')"
            data-template="modules/facturacion/valoracion-filter-content.html" bs-modal="modal">
            <i class="glyphicon glyphicon-search"></i><span translate="btn_filtrar"></span>
        </button>
        <a class="btn btn-default" ng-href="#/facturacion/vlrc/edit/create"><i
            class="glyphicon glyphicon-file"></i> <span translate="btn_crear"></span> </a>
    </div>

    <div class="btn-group">
        <button data-ng-click="vm.xlsExport()" class="btn btn-default">
            <i class="glyphicon glyphicon-download-alt"></i> <span translate="btn_exportar"></span>
        </button>
    </div>
</div>

<div class="table-responsive">
    <span class="label label-default" translate="grid_count"
        translate-value-count="{{vm.resultList.count | number:0}}"></span>

    <table class="table-bordered table-condensed table-hover table-nonfluid">
        <thead>
            <tr>
                <th class="buttonLinks" nowrap="nowrap" />
                <th class="codigo" nowrap="nowrap" translate="vlrc_id"></th>
                <th translate="tpsr"></th>
                <th class="codigo" nowrap="nowrap" translate="srvc"></th>
                <th translate="aspc"></th>
                <th translate="vlrc_pagador"></th>
                <th translate="vlrc_sujPasivo"></th>
                <th translate="vlrc_importe"></th>
                <th translate="vlrc_impuesto"></th>
                <th translate="vlrc_fliq"></th>
                <th translate="fini"></th>
                <th translate="ffin"></th>
                <th translate="vlrc_codExencion"></th>

                <th translate="vlrc_info1"></th>
                <th translate="vlrc_info2"></th>
                <th translate="vlrc_info3"></th>
                <th translate="vlrc_info4"></th>
                <th translate="vlrc_info5"></th>
                <th translate="vlrc_info6"></th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="item in vm.resultList.list track by item.id">
                <td><a ui-sref="valoracion-detail(item)"><i class="glyphicon glyphicon-search"></i></a></td>
                <td ng-bind="item.id"></td>
                <td nowrap="nowrap" ng-bind="('enti_' + item.srvc.entiId | translate)"></td>
                <td ng-bind="item.srvc.etiqueta"></td>
                <td ng-bind="item.aspc.codigo" bs-tooltip data-title="{{item.aspc.etiqueta}}"></td>
                <td ng-bind="item.pagador.parametro" bs-tooltip data-title="{{item.pagador.etiqueta}}"></td>
                <td><i class="glyphicon glyphicon-{{(item.sujPasivo ? 'ok' : 'remove')}}"></i></td>
                <td nowrap="nowrap" class="number">{{(item.importe | number:2)}} &euro;</td>
                <td nowrap="nowrap" class="number">{{(item.impuesto | number:2)}} &euro;</td>
                <td ng-bind="(item.fliq | date: dateFormat)"></td>
                <td ng-bind="(item.fini | date: datetimeFormat)"></td>
                <td ng-bind="(item.ffin | date: datetimeFormat)"></td>
                <td ng-bind="item.codExencion" bs-tooltip
                    data-title="{{('cdrf_' + vm.tpdtCodExencion.id + '_' + item.codExencion | translate)}}"></td>

                <td nowrap="nowrap"><span ng-if="item.info1">{{item.aspc.version.cetiqInfo1}}:
                        {{item.info1}}</span></td>
                <td nowrap="nowrap"><span ng-if="item.info2">{{item.aspc.version.cetiqInfo2}}:
                        {{item.info2}}</span></td>
                <td nowrap="nowrap"><span ng-if="item.info3">{{item.aspc.version.cetiqInfo3}}:
                        {{item.info3}}</span></td>
                <td nowrap="nowrap"><span ng-if="item.info4">{{item.aspc.version.cetiqInfo4}}:
                        {{item.info4}}</span></td>
                <td nowrap="nowrap"><span ng-if="item.info5">{{item.aspc.version.cetiqInfo5}}:
                        {{item.info5}}</span></td>
                <td nowrap="nowrap"><span ng-if="item.info6">{{item.aspc.version.cetiqInfo6}}:
                        {{item.info6}}</span></td>
            </tr>
        </tbody>
    </table>
</div>
