<form role="form">
    <fieldset>
        <div class="row">
            <div class="col-md-2 col-lg-1 form-group-sm">
                <label data-translate="vlrd_valorBase"></label> <input type="text"
                    data-ng-model="vm.model.valorBase" class="form-control number">
            </div>
            <div class="col-md-2 col-lg-1 form-group-sm" data-ng-if="vm.vlrl.rgla.tipo != 'T'">
                <label data-translate="vlrd_importeBase"></label> <input type="text"
                    data-ng-model="vm.model.importeBase" class="form-control number">
            </div>
            <div class="col-md-2 col-lg-1 form-group-sm">
                <label data-translate="vlrd_importe"></label> <input type="text"
                    data-ng-model="vm.model.importe" class="form-control number">
            </div>
            <div class="col-md-3 col-lg-2 col-xl-1 form-group-sm"
                data-ng-if="vm.vlrl.rgla.enti.tipo == 'S' && vm.aspc.version.agrupaDetalles">
                <label data-ng-bind="'enti_' + vm.vlrl.rgla.enti.id | translate"></label> <input type="text"
                    autocomplete="off" data-ng-model="vm.model.ssrv" data-ng-controller="SsrvLupaController"
                    data-uib-typeahead="ssrv as ssrv.numero for ssrv in search(vm.vlrl.rgla.enti.id, vm.vlrl.srvcId, $viewValue, vm.vlrl.fref)"
                    data-typeahead-editable="false" data-typeahead-wait-ms="250" class="form-control">
            </div>
            <!--
            <div class="col-md-2 col-lg-1 form-group-sm" data-ng-if="vm.vlrl.rgla.id || vm.crgo.id">
                <label data-translate="rgla"></label> <input type="text" data-ng-if="vm.accion == 'create'"
                    autocomplete="off" data-ng-model="vm.vlrl.rgla" data-ng-controller="ReglaTypeaheadController as ta"
                    typeahead="rgla as rgla.codigo for rgla in ta.searchVlrc(vm.vlrl.vlrcId, vm.vlrl.rgla.crgo.id, $viewValue)"
                    typeahead-editable="false" typeahead-wait-ms="250" class="form-control">
                <p data-ng-if="vm.accion == 'edit'" class="form-control-static" data-ng-bind="vm.vlrl.rgla.codigo"></p>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-1 form-group-sm" data-ng-if="vm.vlrl.rgla.id">
                <label data-translate="rgla_tipo"></label>
                <p class="form-control-static" data-ng-bind="vm.vlrl.rgla.tipo"></p>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-2 form-group-sm" data-ng-if="vm.vlrl.rgla.id">
                <label data-translate="enti"></label>
                <p class="form-control-static" data-ng-bind="'enti_' + vm.vlrl.rgla.enti.id | translate"></p>
            </div>
 -->
            <div class="col-md-2 form-group-sm" data-ng-if="vlrl.rgla.crgo.version.temporal">
                <label data-translate="vlrd_fini"></label> <input type="text" class="form-control"
                    data-ng-model="vm.model.fini" data-bs-datepicker />
            </div>
            <div class="col-md-2 form-group-sm" data-ng-if="vlrl.rgla.crgo.version.temporal">
                <label data-translate="vlrd_ffin"></label> <input type="text" class="form-control"
                    data-ng-model="vm.model.ffin" data-min-date="{{vm.model.fini}}" data-bs-datepicker />
            </div>
        </div>

        <div class="row">
            <div data-ng-if="vm.vlrlPadre.rgla.version.etiqInfo1" class="col-md-4 form-group-sm">
                <label data-ng-bind="vm.vlrlPadre.rgla.version.etiqInfo1"></label> <input type="text"
                    data-ng-if="vm.vlrl.rgla.tipo == 'T' && !vm.aspc.version.lgrpInfo1"
                    data-ng-model="vm.model.info1" class="form-control">
                <p data-ng-if="vm.vlrl.rgla.tipo != 'T' || vm.aspc.version.lgrpInfo1"
                    class="form-control-static" data-ng-bind="vm.vlrlPadre.info1"></p>
            </div>
            <div data-ng-if="vm.vlrlPadre.rgla.version.etiqInfo2" class="col-md-4 form-group-sm">
                <label data-ng-bind="vm.vlrlPadre.rgla.version.etiqInfo2"></label> <input type="text"
                    data-ng-if="vm.vlrl.rgla.tipo == 'T' && !vm.aspc.version.lgrpInfo2"
                    data-ng-model="vm.model.info2" class="form-control">
                <p data-ng-if="vm.vlrl.rgla.tipo != 'T' || vm.aspc.version.lgrpInfo2"
                    class="form-control-static" data-ng-bind="vm.vlrlPadre.info2"></p>
            </div>
            <div data-ng-if="vm.vlrlPadre.rgla.version.etiqInfo3" class="col-md-4 form-group-sm">
                <label data-ng-bind="vm.vlrlPadre.rgla.version.etiqInfo3"></label> <input type="text"
                    data-ng-if="vm.vlrl.rgla.tipo == 'T' && !vm.aspc.version.lgrpInfo3"
                    data-ng-model="vm.model.info3" class="form-control">
                <p data-ng-if="vm.vlrl.rgla.tipo != 'T' || vm.aspc.version.lgrpInfo3"
                    class="form-control-static" data-ng-bind="vm.vlrlPadre.info3"></p>
            </div>
            <div data-ng-if="vm.vlrlPadre.rgla.version.etiqInfo4" class="col-md-4 form-group-sm">
                <label data-ng-bind="vm.vlrlPadre.rgla.version.etiqInfo4"></label> <input type="text"
                    data-ng-if="vm.vlrl.rgla.tipo == 'T' && !vm.aspc.version.lgrpInfo4"
                    data-ng-model="vm.model.info4" class="form-control">
                <p data-ng-if="vm.vlrl.rgla.tipo != 'T' || vm.aspc.version.lgrpInfo4"
                    class="form-control-static" data-ng-bind="vm.vlrlPadre.info4"></p>
            </div>
            <div data-ng-if="vm.vlrlPadre.rgla.version.etiqInfo5" class="col-md-4 form-group-sm">
                <label data-ng-bind="vm.vlrlPadre.rgla.version.etiqInfo5"></label> <input type="text"
                    data-ng-if="vm.vlrl.rgla.tipo == 'T' && !vm.aspc.version.lgrpInfo5"
                    data-ng-model="vm.model.info5" class="form-control">
                <p data-ng-if="vm.vlrl.rgla.tipo != 'T' || vm.aspc.version.lgrpInfo5"
                    class="form-control-static" data-ng-bind="vm.vlrlPadre.info5"></p>
            </div>
            <div data-ng-if="vm.vlrlPadre.rgla.version.etiqInfo6" class="col-md-4 form-group-sm">
                <label data-ng-bind="vm.vlrlPadre.rgla.version.etiqInfo6"></label> <input type="text"
                    data-ng-if="vm.vlrl.rgla.tipo == 'T' && !vm.aspc.version.lgrpInfo6"
                    data-ng-model="vm.model.info6" class="form-control">
                <p data-ng-if="vm.vlrl.rgla.tipo != 'T' || vm.aspc.version.lgrpInfo6"
                    class="form-control-static" data-ng-bind="vm.vlrlPadre.info6"></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-lg-2 col-xl-1 form-group-sm"
                data-ng-if="vm.vlrlPadre.rgla.version.etiqCuant1">
                <label data-ng-bind="vm.vlrlPadre.rgla.version.etiqCuant1"></label> <input type="text"
                    class="form-control number" data-ng-model="vm.model.cuant1">
            </div>
            <div class="col-md-3 col-lg-2 col-xl-1 form-group-sm"
                data-ng-if="vm.vlrlPadre.rgla.version.etiqCuant2">
                <label data-ng-bind="vm.vlrlPadre.rgla.version.etiqCuant2"></label> <input type="text"
                    class="form-control number" data-ng-model="vm.model.cuant2">
            </div>
            <div class="col-md-3 col-lg-2 col-xl-1 form-group-sm"
                data-ng-if="vm.vlrlPadre.rgla.version.etiqCuant3">
                <label data-ng-bind="vm.vlrlPadre.rgla.version.etiqCuant3"></label> <input type="text"
                    class="form-control number" data-ng-model="vm.model.cuant3">
            </div>
            <div class="col-md-3 col-lg-2 col-xl-1 form-group-sm"
                data-ng-if="vm.vlrlPadre.rgla.version.etiqCuant4">
                <label data-ng-bind="vm.vlrlPadre.rgla.version.etiqCuant4"></label> <input type="text"
                    class="form-control number" data-ng-model="vm.model.cuant4">
            </div>
            <div class="col-md-3 col-lg-2 col-xl-1 form-group-sm"
                data-ng-if="vm.vlrlPadre.rgla.version.etiqCuant5">
                <label data-ng-bind="vm.vlrlPadre.rgla.version.etiqCuant5"></label> <input type="text"
                    class="form-control number" data-ng-model="vm.model.cuant5">
            </div>
            <div class="col-md-3 col-lg-2 col-xl-1 form-group-sm"
                data-ng-if="vm.vlrlPadre.rgla.version.etiqCuant6">
                <label data-ng-bind="vm.vlrlPadre.rgla.version.etiqCuant6"></label> <input type="text"
                    class="form-control number" data-ng-model="vm.model.cuant6">
            </div>
        </div>
    </fieldset>

    <div class="btn-group">
        <button data-ng-click="vm.save()" class="btn btn-primary">
            <i class="glyphicon glyphicon-ok"></i> <span data-translate="btn_guardar"></span>
        </button>
        <button data-ng-click="vm.cancel()" class="btn btn-default">
            <i class="glyphicon glyphicon-remove"></i> <span data-translate="btn_cancelar"></span>
        </button>
    </div>
</form>