<div ng-if="showFilter">
    <form>
        <fieldset>
            <div class="row-fluid">
                <div class="col-md-2 form-group">
                    <label translate>vlrc_id</label> <input type="text" ng-model="vlrcCriterio.id"
                        class="form-control input-sm" />
                </div>
                <div class="col-sm-3 col-md-2 form-group">
                    <label translate>srvc_tpsr</label> <select ng-model="vlrcCriterio.tpsrId"
                        ng-options="item.value as item.label for item in tpsrList" class="form-control input-sm">
                        <option />
                    </select>
                </div>
                <div class="col-md-2 form-group" ng-if="vlrcCriterio.tpsrId">
                    <label translate>vlrc_srvc</label>
                    <div class="input-group-sm" ng-controller="srvcLupaCtrl">
                        <input type="text" ng-model="vlrcCriterio.srvc"
                            typeahead="srvc as srvc.etiqueta for srvc in getLabelValues(vlrcCriterio.tpsrId, $viewValue)"
                            typeahead-loading="loading" typeahead-wait-ms="500" class="form-control input-sm"> <i
                            ng-show="loading" class="glyphicon glyphicon-refresh"></i>
                    </div>
                </div>
                <div class="col-md-2 form-group" ng-if="vlrcCriterio.tpsrId">
                    <label translate>vlrc_aspc</label>
                    <div class="input-group-sm" ng-controller="aspcLupaCtrl">
                        <input type="text" ng-model="vlrcCriterio.aspc"
                            typeahead="aspc as aspc.etiqueta for aspc in getLabelValues(vlrcCriterio.tpsrId, $viewValue)"
                            typeahead-loading="loading" typeahead-wait-ms="500" class="form-control input-sm"> <i
                            ng-show="loading" class="glyphicon glyphicon-refresh"></i>
                    </div>
                </div>
                <div class="col-md-2 form-group" ng-if="vlrcCriterio.tpsrId">
                    <label translate>vlrc_crgo</label>
                    <div class="input-group-sm" ng-controller="crgoLupaCtrl">
                        <input type="text" ng-model="vlrcCriterio.crgo"
                            typeahead="crgo as crgo.etiqueta for crgo in getLabelValues(vlrcCriterio.tpsrId, $viewValue)"
                            typeahead-loading="loading" typeahead-wait-ms="500" class="form-control input-sm"> <i
                            ng-show="loading" class="glyphicon glyphicon-refresh"></i>
                    </div>
                </div>
                <div class="col-md-3 form-group">
                    <label translate>vlrc_pagador</label>
                    <div class="input-group-sm" ng-controller="prmtsLupaCtrl">
                        <input type="text" ng-model="vlrcCriterio.pagador"
                            typeahead="prmt as prmt.etiqueta for prmt in getLabelValues(20010, $viewValue)"
                            typeahead-loading="loading" typeahead-wait-ms="500" class="form-control input-sm"> <i
                            ng-show="loading" class="glyphicon glyphicon-refresh"></i>
                    </div>
                </div>
            </div>
        </fieldset>

        <div class="btn-group">
            <button data-ng-click="search()" class="btn btn-primary">
                <i class="glyphicon glyphicon-search"></i> <span translate>boton_buscar</span>
            </button>
            <button data-ng-click="cancelSearch()" class="btn btn-default">
                <i class="glyphicon glyphicon-remove"></i> <span translate>boton_cancelar</span>
            </button>
        </div>
    </form>
</div>

<div ng-hide="showFilter">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <pagination total-items="vlrcList.count" items-per-page="vlrcList.limit" ng-model="page"
                ng-change="pageChanged()" class="pagination" max-size="1" previous-text="&lsaquo;&lsaquo;"
                next-text="&rsaquo;&rsaquo;"></pagination>
        </div>
        <div class="btn-group">
            <button data-ng-click="filter()" class="btn btn-default">
                <i class="glyphicon glyphicon-search"></i> <span translate>boton_filtro</span>
            </button>
        </div>
    </div>

    <div class="table-responsive">
        <span class="label label-default">{{vlrcList.count}} resultado(s)</span>

        <table class="table-bordered table-condensed table-hover table-nonfluid">
            <thead>
                <tr>
                    <th class="buttonLinks" nowrap="nowrap" />
                    <th class="codigo" nowrap="nowrap" translate>vlrc_id</th>
                    <th class="codigo" nowrap="nowrap" translate>vlrc_srvc</th>
                    <th translate>vlrc_aspc</th>
                    <th translate>vlrc_pagador</th>
                    <th translate>vlrc_importe</th>
                    <th translate>vlrc_impuesto</th>
                    <th translate>vlrc_fliq</th>
                    <th translate>vlrc_fini</th>
                    <th translate>vlrc_ffin</th>
                    <th translate>vlrc_sujPasivo</th>
                    <th translate>vlrc_codExencion</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="item in vlrcList.list track by $index">
                    <td><a ng-href="#/facturacion/vlrc/detail/{{item.id}}"><i
                            class="glyphicon glyphicon-search"></i></a></td>
                    <td ng-bind="item.id"></td>
                    <td ng-bind="item.srvc.etiqueta"></td>
                    <td ng-bind="item.aspc.etiqueta"></td>
                    <td ng-bind="item.pagador.etiqueta"></td>
                    <td class="number" ng-bind="item.importe | number:2"></td>
                    <td class="number" ng-bind="item.impuesto | number:2"></td>
                    <td ng-bind="item.fliq | date:'short'"></td>
                    <td ng-bind="item.fini | date:'short'"></td>
                    <td ng-bind="item.ffin | date:'short'"></td>
                    <td><i class="glyphicon glyphicon-{{item.sujPasivo ? 'ok' : 'remove'}}"></i></td>
                    <td ng-bind="item.codExencion"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
