<fieldset>
    <pagination total-items="vlrcList.count" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm"
        max-size="1" previous-text="&lsaquo;" next-text="&rsaquo;"></pagination>

    <div class="table-responsive">
        <span class="label label-default">{{vlrcList.count}} resultado(s)</span>

        <table class="table-bordered table-condensed table-hover table-nonfluid">
            <thead>
                <tr>
                    <th class="buttonLinks" nowrap="nowrap" />
                    <th class="codigo" nowrap="nowrap">{{'vlrc_id' | translate}}</th>
                    <th class="codigo" nowrap="nowrap">{{'vlrc_srvc' | translate}}</th>
                    <th>{{'vlrc_aspc' | translate}}</th>
                    <th>{{'vlrc_pagador' | translate}}</th>
                    <th>{{'vlrc_importe' | translate}}</th>
                    <th>{{'vlrc_impuesto' | translate}}</th>
                    <th>{{'vlrc_fliq' | translate}}</th>
                    <th>{{'vlrc_fini' | translate}}</th>
                    <th>{{'vlrc_ffin' | translate}}</th>
                    <th>{{'vlrc_sujPasivo' | translate}}</th>
                    <th>{{'vlrc_codExencion' | translate}}</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="item in vlrcList.list">
                    <td><a href="#/facturacion/vlrc/detail/{{item.id}}"><i class="glyphicon glyphicon-search"></i></a></td>
                    <td>{{item.id}}</td>
                    <td>{{item.srvc.etiqueta}}</td>
                    <td>{{item.aspc.etiqueta}}</td>
                    <td>{{item.pagador.etiqueta}}</td>
                    <td class="number">{{item.importe | number:2}}</td>
                    <td class="number">{{item.impuesto | number:2}}</td>
                    <td>{{item.fliq | date:('fmt_datetime' | translate)}}</td>
                    <td>{{item.fini | date:('fmt_datetime' | translate)}}</td>
                    <td>{{item.ffin | date:('fmt_datetime' | translate)}}</td>
                    <td>{{'fmt_' + item.sujPasivo | translate}}</td>
                    <td>{{item.codExencion}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</fieldset>