
<tabset type="pills"> <tab heading="{{'vlrc' | translate}}" select="vm.tabSelected(null)">
<div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
        <a class="btn btn-default" ng-href="#/facturacion/vlrc/edit/{{vm.vlrc.id}}"><i
            class="glyphicon glyphicon-edit"></i> <span translate="btn_editar"></span></a>
        <button data-ng-click="vm.remove()" class="btn btn-default">
            <i class="glyphicon glyphicon-remove"></i> <span translate="btn_borrar"></span>
        </button>
    </div>

    <div class="btn-group">
        <button data-ng-click="vm.print()" class="btn btn-default">
            <i class="glyphicon glyphicon-print"></i> <span translate="btn_imprimir"></span>
        </button>
    </div>
</div>

<fieldset>
    <div class="row">
        <div class="col-md-2 form-group">
            <label translate="vlrc_id"></label>
            <p class="form-control-static" ng-bind="vm.vlrc.id"></p>
        </div>
        <div class="col-md-2 form-group">
            <label translate="srvc_tpsr"></label>
            <p class="form-control-static">
                <a ng-href="#/metamodelo/tpsr/detail/{{vm.vlrc.srvc.entiId}}"
                    translate="{{'enti_' + vm.vlrc.srvc.entiId}}"></a>
            </p>
        </div>
        <div class="col-md-2 form-group">
            <label translate="vlrc_srvc"></label>
            <p class="form-control-static">
                <a ng-href="#/servicio/srvc/detail/{{vm.vlrc.srvc.entiId}}/{{vm.vlrc.srvc.id}}"
                    ng-bind="vm.vlrc.srvc.etiqueta"></a>
            </p>
        </div>
        <div class="col-md-3 form-group">
            <label translate="vlrc_aspc"></label>
            <p class="form-control-static">
                <a ng-href="#/facturacion/aspc/detail/{{vm.vlrc.aspc.id}}/{{vm.vlrc.fref}}"
                    ng-bind="vm.vlrc.aspc.etiqueta"></a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 form-group">
            <label translate="vlrc_importe"></label>
            <p class="form-control-static number" ng-bind="vm.vlrc.importe | number:2"></p>
        </div>
        <div class="col-md-1 form-group">
            <label translate="vlrc_impuesto"></label>
            <p class="form-control-static number" ng-bind="vm.vlrc.impuesto | number:2"></p>
        </div>
        <div class="col-md-2 form-group">
            <label translate="vlrc_codExencion"></label>
            <p class="form-control-static" ng-bind="vm.vlrc.codExencion"></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 form-group">
            <label translate="vlrc_pagador"></label>
            <p class="form-control-static">
                <a
                    ng-href="#/maestro/prmt/detail/{{vm.vlrc.pagador.entiId}}/{{vm.vlrc.pagador.id}}/{{vm.vlrc.fref}}"
                    ng-bind="vm.vlrc.pagador.etiqueta"></a>
            </p>
        </div>
        <div class="col-md-2 form-group">
            <label translate="vlrc_falta"></label>
            <p class="form-control-static" ng-bind="vm.vlrc.falta | date: ('format_datetime' | translate)"></p>
        </div>
        <div class="col-md-2 form-group">
            <label translate="vlrc_fliq"></label>
            <p class="form-control-static" ng-bind="vm.vlrc.fliq | date: ('format_date' | translate)"></p>
        </div>
        <div class="col-md-2 form-group">
            <label translate="vlrc_fini"></label>
            <p class="form-control-static" ng-bind="vm.vlrc.fini | date: ('format_datetime' | translate)"></p>
        </div>
        <div class="col-md-2 form-group">
            <label translate="vlrc_ffin"></label>
            <p class="form-control-static" ng-bind="vm.vlrc.ffin | date: ('format_datetime' | translate)"></p>
        </div>
    </div>

    <div class="row">
        <div ng-if="vm.vlrc.aspc.aspv.cetiqInfo1" class="col-md-4 form-group">
            <label ng-bind="vm.vlrc.aspc.aspv.cetiqInfo1"></label>
            <p class="form-control-static" ng-bind="vm.vlrc.info1"></p>
        </div>
        <div ng-if="vm.vlrc.aspc.aspv.cetiqInfo2" class="col-md-4 form-group">
            <label ng-bind="vm.vlrc.aspc.aspv.cetiqInfo2"></label>
            <p class="form-control-static" ng-bind="vm.vlrc.info2"></p>
        </div>
        <div ng-if="vm.vlrc.aspc.aspv.cetiqInfo3" class="col-md-4 form-group">
            <label ng-bind="vm.vlrc.aspc.aspv.cetiqInfo3"></label>
            <p class="form-control-static" ng-bind="vm.vlrc.info3"></p>
        </div>
        <div ng-if="vm.vlrc.aspc.aspv.cetiqInfo4" class="col-md-4 form-group">
            <label ng-bind="vm.vlrc.aspc.aspv.cetiqInfo4"></label>
            <p class="form-control-static" ng-bind="vm.vlrc.info4"></p>
        </div>
        <div ng-if="vm.vlrc.aspc.aspv.cetiqInfo5" class="col-md-4 form-group">
            <label ng-bind="vm.vlrc.aspc.aspv.cetiqInfo5"></label>
            <p class="form-control-static" ng-bind="vm.vlrc.info5"></p>
        </div>
        <div ng-if="vm.vlrc.aspc.aspv.cetiqInfo6" class="col-md-4 form-group">
            <label ng-bind="vm.vlrc.aspc.aspv.cetiqInfo6"></label>
            <p class="form-control-static" ng-bind="vm.vlrc.info6"></p>
        </div>
    </div>
</fieldset>

<fieldset>
    <div class="row">
        <legend translate="vlrgList"></legend>

        <div class="col-md-4 form-group">
            <table class="table-bordered table-condensed table-hover table-nonfluid">
                <thead>
                    <tr>
                        <th translate="vlrg_crgo"></th>
                        <th translate="vlrg_importe"></th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="vlrg in vm.vlrgList track by $index">
                        <td><a ng-href="#/facturacion/crgo/detail/{{vlrg.crgo.id}}/{{vlrg.fref}}"
                            ng-bind="vlrg.crgo.etiqueta"></a></td>
                        <td class="number" ng-bind="vlrg.importe | number:2"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</fieldset>

<fieldset>
    <div class="row">
        <legend translate="vlriList"></legend>

        <div class="col-md-4 form-group">
            <table class="table-bordered table-condensed table-hover table-nonfluid">
                <thead>
                    <tr>
                        <th translate="vlri_impuesto"></th>
                        <th translate="vlri_porcentaje"></th>
                        <th translate="vlri_importe_base"></th>
                        <th translate="vlri_importe_impuesto"></th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="vlri in vm.vlriList track by $index">
                        <td><a
                            ng-href="#/maestro/prmt/detail/{{vlri.impuesto.entiId}}/{{vlri.impuesto.id}}/{{vlri.fref}}"
                            ng-bind="vlri.impuesto.etiqueta"></a></td>
                        <td class="number" ng-bind="vlri.porcentaje | number:2"></td>
                        <td class="number" ng-bind="vlri.importeBase | number:2"></td>
                        <td class="number" ng-bind="vlri.importeImpuesto | number:2"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</fieldset>
</tab> <tab heading="{{'vlrlList' | translate}}" select="vm.tabSelected('vlrlList')">
<div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
        <pagination total-items="vm.vlrlList.count" items-per-page="vm.vlrlList.limit" ng-model="vm.page"
            ng-change="vm.pageChanged()" class="pagination" max-size="1" previous-text="&lsaquo;&lsaquo;"
            next-text="&rsaquo;&rsaquo;"></pagination>
    </div>

    <div class="btn-group">
        <a class="btn btn-default" ng-href="#/facturacion/vlrl/create/{{vm.vlrc.id}}"><i
            class="glyphicon glyphicon-file"></i> <span translate="btn_crear"></span> </a>
    </div>
</div>

<div class="table-responsive">
    <span class="label label-default" translate="grid_count"
        translate-value-count="{{vm.vlrlList.count | number:0}}"></span>

    <table class="table-bordered table-condensed table-hover table-nonfluid">
        <thead>
            <tr>
                <th />
                <th translate="rgla_enti"></th>
                <th translate="vlrl_rgla"></th>
                <th translate="vlrl_rgla_tipo"></th>
                <th translate="vlrl_importeBase"></th>
                <th translate="vlrl_importe"></th>
                <th translate="vlrl_impuesto"></th>
                <th translate="vlrl_fini"></th>
                <th translate="vlrl_ffin"></th>

                <th ng-if="vm.aspc.aspv.lgrpInfo1" translate="vlrl_info1"></th>
                <th ng-if="vm.aspc.aspv.lgrpInfo2" translate="vlrl_info2"></th>
                <th ng-if="vm.aspc.aspv.lgrpInfo3" translate="vlrl_info3"></th>
                <th ng-if="vm.aspc.aspv.lgrpInfo4" translate="vlrl_info4"></th>
                <th ng-if="vm.aspc.aspv.lgrpInfo5" translate="vlrl_info5"></th>
                <th ng-if="vm.aspc.aspv.lgrpInfo6" translate="vlrl_info6"></th>

                <th translate="vlrl_cuant1"></th>
                <th translate="vlrl_cuant2"></th>
                <th translate="vlrl_cuant3"></th>
                <th translate="vlrl_cuant4"></th>
                <th translate="vlrl_cuant5"></th>
                <th translate="vlrl_cuant6"></th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="vlrl in vm.vlrlList.list track by $index">
                <td><a ng-href="#/facturacion/vlrl/detail/{{vlrl.id}}"><i
                        class="glyphicon glyphicon-search"></i></a></td>
                <td nowrap="nowrap" translate="{{'enti_' + vlrl.rgla.rglv.enti.id}}"></td>
                <td nowrap="nowrap" ng-bind="vlrl.rgla.codigo"></td>
                <td ng-bind="vlrl.rgla.rglv.tipo"></td>
                <td class="number"><span ng-if="vlrl.rgla.rglv.tipo != 'T'"
                    ng-bind="vlrl.importeBase | number:2"></span></td>
                <td class="number" ng-bind="vlrl.importe | number:2"></td>
                <td ng-bind="vlrl.impuesto.etiqueta"></td>
                <td ng-bind="vlrl.fini | date:'short'"></td>
                <td ng-bind="vlrl.ffin | date:'short'"></td>

                <td ng-if="vm.aspc.aspv.lgrpInfo1"><span ng-if="vlrl.rgla.rglv.tipo == 'T' && vlrl.info1">{{vlrl.rgla.rglv.etiqInfo1}}:
                        {{vlrl.info1}}</span></td>
                <td ng-if="vm.aspc.aspv.lgrpInfo2"><span ng-if="vlrl.rgla.rglv.tipo == 'T' && vlrl.info2">{{vlrl.rgla.rglv.etiqInfo2}}:
                        {{vlrl.info2}}</span></td>
                <td ng-if="vm.aspc.aspv.lgrpInfo3"><span ng-if="vlrl.rgla.rglv.tipo == 'T' && vlrl.info3">{{vlrl.rgla.rglv.etiqInfo3}}:
                        {{vlrl.info3}}</span></td>
                <td ng-if="vm.aspc.aspv.lgrpInfo4"><span ng-if="vlrl.rgla.rglv.tipo == 'T' && vlrl.info4">{{vlrl.rgla.rglv.etiqInfo4}}:
                        {{vlrl.info4}}</span></td>
                <td ng-if="vm.aspc.aspv.lgrpInfo5"><span ng-if="vlrl.rgla.rglv.tipo == 'T' && vlrl.info5">{{vlrl.rgla.rglv.etiqInfo5}}:
                        {{vlrl.info5}}</span></td>
                <td ng-if="vm.aspc.aspv.lgrpInfo6"><span ng-if="vlrl.rgla.rglv.tipo == 'T' && vlrl.info6">{{vlrl.rgla.rglv.etiqInfo6}}:
                        {{vlrl.info6}}</span></td>

                <td><span ng-if="vlrl.cuant1">{{vlrl.rgla.rglv.etiqCuant1}}: {{vlrl.cuant1}}</span></td>
                <td><span ng-if="vlrl.cuant2">{{vlrl.rgla.rglv.etiqCuant2}}: {{vlrl.cuant2}}</span></td>
                <td><span ng-if="vlrl.cuant3">{{vlrl.rgla.rglv.etiqCuant3}}: {{vlrl.cuant3}}</span></td>
                <td><span ng-if="vlrl.cuant4">{{vlrl.rgla.rglv.etiqCuant4}}: {{vlrl.cuant4}}</span></td>
                <td><span ng-if="vlrl.cuant5">{{vlrl.rgla.rglv.etiqCuant5}}: {{vlrl.cuant5}}</span></td>
                <td><span ng-if="vlrl.cuant6">{{vlrl.rgla.rglv.etiqCuant6}}: {{vlrl.cuant6}}</span></td>
            </tr>
        </tbody>
    </table>
</div>
</tab> </tabset>
