<form role="form">
    <fieldset>
        <div class="row">
            <div class="col-md-2 col-lg-1 form-group-sm">
                <label translate="vlrc_id"></label>
                <p class="form-control-static" ng-bind="vm.vlrc.id"></p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-2 form-group-sm">
                <label translate="tpsr"></label> <select ng-if="vm.accion == 'create'" ng-model="vm.tpsrId"
                    ng-options="tpsr.value as ('enti_' + tpsr.value | translate) for tpsr in vm.tpsrList"
                    class="form-control">
                    <option />
                </select>
                <p ng-if="vm.accion == 'edit'" class="form-control-static"
                    translate="{{'enti_' + vm.vlrc.srvc.entiId}}"></p>
            </div>
            <div class="col-md-2 col-lg-1 form-group-sm" ng-if="vm.tpsrId">
                <label translate="srvc"></label> <input type="text" ng-if="vm.accion == 'create'"
                    autocomplete="off" ng-model="vm.vlrc.srvc" ng-controller="SrvcLupaController"
                    typeahead="srvc as srvc.etiqueta for srvc in search(vm.tpsrId, $viewValue)"
                    typeahead-editable="false" typeahead-wait-ms="250" class="form-control">
                <p ng-if="vm.accion == 'edit'" class="form-control-static" ng-bind="vm.vlrc.srvc.etiqueta"></p>
            </div>
            <div class="col-md-2 col-lg-1 form-group-sm">
                <label translate="vlrc_fliq"></label> <input type="text" class="form-control"
                    ng-model="vm.vlrc.fliq" bs-datepicker />
            </div>
            <div class="col-md-2 col-lg-1 form-group-sm">
                <label translate="vlrc_fref"></label> <input ng-if="vm.accion == 'create'" type="text"
                    class="form-control" ng-model="vm.vlrc.fref" bs-datepicker />
                <p ng-if="vm.accion == 'edit'" class="form-control-static"
                    ng-bind="vm.vlrc.fref | date: ('format_date' | translate)"></p>
            </div>
            <div class="col-sm-3 col-md-2 form-group-sm" ng-if="vm.tpsrId">
                <label translate="aspc"></label> <input type="text" autocomplete="off" ng-model="vm.vlrc.aspc"
                    ng-controller="AspcLupaController" ng-if="vm.accion == 'create'"
                    typeahead="item as item.etiqueta for item in search(vm.tpsrId, $viewValue)"
                    typeahead-editable="false" typeahead-wait-ms="250" class="form-control input">
                <p ng-if="vm.accion == 'edit'" class="form-control-static" ng-bind="vm.vlrc.aspc.etiqueta"></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1 form-group-sm">
                <label translate="vlrc_importe"></label>
                <p class="form-control-static number">
                    <span ng-bind="vm.vlrc.importe | number:2"></span> &euro;
                </p>
            </div>
            <div class="col-md-1 form-group-sm">
                <label translate="vlrc_impuesto"></label>
                <p class="form-control-static number">
                    <span ng-bind="vm.vlrc.impuesto | number:2"></span> &euro;</i>
                </p>
            </div>
            <div class="col-sm-4 col-md-3 form-group-sm">
                <label translate="vlrc_codExencion"></label> <select ng-model="vm.vlrc.codExencion"
                    ng-options="cdrf.valor as ('cdrf_' + vm.tpdtCodExencion.id + '_' + cdrf.valor | translate) for cdrf in vm.tpdtCodExencion.cdrfList"
                    class="form-control">
                    <option />
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 col-md-3 col-xl-2 form-group-sm">
                <label translate="vlrc_pagador"></label> <input type="text" autocomplete="off"
                    ng-model="vm.vlrc.pagador" ng-controller="PrmtLupaController"
                    typeahead="prmt as prmt.etiqueta for prmt in getLabelValues(vm.pagadorEntiId, $viewValue)"
                    typeahead-editable="false" typeahead-wait-ms="250" class="form-control">
            </div>
            <div class="col-md-2 col-lg-1 form-group-sm">
                <label translate="vlrc_sujPasivo"></label> <select ng-model="vm.vlrc.sujPasivo"
                    ng-options="item as ('format_' + item | translate) for item in [true , false]"
                    class="form-control">
                    <option />
                </select>
            </div>
            <div class="col-md-2 col-xl-1 form-group-sm">
                <label translate="vlrc_falta"></label>
                <p class="form-control-static" ng-bind="vm.vlrc.falta | date: ('format_datetime' | translate)"></p>
            </div>
            <div class="col-md-2 col-xl-1 form-group-sm">
                <label translate="vlrc_fini"></label> <input ng-if="vm.accion == 'create'" type="text"
                    class="form-control" ng-model="vm.vlrc.fini" bs-datepicker />
                <p ng-if="vm.accion == 'edit'" class="form-control-static"
                    ng-bind="vm.vlrc.fini | date: ('format_date' | translate)"></p>
            </div>
            <div class="col-md-2 col-xl-1 form-group-sm">
                <label translate="vlrc_ffin"></label> <input ng-if="vm.accion == 'create'" type="text"
                    class="form-control" ng-model="vm.vlrc.ffin" bs-datepicker />
                <p ng-if="vm.accion == 'edit'" class="form-control-static"
                    ng-bind="vm.vlrc.ffin | date: ('format_date' | translate)"></p>
            </div>
        </div>

        <div class="row">
            <div ng-if="vm.vlrc.aspc.version.cetiqInfo1" class="col-md-4 form-group-sm">
                <label ng-bind="vm.vlrc.aspc.version.cetiqInfo1"></label> <input type="text"
                    ng-model="vm.vlrc.info1" class="form-control" />
            </div>
            <div ng-if="vm.vlrc.aspc.version.cetiqInfo2" class="col-md-4 form-group-sm">
                <label ng-bind="vm.vlrc.aspc.version.cetiqInfo2"></label> <input type="text"
                    ng-model="vm.vlrc.info2" class="form-control" />
            </div>
            <div ng-if="vm.vlrc.aspc.version.cetiqInfo3" class="col-md-4 form-group-sm">
                <label ng-bind="vm.vlrc.aspc.version.cetiqInfo3"></label> <input type="text"
                    ng-model="vm.vlrc.info3" class="form-control" />
            </div>
            <div ng-if="vm.vlrc.aspc.version.cetiqInfo4" class="col-md-4 form-group-sm">
                <label ng-bind="vm.vlrc.aspc.version.cetiqInfo4"></label> <input type="text"
                    ng-model="vm.vlrc.info4" class="form-control" />
            </div>
            <div ng-if="vm.vlrc.aspc.version.cetiqInfo5" class="col-md-4 form-group-sm">
                <label ng-bind="vm.vlrc.aspc.version.cetiqInfo5"></label> <input type="text"
                    ng-model="vm.vlrc.info5" class="form-control" />
            </div>
            <div ng-if="vm.vlrc.aspc.version.cetiqInfo6" class="col-md-4 form-group-sm">
                <label ng-bind="vm.vlrc.aspc.version.cetiqInfo6"></label> <input type="text"
                    ng-model="vm.vlrc.info6" class="form-control" />
            </div>
        </div>
    </fieldset>

    <div class="btn-group">
        <button data-ng-click="vm.save()" class="btn btn-primary">
            <i class="glyphicon glyphicon-ok"></i> <span translate="btn_guardar"></span>
        </button>
        <button data-ng-click="vm.cancel()" class="btn btn-default">
            <i class="glyphicon glyphicon-remove"></i> <span translate="btn_cancelar"></span>
        </button>
    </div>
</form>