
<tabset type="pills"> <tab heading="{{'vlrc' | translate}}">
<div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
        <button data-ng-click="edit()" class="btn btn-default">
            <i class="glyphicon glyphicon-edit"></i> <span translate="btn_editar"></span>
        </button>
        <button data-ng-click="remove()" class="btn btn-default">
            <i class="glyphicon glyphicon-remove"></i> <span translate="btn_borrar"></span>
        </button>
    </div>
</div>

<fieldset>
    <div class="row">
        <div class="col-md-2 form-group">
            <label translate="vlrc_id"></label>
            <p class="form-control-static" ng-bind="vlrc.id"></p>
        </div>
        <div class="col-md-2 form-group">
            <label translate="srvc_tpsr"></label>
            <p class="form-control-static">
                <a ng-href="#/metamodelo/tpsr/detail/{{vlrc.srvc.entiId}}"
                    translate="{{'enti_' + vlrc.srvc.entiId}}"></a>
            </p>
        </div>
        <div class="col-md-2 form-group">
            <label translate="vlrc_srvc"></label>
            <p class="form-control-static">
                <a ng-href="#/servicio/srvc/detail/{{vlrc.srvc.entiId}}/{{vlrc.srvc.id}}"
                    ng-bind="vlrc.srvc.etiqueta"></a>
            </p>
        </div>
        <div class="col-md-3 form-group">
            <label translate="vlrc_aspc"></label>
            <p class="form-control-static">
                <a ng-href="#/facturacion/aspc/detail/{{vlrc.aspc.id}}/{{vlrc.fref}}"
                    ng-bind="vlrc.aspc.etiqueta"></a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 form-group">
            <label translate="vlrc_importe"></label>
            <p class="form-control-static number" ng-bind="vlrc.importe | number:2"></p>
        </div>
        <div class="col-md-1 form-group">
            <label translate="vlrc_impuesto"></label>
            <p class="form-control-static number" ng-bind="vlrc.impuesto | number:2"></p>
        </div>
        <div class="col-md-2 form-group">
            <label translate="vlrc_codExencion"></label>
            <p class="form-control-static" ng-bind="vlrc.codExencion"></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 form-group">
            <label translate="vlrc_pagador"></label>
            <p class="form-control-static">
                <a ng-href="#/maestro/prmt/detail/{{vlrc.pagador.entiId}}/{{vlrc.pagador.id}}/{{vlrc.fref}}"
                    ng-bind="vlrc.pagador.etiqueta"></a>
            </p>
        </div>
        <div class="col-md-2 form-group">
            <label translate="vlrc_falta"></label>
            <p class="form-control-static" ng-bind="vlrc.falta | date: ('format_datetime' | translate)"></p>
        </div>
        <div class="col-md-2 form-group">
            <label translate="vlrc_fliq"></label>
            <p class="form-control-static" ng-bind="vlrc.fliq | date: ('format_date' | translate)"></p>
        </div>
        <div class="col-md-2 form-group">
            <label translate="vlrc_fini"></label>
            <p class="form-control-static" ng-bind="vlrc.fini | date: ('format_datetime' | translate)"></p>
        </div>
        <div class="col-md-2 form-group">
            <label translate="vlrc_ffin"></label>
            <p class="form-control-static" ng-bind="vlrc.ffin | date: ('format_datetime' | translate)"></p>
        </div>
    </div>

    <div class="row">
        <div ng-if="vlrc.aspc.aspv.cetiqInfo1" class="col-md-4 form-group">
            <label ng-bind="vlrc.aspc.aspv.cetiqInfo1"></label>
            <p class="form-control-static" ng-bind="vlrc.info1"></p>
        </div>
        <div ng-if="vlrc.aspc.aspv.cetiqInfo2" class="col-md-4 form-group">
            <label ng-bind="vlrc.aspc.aspv.cetiqInfo2"></label>
            <p class="form-control-static" ng-bind="vlrc.info2"></p>
        </div>
        <div ng-if="vlrc.aspc.aspv.cetiqInfo3" class="col-md-4 form-group">
            <label ng-bind="vlrc.aspc.aspv.cetiqInfo3"></label>
            <p class="form-control-static" ng-bind="vlrc.info3"></p>
        </div>
        <div ng-if="vlrc.aspc.aspv.cetiqInfo4" class="col-md-4 form-group">
            <label ng-bind="vlrc.aspc.aspv.cetiqInfo4"></label>
            <p class="form-control-static" ng-bind="vlrc.info4"></p>
        </div>
        <div ng-if="vlrc.aspc.aspv.cetiqInfo5" class="col-md-4 form-group">
            <label ng-bind="vlrc.aspc.aspv.cetiqInfo5"></label>
            <p class="form-control-static" ng-bind="vlrc.info5"></p>
        </div>
        <div ng-if="vlrc.aspc.aspv.cetiqInfo6" class="col-md-4 form-group">
            <label ng-bind="vlrc.aspc.aspv.cetiqInfo6"></label>
            <p class="form-control-static" ng-bind="vlrc.info6"></p>
        </div>
    </div>
</fieldset>

<fieldset>
    <div class="row">
        <legend translate="vlrgList"></legend>

        <div class="col-md-4 form-group">
            <ul>
                <li ng-repeat="vlrg in vlrgList track by $index"><a
                    ng-href="#/facturacion/crgo/detail/{{vlrg.crgo.id}}/{{vlrc.fref}}"
                    ng-bind="vlrg.crgo.etiqueta"></a></li>
            </ul>
        </div>
    </div>
</fieldset>

<fieldset>
    <div class="row">
        <legend translate="vlriList"></legend>

        <div class="col-md-4 form-group">
            <table class="table-bordered table-condensed table-hover table-nonfluid">
                <thead>
                    <tr>
                        <th translate="vlri_impuesto"></th>
                        <th translate="vlri_porcentaje"></th>
                        <th translate="vlri_importe_base"></th>
                        <th translate="vlri_importe_impuesto"></th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="vlri in vlriList track by $index">
                        <td><a
                            ng-href="#/maestro/prmt/detail/{{vlri.impuesto.entiId}}/{{vlri.impuesto.id}}/{{vlrc.fref}}"
                            ng-bind="vlri.impuesto.etiqueta"></a></td>
                        <td class="number" ng-bind="vlri.porcentaje | number:2"></td>
                        <td class="number" ng-bind="vlri.importeBase | number:2"></td>
                        <td class="number" ng-bind="vlri.importeImpuesto | number:2"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</fieldset>
</tab> <tab heading="{{'vlrlList' | translate}}">
<div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
        <a class="btn btn-default" ng-href="#/facturacion/vlrl/create/{{vlrc.id}}"><i
            class="glyphicon glyphicon-file"></i> <span translate="btn_crear"></span> </a>
    </div>
</div>

<div class="table-responsive">
    <span class="label label-default" translate="grid_count"
        translate-value-count="{{vlrlList.count | number:0}}"></span>

    <table class="table-bordered table-condensed table-hover table-nonfluid">
        <thead>
            <tr>
                <th />
                <th translate="vlrl_rgla"></th>
                <th translate="vlrl_rgla_tipo"></th>
                <th translate="vlrl_importeBase"></th>
                <th translate="vlrl_importe"></th>
                <th translate="vlrl_impuesto"></th>
                <th translate="vlrl_fini"></th>
                <th translate="vlrl_ffin"></th>

                <th ng-if="!vlrc.aspc.aspv.agrupaLineas || vlrc.aspc.aspv.lgrpInfo1">Info 1</th>
                <th ng-if="!vlrc.aspc.aspv.agrupaLineas || vlrc.aspc.aspv.lgrpInfo2">Info 2</th>
                <th ng-if="!vlrc.aspc.aspv.agrupaLineas || vlrc.aspc.aspv.lgrpInfo3">Info 3</th>
                <th ng-if="!vlrc.aspc.aspv.agrupaLineas || vlrc.aspc.aspv.lgrpInfo4">Info 4</th>
                <th ng-if="!vlrc.aspc.aspv.agrupaLineas || vlrc.aspc.aspv.lgrpInfo5">Info 5</th>
                <th ng-if="!vlrc.aspc.aspv.agrupaLineas || vlrc.aspc.aspv.lgrpInfo6">Info 6</th>

                <th>Cuant 1</th>
                <th>Cuant 2</th>
                <th>Cuant 3</th>
                <th>Cuant 4</th>
                <th>Cuant 5</th>
                <th>Cuant 6</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="vlrl in vlrlList.list track by $index">
                <td><a ng-href="#/facturacion/vlrl/detail/{{vlrl.id}}"><i
                        class="glyphicon glyphicon-search"></i></a></td>
                <td nowrap="nowrap" ng-bind="vlrl.rgla.codigo"></td>
                <td ng-bind="vlrl.rgla.rglv.tipo"></td>
                <td class="number" ng-bind="vlrl.importeBase | number:2"></td>
                <td class="number" ng-bind="vlrl.importe | number:2"></td>
                <td ng-bind="vlrl.impuesto.etiqueta"></td>
                <td ng-bind="vlrl.fini | date:'short'"></td>
                <td ng-bind="vlrl.ffin | date:'short'"></td>

                <td ng-if="!vlrc.aspc.aspv.agrupaLineas || vlrc.aspc.aspv.lgrpInfo1"><span
                    ng-if="vlrl.rgla.tipo == 'T' && vlrl.info1">{{vlrl.rgla.rglv.etiqInfo1}}:
                        {{vlrl.info1}}</span></td>
                <td ng-if="!vlrc.aspc.aspv.agrupaLineas || vlrc.aspc.aspv.lgrpInfo2"><span
                    ng-if="vlrl.rgla.tipo == 'T' && vlrl.info2">{{vlrl.rgla.rglv.etiqInfo2}}:
                        {{vlrl.info2}}</span></td>
                <td ng-if="!vlrc.aspc.aspv.agrupaLineas || vlrc.aspc.aspv.lgrpInfo3"><span
                    ng-if="vlrl.rgla.tipo == 'T' && vlrl.info3">{{vlrl.rgla.rglv.etiqInfo3}}:
                        {{vlrl.info3}}</span></td>
                <td ng-if="!vlrc.aspc.aspv.agrupaLineas || vlrc.aspc.aspv.lgrpInfo4"><span
                    ng-if="vlrl.rgla.tipo == 'T' && vlrl.info4">{{vlrl.rgla.rglv.etiqInfo4}}:
                        {{vlrl.info4}}</span></td>
                <td ng-if="!vlrc.aspc.aspv.agrupaLineas || vlrc.aspc.aspv.lgrpInfo5"><span
                    ng-if="vlrl.rgla.tipo == 'T' && vlrl.info5">{{vlrl.rgla.rglv.etiqInfo5}}:
                        {{vlrl.info5}}</span></td>
                <td ng-if="!vlrc.aspc.aspv.agrupaLineas || vlrc.aspc.aspv.lgrpInfo6"><span
                    ng-if="vlrl.rgla.tipo == 'T' && vlrl.info6">{{vlrl.rgla.rglv.etiqInfo6}}:
                        {{vlrl.info6}}</span></td>

                <td><span ng-if="vlrl.cuant1">{{vlrl.rgla.rglv.etiqCuant1}}: {{vlrl.cuant1}}</span></td>
                <td><span ng-if="vlrl.cuant2">{{vlrl.rgla.rglv.etiqCuant2}}: {{vlrl.cuant2}}</span></td>
                <td><span ng-if="vlrl.cuant3">{{vlrl.rgla.rglv.etiqCuant3}}: {{vlrl.cuant3}}</span></td>
                <td><span ng-if="vlrl.cuant4">{{vlrl.rgla.rglv.etiqCuant4}}: {{vlrl.cuant4}}</span></td>
                <td><span ng-if="vlrl.cuant5">{{vlrl.rgla.rglv.etiqCuant5}}: {{vlrl.cuant5}}</span></td>
                <td><span ng-if="vlrl.cuant6">{{vlrl.rgla.rglv.etiqCuant6}}: {{vlrl.cuant6}}</span></td>
            </tr>
        </tbody>
    </table>
</div>
</tab> </tabset>
