<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <p class="modal-title" translate="filtro"></p>
            </div>
            <div class="modal-body">
                <form>
                    <fieldset>
                        <div class="row">
                            <div class="col-sm-2 col-md-1 form-group-sm">
                                <label translate="vlrc_id"></label> <input type="text"
                                    ng-model="vm.vlrcCriterio.id" class="form-control" />
                            </div>
                            <div class="col-sm-3 col-md-2 form-group-sm">
                                <label translate="tpsr"></label> <select ng-model="vm.vlrcCriterio.tpsrId"
                                    ng-options="item.value as (('enti_' + item.value) | translate) for item in vm.tpsrList"
                                    ng-change="vm.tpsrChanged(vm.vlrcCriterio.tpsrId)" class="form-control">
                                    <option />
                                </select>
                            </div>
                            <div class="col-sm-3 col-md-2 form-group-sm" ng-show="vm.vlrcCriterio.tpsrId">
                                <label translate="srvc"></label> <input type="text" autocomplete="off"
                                    ng-model="vm.vlrcCriterio.srvc" ng-controller="SrvcLupaController"
                                    typeahead="srvc as srvc.etiqueta for srvc in getLabelValues(vm.vlrcCriterio.tpsrId, $viewValue)"
                                    typeahead-editable="false" typeahead-wait-ms="250" class="form-control">
                            </div>
                            <div class="col-sm-3 col-md-2 form-group-sm" ng-show="vm.vlrcCriterio.tpsrId">
                                <label translate="aspc"></label> <input type="text" autocomplete="off"
                                    ng-model="vm.vlrcCriterio.aspc" ng-controller="AspcLupaController"
                                    typeahead="item as item.etiqueta for item in search(vm.vlrcCriterio.tpsrId, $viewValue)"
                                    typeahead-editable="false" typeahead-wait-ms="250" class="form-control">
                            </div>
                            <div class="col-sm-3 col-md-2 form-group-sm" ng-show="vm.vlrcCriterio.tpsrId">
                                <label translate="crgo"></label> <input type="text" autocomplete="off"
                                    ng-model="vm.vlrcCriterio.crgo" ng-controller="CrgoLupaController"
                                    typeahead="item as item.etiqueta for item in searchTpsr(vm.vlrcCriterio.tpsrId, $viewValue)"
                                    typeahead-editable="false" typeahead-wait-ms="250" class="form-control">
                            </div>
                            <div class="col-sm-4 col-md-3 form-group-sm">
                                <label translate="vlrc_pagador"></label> <input type="text" autocomplete="off"
                                    ng-model="vm.vlrcCriterio.pagador" ng-controller="PrmtsLupaController"
                                    typeahead="prmt as prmt.etiqueta for prmt in getLabelValues(20010, $viewValue)"
                                    typeahead-editable="false" typeahead-wait-ms="250" class="form-control">
                            </div>
                            <div class="col-sm-4 col-md-3 form-group-sm">
                                <label translate="vlrc_codExencion"></label> <select
                                    ng-model="vm.vlrcCriterio.codExencion"
                                    ng-options="cdrf.valor as ('cdrf_' + vm.tpdtCodExencion.id + '_' + cdrf.valor | translate) for cdrf in vm.tpdtCodExencion.cdrfList"
                                    class="form-control">
                                    <option />
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-ng-click="vm.search(1);$hide()">
                    <i class="glyphicon glyphicon-search"></i><span translate="btn_buscar"></span>
                </button>
                <button class="btn btn-default" data-ng-click="$hide()">
                    <i class="glyphicon glyphicon-remove"></i><span translate="btn_cancelar"></span>
                </button>
            </div>
        </div>
    </div>
</div>