
<input type="hidden" name="vlrl.id" value="{{vlrl.id}}" />
<input type="hidden" name="vlrl.vlrcId" value="{{vlrl.vlrcId}}" />

<fieldset>
    <div class="row-fluid">
        <div class="col-md-2 form-group">
            <label translate>vlrl_rgla</label> <select ng-if="!vlrl.rgla.id" ng-model="vlrl.rgla.id"
                ng-options="rgla.id as rgla.codigo for rgla in rglaList" class="form-control">
                <option />
            </select>

            <p ng-if="vlrl.rgla.id" class="form-control-static">
                <a ui-sref="rglas.detalle({rglaId:vlrl.rgla.id})">{{vlrl.rgla.codigo}}</a>
            </p>
        </div>
    </div>
</fieldset>
