<alert ng-if="actionErrors" type="danger"> <span translate>errors</span>:
<ul>
    <li ng-repeat="error in actionErrors track by $index">{{error}}</li>
</ul>
</alert>

<form role="form">
    <input type="hidden" ng-model="accion" /><input type="hidden" ng-model="vlrl.vlrcId" /><input type="hidden"
        ng-model="vlrl.id" />

    <fieldset>
        <legend>{{"vlrl" | translate | uppercase}}</legend>

        <div class="row-fluid">
            <div class="col-md-1 form-group">
                <label translate>vlrl_rgla</label>
                <p class="form-control-static">
                    <a href="#/facturacion/rgla/detail/{{vlrl.rgla.id}}/{{vlrl.fref}}">{{vlrl.rgla.codigo}}</a>
                </p>
            </div>
        </div>

    </fieldset>

    <div class="btn-group">
        <button data-ng-click="save()" class="btn btn-primary">
            <i class="glyphicon glyphicon-ok"></i> <span translate>boton_guardar</span>
        </button>
        <button data-ng-click="cancel()" class="btn btn-default">
            <i class="glyphicon glyphicon-remove"></i> <span translate>boton_cancelar</span>
        </button>
    </div>
</form>

