<div>
    <tabset> <tab heading="General">
    <fieldset>
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                <a class="btn btn-default" ui-sref="vlrls.edicion({vlrlId:vlrl.id})"><i
                    class="glyphicon glyphicon-edit"></i> {{'boton_editar' | translate}}</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1 form-group">
                <label>{{'vlrl_rgla' | translate}}</label>
                <p class="form-control-static">
                    <a ui-sref="rglas.detalle({rglaId:vlrl.rgla.id})">{{vlrl.rgla.codigo}}</a>
                </p>
            </div>
            <div class="col-md-1 form-group">
                <label>{{'vlrl_rgla_tipo' | translate}}</label>
                <p class="form-control-static">{{vlrl.rgla.tipo}}</p>
            </div>
            <div class="col-md-1 form-group">
                <label>{{'vlrl_importeBase' | translate}}</label>
                <p class="form-control-static">{{vlrl.importeBase | number:2}}</p>
            </div>
            <div class="col-md-1 form-group">
                <label>{{'vlrl_importe' | translate}}</label>
                <p class="form-control-static">{{vlrl.importe | number:2}}</p>
            </div>
            <div class="col-md-2 form-group">
                <label>{{'vlrl_impuesto' | translate}}</label>
                <p class="form-control-static">{{vlrl.impuesto.etiqueta}}</p>
            </div>
            <div class="col-md-1 form-group">
                <label>{{'vlrl_ssrv' | translate}}</label>
                <p class="form-control-static">{{vlrl.ssrv.numero}}</p>
            </div>
            <div class="col-md-1 form-group">
                <label>{{'vlrl_fini' | translate}}</label>
                <p class="form-control-static">{{vlrl.fini | date:('fmt_datetime' | translate)}}</p>
            </div>
            <div class="col-md-1 form-group">
                <label>{{'vlrl_ffin' | translate}}</label>
                <p class="form-control-static">{{vlrl.ffin | date:('fmt_datetime' | translate)}}</p>
            </div>
        </div>

        <div class="row">
            <div ng-if="vlrl.rgla.rglv.pathInfo1" class="col-md-4 form-group">
                <label>{{vlrl.rgla.rglv.etiqInfo1}}</label>
                <p class="form-control-static">{{vlrl.info1}}</p>
            </div>
            <div ng-if="vlrl.rgla.rglv.pathInfo2" class="col-md-4 form-group">
                <label>{{vlrl.rgla.rglv.etiqInfo2}}</label>
                <p class="form-control-static">{{vlrl.info2}}</p>
            </div>
            <div ng-if="vlrl.rgla.rglv.pathInfo3" class="col-md-4 form-group">
                <label>{{vlrl.rgla.rglv.etiqInfo3}}</label>
                <p class="form-control-static">{{vlrl.info3}}</p>
            </div>
            <div ng-if="vlrl.rgla.rglv.pathInfo4" class="col-md-4 form-group">
                <label>{{vlrl.rgla.rglv.etiqInfo4}}</label>
                <p class="form-control-static">{{vlrl.info4}}</p>
            </div>
            <div ng-if="vlrl.rgla.rglv.pathInfo5" class="col-md-4 form-group">
                <label>{{vlrl.rgla.rglv.etiqInfo5}}</label>
                <p class="form-control-static">{{vlrl.info5}}</p>
            </div>
            <div ng-if="vlrl.rgla.rglv.pathInfo6" class="col-md-4 form-group">
                <label>{{vlrl.rgla.rglv.etiqInfo6}}</label>
                <p class="form-control-static">{{vlrl.info6}}</p>
            </div>
        </div>

        <div class="row">
            <div ng-if="vlrl.rgla.rglv.pathCuant1" class="col-md-2 form-group">
                <label>{{vlrl.rgla.rglv.etiqCuant1}}</label>
                <p class="form-control-static">{{vlrl.cuant1}}</p>
            </div>
            <div ng-if="vlrl.rgla.rglv.pathCuant2" class="col-md-2 form-group">
                <label>{{vlrl.rgla.rglv.etiqCuant2}}</label>
                <p class="form-control-static">{{vlrl.cuant2}}</p>
            </div>
            <div ng-if="vlrl.rgla.rglv.pathCuant3" class="col-md-2 form-group">
                <label>{{vlrl.rgla.rglv.etiqCuant3}}</label>
                <p class="form-control-static">{{vlrl.cuant3}}</p>
            </div>
            <div ng-if="vlrl.rgla.rglv.pathCuant4" class="col-md-2 form-group">
                <label>{{vlrl.rgla.rglv.etiqCuant4}}</label>
                <p class="form-control-static">{{vlrl.cuant4}}</p>
            </div>
            <div ng-if="vlrl.rgla.rglv.pathCuant5" class="col-md-2 form-group">
                <label>{{vlrl.rgla.rglv.etiqCuant5}}</label>
                <p class="form-control-static">{{vlrl.cuant5}}</p>
            </div>
            <div ng-if="vlrl.rgla.rglv.pathCuant6" class="col-md-2 form-group">
                <label>{{vlrl.rgla.rglv.etiqCuant6}}</label>
                <p class="form-control-static">{{vlrl.cuant6}}</p>
            </div>
        </div>
    </fieldset>
    </tab> <tab heading="Detalles Economicos">
    <fieldset>
        <div class="row">
            <div class="col-md-12 form-group">
                <span class="label label-default">{{vlrdList.count}} resultado(s)</span>

                <table class="table-bordered table-condensed table-hover table-nonfluid">
                    <thead>
                        <tr>
                            <th />
                            <th>{{'vlrd_valorBase' | translate}}</th>
                            <th>{{'vlrd_importeBase' | translate}}</th>
                            <th>{{'vlrd_importe' | translate}}</th>
                            <th>{{'vlrd_fini' | translate}}</th>
                            <th>{{'vlrd_ffin' | translate}}</th>
                            <th>{{'vlrd_ssrv' | translate}}</th>
                            <th ng-if="vlrl.rgla.rglv.pathInfo1">Info 1: {{vlrl.rgla.rglv.etiqInfo1}}</th>
                            <th ng-if="vlrl.rgla.rglv.pathInfo2">Info 2: {{vlrl.rgla.rglv.etiqInfo2}}</th>
                            <th ng-if="vlrl.rgla.rglv.pathInfo3">Info 3: {{vlrl.rgla.rglv.etiqInfo3}}</th>
                            <th ng-if="vlrl.rgla.rglv.pathInfo4">Info 4: {{vlrl.rgla.rglv.etiqInfo4}}</th>
                            <th ng-if="vlrl.rgla.rglv.pathInfo5">Info 5: {{vlrl.rgla.rglv.etiqInfo5}}</th>
                            <th ng-if="vlrl.rgla.rglv.pathInfo6">Info 6: {{vlrl.rgla.rglv.etiqInfo6}}</th>
                            <th ng-if="vlrl.rgla.rglv.pathCuant1">Cuant 1: {{vlrl.rgla.rglv.etiqCuant1}}</th>
                            <th ng-if="vlrl.rgla.rglv.pathCuant2">Cuant 2: {{vlrl.rgla.rglv.etiqCuant2}}</th>
                            <th ng-if="vlrl.rgla.rglv.pathCuant3">Cuant 3: {{vlrl.rgla.rglv.etiqCuant3}}</th>
                            <th ng-if="vlrl.rgla.rglv.pathCuant4">Cuant 4: {{vlrl.rgla.rglv.etiqCuant4}}</th>
                            <th ng-if="vlrl.rgla.rglv.pathCuant5">Cuant 5: {{vlrl.rgla.rglv.etiqCuant5}}</th>
                            <th ng-if="vlrl.rgla.rglv.pathCuant6">Cuant 6: {{vlrl.rgla.rglv.etiqCuant6}}</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="vlrd in vlrdList.list">
                            <td><a ui-sref="vlrds.detalle({vlrdId:vlrd.id})"><i
                                    class="glyphicon glyphicon-search"></i></a></td>
                            <td class="number">{{vlrd.valorBase | number:4}}</td>
                            <td class="number">{{vlrd.importeBase | number:2}}</td>
                            <td class="number">{{vlrd.importe | number:2}}</td>
                            <td>{{vlrd.fini | date:('fmt_datetime' | translate)}}</td>
                            <td>{{vlrd.ffin | date:('fmt_datetime' | translate)}}</td>
                            <td>{{vlrd.ssrv.numero}}</td>
                            <td ng-if="vlrl.rgla.rglv.pathInfo1">{{vlrd.info1}}</td>
                            <td ng-if="vlrl.rgla.rglv.pathInfo2">{{vlrd.info2}}</td>
                            <td ng-if="vlrl.rgla.rglv.pathInfo3">{{vlrd.info3}}</td>
                            <td ng-if="vlrl.rgla.rglv.pathInfo4">{{vlrd.info4}}</td>
                            <td ng-if="vlrl.rgla.rglv.pathInfo5">{{vlrd.info5}}</td>
                            <td ng-if="vlrl.rgla.rglv.pathInfo6">{{vlrd.info6}}</td>
                            <td ng-if="vlrl.rgla.rglv.pathCuant1" class="number">{{vlrd.cuant1 | number:2}}</td>
                            <td ng-if="vlrl.rgla.rglv.pathCuant2" class="number">{{vlrd.cuant2 | number:2}}</td>
                            <td ng-if="vlrl.rgla.rglv.pathCuant3" class="number">{{vlrd.cuant3 | number:2}}</td>
                            <td ng-if="vlrl.rgla.rglv.pathCuant4" class="number">{{vlrd.cuant4 | number:2}}</td>
                            <td ng-if="vlrl.rgla.rglv.pathCuant5" class="number">{{vlrd.cuant5 | number:2}}</td>
                            <td ng-if="vlrl.rgla.rglv.pathCuant6" class="number">{{vlrd.cuant6 | number:2}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </fieldset>
    </tab></tabset>
</div>
