<div>
    <div class="row" ng-repeat="tpsr in tpsrList">
        <div class="col-md-3">
            <a href="#/servicio/srvc/grid/{{tpsr.value}}" class="list-group-item">{{tpsr.label | uppercase}}</a>
        </div>
        <div class="list-group col-md-9">
            <a href="#/servicio/ssrv/grid/{{tpss.value}}" class="col-md-4 list-group-item"
                ng-repeat="tpss in tpssMap[tpsr.value]" class="list-group-item">{{tpss.label | uppercase}}</a>
        </div>
    </div>
</div>
