<div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
        <div data-uib-pagination data-total-items="vm.resultList.count"
            data-items-per-page="vm.resultList.limit" data-ng-model="vm.page"
            data-ng-change="vm.pageChanged()" class="pagination" data-max-size="1"
            data-previous-text="&lsaquo;&lsaquo;" data-next-text="&rsaquo;&rsaquo;"></div>
    </div>

    <div class="btn-group">
        <button data-ng-if="mc.hasAccnPath('srsc-list')" class="btn btn-default"
            data-ng-click="vm.filter('lg')"
            data-template-url="modules/entidad/servicio/fragment/servicio-secuencia-filter-content.html"
            data-bs-modal="modal">
            <i class="glyphicon glyphicon-search"></i> <span data-translate="btn_filtrar"></span>
        </button>
        <a class="btn btn-default" data-ng-if="mc.hasAccnPath('srsc-create')"
            data-ng-href="#/servicio/servicio-secuencia/edit/create"><i class="glyphicon glyphicon-file"></i>
            <span data-translate="btn_crear"></span> </a>
    </div>
</div>

<div class="table-responsive">
    <span class="label label-default" data-translate="grid_count"
        data-translate-value-count="{{vm.resultList.count | number:0}}"></span>

    <table class="table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th nowrap="nowrap" />
                <th data-translate="srsc_anno"></th>
                <th data-translate="tpsr"></th>
                <th data-translate="prto"></th>
                <th data-translate="srsc_ultimo_numero"></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="item in vm.resultList.list track by $index">
                <td><a data-ng-if="mc.hasAccnPath('srsc-detail')"
                    data-ng-href="#/servicio/servicio-secuencia/detail/{{item.tpsr.id}}/{{item.prto.id}}/{{item.anno}}"><i
                        class="glyphicon glyphicon-search"></i></a></td>
                <td><span data-ng-bind="item.anno | number:0" class="pull-right"></span></td>
                <td data-ng-bind="item.tpsr.nombre"></td>
                <td data-ng-bind="item.prto.etiqueta"></td>
                <td><span data-ng-bind="item.ultimoNumero | number:0" class="pull-right"></span></td>
            </tr>
        </tbody>
    </table>
</div>