<div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
        <uib-pagination total-items="vm.itemList.count" items-per-page="vm.itemList.limit" ng-model="vm.page"
            ng-change="vm.pageChanged()" class="pagination" max-size="1" previous-text="&lsaquo;&lsaquo;"
            next-text="&rsaquo;&rsaquo;"></uib-pagination>
    </div>

    <div class="btn-group">
        <a class="btn btn-default" ui-sref="servicio-create({entiId: vm.enti.enti.id})"><i
            class="glyphicon glyphicon-file"></i> <span translate="btn_crear"></span> </a>

        <button class="btn btn-default" data-ng-click="vm.filter('lg')"
            data-template="modules/entidad/servicio/servicio-filter-content.html" bs-modal="modal">
            <i class="glyphicon glyphicon-search"></i> <span translate="btn_filtrar"></span>
        </button>
    </div>

    <div class="btn-group">
        <button data-ng-click="vm.xlsExport()" class="btn btn-default">
            <i class="glyphicon glyphicon-download-alt"></i> <span translate="btn_exportar"></span>
        </button>
    </div>

    <div class="btn-group">
        <button ng-repeat="enag in ::vm.enti.enagList track by $index" ng-click="vm.srvcAction(enag.path)"
            class="btn btn-default" ng-bind="::('enag_' + enag.id | translate)"></button>
    </div>
</div>

<div class="table-responsive">
    <span class="label label-default" translate="grid_count"
        translate-value-count="{{vm.itemList.count | number:0}}"></span>

    <table class="table-bordered table-condensed table-hover table-nonfluid">
        <thead>
            <tr>
                <th class="buttonLinks" nowrap="nowrap" />
                <th class="codigo" nowrap="nowrap" translate="srvc"></th>
                <th ng-if="::vm.enti.enti.tpdtEstado" translate="srvc_estado"></th>
                <th translate="srvc_falta"></th>
                <th ng-if="!vm.enti.enti.temporal" translate="fref"></th>
                <th ng-if="::vm.enti.enti.temporal" translate="fini"></th>
                <th ng-if="::vm.enti.enti.temporal" translate="ffin"></th>
                <th ng-repeat="tpdtId in ::vm.enti.entdGridList track by tpdtId"
                    ng-bind="::('entd_' + vm.enti.entdMap[tpdtId].id | translate)"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in vm.itemList.list track by item.id">
                <td><a ui-sref="servicio-detail(item)"><i class="glyphicon glyphicon-search"></i></a></td>
                <td ng-bind="::item.etiqueta" nowrap="nowrap"></td>
                <td ng-if="::vm.enti.enti.tpdtEstado" nowrap="nowrap" bs-tooltip
                    data-title="{{::('cdrf_' + vm.enti.enti.tpdtEstado.id + '_' + item.estado | translate)}}"
                    ng-bind="::item.estado"></td>
                <td nowrap="nowrap" ng-bind="::(item.falta | date: datetimeFormat)"></td>
                <td nowrap="nowrap" ng-if="!vm.enti.enti.temporal"
                    ng-bind="::(item.fref | date: datetimeFormat)"></td>
                <td nowrap="nowrap" ng-if="::vm.enti.enti.temporal"
                    ng-bind="::(item.fini | date: datetimeFormat)"></td>
                <td nowrap="nowrap" ng-if="::vm.enti.enti.temporal"
                    ng-bind="::(item.ffin | date: datetimeFormat)"></td>
                <td ng-repeat="tpdtId in ::vm.enti.entdGridList track by tpdtId"
                    ng-switch="::vm.enti.entdMap[tpdtId].tpdt.tipoElemento" nowrap="nowrap"><span
                    ng-switch-when="BO"><i
                        class="glyphicon glyphicon-{{::(item.itdtMap[tpdtId].cantidadEntera ? 'ok' : 'remove')}}"></i></span>
                    <span ng-switch-when="ND" class="pull-right"
                    ng-bind="::(item.itdtMap[tpdtId].cantidadDecimal | number:2)"></span> <span
                    ng-switch-when="NE" class="pull-right"
                    ng-bind="::(item.itdtMap[tpdtId].cantidadEntera | number:0)"></span> <span
                    ng-switch-when="FE" class="pull-right"
                    ng-bind="::(item.itdtMap[tpdtId].fecha | date: dateFormat)"></span> <span
                    ng-switch-when="FH" class="pull-right"
                    ng-bind="::(item.itdtMap[tpdtId].fecha | date: datetimeFormat)"></span> <span
                    ng-switch-when="CR" bs-tooltip
                    data-title="{{::('cdrf_' + tpdtId + '_' + item.itdtMap[tpdtId].cadena | translate)}}"
                    ng-bind="::item.itdtMap[tpdtId].cadena"></span><span ng-switch-when="TX"
                    ng-bind="::item.itdtMap[tpdtId].cadena"></span><span ng-switch-when="PR" bs-tooltip
                    data-title="{{::item.itdtMap[tpdtId].prmt.etiqueta}}"
                    ng-bind="::item.itdtMap[tpdtId].prmt.parametro"></span><span ng-switch-when="SR"
                    ng-bind="::item.itdtMap[tpdtId].srvc.etiqueta"></span></td>
            </tr>
        </tbody>
    </table>
</div>