<form role="form">
    <input type="hidden" ng-model="vm.accion" /><input type="hidden" ng-model="vm.item.entiId" /><input
        type="hidden" ng-model="vm.item.id" />

    <fieldset>
        <div class="row">
            <div class="col-sm-3 col-md-2 form-group">
                <label translate>srvc_subp</label> <select ng-if="vm.accion != 'edit'"
                    ng-model="vm.item.subp.id"
                    ng-options="labelValue.value as labelValue.label for labelValue in vm.subpList"
                    class="form-control input-sm">
                    <option />
                </select>
                <p ng-if="vm.accion == 'edit'" class="form-control-static" ng-bind="vm.item.subp.etiqueta"></p>
            </div>
            <div class="col-sm-1 col-md-1 form-group">
                <label translate>srvc_anno</label> <input ng-if="vm.accion != 'edit'" type="text"
                    ng-model="vm.item.anno" class="form-control input-sm" />
                <p ng-if="vm.accion == 'edit'" class="form-control-static" ng-bind="vm.item.anno"></p>
            </div>
            <div class="col-sm-1 col-md-1 form-group">
                <label translate>srvc_numero</label> <input ng-if="vm.accion != 'edit'" type="text"
                    ng-model="vm.item.numero" class="form-control input-sm" />
                <p ng-if="vm.accion == 'edit'" class="form-control-static" ng-bind="vm.item.numero"></p>
            </div>

            <div ng-if="vm.enti.tpdtEstado" class="col-sm-3 col-md-2 col-lg-1 form-group">
                <label translate>srvc_estado</label> <select ng-if="vm.accion != 'edit'"
                    ng-model="vm.item.estado"
                    ng-options="cdrf.valor as (('cdrf_' + vm.enti.tpdtEstado.id + '_' + cdrf.valor) | translate) for cdrf in vm.enti.tpdtEstado.cdrfList"
                    class="form-control input-sm">
                    <option />
                </select>
                <p ng-if="vm.accion == 'edit'" class="form-control-static" ng-bind="vm.item.estado"></p>
            </div>

            <div ng-if="!vm.enti.temporal" class="col-sm-2 col-md-1 form-group">
                <label translate>srvc_fref</label><input type="text" class="form-control input-sm"
                    ng-model="vm.item.fref" bs-datepicker />
            </div>

            <div ng-if="vm.enti.temporal" class="col-sm-2 col-md-1 form-group">
                <label translate>srvc_fini</label><input type="text" class="form-control input-sm"
                    ng-model="vm.item.fini" data-max-date="{{vm.item.ffin}}" bs-datepicker />
            </div>

            <div ng-if="vm.enti.temporal" class="col-sm-2 col-md-1 form-group">
                <label translate>srvc_ffin</label><input type="text" class="form-control input-sm"
                    ng-model="vm.item.ffin" data-min-date="{{vm.item.fini}}" bs-datepicker />
            </div>
        </div>

        <div ng-include="'modules/entidad/common/itdtMap-edit.html'"></div>
    </fieldset>

    <div class="btn-group">
        <button data-ng-click="vm.save()" class="btn btn-primary">
            <i class="glyphicon glyphicon-ok"></i> <span translate>btn_guardar</span>
        </button>
        <button data-ng-click="vm.cancel()" class="btn btn-default">
            <i class="glyphicon glyphicon-remove"></i> <span translate>btn_cancelar</span>
        </button>
    </div>
</form>
