<form role="form">
    <fieldset>
        <div class="row">
            <div class="col-sm-3 col-md-2 col-lg-1 form-group-sm">
                <label translate="srvc"></label> <input ng-if="vm.accion != 'edit'" type="text"
                    autocomplete="off" ng-model="vm.item.srvc" ng-controller="SrvcLupaController"
                    ng-selected="vm.prtoId = vm.item.srvc.prto.id"
                    typeahead="srvc as srvc.etiqueta for srvc in search(vm.enti.enti.tpsrId, $viewValue)"
                    typeahead-editable="false" typeahead-wait-ms="250" class="form-control">
                <p ng-if="vm.accion == 'edit'" class="form-control-static" ng-bind="vm.item.srvc.etiqueta"></p>
                <!-- ng-change="vm.prtoId = vm.item.srvc.prto.id"  -->
            </div>
            <div class="col-sm-1 col-md-1 form-group-sm">
                <label translate="ssrv_numero"></label> <input ng-if="vm.accion != 'edit'" type="text"
                    ng-model="vm.item.numero" class="form-control" />
                <p ng-if="vm.accion == 'edit'" class="form-control-static" ng-bind="vm.item.numero"></p>
            </div>

            <div ng-if="vm.enti.enti.tpdtEstado" class="col-sm-3 col-md-2 form-group-sm">
                <label translate="ssrv_estado"></label> <select ng-if="vm.accion != 'edit'"
                    ng-model="vm.item.estado"
                    ng-options="cdrf.valor as (('cdrf_' + vm.enti.enti.tpdtEstado.id + '_' + cdrf.valor) | translate) for cdrf in vm.enti.enti.tpdtEstado.cdrfList"
                    class="form-control">
                    <option />
                </select>
                <p ng-if="vm.accion == 'edit'" class="form-control-static" ng-bind="vm.item.estado"></p>
            </div>

            <div ng-if="vm.enti.enti.temporal" class="col-sm-2 col-md-2 col-lg-1 form-group-sm">
                <label translate>fini</label><input type="text" class="form-control" ng-model="vm.item.fini"
                    data-max-date="{{vm.item.ffin}}" bs-datepicker />
            </div>

            <div ng-if="vm.enti.enti.temporal" class="col-sm-2 col-md-2 col-lg-1 form-group-sm">
                <label translate>ffin</label><input type="text" class="form-control" ng-model="vm.item.ffin"
                    data-min-date="{{vm.item.fini}}" bs-datepicker />
            </div>

            <div ng-repeat="entiId in vm.enti.entiPadresList track by $index"
                ng-if="entiId != vm.enti.enti.tpsrId" class="col-sm-3 col-md-2 col-lg-2 form-group-sm">
                <label>{{'enti_' + entiId | translate}}</label>
                <p class="form-control-static">
                    <a ng-href="#/servicio/ssrv/detail/{{entiId}}/{{vm.itemPadresMap[entiId].value}}">{{vm.itemPadresMap[entiId].label}}</a>
                </p>
            </div>


            <div ng-if="vm.item.srvc.id" ng-repeat="entiPadre in vm.superentiList track by $index"
                class="col-md-2 form-group-sm">
                <label ng-bind="entiPadre.nombre"></label>
                <div class="input-group-sm" ng-controller="SsrvLupaController">
                    <input type="text" autocomplete="off" ng-model="vm.itemPadresMap[entiPadre.id]"
                        typeahead="ssrv as ssrv.etiqueta for ssrv in search(entiPadre.id, vm.item.srvc.id, $viewValue)"
                        typeahead-editable="false" typeahead-wait-ms="250" class="form-control">
                </div>
            </div>
        </div>

        <div ng-include="'modules/entidad/common/itdtMap-edit.html'"></div>
    </fieldset>

    <div class="btn-group">
        <button data-ng-click="vm.save()" class="btn btn-primary">
            <i class="glyphicon glyphicon-ok"></i> <span translate>btn_guardar</span>
        </button>
        <button data-ng-click="vm.cancel()" class="btn btn-default">
            <i class="glyphicon glyphicon-remove"></i> <span translate>btn_cancelar</span>
        </button>
    </div>
</form>
