<alert ng-if="actionErrors && actionErrors.length > 0" type="danger"> <span translate>errors</span>:
<ul>
    <li ng-repeat="error in actionErrors track by $index" ng-bind="error"></li>
</ul>
</alert>

<tabset type="pills"> <tab heading="{{enti.nombre | uppercase}}" select="tabSelected(null)">
<div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
        <a class="btn btn-default" ng-href="#/servicio/ssrv/edit/{{enti.id}}/{{item.id}}"><i
            class="glyphicon glyphicon-edit"></i> <span translate>boton_editar</span></a> <a class="btn btn-default"
            ng-href="#/servicio/ssrv/duplicate/{{enti.id}}/{{item.id}}"><i class="glyphicon glyphicon-tags"></i> <span
            translate>boton_duplicar</span></a>
        <button data-ng-click="remove()" class="btn btn-default">
            <i class="glyphicon glyphicon-remove"></i> <span translate>boton_borrar</span>
        </button>
    </div>
    <div class="btn-group">
        <button ng-repeat="enac in enti.enacList track by $index" ng-click="ssrvAction(enac.path)"
            class="btn btn-default" ng-bind="enac.etiqueta"></button>
    </div>
</div>

<fieldset>
    <div class="row-fluid">
        <div class="col-sm-3 col-md-2 col-lg-1 form-group">
            <label translate>ssrv_srvc</label>
            <p class="form-control-static">
                <a ng-href="#/servicio/srvc/detail/{{enti.tpsrId}}/{{item.srvc.id}}" ng-bind="item.srvc.etiqueta"></a>
            </p>
        </div>
        <div class="col-sm-1 col-md-1 form-group">
            <label translate>ssrv_numero</label>
            <p class="form-control-static" ng-bind="item.numero"></p>
        </div>

        <div ng-if="enti.tpdtEstado" class="col-sm-3 col-md-2 form-group">
            <label translate>ssrv_estado</label>
            <p class="form-control-static" ng-bind="item.estado"></p>
        </div>

        <div ng-if="enti.temporal" class="col-sm-2 col-md-2 col-lg-1 form-group">
            <label translate>ssrv_fini</label>
            <p class="form-control-static" ng-bind="item.fini | date"></p>
        </div>

        <div ng-if="enti.temporal" class="col-sm-2 col-md-2 col-lg-1 form-group">
            <label translate>ssrv_ffin</label>
            <p class="form-control-static" ng-bind="item.ffin | date"></p>
        </div>
    </div>
</fieldset>

<div ng-include="'modules/entidad/common/itdtMap-detail.html'"></div>

</tab> <tab ng-repeat="entiHija in subentiList track by $index" heading="{{entiHija.nombre | uppercase}}"
    active="entiHija.active" disabled="entiHija.disabled" select="tabSelected($index)">
<div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
        <pagination total-items="itemHijosMap[entiHija.id].count" items-per-page="itemHijosMap[entiHija.id].limit"
            ng-model="pageMap[entiHija.id]" ng-change="pageChanged(entiHija.id)" class="pagination" max-size="1"
            previous-text="&lsaquo;&lsaquo;" next-text="&rsaquo;&rsaquo;"></pagination>
    </div>

    <div class="btn-group">
        <a class="btn btn-default" ng-href="#/servicio/ssrv/create/{{entiHija.id}}/{{item.srvc.id}}"><i
            class="glyphicon glyphicon-file"></i> <span translate>boton_alta</span></a>
    </div>
</div>

<div class="table-responsive">
    <span class="label label-default">{{itemHijosMap[entiHija.id].count}} resultado(s)</span>

    <table class="table-bordered table-condensed table-hover table-nonfluid">
        <thead>
            <tr>
                <th class="buttonLinks" />

                <th translate>ssrv_numero</th>
                <th ng-if="entiHija.tpdtEstado" translate>ssrv_estado</th>
                <th ng-if="entiHija.temporal" class="date" translate>ssrv_fini</th>
                <th ng-if="entiHija.temporal" class="date" translate>ssrv_ffin</th>

                <th ng-repeat="tpdtId in entiHija.entdGridList track by $index"
                    ng-bind="entiHija.entdMap[tpdtId].etiqueta"></th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="itemHijo in itemHijosMap[entiHija.id].list track by $index">
                <td><a ng-href="#/servicio/ssrv/detail/{{entiHija.id}}/{{itemHijo.id}}"><i
                        class="glyphicon glyphicon-search"></i></a></td>

                <td ng-bind="itemHijo.numero"></td>
                <td ng-if="entiHija.tpdtEstado" ng-bind="itemHijo.estado"></td>
                <td ng-if="entiHija.temporal" ng-bind="itemHijo.fini | date"></td>
                <td ng-if="entiHija.temporal" ng-bind="itemHijo.ffin | date"></td>

                <td ng-repeat="tpdtId in entiHija.entdGridList track by $index" ng-switch
                    on="entiHija.entdMap[tpdtId].tpdt.tipoElemento" nowrap="nowrap"><span ng-switch-when="BO"><i
                        class="glyphicon glyphicon-{{itemHijo.itdtMap[tpdtId].cantidadEntera ? 'ok' : 'remove'}}"></i></span> <span
                    ng-switch-when="ND" ng-bind="itemHijo.itdtMap[tpdtId].cantidadEntera | number:2"></span> <span
                    ng-switch-when="NE" ng-bind="itemHijo.itdtMap[tpdtId].cantidadEntera | number:0"></span> <span
                    ng-switch-when="CR" ng-bind="itemHijo.itdtMap[tpdtId].cadena"></span> <span ng-switch-when="TX"
                    ng-bind="itemHijo.itdtMap[tpdtId].cadena"></span> <span ng-switch-when="PR"
                    title="{{itemHijo.itdtMap[tpdtId].prmt.etiqueta}}" ng-bind="itemHijo.itdtMap[tpdtId].prmt.parametro"></span>
                    <span ng-switch-when="FE" ng-bind="itemHijo.itdtMap[tpdtId].fecha | date"></span> <span
                    ng-switch-when="FH" ng-bind="itemHijo.itdtMap[tpdtId].fecha | date:'short'"></span></td>
            </tr>
        </tbody>
    </table>
</div>
</tab></tabset>
