<tabset> <tab heading="{{enti.nombre | uppercase}}">
<fieldset>
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <button data-ng-click="edit()" class="btn btn-default">
                <i class="glyphicon glyphicon-edit"></i> {{'boton_editar' | translate}}
            </button>
            <a class="btn btn-default" href="#/servicio/ssrv/duplicate/{{item.id}}"><i
                class="glyphicon glyphicon-tags"></i> {{'boton_duplicar' | translate}}</a>
            <button data-ng-click="remove()" class="btn btn-default">
                <i class="glyphicon glyphicon-remove"></i> {{'boton_borrar' | translate}}
            </button>
        </div>
        <div class="btn-group">
            <button ng-repeat="enac in enti.enacList" ng-click="ssrvAction(enac.path)" class="btn btn-default">
                {{enac.etiqueta}}</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 form-group">
            <label>{{'ssrv_srvc' | translate}}</label>
            <p class="form-control-static">
                <a href="#/servicio/srvc/detail/{{item.srvc.id}}">{{item.srvc.etiqueta}}</a>
            </p>
        </div>

        <div ng-if="enti.tpdtEstado" class="col-md-2 form-group">
            <label>{{'ssrv_estado' | translate}}</label>
            <p class="form-control-static">{{item.estado}}</p>
        </div>

        <div ng-if="enti.temporal" class="col-md-2 form-group">
            <label>{{'ssrv_fini' | translate}}</label>
            <p class="form-control-static">{{item.fini | date:('fmt_date' | translate)}}</p>
        </div>

        <div ng-if="enti.temporal" class="col-md-2 form-group">
            <label>{{'ssrv_ffin' | translate}}</label>
            <p class="form-control-static">{{item.ffin | date:('fmt_date' | translate)}}</p>
        </div>
    </div>
</fieldset>

<div ng-include="'modules/entidad/common/itdtMap-detail.html'"></div>

</tab> <tab ng-repeat="entiHija in entiHijasList" heading="{{entiHija.nombre | uppercase}}" active="tab.active"
    disabled="tab.disabled">
<fieldset>
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a class="btn btn-default" href="#/servicio/ssrv/create/{{entiHija.id}}/{{item.srvc.id}}"><i
                class="glyphicon glyphicon-file"></i> {{'boton_alta' | translate}}</a>
        </div>
    </div>

    <table class="table-bordered table-condensed table-hover table-nonfluid">
        <thead>
            <tr>
                <th class="buttonLinks" />

                <th>{{'ssrv_numero' | translate}}</th>
                <th ng-if="entiHija.tpdtEstado">{{'ssrv_estado' | translate}}</th>
                <th ng-if="entiHija.temporal" class="date">{{'ssrv_fini' | translate}}</th>
                <th ng-if="entiHija.temporal" class="date">{{'ssrv_ffin' | translate}}</th>

                <th ng-repeat="tpdtId in entiHija.entdGridList">{{entiHija.entdMap[tpdtId].etiqueta}}</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="itemHijo in itemHijosMap[entiHija.id].list">
                <td><a href="#/servicio/ssrv/detail/{{itemHijo.id}}"><i class="glyphicon glyphicon-search"></i></a></td>

                <td>{{itemHijo.numero}}</td>
                <td ng-if="entiHija.tpdtEstado">{{itemHijo.estado}}</td>
                <td ng-if="entiHija.temporal">{{itemHijo.fini | date:('fmt_date' | translate)}}</td>
                <td ng-if="entiHija.temporal">{{itemHijo.ffin | date:('fmt_date' | translate)}}</td>

                <td ng-repeat="tpdtId in entiHija.entdGridList" ng-switch
                    on="entiHija.entdMap[tpdtId].tpdt.tipoElemento" nowrap="nowrap"><span ng-switch-when="BO"><i
                        ng-if="itemHijo.itdtMap[tpdtId].cantidadEntera" class="glyphicon glyphicon-ok"></i><i
                        ng-if="!itemHijo.itdtMap[tpdtId].cantidadEntera" class="glyphicon glyphicon-remove"></i></span> <span
                    ng-switch-when="ND">{{itemHijo.itdtMap[tpdtId].cantidadEntera | number:2}} </span> <span
                    ng-switch-when="NE">{{itemHijo.itdtMap[tpdtId].cantidadEntera | number:0}} </span> <span
                    ng-switch-when="CR">{{itemHijo.itdtMap[tpdtId].cadena}}</span> <span ng-switch-when="TX">{{itemHijo.itdtMap[tpdtId].cadena}}</span>
                    <span ng-switch-when="PR" title="{{itemHijo.itdtMap[tpdtId].prmt.etiqueta}}">{{itemHijo.itdtMap[tpdtId].prmt.parametro}}</span>
                    <span ng-switch-when="FE">{{itemHijo.itdtMap[tpdtId].fecha | date:('fmt_date' | translate)}}</span>
                    <span ng-switch-when="FH">{{itemHijo.itdtMap[tpdtId].fecha | date:('fmt_datetime' |
                        translate)}} </span></td>
            </tr>
        </tbody>
    </table>
</fieldset>
</tab></tabset>
