<form role="form">
    <fieldset>
        <div class="row">
            <div class="col-sm-3 col-md-2 col-xl-1 form-group-sm">
                <label ng-bind="'enti_' + vm.item.entiId | translate"></label>
                <p class="form-control-static" ng-bind="vm.item.etiqueta"></p>
            </div>
            <div class="col-sm-3 col-md-2 col-xl-1 form-group-sm">
                <label translate="trmt"></label>
                <p class="form-control-static" ng-bind="'trmt_' + vm.trmt.trmt.id | translate"></p>
            </div>
            <div class="col-sm-3 col-md-2 col-xl-1 form-group-sm">
                <label translate="trmt_estado_orig"></label>
                <p class="form-control-static"
                    ng-bind="'cdrf_' + vm.enti.enti.tpdtEstado.id + '_' + vm.trmt.trmt.estadoOrig | translate"></p>
            </div>
            <div class="col-sm-3 col-md-2 col-xl-1 form-group-sm">
                <label translate="trmt_estado_dest"></label>
                <p class="form-control-static"
                    ng-bind="'cdrf_' + vm.enti.enti.tpdtEstado.id + '_' + vm.trmt.trmt.estadoDest | translate"></p>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <table class="table-condensed table-hover">
            <thead>
                <tr>
                    <td class="col-sm-4 col-md-3 col-lg-2 col-xl-1"></td>
                    <td class="col-sm-4 col-md-4 col-xl-3"></td>
                    <td class="col-sm-4 col-md-4 col-xl-3"></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="vm.enti.enti.temporal">
                    <th><span translate="fini"></span></th>
                    <td><span ng-bind="vm.ittr.ossrvFini | date: ('format_datetime' | translate)"></span></td>
                    <td class="form-group-sm"><input type="text" class="form-control"
                        ng-model="vm.ittr.dssrvFini" bs-datepicker /><input type="text" class="form-control"
                        ng-model="vm.ittr.dssrvFini" bs-timepicker /></td>
                </tr>
                <tr ng-if="vm.enti.enti.temporal">
                    <th><span translate="ffin"></span></th>
                    <td><span ng-bind="vm.ittr.ossrvFfin | date: ('format_datetime' | translate)"></span></td>
                    <td class="form-group-sm"><input type="text" class="col-sm-8 form-control"
                        ng-model="vm.ittr.dssrvFfin" bs-datepicker /><input type="text"
                        class="col-sm-4 form-control" ng-model="vm.ittr.dssrvFfin" bs-timepicker /></td>
                </tr>
            </tbody>

            <tbody ng-include="'modules/entidad/servicio/fragment/item-tramite-edit-content.html'">
            </tbody>
        </table>
    </fieldset>

    <div class="btn-group">
        <button data-ng-click="vm.save()" class="btn btn-primary">
            <i class="glyphicon glyphicon-ok"></i> <span translate="btn_guardar"></span>
        </button>
        <button data-ng-click="vm.cancel()" class="btn btn-default">
            <i class="glyphicon glyphicon-remove"></i> <span translate="btn_cancelar"></span>
        </button>
    </div>
</form>