<fieldset>
    <div class="row-fluid">
        <div ng-repeat="tpdtId in enti.entdList track by $index" ng-if="enti.entdMap[tpdtId].filtrable"
            class="col-sm-{{enti.entdMap[tpdtId].spanSm}} col-md-{{enti.entdMap[tpdtId].span}} col-lg-{{enti.entdMap[tpdtId].spanLg}} form-group">
            <label ng-bind="enti.entdMap[tpdtId].etiqueta"></label>

            <div ng-switch on="enti.entdMap[tpdtId].tpdt.tipoElemento">
                <select ng-switch-when="BO" ng-model="itemCriterio.itdtMap[tpdtId].cantidadEntera"
                    ng-options="item as ('fmt_' + item | translate) for item in [1 , 0]"
                    class="form-control input-sm">
                    <option />
                </select> <input ng-switch-when="ND" type="text" ng-model="itemCriterio.itdtMap[tpdtId].cantidadDecimal"
                    class="form-control input-sm number" /> <input ng-switch-when="NE" type="text"
                    ng-model="itemCriterio.itdtMap[tpdtId].cantidadEntera" ng-pattern="/^\d+$/"
                    class="form-control input-sm number" />
                <div ng-switch-when="FE" class="dropdown">
                    <div class="input-group" ng-controller="datepickerController">
                        <input type="text" class="form-control input-sm" datepicker-popup="{{'fmt_date' | translate}}"
                            datepicker-options="dateOptions" is-open="opened"
                            ng-model="itemCriterio.itdtMap[tpdtId].fecha" /> <span class="input-group-addon"
                            ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </div>
                <div ng-switch-when="FH" class="dropdown">
                    Falta el reloj!!!
                    <!--
                    <a class="dropdown-toggle" id="datepicker_{{tpdtId}}" role="button" data-toggle="dropdown"
                        data-target="#" href="#">
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" name="itemCriterio.itdtMap[tpdtId].fecha"
                                value="{{itemCriterio.itdtMap[tpdtId].fecha | date:('fmt_datetime' | translate)}}">
                                <span class="input-group-addon"><i
                                class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="itemCriterio.itdtMap[tpdtId].fecha"
                            data-datetimepicker-config="{ dropdownSelector: '#datepicker_tpdtId', startView:'day' }" />
                    </ul>
 -->
                </div>
                <select ng-switch-when="CR" ng-model="itemCriterio.itdtMap[tpdtId].cadena"
                    ng-options="cdrf.valor as cdrf.valor for cdrf in enti.entdMap[tpdtId].tpdt.cdrfList"
                    class="form-control input-sm">
                    <option />
                </select> <input ng-switch-when="TX" ng-if="enti.entdMap[tpdtId].tpdt.tpht == 'T'" type="text"
                    ng-model="itemCriterio.itdtMap[tpdtId].cadena" class="form-control input-sm" />
                <textarea ng-switch-when="TX" ng-if="enti.entdMap[tpdtId].tpdt.tpht == 'TA'" rows="4"
                    ng-model="itemCriterio.itdtMap[tpdtId].cadena" class="form-control input-sm" ng-bind="itemCriterio.itdtMap[tpdtId].cadena"></textarea>
                <select ng-switch-when="PR" ng-if="enti.entdMap[tpdtId].tpdt.tpht == 'S'"
                    ng-model="itemCriterio.itdtMap[tpdtId].prmt.id"
                    ng-options="labelValue.value as labelValue.label for labelValue in labelValuesMap[enti.entdMap[tpdtId].tpdt.enti.id]"
                    class="form-control input-sm">
                    <option />
                </select>
                <div ng-switch-when="PR" ng-if="enti.entdMap[tpdtId].tpdt.tpht == 'F'" class="input-group-sm"
                    ng-controller="prmtsLupaCtrl">
                    <input type="text" ng-model="itemCriterio.itdtMap[tpdtId].prmt"
                        typeahead="prmt as prmt.etiqueta for prmt in getLabelValues(enti.entdMap[tpdtId].tpdt.enti.id, $viewValue)"
                        typeahead-loading="loading" typeahead-wait-ms="500" class="form-control input-sm"> <i
                        ng-show="loading" class="glyphicon glyphicon-refresh"></i>
                </div>
                <div ng-switch-when="SR" class="input-group-sm" ng-controller="srvcLupaCtrl">
                    <input type="text" ng-model="itemCriterio.itdtMap[tpdtId].srvc"
                        typeahead="srvc as srvc.etiqueta for srvc in getLabelValues(enti.entdMap[tpdtId].tpdt.enti.id, $viewValue)"
                        typeahead-loading="loading" typeahead-wait-ms="500" class="form-control input-sm"> <i
                        ng-show="loading" class="glyphicon glyphicon-refresh"></i>
                </div>
            </div>
        </div>
    </div>
</fieldset>