<fieldset ng-repeat="engdId in enti.engdList track by $index">
    <legend ng-if="enti.engdList.length > 1" ng-bind="enti.engdMap[engdId].etiqueta"></legend>

    <div class="row-fluid">
        <div ng-repeat="tpdtId in enti.engdEntdMap[engdId] track by $index"
            class="col-sm-{{enti.entdMap[tpdtId].spanSm}} col-md-{{enti.entdMap[tpdtId].span}} col-lg-{{enti.entdMap[tpdtId].spanLg}} form-group">
            <label ng-bind="enti.entdMap[tpdtId].etiqueta"></label>
            <p ng-switch on="enti.entdMap[tpdtId].tpdt.tipoElemento" class="form-control-static">
                <span ng-switch-when="BO"><i
                    class="glyphicon glyphicon-{{item.itdtMap[tpdtId].cantidadEntera ? 'ok' : 'remove'}}"></i></span> <span
                    ng-switch-when="ND" ng-bind="item.itdtMap[tpdtId].cantidadDecimal | number:2"></span> <span
                    ng-switch-when="NE" ng-bind="item.itdtMap[tpdtId].cantidadEntera | number:0"></span> <span
                    ng-switch-when="FE" ng-bind="item.itdtMap[tpdtId].fecha | date"></span> <span ng-switch-when="FH"
                    ng-bind="item.itdtMap[tpdtId].fecha | date:'short'"></span> <span ng-switch-when="CR"
                    ng-if="item.itdtMap[tpdtId].cadena">{{("cdrf_" + enti.entdMap[tpdtId].tpdt.codigo + "_" +
                    item.itdtMap[tpdtId].cadena) | translate}}</span> <span ng-switch-when="TX"
                    ng-bind="item.itdtMap[tpdtId].cadena"></span> <span ng-switch-when="PR"> <a
                    ng-href="#/maestro/prmt/detail/{{enti.entdMap[tpdtId].tpdt.enti.id}}/{{item.itdtMap[tpdtId].prmt.id}}/{{item.fref}}"
                    ng-bind="item.itdtMap[tpdtId].prmt.etiqueta"></a>
                </span> <span ng-switch-when="SR"> <a
                    ng-href="#/servicio/srvc/detail/{{enti.entdMap[tpdtId].tpdt.enti.id}}/{{item.itdtMap[tpdtId].srvc.id}}"
                    ng-bind="item.itdtMap[tpdtId].srvc.etiqueta"></a></span>
            </p>
        </div>
    </div>
</fieldset>
