<div data-ng-if="vm.itemList">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <div data-uib-pagination data-total-items="vm.itemList.count"
                data-items-per-page="vm.itemList.limit" data-ng-model="vm.page"
                data-ng-change="vm.pageChanged()" class="pagination" data-max-size="1"
                data-previous-text="&lsaquo;&lsaquo;" data-next-text="&rsaquo;&rsaquo;"></div>
        </div>

        <div class="btn-group">
            <button class="btn btn-default" data-ng-click="vm.filter('lg')"
                data-template-url="modules/entidad/estadistica/fragment/estadistica-filter-content.html"
                data-bs-modal="modal">
                <i class="glyphicon glyphicon-search"></i> <span data-translate="btn_filtrar"></span>
            </button>
        </div>

        <div class="btn-group">
            <button data-ng-click="vm.xlsExport()" class="btn btn-default">
                <i class="glyphicon glyphicon-download-alt"></i> <span data-translate="btn_exportar"></span>
            </button>
        </div>
    </div>

    <div class="table-responsive">
        <span class="label label-default" data-translate="grid_count"
            data-translate-value-count="{{vm.itemList.count | number:0}}"></span>

        <table class="table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <th nowrap="nowrap" />
                    <th nowrap="nowrap" data-translate="pepr"></th>
                    <th nowrap="nowrap" data-translate="prto"></th>
                    <th data-ng-repeat="tpdtId in vm.enti.entdList track by $index"
                        data-ng-if="vm.enti.entdMap[tpdtId].gridable" nowrap="nowrap"
                        data-ng-bind="'entd_' + vm.enti.entdMap[tpdtId].id | translate"></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="item in vm.itemList.list track by $index">
                    <td><a data-ng-href="#/estadistica/estd/detail/{{vm.enti.enti.id}}/{{item.id}}"><i
                            class="glyphicon glyphicon-search"></i></a></td>
                    <td nowrap="nowrap" data-ng-bind="item.pepr.etiqueta"></td>
                    <td nowrap="nowrap" data-ng-bind="item.prto.etiqueta"></td>
                    <td data-ng-repeat="tpdtId in vm.enti.entdList track by $index"
                        data-ng-if="vm.enti.entdMap[tpdtId].gridable" data-ng-switch
                        data-on="vm.enti.entdMap[tpdtId].tpdt.tipoElemento" nowrap="nowrap"><span
                        data-ng-switch-when="BO"><i
                            class="glyphicon glyphicon-{{vm.item.itdtMap[tpdtId].cantidadEntera ? 'ok' : 'remove'}}"></i></span>
                        <span data-ng-switch-when="ND" class="pull-right"
                        data-ng-bind="item.itdtMap[tpdtId].cantidadDecimal | number:2"></span> <span
                        data-ng-switch-when="NE" class="pull-right"
                        data-ng-bind="item.itdtMap[tpdtId].cantidadEntera | number:0"></span> <span
                        data-ng-switch-when="FE" class="pull-right"
                        data-ng-bind="item.itdtMap[tpdtId].fecha | date: ('format_date' | translate)"></span>
                        <span data-ng-switch-when="FH" class="pull-right"
                        data-ng-bind="item.itdtMap[tpdtId].fecha | date: ('format_datetime' | translate)"></span>
                        <span data-ng-switch-when="CR" data-bs-tooltip
                        data-title="{{'cdrf_' + tpdtId + '_' + item.itdtMap[tpdtId].cadena | translate}}"
                        data-ng-if="item.itdtMap[tpdtId].cadena" data-ng-bind="item.itdtMap[tpdtId].cadena"></span><span
                        data-ng-switch-when="TX" data-ng-bind="item.itdtMap[tpdtId].cadena"></span><span
                        data-ng-switch-when="PR" data-bs-tooltip
                        data-title="{{item.itdtMap[tpdtId].prmt.etiqueta}}"
                        data-ng-bind="item.itdtMap[tpdtId].prmt.parametro"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>