<p class="bg-primary" ng-bind="'pepr_grid' | translate | uppercase"></p>

<div ng-if="showFilter">
    <form>
        <fieldset>
            <div class="row-fluid">
                <div class="col-sm-4 col-md-3 col-lg-2 form-group">
                    <label translate>pepr_autp</label> <select ng-model="peprCriterio.autpId"
                        ng-options="labelValue.value as labelValue.label for labelValue in autpList" class="form-control input-sm">
                        <option />
                    </select>
                </div>
                <div class="col-sm-2 col-md-1 form-group">
                    <label translate>pepr_anio</label> <input type="text" ng-model="peprCriterio.anio"
                        class="form-control input-sm" />
                </div>
                <div class="col-sm-2 col-md-1 form-group">
                    <label translate>pepr_mes</label> <input type="text" ng-model="peprCriterio.mes"
                        class="form-control input-sm" />
                </div>
                <div class="col-sm-3 col-md-2 col-lg-1 form-group pull-right">
                    <label translate>limit</label> <select ng-model="limit"
                        ng-options="limitValue for limitValue in limits" class="form-control input-sm">
                        <option />
                    </select>
                </div>
            </div>
        </fieldset>

        <div class="btn-group">
            <button data-ng-click="search()" class="btn btn-primary">
                <i class="glyphicon glyphicon-search"></i> <span translate>boton_buscar</span>
            </button>
            <button data-ng-click="cancelSearch()" class="btn btn-default">
                <i class="glyphicon glyphicon-remove"></i> <span translate>boton_cancelar</span>
            </button>
        </div>
    </form>
</div>


<div ng-hide="showFilter">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <pagination total-items="peprList.count" items-per-page="peprList.limit" ng-model="currentPage"
                ng-change="pageChanged()" class="pagination" max-size="1" previous-text="&lsaquo;&lsaquo;"
                next-text="&rsaquo;&rsaquo;"></pagination>
        </div>

        <div class="btn-group">
            <button data-ng-click="filter()" class="btn btn-default">
                <i class="glyphicon glyphicon-search"></i> <span translate>boton_filtro</span>
            </button>
        </div>
    </div>

    <div class="table-responsive">
        <span class="label label-default">{{peprList.count}} resultado(s)</span>

        <table class="table-bordered table-condensed table-hover table-nonfluid">
            <thead>
                <tr>
                    <th class="buttonLinks" nowrap="nowrap" />
                    <th class="codigo" nowrap="nowrap" translate>pepr_autp</th>
                    <th translate>pepr_anio</th>
                    <th translate>pepr_mes</th>
                    <th translate>pepr_cdmsGenerado</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in peprList.list track by $index">
                    <td><a ng-href="#/estadistica/pepr/detail/{{item.id}}"><i class="glyphicon glyphicon-search"></i></a></td>
                    <td ng-bind="item.autp.parametro"></td>
                    <td ng-bind="item.anio"></td>
                    <td ng-bind="item.mes"></td>
                    <td><i class="glyphicon glyphicon-{{item.cdmsGenerado ? 'ok' : 'remove'}}"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>