<legend>{{'pepr_grid' | translate | uppercase}}</legend>

<div ng-if="showFilter">
    <form>
        <fieldset>
            <div class="row-fluid">
                <div class="col-sm-4 col-md-3 col-lg-2 form-group">
                    <label>{{'pepr_autp' | translate}}</label> <select ng-model="peprCriterio.autpId"
                        ng-options="autp.id as autp.etiqueta for autp in autpList" class="form-control input-sm">
                        <option value="" />
                    </select>
                </div>
                <div class="col-sm-2 col-md-1 form-group">
                    <label>{{'pepr_anio' | translate}}</label> <input type="text" ng-model="peprCriterio.anio"
                        class="form-control input-sm" />
                </div>
                <div class="col-sm-2 col-md-1 form-group">
                    <label>{{'pepr_mes' | translate}}</label> <input type="text" ng-model="peprCriterio.mes"
                        class="form-control input-sm" />
                </div>
                <div class="col-sm-3 col-md-2 col-lg-1 form-group pull-right">
                    <label>{{'limit' | translate}}</label> <select ng-model="limit" class="form-control input-sm">
                        <option ng-repeat="limitValue in limits" class="pull-right" value="{{limitValue}}"
                            ng-selected="limitValue == limit">{{limitValue}}</option>
                    </select>
                </div>
            </div>
        </fieldset>

        <div class="btn-group">
            <button data-ng-click="search()" class="btn btn-primary">
                <i class="glyphicon glyphicon-search"></i> {{'boton_buscar' | translate}}
            </button>
            <button data-ng-click="cancelSearch()" class="btn btn-default">
                <i class="glyphicon glyphicon-remove"></i> {{'boton_cancelar' | translate}}
            </button>
        </div>
    </form>
</div>


<div ng-hide="showFilter">
    <div class="btn-toolbar" role="toolbar">
        <pagination total-items="peprList.count" items-per-page="peprList.limit" ng-model="currentPage"
            ng-change="pageChanged()" class="pagination" max-size="1" previous-text="&lsaquo;&lsaquo;"
            next-text="&rsaquo;&rsaquo;"></pagination>

        <div class="btn-group">
            <button data-ng-click="filter()" class="btn btn-default">
                <i class="glyphicon glyphicon-search"></i> {{'boton_filtro' | translate}}
            </button>
        </div>
    </div>

    <div class="table-responsive">
        <span class="label label-default">{{peprList.count}} resultado(s)</span>

        <table class="table-bordered table-condensed table-hover table-nonfluid">
            <thead>
                <tr>
                    <th class="buttonLinks" nowrap="nowrap" />
                    <th class="codigo" nowrap="nowrap">{{'pepr_autp' | translate}}</th>
                    <th>{{'pepr_anio' | translate}}</th>
                    <th>{{'pepr_mes' | translate}}</th>
                    <th>{{'pepr_cdmsGenerado' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in peprList.list">
                    <td><a href="#/estadistica/pepr/detail/{{item.id}}"><i class="glyphicon glyphicon-search"></i></a></td>
                    <td>{{item.autp.parametro}}</td>
                    <td>{{item.anio}}</td>
                    <td>{{item.mes}}</td>
                    <td><i ng-if="item.cdmsGenerado" class="glyphicon glyphicon-ok"></i><i
                        ng-if="!item.cdmsGenerado" class="glyphicon glyphicon-remove"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>