<div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
        <button data-ng-click="remove()" class="btn btn-default">
            <i class="glyphicon glyphicon-remove"></i> <span translate>btn_borrar</span>
        </button>
    </div>
</div>

<fieldset>
    <div class="row-fluid">
        <div class="col-sm-4 col-md-3 col-md-2 form-group">
            <label translate="pepr_autp"></label>
            <p class="form-control-static" ng-bind="pepr.autp.parametro"></p>
        </div>
        <div class="col-sm-2 col-md-1 col-md-1 form-group">
            <label translate="pepr_anio"></label>
            <p class="form-control-static" ng-bind="pepr.anio"></p>
        </div>
        <div class="col-sm-2 col-md-1 col-md-1 form-group">
            <label translate="pepr_mes"></label>
            <p class="form-control-static" ng-bind="pepr.mes"></p>
        </div>
        <div class="col-sm-3 col-md-2 col-md-1 form-group">
            <label translate="pepr_cdmsGenerado"></label>
            <p class="form-control-static">
                <i class="glyphicon glyphicon-{{pepr.cdmsGenerado ? 'ok' : 'remove'}}"></i>
            </p>
        </div>
    </div>
</fieldset>

<div class="list-group">
    <a ng-href="#/estadistica/cdms/detail/{{pepr.id}}" class="list-group-item">{{'cdms' | translate | uppercase}}</a> <a
        ng-href="#/estadistica/estd/grid/{{enti.value}}/{{pepr.id}}/{{pepr.autp.id}}" class="list-group-item"
        ng-repeat="enti in tpesList track by $index" ng-bind="'enti_' + enti.value | translate | uppercase"></a>
</div>
