
<div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
        <div data-uib-pagination data-total-items="vm.peprList.count" data-items-per-page="vm.peprList.limit"
            data-ng-model="vm.currentPage" data-ng-change="vm.pageChanged()" class="pagination"
            data-max-size="1" data-previous-text="&lsaquo;&lsaquo;" data-next-text="&rsaquo;&rsaquo;"></div>
    </div>

    <div class="btn-group">
        <button class="btn btn-default" data-ng-click="vm.filter('lg')"
            data-template-url="modules/entidad/estadistica/fragment/periodo-proceso-filter-content.html"
            data-bs-modal="modal">
            <i class="glyphicon glyphicon-search"></i> <span data-translate="btn_filtrar"></span>
        </button>
        <a class="btn btn-default" data-ng-href="#/estadistica/periodo-proceso/edit/load"><i
            class="glyphicon glyphicon-upload"></i> <span data-translate="btn_cargar"></span></a> <a
            class="btn btn-default" data-ng-href="#/estadistica/periodo-proceso/edit/create"><i
            class="glyphicon glyphicon-file"></i> <span data-translate="btn_crear"></span></a>
    </div>
</div>

<div class="table-responsive">
    <span class="label label-default" data-translate="grid_count"
        data-translate-value-count="{{vm.peprList.count | number:0}}"></span>

    <table class="table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th nowrap="nowrap" />
                <th nowrap="nowrap" data-translate="sprt"></th>
                <th data-translate="pepr_anio"></th>
                <th data-translate="pepr_mes"></th>
                <th data-translate="pepr_cdmsGenerado"></th>
                <th data-translate="pepr_falta"></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="item in vm.peprList.list track by $index">
                <td><a ui-sref="periodo-proceso-detail(item)"><i class="glyphicon glyphicon-search"></i></a></td>
                <td data-ng-bind="item.sprt.etiqueta"></td>
                <td data-ng-bind="item.anio" class="number"></td>
                <td data-ng-bind="item.mes" class="number"></td>
                <td><i class="glyphicon glyphicon-{{item.cdmsGenerado ? 'ok' : 'remove'}}"></i></td>
                <td data-ng-bind="item.falta | date: ('format_datetime' | translate)"></td>
            </tr>
        </tbody>
    </table>
</div>
