<fieldset data-ng-if="mc.hasAcbsPath('acen-list')">
    <legend data-translate="acenList"></legend>

    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a data-ng-if="mc.hasAcbsPath('acen-create')" class="btn btn-default"
                data-ng-href="#/metamodelo/accion-entidad/edit/create/{{vm.model.id}}"><i
                class="glyphicon glyphicon-file"></i> <span data-translate="btn_crear"></span></a>
        </div>
    </div>

    <table class="table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th nowrap="nowrap" />
                <th data-translate="aebs_codigo"></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="acen in vm.acenList track by $index">
                <td><a data-ng-if="mc.hasAcbsPath('acen-detail')"
                    data-ng-href="#/metamodelo/accion-entidad/detail/{{acen.id}}"><i
                        class="glyphicon glyphicon-search"></i></a></td>
                <td data-ng-bind="acen.aebs.codigo"></td>
            </tr>
        </tbody>
    </table>
</fieldset>