
<fieldset data-ng-if="mc.hasAcbsPath('engd-list')">
    <legend data-translate="engdList"></legend>

    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a data-ng-if="mc.hasAcbsPath('engd-create')" class="btn btn-default"
                data-ng-href="#/metamodelo/entidad-grupo-dato/edit/create/{{vm.model.id}}"><i
                class="glyphicon glyphicon-file"></i> <span data-translate="btn_crear"></span></a>
        </div>
    </div>

    <table class="table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th nowrap="nowrap" />
                <th data-translate="engd_etiqueta"></th>
                <th data-translate="engd_numero"></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="engd in vm.engdList track by $index">
                <td><a data-ng-if="mc.hasAcbsPath('engd-detail')"
                    data-ng-href="#/metamodelo/entidad-grupo-dato/detail/{{engd.id}}"><i
                        class="glyphicon glyphicon-search"></i></a></td>
                <td data-ng-bind="engd.etiqueta"></td>
                <td data-ng-bind="engd.numero" class="number"></td>
            </tr>
        </tbody>
    </table>
</fieldset>