<fieldset data-ng-if="mc.hasAcbsPath('entd-list')">
    <legend data-translate="entdList"></legend>

    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a data-ng-if="mc.hasAcbsPath('entd-create')" class="btn btn-default"
                data-ng-href="#/metamodelo/entidad-tipo-dato/edit/create/{{vm.model.id}}"><i
                class="glyphicon glyphicon-file"></i> <span data-translate="btn_crear"></span></a>
        </div>
    </div>

    <table class="table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th nowrap="nowrap" />
                <th data-translate="entd_grupo"></th>
                <th data-translate="entd_fila"></th>
                <th data-translate="entd_orden"></th>
                <th data-translate="entd_span"></th>
                <th data-translate="entd_spanLg"></th>
                <th data-translate="entd_etiqueta"></th>
                <th data-translate="entd_obligatorio"></th>
                <th data-translate="entd_gridable"></th>
                <th data-translate="entd_filtrable"></th>
                <th data-translate="tpdt"></th>
                <th data-translate="tpdt_tpel"></th>
                <th data-translate="tpdt_tpht"></th>
                <th data-translate="enti"></th>
                <th data-translate="entd_valorDefecto"></th>
                <th data-translate="entd_validacion"></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="entd in vm.entdList track by $index">
                <td><a data-ng-if="mc.hasAcbsPath('entd-detail')"
                    data-ng-href="#/metamodelo/entidad-tipo-dato/detail/{{entd.id}}"><i
                        class="glyphicon glyphicon-search"></i></a></td>
                <td data-ng-bind="entd.grupo" class="number"></td>
                <td data-ng-bind="entd.fila" class="number"></td>
                <td data-ng-bind="entd.orden" class="number"></td>
                <td data-ng-bind="entd.span" class="number"></td>
                <td data-ng-bind="entd.spanLg" class="number"></td>
                <td nowrap="nowrap" data-ng-bind="entd.etiqueta"></td>
                <td><i class="glyphicon"
                    data-ng-class="{true:'glyphicon-ok', false:'glyphicon-remove'}[entd.obligatorio]"></i></td>
                <td><i class="glyphicon"
                    data-ng-class="{true:'glyphicon-ok', false:'glyphicon-remove'}[entd.gridable]"></i></td>
                <td><i class="glyphicon"
                    data-ng-class="{true:'glyphicon-ok', false:'glyphicon-remove'}[entd.filtrable]"></i></td>
                <td nowrap="nowrap" data-ng-bind="entd.tpdt.nombre"></td>
                <td data-bs-tooltip data-title="{{('ElementoTipo_' + entd.tpdt.tipoElemento | translate)}}"
                    data-ng-bind="entd.tpdt.tipoElemento"></td>
                <td data-bs-tooltip data-title="{{('HtmlTipo_' + entd.tpdt.tpht | translate)}}"
                    data-ng-bind="entd.tpdt.tpht"></td>
                <td nowrap="nowrap" data-ng-bind="entd.tpdt.enti.nombre"></td>
                <td nowrap="nowrap" data-ng-bind="entd.valorDefecto"></td>
                <td nowrap="nowrap" data-ng-bind="entd.validacion"></td>
            </tr>
        </tbody>
    </table>
</fieldset>