<div data-ng-if="vm.item">
    <form role="form">
        <fieldset>
            <div class="row">
                <div data-ng-if="vm.enti.enti.puerto" class="col-sm-3 col-md-2 col-lg-2 form-group-sm">
                    <label data-translate="prto"></label> <select
                        data-ng-if="vm.accion == 'create' || vm.accion == 'duplicate'"
                        data-ng-model="vm.item.prto.id" data-ng-change="vm.prtoId = vm.item.prto.id"
                        data-ng-options="prto.id as prto.etiqueta for prto in vm.prtoList"
                        class="form-control">
                        <option />
                    </select>
                    <p data-ng-if="!(vm.accion == 'create' || vm.accion == 'duplicate')"
                        class="form-control-static" data-ng-bind="vm.item.prto.etiqueta"></p>
                </div>
                <div class="col-sm-3 col-md-2 col-lg-2 form-group-sm">
                    <label data-translate="prmt_parametro"></label> <input
                        data-ng-if="vm.accion == 'create' || vm.accion == 'duplicate'" type="text"
                        data-ng-model="vm.item.parametro" class="form-control" />
                    <p data-ng-if="!(vm.accion == 'create' || vm.accion == 'duplicate')"
                        class="form-control-static" data-ng-bind="vm.item.parametro"></p>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-1 form-group-sm">
                    <label data-translate="fini"></label> <input type="text" class="form-control"
                        data-ng-model="vm.item.version.fini" data-max-date="{{vm.item.version.ffin}}"
                        data-bs-datepicker />
                </div>
                <div class="col-sm-2 col-md-2 col-lg-1 form-group-sm">
                    <label data-translate="ffin"></label> <input type="text" class="form-control"
                        data-ng-model="vm.item.version.ffin" data-min-date="{{vm.item.version.fini}}"
                        data-bs-datepicker />
                </div>
                <div data-ng-if="vm.enti.enti.gis" class="col-sm-2 col-lg-1 form-group-sm">
                    <label data-translate="prmt_lat"></label> <input type="text" class="form-control number"
                        data-ng-model="vm.item.version.lat" />
                </div>
                <div data-ng-if="vm.enti.enti.gis" class="col-sm-2 col-lg-1 form-group-sm">
                    <label data-translate="prmt_lon"></label> <input type="text" class="form-control number"
                        data-ng-model="vm.item.version.lon" />
                </div>
            </div>

            <div data-ng-if="vm.enti.enti.i18n" class="row"
                data-ng-include="'modules/common/i18nMap-edit.html'"></div>

            <div data-ng-include="'modules/entidad/common/itdtMap-edit.html'"></div>
        </fieldset>

        <div class="btn-group">
            <button data-ng-click="vm.save()" class="btn btn-primary">
                <i class="glyphicon glyphicon-ok"></i> <span data-translate="btn_guardar"></span>
            </button>
            <button data-ng-click="vm.cancel()" class="btn btn-default">
                <i class="glyphicon glyphicon-remove"></i> <span data-translate="btn_cancelar"></span>
            </button>
        </div>
    </form>
</div>