<div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
        <div data-uib-pagination data-total-items="vm.itemList.count" data-items-per-page="vm.itemList.limit"
            data-ng-model="vm.page" data-ng-change="vm.pageChanged()" class="pagination" data-max-size="1"
            data-previous-text="&lsaquo;&lsaquo;" data-next-text="&rsaquo;&rsaquo;"></div>
    </div>

    <div class="btn-group">
        <button class="btn btn-default" data-ng-click="vm.filter('lg')"
            data-template-url="modules/entidad/maestro/fragment/parametro-filter-content.html"
            data-bs-modal="modal">
            <i class="glyphicon glyphicon-search"></i> <span data-translate="btn_filtrar"></span>
        </button>
        <a class="btn btn-default" data-ng-href="#/maestro/parametro/edit/create/{{vm.enti.enti.id}}"><i
            class="glyphicon glyphicon-file"></i> <span data-translate="btn_crear"></span> </a>
    </div>

    <div class="btn-group">
        <button data-ng-click="vm.xlsExport()" class="btn btn-default">
            <i class="glyphicon glyphicon-download-alt"></i> <span data-translate="btn_exportar"></span>
        </button>
        <a class="btn btn-default" data-ng-if="vm.enti.enti.gis" data-ng-click="vm.gis()"><i
            class="glyphicon glyphicon-globe"></i> <span data-translate="btn_gis"></span></a>
    </div>

    <div class="btn-group">
        <button data-ng-repeat="enag in vm.enti.enagList track by $index"
            data-ng-click="vm.prmtAction(enag.path)" class="btn btn-default"
            data-ng-bind="('enag_' + enag.id | translate)"></button>
    </div>
</div>

<div class="table-responsive">
    <span class="label label-default" data-translate="grid_count"
        data-translate-value-count="{{(vm.itemList.count | number:0)}}"></span>

    <table class="table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th nowrap="nowrap" />
                <th data-ng-if="vm.enti.enti.puerto" nowrap="nowrap" data-translate="prto"></th>
                <th nowrap="nowrap" data-translate="prmt_parametro"></th>
                <th data-ng-if="vm.enti.enti.i18n" data-translate="i18n_text"></th>
                <th data-translate="fini"></th>
                <th data-translate="ffin"></th>
                <th data-ng-if="vm.enti.enti.gis" data-translate="prmt_lat"></th>
                <th data-ng-if="vm.enti.enti.gis" data-translate="prmt_lon"></th>
                <th data-ng-repeat="tpdtId in vm.enti.entdGridList track by tpdtId"
                    data-ng-bind="('entd_' + vm.enti.entdMap[tpdtId].id | translate)"></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="item in vm.itemList.list track by item.version.id">
                <td><a
                    data-ng-href="#/maestro/parametro/detail/{{item.entiId}}/{{item.id}}/{{item.fref}}"><i
                        class="glyphicon glyphicon-search"></i></a></td>
                <td data-ng-if="vm.enti.enti.puerto" nowrap="nowrap" data-ng-bind="item.prto.etiqueta"></td>
                <td nowrap="nowrap" data-ng-bind="item.parametro"></td>
                <td nowrap="nowrap" data-ng-if="vm.enti.enti.i18n" data-ng-bind="item.texto"></td>
                <td nowrap="nowrap" data-ng-bind="(item.version.fini | date: ('format_date' | translate))"></td>
                <td nowrap="nowrap" data-ng-bind="(item.version.ffin | date: ('format_date' | translate))"></td>
                <td nowrap="nowrap" class="number" data-ng-if="vm.enti.enti.gis"
                    data-ng-bind="(item.version.lat | number:8)"></td>
                <td nowrap="nowrap" class="number" data-ng-if="vm.enti.enti.gis"
                    data-ng-bind="(item.version.lon | number:8)"></td>

                <td data-ng-repeat="tpdtId in vm.enti.entdGridList track by tpdtId" nowrap="nowrap"
                    data-ng-switch="vm.enti.entdMap[tpdtId].tpdt.tipoElemento" nowrap="nowrap"><span
                    data-ng-switch-when="BO"><i
                        class="glyphicon glyphicon-{{(item.itdtMap[tpdtId].cantidadEntera ? 'ok' : 'remove')}}"></i></span>
                    <span data-ng-switch-when="ND" class="pull-right"
                    data-ng-bind="(item.itdtMap[tpdtId].cantidadDecimal | number:2)"></span> <span
                    data-ng-switch-when="NE" class="pull-right"
                    data-ng-bind="(item.itdtMap[tpdtId].cantidadEntera | number:0)"></span> <span
                    data-ng-switch-when="FE" class="pull-right"
                    data-ng-bind="(item.itdtMap[tpdtId].fecha | date: ('format_date' | translate))"></span> <span
                    data-ng-switch-when="FH" class="pull-right"
                    data-ng-bind="(item.itdtMap[tpdtId].fecha | date: ('format_datetime' | translate))"></span>
                    <span data-ng-switch-when="CR" data-bs-tooltip
                    data-title="{{('cdrf_' + tpdtId + '_' + item.itdtMap[tpdtId].cadena | translate)}}"
                    data-ng-if="item.itdtMap[tpdtId].cadena" data-ng-bind="item.itdtMap[tpdtId].cadena"></span>
                    <span data-ng-switch-when="TX" data-ng-bind="item.itdtMap[tpdtId].cadena"></span><span
                    data-ng-switch-when="PR" data-bs-tooltip
                    data-title="{{item.itdtMap[tpdtId].prmt.etiqueta}}"
                    data-ng-bind="item.itdtMap[tpdtId].prmt.parametro"></span></td>
            </tr>
        </tbody>
    </table>
</div>
