<fieldset ng-if="showFilter">
    <div class="row">
        <div class="col-md-1 form-group">
            <label>{{"prmt_parametro" | translate}}</label> <input type="text" ng-model="itemCriterio.parametro"
                class="form-control input-sm" />
        </div>
        <div class="col-md-1 form-group">
            <label>{{'prmt_fechaVigencia' | translate}}</label>
            <p class="input-group" ng-controller="datepickerController">
                <input type="text" class="form-control input-sm" datepicker-popup="{{'fmt_date' | translate}}"
                    datepicker-options="dateOptions" is-open="opened" ng-model="itemCriterio.fechaVigencia"
                    ng-required="true" /> <span class="input-group-addon" ng-click="open($event)"><i
                    class="glyphicon glyphicon-calendar"></i></span>
            </p>
        </div>
    </div>

    <div class="btn-group">
        <button data-ng-click="search()" class="btn btn-primary">
            <i class="glyphicon glyphicon-search"></i> {{'boton_buscar' | translate}}
        </button>
        <button data-ng-click="cancelSearch()" class="btn btn-default">
            <i class="glyphicon glyphicon-remove"></i> {{'boton_cancelar' | translate}}
        </button>
    </div>
</fieldset>

<fieldset>
    <legend>{{enti.nombre | uppercase}}</legend>

    <div ng-if="!showFilter" class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a class="btn btn-default" href="#/maestro/prmt/create/{{enti.id}}"><i class="glyphicon glyphicon-file"></i>
                {{'boton_alta' | translate}}</a>
            <button data-ng-click="filter()" class="btn btn-default">
                <i class="glyphicon glyphicon-search"></i> {{'boton_filtro' | translate}}
            </button>
        </div>
    </div>

    <pagination total-items="itemList.count" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm"
        max-size="1" previous-text="&lsaquo;" next-text="&rsaquo;"></pagination>

    <div class="table-responsive">
        <span class="label label-default">{{itemList.count}} resultado(s)</span>

        <table class="table-bordered table-condensed table-hover table-nonfluid">
            <thead>
                <tr>
                    <th class="buttonLinks" nowrap="nowrap" />
                    <th class="codigo" nowrap="nowrap">{{'prmt_parametro' | translate}}</th>
                    <th ng-if="enti.i18n">{{'prmt_i18n_texto' | translate}}</th>
                    <!-- ng-if="enti.tempExp" -->
                    <th>{{'prmt_fini' | translate}}</th>
                    <!-- ng-if="enti.tempExp" -->
                    <th>{{'prmt_ffin' | translate}}</th>
                    <th ng-repeat="tpdtId in enti.entdGridList" nowrap="nowrap">{{enti.entdMap[tpdtId].etiqueta}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in itemList.list">
                    <td><a href="#/maestro/prmt/detail/{{item.prvr.id}}"><i class="glyphicon glyphicon-search"></i></a></td>
                    <td>{{item.parametro}}</td>
                    <td ng-if="enti.i18n">{{item.i18n.texto}}</td>
                    <!-- ng-if="enti.tempExp" -->
                    <td>{{item.prvr.fini | date:('fmt_date' | translate)}}</td>
                    <!-- ng-if="enti.tempExp" -->
                    <td>{{item.prvr.ffin | date:('fmt_date' | translate)}}</td>
                    <td ng-repeat="tpdtId in enti.entdGridList" ng-switch on="enti.entdMap[tpdtId].tpdt.tipoElemento"
                        nowrap="nowrap"><span ng-switch-when="BO"><i
                            ng-if="item.itdtMap[tpdtId].cantidadEntera" class="glyphicon glyphicon-ok"></i><i
                            ng-if="!item.itdtMap[tpdtId].cantidadEntera" class="glyphicon glyphicon-remove"></i></span> <span
                        ng-switch-when="ND" class="pull-right">{{item.itdtMap[tpdtId].cantidadDecimal |
                            number:2}}</span> <span ng-switch-when="NE" class="pull-right">{{item.itdtMap[tpdtId].cantidadEntera
                            | number:0}}</span> <span ng-switch-when="FE" class="pull-right">{{item.itdtMap[tpdtId].fecha
                            | date:('fmt_date' | translate)}}</span> <span ng-switch-when="FH" class="pull-right">{{item.itdtMap[tpdtId].fecha
                            | date:('fmt_datetime' | translate)}}</span> <span ng-switch-when="CR">{{item.itdtMap[tpdtId].cadena}}</span><span
                        ng-switch-when="TX">{{item.itdtMap[tpdtId].cadena}}</span><span ng-switch-when="PR"
                        title="{{item.itdtMap[tpdtId].prmt.etiqueta}}">{{item.itdtMap[tpdtId].prmt.parametro}}</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</fieldset>
