<alert ng-if="actionErrors && actionErrors.length > 0" type="danger"> <span translate>errors</span>:
<ul>
    <li ng-repeat="error in actionErrors track by $index" ng-bind="error"></li>
</ul>
</alert>

<tabset type="pills"> <tab heading="{{enti.nombre | uppercase}}">
<div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
        <a class="btn btn-default" ng-href="#/maestro/prmt/edit/{{enti.id}}/{{item.prvr.id}}/{{item.fref}}"><i
            class="glyphicon glyphicon-edit"></i> <span translate>boton_editar</span></a> <a class="btn btn-default"
            ng-href="#/maestro/prmt/duplicate/{{enti.id}}/{{item.prvr.id}}/{{item.fref}}"><i
            class="glyphicon glyphicon-tags"></i> <span translate>boton_duplicar</span></a>
        <button data-ng-click="remove()" class="btn btn-default">
            <i class="glyphicon glyphicon-remove"></i> <span translate>boton_borrar</span>
        </button>
    </div>

    <div class="btn-group">
        <a class="btn btn-default" ng-href="maestro/prmt-print.action?item.id={{item.id}}"><i
            class="glyphicon glyphicon-print"></i> <span translate>boton_imprimir</span> </a>
    </div>
</div>

<fieldset>
    <div class="row-fluid">
        <div class="col-sm-3 col-md-2 col-lg-2 form-group">
            <label translate>prmt_parametro</label>
            <p class="form-control-static" ng-bind="item.parametro"></p>
        </div>

        <div class="col-sm-2 col-md-2 col-lg-1 form-group">
            <label translate>prmt_fini</label>
            <p class="form-control-static" ng-bind="item.prvr.fini | date"></p>
        </div>

        <div class="col-sm-2 col-md-2 col-lg-1 form-group">
            <label translate>prmt_ffin</label>
            <p class="form-control-static" ng-bind="item.prvr.ffin | date"></p>
        </div>
    </div>
</fieldset>

<fieldset ng-if="enti.i18n">
    <div ng-repeat="availableLanguage in availableLanguages track by $index" class="row-fluid">
        <div class="col-sm-10 col-md-10 col-lg-8 form-group">
            <label>Texto {{availableLanguage}}</label>
            <p class="form-control-static" ng-bind="p18nMap[availableLanguage].texto"></p>
        </div>
    </div>
</fieldset>

<div ng-include="'modules/entidad/common/itdtMap-detail.html'"></div>

</tab> <tab ng-repeat="entiHija in subentiList track by $index" heading="{{entiHija.nombre | uppercase}}" active="tab.active"
    disabled="tab.disabled">
<div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
        <a class="btn btn-default" ng-href="#/maestro/sprm/create/{{entiHija.id}}/{{item.id}}"><i
            class="glyphicon glyphicon-file"></i> <span translate>boton_alta</span></a>
    </div>
</div>

<div class="table-responsive">
    <table class="table-bordered table-condensed table-hover table-nonfluid">
        <thead>
            <tr>
                <th class="buttonLinks" />
                <th ng-bind="entiHija.tpprAsociado.nombre"></th>

                <th class="date" translate>sprm_fini</th>
                <th class="date" translate>sprm_ffin</th>

                <th ng-repeat="tpdtId in entiHija.entdGridList track by $index"
                    ng-bind="entiHija.entdMap[tpdtId].etiqueta"></th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="itemHijo in itemHijosMap[entiHija.id].list track by $index">
                <td><a ng-href="#/maestro/sprm/detail/{{entiHija.id}}/{{itemHijo.id}}/{{item.fref}}"><i
                        class="glyphicon glyphicon-search"></i></a></td>
                <td ng-bind="itemHijo.prmtAsociado.etiqueta"></td>

                <td ng-bind="itemHijo.spvr.fini | date"></td>
                <td ng-bind="itemHijo.spvr.ffin | date"></td>

                <td ng-repeat="tpdtId in entiHija.entdGridList track by $index" ng-switch
                    on="entiHija.entdMap[tpdtId].tpdt.tipoElemento" nowrap="nowrap"><span ng-switch-when="BO"><i
                        class="glyphicon glyphicon-{{itemHijo.itdtMap[tpdtId].cantidadEntera ? 'ok' : 'remove'}}"></i></span> <span
                    ng-switch-when="ND" ng-bind="itemHijo.itdtMap[tpdtId].cantidadEntera | number:2"></span> <span
                    ng-switch-when="NE" ng-bind="itemHijo.itdtMap[tpdtId].cantidadEntera | number:0"></span> <span
                    ng-switch-when="CR" ng-bind="itemHijo.itdtMap[tpdtId].cadena"></span> <span ng-switch-when="TX"
                    ng-bind="itemHijo.itdtMap[tpdtId].cadena"></span> <span ng-switch-when="PR"
                    title="{{itemHijo.itdtMap[tpdtId].prmt.etiqueta}}" ng-bind="itemHijo.itdtMap[tpdtId].prmt.parametro"></span>
                    <span ng-switch-when="FE" ng-bind="itemHijo.itdtMap[tpdtId].fecha | date"></span> <span
                    ng-switch-when="FH" ng-bind="itemHijo.itdtMap[tpdtId].fecha | date:'short'"></span></td>
            </tr>
        </tbody>
    </table>
</div>
</tab></tabset>
