
<p class="bg-primary">{{enti.nombre | uppercase}}</p>

<form role="form">
    <input type="hidden" ng-model="accion" /><input type="hidden" ng-model="item.entiId" /><input type="hidden"
        ng-model="item.id" /><input type="hidden" ng-model="item.prvr.id" />

    <fieldset>
        <div class="row-fluid">
            <div class="col-sm-3 col-md-2 col-lg-2 form-group">
                <label>{{"prmt_parametro" | translate}}</label> <input ng-if="accion != 'edit'" type="text"
                    ng-model="item.parametro" class="form-control input-sm" />
                <p ng-if="accion == 'edit'" class="form-control-static">{{item.parametro}}</p>
            </div>

            <!-- ng-if="enti.tempExp" -->
            <div class="col-sm-2 col-md-2 col-lg-1 form-group">
                <label>{{'prmt_fini' | translate}}</label>
                <div class="input-group" ng-controller="datepickerController">
                    <input type="text" class="form-control input-sm" datepicker-popup="{{'fmt_date' | translate}}"
                        datepicker-options="dateOptions" is-open="opened" ng-model="item.prvr.fini" /> <span
                        class="input-group-addon" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </div>

            <!-- ng-if="enti.tempExp" -->
            <div class="col-sm-2 col-md-2 col-lg-1 form-group">
                <label>{{'prmt_ffin' | translate}}</label>
                <div class="input-group" ng-controller="datepickerController">
                    <input type="text" class="form-control input-sm" datepicker-popup="{{'fmt_date' | translate}}"
                        datepicker-options="dateOptions" is-open="opened" ng-model="item.prvr.ffin" /> <span
                        class="input-group-addon" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset ng-if="enti.i18n">
        <div ng-repeat="availableLanguage in availableLanguages" class="row-fluid">
            <div class="col-sm-10 col-md-10 col-lg-8 form-group">
                <label>Texto {{availableLanguage}}</label> <input type="text"
                    ng-model="p18nMap[availableLanguage].texto" maxlength="350" class="form-control input-sm" />
            </div>
        </div>
    </fieldset>

    <div ng-include="'modules/entidad/common/itdtMap-edit.html'"></div>

    <alert ng-if="actionErrors" type="danger"> <span>{{'errors' | translate}}:</span>
    <ul>
        <li ng-repeat="error in actionErrors">{{error}}</li>
    </ul>
    </alert>

    <div class="btn-group">
        <button data-ng-click="save()" class="btn btn-primary">
            <i class="glyphicon glyphicon-ok"></i> {{'boton_guardar' | translate}}
        </button>
        <button data-ng-click="cancel()" class="btn btn-default">
            <i class="glyphicon glyphicon-remove"></i> {{'boton_cancelar' | translate}}
        </button>
    </div>
</form>

