<form role="form">
    <input type="hidden" ng-model="vm.accion" /><input type="hidden" ng-model="vm.item.entiId" /><input type="hidden"
        ng-model="item.id" /><input type="hidden" ng-model="vm.item.prvr.id" />

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 col-lg-2 form-group">
                <label translate>prmt_parametro</label> <input ng-if="vm.accion != 'edit'" type="text"
                    ng-model="vm.item.parametro" class="form-control input-sm" />
                <p ng-if="vm.accion == 'edit'" class="form-control-static" ng-bind="vm.item.parametro"></p>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-1 form-group">
                <label translate>prmt_fini</label>
                <div class="input-group" ng-controller="datepickerController">
                    <input type="text" class="form-control input-sm" datepicker-popup="{{format}}"
                        datepicker-options="dateOptions" is-open="opened" ng-model="vm.item.prvr.fini" /> <span
                        class="input-group-addon" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-1 form-group">
                <label translate>prmt_ffin</label>
                <div class="input-group" ng-controller="datepickerController">
                    <input type="text" class="form-control input-sm" datepicker-popup="{{format}}"
                        datepicker-options="dateOptions" is-open="opened" ng-model="vm.item.prvr.ffin" /> <span
                        class="input-group-addon" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </div>
        </div>

        <div ng-if="vm.enti.i18n" class="row" ng-include="'modules/common/i18nMap-edit.html'"></div>

        <div ng-include="'modules/entidad/common/itdtMap-edit.html'"></div>
    </div>

    <alert ng-if="vm.actionErrors && vm.actionErrors.length > 0" type="danger"> <span translate>errors</span>:
    <ul>
        <li ng-repeat="error in vm.actionErrors track by $index" ng-bind="error"></li>
    </ul>
    </alert>

    <div class="btn-group">
        <button data-ng-click="vm.save()" class="btn btn-primary">
            <i class="glyphicon glyphicon-ok"></i> <span translate>btn_guardar</span>
        </button>
        <button data-ng-click="vm.cancel()" class="btn btn-default">
            <i class="glyphicon glyphicon-remove"></i> <span translate>btn_cancelar</span>
        </button>
    </div>
</form>

