<div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
        <a class="btn btn-default"
            ng-href="#/maestro/sprm/edit/edit/{{vm.enti.enti.id}}/{{vm.item.prmtId}}/{{vm.fechaVigencia}}/{{vm.item.id}}"><i
            class="glyphicon glyphicon-edit"></i> <span translate="btn_editar"></span></a> <a
            class="btn btn-default"
            ng-href="#/maestro/sprm/edit/duplicate/{{vm.enti.enti.id}}/{{vm.item.prmtId}}/{{vm.fechaVigencia}}/{{vm.item.id}}"><i
            class="glyphicon glyphicon-tags"></i> <span translate="btn_duplicar"></span></a>
        <button data-ng-click="vm.remove()" class="btn btn-default">
            <i class="glyphicon glyphicon-remove"></i> <span translate="btn_borrar"></span>
        </button>
    </div>
</div>

<fieldset>
    <div class="row">
        <div ng-if="vm.enti.enti.tpprAsociado.puerto" class="col-sm-3 col-md-2 col-lg-2 form-group-sm">
            <label translate="prto"></label>
            <p class="form-control-static" ng-bind="vm.item.prmtAsociado.prto.etiqueta"></p>
        </div>

        <div class="col-sm-4 col-md-2 col-md-2 form-group-sm">
            <label ng-bind="'enti_' + vm.enti.enti.tpprAsociado.id | translate"></label>
            <p class="form-control-static">
                <a
                    ng-href="#/maestro/prmt/detail/{{vm.enti.enti.tpprAsociado.id}}/{{vm.item.prmtAsociado.id}}/{{vm.fechaVigencia}}"
                    ng-bind="vm.item.prmtAsociado.etiqueta"></a>
            </p>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-1 form-group-sm">
            <label translate="fini"></label>
            <p class="form-control-static" ng-bind="vm.item.version.fini | date: ('format_date' | translate)"></p>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-1 form-group-sm">
            <label translate="ffin"></label>
            <p class="form-control-static" ng-bind="vm.item.version.ffin | date: ('format_date' | translate)"></p>
        </div>
    </div>

    <div ng-include="'modules/entidad/common/itdtMap-detail.html'"></div>
</fieldset>