<p class="bg-primary">{{enti.nombre | uppercase}}</p>

<alert ng-if="actionErrors" type="danger"> <span translate>errors</span>:
<ul>
    <li ng-repeat="error in actionErrors">{{error}}</li>
</ul>
</alert>

<div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
        <button data-ng-click="edit()" class="btn btn-default">
            <i class="glyphicon glyphicon-edit"></i> <span translate>boton_editar</span>
        </button>
        <a class="btn btn-default" href="#/maestro/sprm/duplicate/{{enti.id}}/{{item.spvr.id}}"><i
            class="glyphicon glyphicon-tags"></i> <span translate>boton_duplicar</span></a>
        <button data-ng-click="remove()" class="btn btn-default">
            <i class="glyphicon glyphicon-remove"></i> <span translate>boton_borrar</span>
        </button>
    </div>
</div>

<fieldset>
    <div class="row-fluid">
        <div class="col-sm-4 col-md-2 col-md-2 form-group">
            <label>{{enti.tpprAsociado.nombre}}</label>
            <p class="form-control-static">{{item.prmtAsociado.etiqueta}}</p>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-1 form-group">
            <label translate>sprm_fini</label>
            <p class="form-control-static">{{item.spvr.fini | date}}</p>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-1 form-group">
            <label translate>sprm_ffin</label>
            <p class="form-control-static">{{item.spvr.ffin | date}}</p>
        </div>
    </div>
</fieldset>

<div ng-include="'modules/entidad/common/itdtMap-detail.html'"></div>
