<fieldset>
    <legend>{{enti.nombre | uppercase}}</legend>

    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <button data-ng-click="edit()" class="btn btn-default">
                <i class="glyphicon glyphicon-edit"></i> {{'boton_editar' | translate}}
            </button>
            <a class="btn btn-default" href="#/maestro/sprm/duplicate/{{item.spvr.id}}"><i
                class="glyphicon glyphicon-tags"></i> {{'boton_duplicar' | translate}}</a>
            <button data-ng-click="remove()" class="btn btn-default">
                <i class="glyphicon glyphicon-remove"></i> {{'boton_borrar' | translate}}
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 form-group">
            <label>{{enti.tpprAsociado.nombre}}</label>
            <p class="form-control-static">{{item.prmtAsociado.etiqueta}}</p>
        </div>

        <!-- ng-if="enti.tempExp" -->
        <div class="col-md-2 form-group">
            <label>{{'sprm_fini' | translate}}</label>
            <p class="form-control-static">{{item.spvr.fini | date:('fmt_date' | translate)}}</p>
        </div>

        <!-- ng-if="enti.tempExp" -->
        <div class="col-md-2 form-group">
            <label>{{'sprm_ffin' | translate}}</label>
            <p class="form-control-static">{{item.spvr.ffin | date:('fmt_date' | translate)}}</p>
        </div>
    </div>
</fieldset>

<div ng-include="'modules/entidad/common/itdtMap-detail.html'"></div>
