<p class="bg-primary">{{enti.nombre | uppercase}}</p>

<form role="form">
    <input type="hidden" ng-model="accion" /><input type="hidden" ng-model="item.entiId" /><input type="hidden"
        ng-model="item.id" /><input type="hidden" ng-model="item.prmtId" /><input type="hidden"
        ng-model="item.spvr.id" />

    <fieldset>
        <div class="row-fluid">
            <div class="col-sm-4 col-md-2 col-md-2 form-group">
                <label>{{enti.tpprAsociado.nombre}}</label>
                <div ng-if="accion != 'edit'" class="input-group-sm" ng-controller="prmtsLupaCtrl">
                    <input type="text" ng-model="item.prmtAsociado"
                        typeahead="prmt as prmt.etiqueta for prmt in getLabelValues(enti.tpprAsociado.id, $viewValue)"
                        typeahead-loading="loading" typeahead-wait-ms="500" class="form-control input-sm"> <i
                        ng-show="loading" class="glyphicon glyphicon-refresh"></i>
                    <!--
                    $ {{item.prmtAsociado.id}} $ {{item.prmtAsociado.etiqueta}}-->
                </div>
                <p ng-if="accion == 'edit'" class="form-control-static">{{item.prmtAsociado.etiqueta}}</p>
            </div>

            <div class="col-sm-2 col-md-2 col-md-1 form-group">
                <label translate>prmt_fini</label>
                <div class="input-group" ng-controller="datepickerController">
                    <input type="text" class="form-control input-sm" datepicker-popup="{{'fmt_date' | translate}}"
                        datepicker-options="dateOptions" is-open="opened" ng-model="item.spvr.fini" /> <span
                        class="input-group-addon" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </div>

            <div class="col-sm-2 col-md-2 col-md-1 form-group">
                <label translate>prmt_ffin</label>
                <div class="input-group" ng-controller="datepickerController">
                    <input type="text" class="form-control input-sm" datepicker-popup="{{'fmt_date' | translate}}"
                        datepicker-options="dateOptions" is-open="opened" ng-model="item.spvr.ffin" /> <span
                        class="input-group-addon" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </div>
        </div>
    </fieldset>

    <div ng-include="'modules/entidad/common/itdtMap-edit.html'"></div>

    <alert ng-if="actionErrors" type="danger"> <span translate>errors</span>:
    <ul>
        <li ng-repeat="error in actionErrors">{{error}}</li>
    </ul>
    </alert>

    <div class="btn-group">
        <button data-ng-click="save()" class="btn btn-primary">
            <i class="glyphicon glyphicon-ok"></i> <span translate>boton_guardar</span>
        </button>
        <button data-ng-click="cancel()" class="btn btn-default">
            <i class="glyphicon glyphicon-remove"></i> <span translate>boton_cancelar</span>
        </button>
    </div>
</form>

