<div class="form-horizontal">
    <fieldset>
        <legend ng-bind="'engd_' + vm.enti.engdList[1].id | translate"></legend>
        <div class="form-group-sm">
            <label class="col-sm-4 col-lg-3 control-label"
                ng-bind="'entd_' + vm.enti.entdMap[41040].id | translate"></label>
            <div class="col-sm-8">
                <p class="form-control-static" ng-bind="vm.item.itdtMap[41040].cantidadDecimal"></p>
            </div>
        </div>
        <div class="form-group-sm">
            <label class="col-sm-4 col-lg-3 control-label"
                ng-bind="'entd_' + vm.enti.entdMap[41041].id | translate"></label>
            <div class="col-sm-8">
                <p class="form-control-static" ng-bind="vm.item.itdtMap[41041].cantidadDecimal"></p>
            </div>
        </div>
        <div class="form-group-sm">
            <label class="col-sm-4 col-lg-3 control-label"
                ng-bind="'entd_' + vm.enti.entdMap[45180].id | translate"></label>
            <div class="col-sm-8">
                <p class="form-control-static" ng-bind="vm.item.itdtMap[45180].prmt.etiqueta"></p>
            </div>
        </div>
        <div class="form-group-sm">
            <label class="col-sm-4 col-lg-3 control-label"
                ng-bind="'entd_' + vm.enti.entdMap[45410].id | translate"></label>
            <div class="col-sm-8">
                <p class="form-control-static" ng-bind="vm.item.itdtMap[45410].prmt.etiqueta"></p>
            </div>
        </div>
        <div class="form-group-sm">
            <label class="col-sm-4 col-lg-3 control-label"
                ng-bind="'entd_' + vm.enti.entdMap[43120].id | translate"></label>
            <div class="col-sm-8">
                <p class="form-control-static" ng-bind="vm.item.itdtMap[43120].cadena"></p>
            </div>
        </div>
        <div class="form-group-sm">
            <label class="col-sm-4 col-lg-3 control-label"
                ng-bind="'entd_' + vm.enti.entdMap[41042].id | translate"></label>
            <div class="col-sm-8">
                <p class="form-control-static" ng-bind="vm.item.itdtMap[41042].cantidadDecimal"></p>
            </div>
        </div>
        <div class="form-group-sm">
            <label class="col-sm-4 col-lg-3 control-label"
                ng-bind="'entd_' + vm.enti.entdMap[41043].id | translate"></label>
            <div class="col-sm-8">
                <p class="form-control-static" ng-bind="vm.item.itdtMap[41043].cantidadDecimal"></p>
            </div>
        </div>
        <div class="form-group-sm">
            <label class="col-sm-4 col-lg-3 control-label"
                ng-bind="'entd_' + vm.enti.entdMap[45000].id | translate"></label>
            <div class="col-sm-8">
                <p class="form-control-static" ng-bind="vm.item.itdtMap[45000].prmt.etiqueta"></p>
            </div>
        </div>
        <div class="form-group-sm">
            <label class="col-sm-4 col-lg-3 control-label"
                ng-bind="'entd_' + vm.enti.entdMap[41101].id | translate"></label>
            <div class="col-sm-8">
                <p class="form-control-static" ng-bind="vm.item.itdtMap[41101].fecha | date"></p>
            </div>
        </div>
        <div class="form-group-sm">
            <label class="col-sm-4 col-lg-3 control-label"
                ng-bind="'entd_' + vm.enti.entdMap[41080].id | translate"></label>
            <div class="col-sm-8">
                <p class="form-control-static" ng-bind="vm.item.itdtMap[41080].cadena"></p>
            </div>
        </div>
    </fieldset>
</div>
