<div class="form">
    <div class="row">
        <div class="col-md-3 form-group-sm">
            <label translate="srvc"></label>
            <p class="form-control-static" ng-bind="vm.item.srvc.etiqueta"></p>
        </div>
        <div class="col-md-1 form-group-sm">
            <label translate="ssrv_numero"></label>
            <p class="form-control-static" ng-bind="vm.item.numero"></p>
        </div>
        <div class="col-md-5 form-group-sm">
            <label ng-bind="'entd_' + vm.entdBuque.id | translate"></label>
            <p class="form-control-static" ng-bind="vm.item.srvc.itdtMap[45010].prmt.etiqueta"></p>
        </div>
    </div>
</div>
