<div class="form-horizontal">
    <fieldset>
        <legend ng-bind="'engd_' + vm.enti.engdList[2].id | translate"></legend>
        <div class="form-group-sm">
            <label class="col-sm-4 col-lg-3 control-label"
                ng-bind="'entd_' + vm.enti.entdMap[41046].id | translate"></label>
            <div class="col-sm-8">
                <p class="form-control-static" ng-bind="vm.item.itdtMap[41046].cantidadDecimal"></p>
            </div>
        </div>
        <div class="form-group-sm">
            <label class="col-sm-4 col-lg-3 control-label"
                ng-bind="'entd_' + vm.enti.entdMap[41047].id | translate"></label>
            <div class="col-sm-8">
                <p class="form-control-static" ng-bind="vm.item.itdtMap[41047].cantidadDecimal"></p>
            </div>
        </div>
        <div class="form-group-sm">
            <label class="col-sm-4 col-lg-3 control-label"
                ng-bind="'entd_' + vm.enti.entdMap[45181].id | translate"></label>
            <div class="col-sm-8">
                <p class="form-control-static" ng-bind="vm.item.itdtMap[45181].prmt.etiqueta"></p>
            </div>
        </div>
        <div class="form-group-sm">
            <label class="col-sm-4 col-lg-3 control-label"
                ng-bind="'entd_' + vm.enti.entdMap[45411].id | translate"></label>
            <div class="col-sm-8">
                <p class="form-control-static" ng-bind="vm.item.itdtMap[45411].prmt.etiqueta"></p>
            </div>
        </div>
        <div class="form-group-sm">
            <label class="col-sm-4 col-lg-3 control-label"
                ng-bind="'entd_' + vm.enti.entdMap[43121].id | translate"></label>
            <div class="col-sm-8">
                <p class="form-control-static" ng-bind="vm.item.itdtMap[43121].cadena"></p>
            </div>
        </div>
        <div class="form-group-sm">
            <label class="col-sm-4 col-lg-3 control-label"
                ng-bind="'entd_' + vm.enti.entdMap[41048].id | translate"></label>
            <div class="col-sm-8">
                <p class="form-control-static" ng-bind="vm.item.itdtMap[41048].cantidadDecimal"></p>
            </div>
        </div>
        <div class="form-group-sm">
            <label class="col-sm-4 col-lg-3 control-label"
                ng-bind="'entd_' + vm.enti.entdMap[41049].id | translate"></label>
            <div class="col-sm-8">
                <p class="form-control-static" ng-bind="vm.item.itdtMap[41049].cantidadDecimal"></p>
            </div>
        </div>
        <div class="form-group-sm">
            <label class="col-sm-4 col-lg-3 control-label"
                ng-bind="'entd_' + vm.enti.entdMap[45001].id | translate"></label>
            <div class="col-sm-8">
                <p class="form-control-static" ng-bind="vm.item.itdtMap[45001].prmt.etiqueta"></p>
            </div>
        </div>
        <div class="form-group-sm">
            <label class="col-sm-4 col-lg-3 control-label"
                ng-bind="'entd_' + vm.enti.entdMap[41100].id | translate"></label>
            <div class="col-sm-8">
                <p class="form-control-static" ng-bind="vm.item.itdtMap[41100].fecha | date"></p>
            </div>
        </div>
        <div class="form-group-sm">
            <label class="col-sm-4 col-lg-3 control-label"
                ng-bind="'entd_' + vm.enti.entdMap[41081].id | translate"></label>
            <div class="col-sm-8">
                <p class="form-control-static" ng-bind="vm.item.itdtMap[41081].cadena"></p>
            </div>
        </div>
    </fieldset>
</div>
