<fieldset>
    <table class="table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th />
                <th data-translate="ittr_falta"></th>
                <th data-translate="trmt"></th>
                <th data-translate="trmt_estado_orig"></th>
                <th data-translate="trmt_estado_dest"></th>
            </tr>
        </thead>

        <tbody>
            <tr data-ng-repeat="ittr in vm.ittrList track by $index">
                <td><a data-ng-href="#/item/item-tramite/detail/{{ittr.trmt.entiId}}/{{ittr.id}}"> <span
                        class="glyphicon glyphicon-search"></span>
                </a></td>
                <td data-ng-bind="(ittr.fecha | date: ('format_datetime' | translate))"></td>
                <td data-ng-bind="('trmt_' + ittr.trmt.id | translate)"></td>
                <td
                    data-ng-bind="('cdrf_' + vm.enti.enti.tpdtEstado.id + '_' + ittr.trmt.estadoOrig | translate)"></td>
                <td
                    data-ng-bind="('cdrf_' + vm.enti.enti.tpdtEstado.id + '_' + ittr.trmt.estadoDest | translate)"></td>
            </tr>
        </tbody>
    </table>
</fieldset>